<template lang="html">
	<div style="overflow-x:auto;">
		<table id="tableSuratJalanDetail" class="table table-xs table-bordered display nowrap">
			<thead>
				<tr>
					<th rowspan="2" style="padding-bottom: 20px;">#</th>
					<th rowspan="2" style="padding-bottom: 20px;">No</th>
					<th rowspan="2" style="padding-bottom: 20px;">Sales Order</th>
					<th rowspan="2" style="padding-bottom: 20px;">No PKP</th>
					<th rowspan="2" style="padding-bottom: 20px;">Kecamatan</th>
					<th rowspan="2" style="padding-bottom: 20px;">Nama Pengecer</th>
					<th rowspan="2" style="padding-bottom: 20px;">Kode Pengecer</th>
          <th>Urea</th>
					<th>SP-36</th>
					<th>ZA</th>
					<th>NPK</th>
					<th>NPK Kakao</th>
					<th>Organik Granul</th>
					<th>Organik Cair</th>
					<th rowspan="2" style="padding-bottom: 20px;">Aksi</th>
				</tr>
        <tr>
					<th colspan="6">Ton</th>
					<th colspan="1">Liter</th>
        </tr>
			</thead>
			<tbody>
				<template v-for="(item, i) in dataSJ">
					<tr>
						<td>
								<input type="checkbox" id="form-check-input-detail" :value="item.uuid">
						</td>
						<td>{{ i+1 }}</td>
						<td>{{  }}</td>
						<td>{{ item.number }}</td>
						<td>{{ item.sales_unit_name }}</td>
						<td>{{ item.retail_name }}</td>
						<td>{{ item.retail_code }}</td>
						<td>{{ item.P01 }}</td>
						<td>{{ item.P02 }}</td>
						<td>{{ item.P03 }}</td>
						<td>{{ item.P04 }}</td>
						<td>{{ item.P05 }}</td>
						<td>{{ item.P51 }}</td>
						<td>{{ item.P54 }}</td>
						<td>
							<button type="button" @click="deleteItem(item.uuid)" class="btn btn-danger btn-sm ml-1" :disabled="loadingButton"><i class="fa fa-times"></i></button>
						</td>
					</tr>
				</template>
			</tbody>
		</table>
	</div>
</template>

<script>

export default {
  props: ['dataSJ', 'loadingButton'],
  data: function() {
    return {
      access: {}
    }
  },
  components: {
    
  },
  created() {
		
  },
  mounted() {


  },
  methods: {
		deleteItem(uuid){
			if (confirm('Anda yakin menghapus data ini?')) {
				this.$emit("delete-item", uuid);
			}
		}
  }
}
</script>

<style lang="css" scoped>
.th-costum {
	padding-bottom: 20px;
}
</style>
