<template>
  <div class="modal fade" id="pricingFormEdit" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Entry Pricing</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Tipe Kondisi</label>
                <div class="col-md-9">
                  <input type="text" readonly class="form-control" v-model="pricing.condition_type">
                </div>
              </div>
              <div v-if="combineData.SalesOrg" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Produsen</label>
                <div class="col-md-9">
                  <multiselect
                    :disabled ="true"
                    v-model="temp.sales_org_id"
                    :options="produsen"
                    track-by="id"
                    :custom-label="produsenNameWithId"
                    :searchable="true"
                    :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(selectLoading.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'">
                  </multiselect>
                </div>
              </div>
              <div v-if="combineData.SalesDivision" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Sales Division</label>
                <div class="col-md-9">
                  <multiselect
                  :disabled ="true"
                    v-model="temp.sales_division_id"
                    :options="SalesDivision"
                    track-by="id"
                    :custom-label="SalesDivisionNameWithId"
                    :searchable="true"
                    :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(selectLoading.SalesDivision === false) ? 'Pilih Distrib Sales Division..' : 'Memuat ..'">
                  </multiselect>
                </div>
              </div>
              <div v-if="combineData.SalesOffice" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Provisi</label>
                <div class="col-md-9">
                  <multiselect
                    :disabled ="true"
                    v-model="temp.sales_office_id"
                    :options="region.provinsi"
                    track-by="id"
                    :custom-label="provinsiNameWithId"
                    :searchable="true"
                    :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(selectLoading.provinsi === false) ? 'Pilih Provinsi..' : 'Memuat ..'">
                  </multiselect>
                </div>
              </div>
              <div v-if="combineData.SalesGroup" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Kabupaten</label>
                <div class="col-md-9">
                  <multiselect
                  :disabled ="true"
                    @input="getKecamatan"
                    v-model="temp.sales_group_id"
                    :options="region.kabupaten"
                    track-by="id"
                    :custom-label="kabupatenNameWithId"
                    :searchable="true"
                    :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(selectLoading.kabupaten === false) ? 'Pilih Kabupaten..' : 'Memuat ..'">
                  </multiselect>
                </div>
              </div>
              <div v-if="combineData.District" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Kecamatan</label>
                <div class="col-md-9">
                  <multiselect
                    :disabled ="true"
                    v-model="temp.sales_unit_id"
                    :options="region.kecamatan"
                    track-by="id"
                    :custom-label="kecamatanNameWithId"
                    :searchable="true"
                    :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(selectLoading.kecamatan === false) ? 'Pilih Kecamatan..' : 'Memuat ..'">
                  </multiselect>
                </div>
              </div>
              <div v-if="combineData.Material" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Produk</label>
                <div class="col-md-9">
                  <multiselect
                  :disabled ="true"
                    v-model="temp.product_id"
                    :options="product"
                    track-by="id"
                    :custom-label="productNameWithId"
                    :searchable="true"
                    :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(selectLoading.product === false) ? 'Pilih Product..' : 'Memuat ..'">
                  </multiselect>
                </div>
              </div>
              <div v-if="combineData.Inconterm" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Incoterm</label>
                <div class="col-md-9">
                  <multiselect
                    :disabled ="true"
                    v-model="temp.delivery_method_id"
                    :options="inco"
                    track-by="id"
                    :custom-label="incoNameWithId"
                    :searchable="true"
                    :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(selectLoading.inco === false) ? 'Pilih Distrib Chanel..' : 'Memuat ..'">
                  </multiselect>
                </div>
              </div>
              <div v-if="combineData.distribChanel" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Distrib Chanel</label>
                <div class="col-md-9">
                  <multiselect
                    :disabled ="true"
                    v-model="temp.distrib_channel_id"
                    :options="distrib"
                    track-by="id"
                    :custom-label="distribNameWithId"
                    :searchable="true"
                    :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(selectLoading.distrib === false) ? 'Pilih Distrib Chanel..' : 'Memuat ..'">
                  </multiselect>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Amount</label>
                <div class="col-md-9">
                  <input type="text" :disabled="disabled" @keyup="moneyFormat" class="form-control" v-model="temp.amount">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" >current</label>
                <div class="col-md-9">
                  <multiselect
                    :disabled ="true"
                    v-model="temp.current"
                    :options="current"
                    track-by="id"
                    label="name"
                    :searchable="true"
                    :close-on-select="true"
                    :show-labels="false"
                    :placeholder="'Pilih current..'">
                  </multiselect>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">UOM</label>
                <div class="col-md-9">
                  <input type="text" readonly class="form-control" v-model="pricing.uom">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1" >Per UOM</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" v-model="pricing.per_uom">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1" >Valid From</label>
                <div class="col-md-9">
                  <input type="date"  :disabled="disabled" class="form-control" v-model="pricing.valid_from">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1" >Valid To</label>
                <div class="col-md-9">
                  <input type="date"  :disabled="disabled" class="form-control" v-model="pricing.valid_to">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          <button type="button" v-if="disabled === false" class="btn btn-primary" @click="submitPricing">Submit</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
export default {
  props: ['uuid', 'level', 'access'],
  data: function() {
    return {
      cors:{
        combine: null,
        contype: null,
      },
      disabled: true,
      pricing: {},
      combineData: {},
      produsen: [],
      product: [],
      distrib: [],
      inco:[],
      current: [{id:'IDR', name: 'IDR'}],
      SalesDivision:[],
      region: {
        provinsi: [],
        kabupaten: [],
        kecamatan: []
      },
      temp: {
        sales_org_id : null,
        sales_office_id : null,
        sales_group_id : null,
        sales_unit_id : null,
        product_id : null,
        delivery_method_id : null,
        sales_division_id : null,
        distrib_channel_id : null,
        current: null,
        amount: null,
      },
      selectLoading:{
        produsen: false,
        provinsi: false,
        kabupaten: false,
        kecamatan: false,
        divisi: false,
        produk: false,
        incoterm: false,
        product: false,
        distrib: false,
        inco: false,
        SalesDivision: false
      }
    }
  },
  components: {
    Multiselect
  },
  created() {
    this.getPricing();
    this.engineKeyCombination();
    this.combinationStringToArray();
    this.getProdusen();
    this.getProvinsi();
    this.getKabupaten();
    this.getProduct();
    this.getDistrib();
    this.getInco();
    this.getSalesDivision();
  },
  mounted() {
    var app = this;
    $("#pricingFormEdit").modal("show")
    $('#pricingFormEdit').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  methods: {

    validateDateRange() {
      this.error = false;
      const {valid_from, valid_to} = this.pricing
      if((valid_from != null) && (valid_to != null)) {
        const DateFrom = new Date(valid_from).getTime();
        const DateTo = new Date(valid_to).getTime();
        if(DateFrom > DateTo) {
          toastr.warning('valid from tidak boleh lebih maju dari valid to' ,'Entry data salah')
          this.error = true;
          this.errors = {
            valid_from: ['valid from lebih besar dari valid to'],
            valid_to: ['sesuaikan kembali masukan date']
          }
          this.pricing.valid_from = null
          this.pricing.valid_to = null
        }
      }
    },
    
    closeModal() {
      this.$emit("trigger-modal", true);
    },

    disableCheck() {
      if(this.pricing.status === 'y' || !this.access.U) {
        this.disabled = false;
      }
    },

    getPricing() {
      this.axios.get('pricing/id/'+this.uuid)
      .then((resp) => {
        this.pricing = resp.data.data[0];
        this.temp.amount = this.formatRupiah(resp.data.data[0].amount);
        this.pricing = {...this.pricing, current: 'IDR'}
        this.setTemp();
        this.setDate();
        this.disableCheck();
      })
      .catch((err) => {
          console.log(resp);
      });
    },

    combinationStringToArray() {
      var app = this;
      const comArray = this.cors.combine.split("/");
      comArray.map((data) => {
        var dataValue = data.replace("-", "");
        this.combineData[dataValue] = true
      })
      if(this.combineData.material) {
        this.combineData.Material = true;
        this.combineData.SalesOrg = true;
        this.combineData.distribChanel = true;
      }
    },

    engineKeyCombination() {
      switch (this.level) {
        case 1:
         this.cors.combine = 'Sales-Org/Sales-Group/District/Material/Inconterm';
        break;
        case 2:
         this.cors.combine = 'Sales-Org/Sales-Group/District/Inconterm';
        break;
        case 3:
         this.cors.combine = 'Sales-Org/Sales-Group/District';
        break;
        case 4:
         this.cors.combine = 'Sales-Org/Sales-Office/Material/Inconterm';
        break;
        case 5:
         this.cors.combine = 'Sales-Org/Sales-Office/Material';
        break;
        case 6:
         this.cors.combine = 'Sales-Org/Sales-Office';
        break;
        case 7:
         this.cors.combine = 'Sales-Org/Sales-Division';
        break;
        case 8:
         this.cors.combine = 'Sales-Org';
        break;
        case 9:
         this.cors.combine = 'material';
        break;
        default: this.cors.combine = '';

      }
    },

    setDate() {
      this.pricing.valid_from = this.pricing.valid_from.split('-').reverse().join('-');
      this.pricing.valid_to = this.pricing.valid_to.split('-').reverse().join('-');
    },

    setTemp() {
      this.temp.sales_org_id = {id: this.pricing.sales_org_id, name: this.pricing.sales_org_name}
      this.temp.sales_office_id = {id: this.pricing.sales_office_id, name: this.pricing.sales_office_name}
      this.temp.sales_group_id = {id: this.pricing.sales_group_id, name: this.pricing.sales_group_name}
      this.temp.sales_unit_id = {id: this.pricing.sales_unit_id, name: this.pricing.sales_unit_name}
      this.temp.product_id = {id: this.pricing.product_id, name: this.pricing.product_name}
      this.temp.delivery_method_id = {id: this.pricing.delivery_method_id, name: this.pricing.delivery_method_name}
      this.temp.sales_division_id = {id: this.pricing.sales_division_id, name: this.pricing.sales_division_name}
      this.temp.distrib_channel_id = {id: this.pricing.distrib_channel_id, name: this.pricing.distrib_channel_name}
      this.temp.current = {id: this.pricing.current, name: this.pricing.current}
    },

    //produsen
    produsenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProdusen() {
      this.selectLoading.produsen = true;
      this.axios.get("company/produsen")
      .then((resp) => {
        toastr.success('success load produsen');
        this.produsen = resp.data.data
        this.selectLoading.produsen = false
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp.data);
        this.selectLoading.produsen = false
      })
    },

    // provinsi
    provinsiNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProvinsi() {
      if (this.combineData.SalesOffice) {
        this.selectLoading.provinsi = true
        this.axios.get('region/provinsi')
        .then((resp) => {
          toastr.success('success load provinsi');
          this.region.provinsi = resp.data.data;
          this.selectLoading.provinsi = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.provinsi = false
        })
      }
    },

    //kabupaten
    kabupatenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getKabupaten() {
      if (this.combineData.SalesGroup) {
        this.selectLoading.kabupaten = true
        this.axios.get("region/kabupaten")
        .then((resp) => {
          toastr.success('success load kabupaten');
          this.region.kabupaten = resp.data.data;
          this.selectLoading.kabupaten = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.kabupaten = false
        })
      }
    },

    // kecamatan
    kecamatanNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getKecamatan() {
      if (this.combineData.District) {
        this.temp.sales_unit_id = null
        this.selectLoading.kecamatan = true
        this.axios.get("region/kecamatan", {
          params: {
            kabupaten: this.temp.sales_group_id.id
          }
        })
        .then((resp) => {
          toastr.success('success load kecamatan');
          this.region.kecamatan = resp.data.data;
          this.selectLoading.kecamatan = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.kecamatan = false
        });
      }
    },

    //product
    productNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProduct() {
      if (this.combineData.Material) {
        this.selectLoading.product = true
        this.axios.get('product')
        .then((resp) => {
          toastr.success('success load Product');
          this.product = resp.data.data;
          this.selectLoading.product = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.product = false
        })
      }

    },

    // distrib channel
    distribNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getDistrib() {
      if (this.combineData.distribChanel) {
        this.selectLoading.distrib = true
        this.axios.get('distribchannel')
        .then((resp) => {
          toastr.success('success load Distrib Chanel');
          this.distrib = resp.data.data;
          this.selectLoading.distrib = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.distrib = false
        })
      }

    },

    //  incoterm
    incoNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getInco() {
      if (this.combineData.Inconterm) {
        this.selectLoading.inco = true
        this.axios.get('deliverymethod')
        .then((resp) => {
          toastr.success('success load Incoterm');
          this.inco = resp.data.data;
          this.selectLoading.inco = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.inco = false
        })
      }

    },

    //  sales divison
    SalesDivisionNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getSalesDivision() {
      if (this.combineData.SalesDivision) {
        this.selectLoading.SalesDivision = true
        this.axios.get('salesdivision')
        .then((resp) => {
          toastr.success('success load sales division');
          this.SalesDivision = resp.data.data;
          this.selectLoading.SalesDivision = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.SalesDivision = false
        })
      }

    },

    configSelectComponent() {
      this.pricing.sales_org_id = (this.temp.sales_org_id != null) && this.temp.sales_org_id.id
      this.pricing.sales_office_id = (this.temp.sales_office_id != null) && this.temp.sales_office_id.id
      this.pricing.sales_group_id = (this.temp.sales_group_id != null) && this.temp.sales_group_id.id
      this.pricing.sales_unit_id = (this.temp.sales_unit_id != null) && this.temp.sales_unit_id.id
      this.pricing.product_id = (this.temp.product_id != null) && this.temp.product_id.id
      this.pricing.delivery_method_id = (this.temp.delivery_method_id != null) && this.temp.delivery_method_id.id
      this.pricing.sales_division_id = (this.temp.sales_division_id != null) && this.temp.sales_division_id.id
      this.pricing.distrib_channel_id = (this.temp.distrib_channel_id != null) && this.temp.distrib_channel_id.id
      this.pricing.current = (this.temp.current != null) && this.temp.current.id
    },

    savePricing() {
      event.preventDefault()
      this.pricing['status'] = 'd'
      this.configSelectComponent();
      this.sendXhr();
    },

    submitPricing() {
      event.preventDefault();
      this.pricing.status = 'y';
      this.configSelectComponent();
      var dateFrom = Date.parse(this.pricing.valid_from)
      var dateTo = Date.parse(this.pricing.valid_to)
      var checkDate = (dateFrom < dateTo) ? true : false;
      if(!checkDate){
        toastr.warning('valid from tidak boleh lebih maju dari valid to' ,'Entry data salah')
      } else {
        this.sendXhr();
      }
    },

    moneyFormat() {
      this.pricing.amount = event.target.value;
      this.temp.amount = this.formatRupiah(this.temp.amount)
    },

    formatRupiah(angka, prefix) {
      var separator;
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split   		= number_string.split(','),
      sisa     		= split[0].length % 3,
      rupiah     		= split[0].substr(0, sisa),
      ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    },

    setAmount(){
      let newPricing;
      if(this.pricing.amount.indexOf('.') !== -1){
        newPricing = this.pricing.amount.split('.').join("");;
        if(newPricing.indexOf(',') !== -1){
          newPricing = newPricing.split(',').join(".");;
        }
      }
      this.pricing.amount = newPricing;
    },

    sendXhr() {
      this.setAmount()
      this.axios.put('pricing/'+this.uuid, this.pricing)
      .then((resp) => {
        toastr.success('Pricing tersimpan', 'sukses');
        $("#pricingFormEdit").modal("hide")
      })
      .catch((resp) => {
        // toastr.error(resp.response.data.status_txt);
        toastr.error(resp.response.data.message);
        // console.log(resp.response.data);
      })
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
  .multiselect__tags {
    border: 1px solid #BABFC7 !important;
    border-radius: 0.25rem !important;
  }

  .multiselect__select:before {
    color: #4E5154;
  }

  .multiselect__placeholder {
    color: #4E5154;
  }
</style>
