<template>
  <div class="modal fade" id="modalTemplate" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">List Template</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <ol>
            <li>
              <a href="/template-excel/pricing/New_Upload_Pricing_ZHET_(Produsen_Material).xlsx" target="_blank">Template Pricing ZHET.</a>
            </li>
            <li>
              <a href="/template-excel/pricing/New_Upload_Pricing_(Sales-Org_Sales-Group_District_Material_Inconterm).xlsx" target="_blank">Template ZBKI, ZBDI dengan Key Combination (Sales org/Sales grp/District/Material/Incoterms)</a>
            </li>
            <li>
              <a href="/template-excel/pricing/New_Upload_Pricing_(Sales-Org_Sales-Group_Material_Inconterm).xlsx" target="_blank">Template ZBKI, ZBDI dengan Key Combination (Sales org/Sales grp/Material/Incoterms)</a>
            </li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [],
  data: function() {
    return {}
  },
  components: {

  },
  created() {

  },
  mounted() {
    var app = this;
    $("#modalTemplate").modal("show");
    $("#modalTemplate").on("hidden.bs.modal",function(){
      app.closeModal()
    })
  },
  methods: {
    closeModal() {
      this.$emit("triggerModal");
    }
  }

}
</script>

<style lang="css" scoped>
</style>
