<template>
  <transition name="custum-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <!-- header content -->
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">{{ $ml.get("roleMasterPage.cardtTitle") }}</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12" id="listbreadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">{{ $ml.get("userAllFormPage.breadcrumbFirst") }}</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">{{ $ml.get("userAllFormPage.breadcrumbSec") }}</a>
              </li>
              <li class="breadcrumb-item active">{{ $ml.get("userAllFormPage.breadcrumbTrd") }}</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- end -->
      <!-- body content -->
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div id="kick-start" class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <div v-if="access.C === true" class="col-md-12">
                    <button class="btn btn-primary pull-right" v-on:click="openformModal()"><i class="fa fa-plus"></i> {{$ml.get("roleMasterPage.addButton")}} </button> <br>
                  </div>

                  <div class="col-md-12">
                    <table
                      class="table table-xs table-bordered table-striped display nowrap" width="100%"
                      id="roleTables"
                    >
                      <thead>
                        <role-filter
                        :reset="resetStatus"
                        @filter-table ="searchTable"
                        >
                        </role-filter>
                        <tr>
                          <th>{{$ml.get("roleMasterPage.table.one")}}</th>
                          <th>Produsen</th>
                          <th>{{$ml.get("roleMasterPage.table.three")}}</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- end -->


    <modal-role-add v-if="modalShow" :getid="dataid" @load-table="tablesLoad">
    </modal-role-add>

    <modal-confirm v-if="confirm.show" :uuid="confirm.uuid" :text="confirm.text" @trigger-modal="triggerModal()" @is-delete="deleteRole"></modal-confirm>

    </div>


  </transition>

</template>

<script>

import ModalRoleAdd from './ModalRoleAdd';
import RoleFilter from './RoleFilter';
import ModalConfirm from '../../global/ModalConfirm';
export default {

   data(){
     return {
       dataid: null,
       modalShow:false,
       resetStatus:false,
       Name:'',
       sales_org_name:'',
       role: {},
       access: {},
       confirm: {
         show: false,
         uuid: null,
         text: null
       },
     }
   },
   components:{
     ModalRoleAdd,
     RoleFilter,
     ModalConfirm
   },
   created() {
     const encodeAccess = decodeURIComponent(this.$route.params.access);
     const decodeAccess = this.toText(this.decrypt(encodeAccess));
     const arrAccess = decodeAccess.split(",");
     if(arrAccess) {
       arrAccess.map((data) => {
         if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
           this.access[data] = true
         } else {
           this.$router.push({path: '/home'});
           toastr.error('Permission can not open this page', 'Error');
         }
       })
     } else {
       this.$router.push({path: '/home'});
       toastr.error('Permission can not open this page', 'Error');
     }
   },
   mounted() {
    var app = this;
    //  Start Document Ready
    $(document).ready(function() {

       app.tables=$('#roleTables').DataTable({
         processing:true,
         serverSide:true,
         searching:false,
         ajax:{
           'url': 'api/role',
              'type': 'GET',
              'data':function(d){
                d.name=app.Name,
                d.sales_org_name=app.sales_org_name
              },
              'beforeSend': function (request) {
                  var token = localStorage.getItem("default_auth_token");
                  request.setRequestHeader("Authorization", "Bearer "+token);
                  request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
              },
         },
        columns: [
          {data: 'name',name:'name'},
          {data: 'sales_org_name',name:'sales_org_name'},
          {
            data:'id',
            render:function(data,t,f){
              var buttonDelete = (app.access.D === true) ? '<button class="btn btn-icon btn-danger btn-sm hapus" data-id="'+data+'" > <i class="fa fa-trash"></i></button>' : '';
              var buttonEdit = (app.access.U === true) ? '<button class="btn btn-icon btn-primary btn-sm edit" @click="editRole" data-id="'+data+'" > <i class="fa fa-pencil"></i></button>' : '';
              return '<div class="btn-group" role="group" aria-label="Basic example">'+ buttonDelete + buttonEdit+'</div>';
            }
          }
        ]
       });
       $("div.dataTables_length").append(' <button id="resetFilterRole" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
        $(document).on("click", "#resetFilterRole", function(e){
          e.preventDefault()
          app.resetStatus = true;
          $('#resetFilterRole').prop('disabled', true);
    
          setTimeout(() => {
            app.resetStatus = false;
            $('#resetFilterRole').prop('disabled', false);
          }, 1000)
        })
       $(document).on("click", ".edit", function(e){
          e.preventDefault();
          app.dataid = $(this).data("id");
          app.editData();
       });
      $(document).on("click", ".hapus", function(){
          var id = $(this).data("id");
          app.confirm.show = true;
          app.confirm.uuid = id;
          app.confirm.text = 'anda yakin ? '
      });
    });
    // End Document Ready

   },
   methods:{
    showModalUser() {
      var app = this;
      $('#update').val(0);
      $("#addUserModal").modal("show");
    },
    deleteRole(id) {
      let app = this;
      app.axios.delete('role/'+id)
      .then((resp)=>{
        toastr.success(resp.data.message,"Delete Success");
        app.tables.ajax.reload();
      })
      .catch((resp)=>{
        // alert('delete failed')
        toastr.error(resp.response.data.message,"Delete Failed");
      })
    },
    triggerModal() {
      this.confirm.show = false;
      this.confirm.uuid = null;
      this.confirm.text = null;
    },
    searchTable(obj){
      this.Name = obj.name;
      this.sales_org_name = obj.sales_org_name;
      this.tables.draw();
    },
    tablesLoad(){
      this.modalShow = false;
      this.tables.draw();
    },
    openformModal(){
      this.modalShow = true;
      this.dataid = null;
    },
    editData(){
      this.modalShow = true;
    },
   }

};

</script>

<style lang="css">
</style>
