<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                      <button v-if="access.C === true" type="button" class="btn btn-primary square" v-on:click="uploadFile"> <i class="fa fa-upload"></i>
                          {{ $ml.get("global.form.labelUpload") }}
                      </button>
                      <button v-if="access.C === true" @click="openformModal" type="button" class="btn btn-primary square" > <i class="fa fa-plus"></i>
                          {{ $ml.get("global.form.labelAdd") }}
                      </button>
                    <a href="template-excel/supplypoint/Template_Supply_Point.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
                    <a href="template-excel/kode-wilayah.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Kode Wilayah</a>
                    <button  type="button" class="btn btn-primary square" @click="download" :disabled="loadBtnDownload" > <i class="fa fa-download"></i>
                      Download
                    </button>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table id="supply-pontTable" class="table table-xs table-bordered table-striped display nowrap" style="width:100%">
                    <thead>
                      <supply-point-filter :reset="resetStatus" ref="filterComponent" @search-table="searchTable"> </supply-point-filter>
                      <tr>
                        <th>
                          <fieldset>
                            <fieldset>
                              <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input check_all" value="all">
                                <span class="custom-control-indicator"></span>
                              </label>
                            </fieldset>
                          </fieldset>
                        </th>
                        <th>Produsen</th>
                        <th>Provinsi</th>
                        <th>Kabupaten</th>
                        <th>Kode Gudang</th>
                        <th>Gudang</th>
                        <th>Second Sales Group</th>
                        <th>Status</th>
                        <th>Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="scroll-top" v-if="access.A === true">
                <div class="col-md-12">
                  <div class="btn-group mr-1 mb-1 pull-right dropup">
                    <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                      Aksi
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" @click="action('y')" href="#">Active</a>
                      <a class="dropdown-item" @click="action('n')" href="#">Inactive</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <supply-point-form :access="access" :getid="dataid" @trigger-modal="triggerModal" :getdata="array_supplypoint" ></supply-point-form>
      <supply-point-upload v-if="modalUpload" @trigger-modal="triggerModal"></supply-point-upload>
    </section>
  </div>
</template>

<script>
import SupplyPointFilter from './SupplyPointFilter.vue';
import SupplyPointForm from './modal/Form.vue';
import SupplyPointUpload from './modal/Upload.vue';

export default {
  data: function(){
    return {
      loadBtnDownload : false,
      modalForm : false,
      resetStatus : false,
      modalUpload : false,
      dt: '',
      dataid: null,
      dataarr: '',
      access: {},
      loading:{
        changeStatus: false
      },
      check: [],
      supplypoint: {},
      array_supplypoint: {},
      datafilter: {},
    }
  },
  components:{
    SupplyPointFilter,
    SupplyPointForm,
    SupplyPointUpload
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted(){
    var app = this;
    $(document).ready(function() {
      app.dt = $('#supply-pontTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        "scrollY" : "50vh",
        "scrollCollapse": true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-primary square mb-1 downloadTableExcel',
            text: "Download Supply Point ke Excel",
            title:"",
            filename:"Download Supply Point ke Excel",
          }
        ],
        ajax:{
          'url': 'api/supplypoint',
          'type': 'GET',
          'data': function(d){
            d.uuid = app.supplypoint.uuid,
            d.sales_org_name = app.supplypoint.sales_org_name,
            d.sales_office_name = app.supplypoint.sales_office_name,
            d.sales_office_id = app.supplypoint.sales_office_id,
            d.sales_group_name = app.supplypoint.sales_group_name,
            d.sales_group_id = app.supplypoint.sales_group_id,
            d.plant_code = app.supplypoint.plant_code,
            d.plant_name = app.supplypoint.plant_name,
            d.scnd_sales_group_name = app.supplypoint.scnd_sales_group_name,
            d.scnd_sales_group_id = app.supplypoint.scnd_sales_group_id,
            d.status_name = app.supplypoint.status_name
            d.status = app.supplypoint.status
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
           { "orderable": false, "targets": 0 }
        ],
        columns: [
            {
              data: 'uuid',
              render:function(data,t,f) {
                const check = '<fieldset>'+
                                '<label class="custom-control custom-checkbox">'+
                                  '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                  '<span class="custom-control-indicator"></span>'+
                                '</label>'+
                              '</fieldset>';
                return check;
              }
            },
            {
              data: 'sales_org_name',
              render : function(data, type, full){
                if(app.access.U){
                  return '<a href="#" id="detailData" data-id="'+full.uuid+'">'+data+'</a>';
                } else {
                  return data;
                }
              }
            },
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'plant_code', name: 'plant_code'},
            {data: 'plant_name', name: 'plant_name'},
            {data: 'scnd_sales_group_name', name: 'scnd_sales_group_name'},
            {data: 'status_name', name: 'status_name', render: function(d, t, f){
              return d;
            }},
            {
              data: 'uuid',
              render : function(data, type, full){
                if (!app.access.D) {
                  var aksi = '-';
                } else {
                  if (full.status === 'y') {
                    var aksi = '-';
                  } else {
                    var aksi = '<button class="hapusData btn btn-sm btn-danger btn-sm square " data-id="'+full.uuid+'"> <i class="fa fa-trash"></> Hapus</button>';
                  }
                }

                return aksi;
              }
            },
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $("div.dataTables_length").append(' <button id="resetFilterSupplypoint" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    
      $(document).on("click", "#resetFilterSupplypoint", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterSupplypoint').prop('disabled', true);
        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterSupplypoint').prop('disabled', false);
        }, 1000)
      })
      $("#downloadTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadTableExcel").trigger('click');
      })
      $(document).on("click", "#detailData", function(e){
        e.preventDefault();
        var idx = $(this).data("id");
        app.detailData(idx);
      })
      $(document).off("click", ".hapusData").on("click", ".hapusData", function(e){
        e.preventDefault();
        if (confirm("Delete this supply point data") == true) {
          var idx = $(this).data("id");
          app.hapusData(idx);
        }
      })

      $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })

      $(document).on("click", "#check", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })

    })
  },
  methods: {
    action(type) {
      event.preventDefault();
      if(this.check.length != 0) {
        this.loading.changeStatus = true;
        this.check = this.check.map(data => {
          return {uuid: data.id, status: type}
        })
        this.saveAction();
      } else {
        toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
      }
    },
    saveAction(){
      this.axios.post('supplypoint/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        let msg = resp.response.data.message;
        toastr.warning(msg.check_active[0], "Pesan")
        toastr.error("Status gagal di ubah", "Gagal")
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    openformModal(){
      $("#openformModal").modal("show");
      this.dataid = null;
    },
    searchTable(obj){
      this.supplypoint = obj;
      this.dt.draw();
    },
    addModal(){
      var app = this;
    },
    uploadFile (){
      this.modalUpload = true;
      // $('#uploadExcelModal').modal('show');
    },
    hapusData(supplypoint_id){
      this.axios.delete("supplypoint/"+supplypoint_id)
      .then((resp) => {
        toastr.success("Delete data berhasil", "Sukses");
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.error("Delete data gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
      })
    },
    detailData(id){
      this.dataid = id;
      $("#openformModal").modal("show");
    },
    triggerModal(params = false){
      if(params === 'RefreshTable'){
        this.dt.draw();
      }
      this.modalUpload = false;
      this.modalForm = false
      this.dataid = null;
    },
    download(){
      this.loadBtnDownload = true;
      this.axios({
        url: 'supplypoint/download',
        params: {
            uuid: this.supplypoint.uuid,
            sales_org_name: this.supplypoint.sales_org_name,
            sales_office_name: this.supplypoint.sales_office_name,
            sales_office_id: this.supplypoint.sales_office_id,
            sales_group_name: this.supplypoint.sales_group_name,
            sales_group_id: this.supplypoint.sales_group_id,
            plant_code: this.supplypoint.plant_code,
            plant_name: this.supplypoint.plant_name,
            scnd_sales_group_name: this.supplypoint.scnd_sales_group_name,
            status_name: this.supplypoint.status_name,
            status: this.supplypoint.status
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Supply Point.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    }

  }
}
</script>

<style lang="css">
div.dt-buttons {
  float: right !important;
  display: none;
}
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 999;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
}
</style>
