<template lang="html">
  <tr class="filter">
    <th></th>
    <th class="supply-sales-org-name">
      <input type="text"
      v-on:keyup="search()"
      v-model="supplypoint.sales_org_name"
      class="form-control form-control-md supply_sales_org_nameVal">
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="supplypoint.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input type="text"
      v-model="supplypoint.plant_code"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="supplypoint.plant_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <scnd-kabpuaten :type="scnd_sales_group.type" :classType="scnd_sales_group.class" :sales_office="supplypoint.sales_office_id" :reset="reset" @get-selected-kab="searchScndKab" />
      <!-- <input type="text"
      v-model="supplypoint.scnd_sales_group_name"
      v-on:keyup="search()"
      class="form-control form-control-md"> -->
    </th>
    <th>
      <filter-status :reset="reset" :checkedStatus="supplypoint.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
    </th>
    <th></th>
  </tr>
</template>
<script>
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      btnStatus: 'Filter Status',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'}
      ],
      scnd_sales_group: {
        type: 'Skabupaten',
        class: 'select-second-kabupaten'
      },
      supplypoint: {
        sales_org_name: '',
        sales_office_name: '',
        sales_office_id: '',
        sales_group_name: '',
        sales_group_id: '',
        plant_name: '',
        plant_code: '',
        scnd_sales_group_name: '',
        scnd_sales_group_id: '',
        status: '',
      }
    }
  },
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));

    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.supplypoint = getLocalSearch;
            $(".supply_sales_org_nameVal").val(app.supplypoint.sales_org_name);
            app.$emit("search-table", app.supplypoint);
        }
    },1000)
    $(document).on("keyup", ".supply_sales_org_nameVal", function(){
      app.supplypoint.sales_org_name = $(this).val();
      app.search();
    })
    $(document).on("keyup", "#sales_office_name", function(){
      app.supplypoint.sales_office_name = $(this).val();
      app.search();
    })
  },
  components: {
    FilterStatus: Checklist,
    Provinsi, Kabupaten, ScndKabpuaten : Kabupaten
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  methods: {
    searchTable(obj) {
      var status = obj.join(';');
      this.supplypoint.status = status;
      console.log(this.supplypoint.status);
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.supplypoint));
      this.$emit("search-table", this.supplypoint);
    },
    searchProv(dataProv) {
            var arr = dataProv.map(data => {
                return data.id;
            })
            var sales_office = arr.join(";");
            this.supplypoint.sales_office_id = sales_office;
            // this.$refs.filterKabComponent.getKabupaten(sales_office);
            this.search();
        },
        searchKab(dataKab) {
            var arr = dataKab.map(data => {
                return data.id;
            })
            var sales_group = arr.join(";");
            this.supplypoint.sales_group_id = sales_group;
            // this.$refs.filterKabComponent.getKabupaten(sales_group);
            this.search();
        },
        searchScndKab(dataKab) {
            var arr = dataKab.map(data => {
                return data.id;
            })
            var sales_group = arr.join(";");
            this.supplypoint.scnd_sales_group_id = sales_group;
            // this.$refs.filterKabComponent.getKabupaten(sales_group);
            this.search();
        },
        resetFilter(){
            this.clearFilter(this.$route.name, this.supplypoint);
            $( ".supply-sales-org-name" ).html( '<input type="text" class="form-control form-control-md supply_sales_org_nameVal" />' );
            $(".supply_sales_org_nameVal").val(this.supplypoint.sales_org_name);
            this.search();
      }
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
