<template>
    <div class="modal fade" id="ModalPlavon" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Info Plafon</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                          <label class="col-sm-3 label-control">Produsen</label>
                          <div class="col-sm-9">
                            <multiselect
                              @input="getPembeli"
                              v-model="tempDt.sales_org_id"
                              :options="m_produsen"
                              track-by="id" :custom-label="produsenNameWithId"
                              :searchable="true" :close-on-select="true"
                              :show-labels="false" :placeholder="(loadingElement.produsen === false) ? 'Pilih ..' : 'Memuat ..'"
                              :disabled="tempFunct.isDisabledSalesorg">
                            </multiselect>
                            <p class="text-danger" v-if="error && errors.sales_org_id">{{errors.sales_org_id[0]}}</p>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 label-control">Distributor</label>
                          <div class="col-sm-9">
                            <multiselect
                              @input="getBank"
                              v-model="tempDt.customer_id"
                              :options="m_customer"
                              track-by="id" :custom-label="distributorNameWithId"
                              :searchable="true" :close-on-select="true"
                              :show-labels="false" :placeholder="(loadingElement.pembeli === false) ? 'Pilih ..' : 'Memuat ..'"
                              :disabled="tempFunct.isDisabledCust">
                            </multiselect>
                            <p class="text-danger" v-if="error && errors.customer_id">{{errors.customer_id[0]}}</p>
                          </div>
                        </div>
                        <div v-if="tempFunct.isShowBank" class="form-group row">
                          <label class="col-sm-3 label-control">Bank</label>
                          <div class="col-sm-6">
                            <i v-if="loadingBank" class="fa fa-spinner fa-spin"></i>
                            <div v-else>
                              <fieldset v-for="(data, i) in m_bank">
                                <label v-if="data.id !== 'BBCA' && data.id !== 'BBSB'" class="custom-control custom-radio">
                                  <input :disabled="tempFunct.isDisabledBank" type="radio" class="custom-control-input" v-model="tempDt.bank_id" :value="data.id">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">{{ data.name }}</span>
                                </label>
                              </fieldset>
                              <p class="text-danger" v-if="m_bank.length === 0" > Data Bank Tidak Ditemukan</p>
                            </div>
                          </div>
                          <div class="col-sm-3 text-right">
                            <button type="button" class="btn btn-sm btn-success" :disabled="loading" @click="getPlavon"> 
                              <i v-if="loading" class="fa fa-spinner fa-spin"></i>
                              <i v-else class="fa fa-check-square-o"></i> 
                              Cek Plafon 
                            </button>
                          </div>
                          <p class="text-danger" v-if="error && errors.bank_id">{{errors.bank_id[0]}}</p>
                        </div>
                      </div>
                    </div>
                    <form-loader :view="loading" ></form-loader>
                    <form v-if="plavon !== null" class="form form-horizontal">
                        <div class="form-body">
                            <h4 class="form-section"> Informasi Akun</h4>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Nama Distributor</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-left" :disabled="true" v-model="plavon.customer_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Produsen</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-left" :disabled="true" v-model="plavon.sales_org_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Nama Bank</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-left" :disabled="true" v-model="plavon.bank_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Expired Date</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-left" :disabled="true" v-model="plavon.expired_date">
                                </div>
                            </div>
                            <h4 class="form-section"> Bank Limit</h4>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Kredit Limit</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.credit_limit">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Outstanding DF</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.outstanding_df">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Available Amount</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.available_amount">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Hold Amount</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.hold_amount">
                                </div>
                            </div>
                            <h4 class="form-section"> Outstanding Sales Order</h4>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Outstanding SO Numbers</label>
                                <div class="col-md-8">
                                <textarea class="form-control" :readonly="true" v-model="plavon.outstanding_so_number_string">
                                    {{plavon.outstanding_so_number_string}}
                                </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Outstanding SO</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.outstanding_so">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Amount</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.amount">
                                </div>
                            </div>
                            <h4 class="form-section"> Current Limit</h4>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Available</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.available">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import FormLoader from '../../../main/FormLoader';
import axiosh2h from 'axios';
import Multiselect from 'vue-multiselect';
import { wcmBaseUrl } from '../../../../config/environment';

export default {
    data: function() {
        return {
            plavon: null,
            loading: false,
            modalPlavon: {
              show: false,
              customer_id: null,
              sales_org_id: null,
              bank_id: null,
              btnDisabled: true
            },
            error: false,
            loadingSpin: false,
            loaderAnimate: false,
            loadingBank: true,
            pageloder:true,
            m_produsen: [],
            m_customer: [],
            m_partner: [],
            m_bank: [],
            loadingElement: {
              produsen: false,
              pembeli: false,
            },
            tempFunct: {
              isShowBank: false,
              isDisabled: false,
              isDisabledSalesorg: false,
              isDisabledCust: false,
            },
            tempDt: {
              bank_id: null,
              sales_org_id: null,
              customer_id: null,
            },
        }
    },
    components: {
        FormLoader, Multiselect
    },
    created() {
        
    },
    mounted() {
        const app = this;
        $("#ModalPlavon").modal('show');
        $("#ModalPlavon").on("hidden.bs.modal", function() {
            app.closeModal()
        })
        this.getProdusen();
        // this.getPlavon()
    },
    methods: {
      produsenNameWithId ({id, name}) {
        return `${id} — ${name}`
      },
      distributorNameWithId ({id, full_name}) {
        return `${id} — ${full_name}`
      },
      getProdusen() {
        this.loadingElement.produsen = true;
        this.axios.get('company/produsen')
        .then((resp) => {
          this.m_produsen = resp.data.data;
          this.loadingElement.produsen = false;
        })
        .catch((resp) => {
          // toastr.error(resp.response.exception, 'error');
          toastr.error('Data Produsen Tidak Ditemukan');
          this.loadingElement.produsen = false;
        })
      },
      getPembeli(dt) {
        this.tempDt.customer_id = null
        this.tempFunct.isShowBank = false;
        this.tempDt.bank_id = null;
        this.plavon = null
        if (dt !== null) {
          this.loadingElement.pembeli = true;
          this.axios.get('company/distributor', {
            params: {
              // type: 'order',
              only_df: true,
              sales_org_id: dt.id
            }
          })
          .then((resp) => {
            this.loadingElement.pembeli = false;
            this.m_customer = resp.data.data;
          })
          .catch((resp) => {
            this.loadingElement.pembeli = false;
            this.m_customer = [];
            this.tempFunct.isShowBank = false;
            toastr.error('Data Customer Tidak Ditemukan');
          })
        } else {
            this.m_customer = []
            this.tempFunct.isShowBank = false;
            toastr.error('Data Customer Tidak Ditemukan');
        }
      },
      getBank() {
        this.loadingBank = true;
        this.tempFunct.isShowBank = true;
        this.plavon = null
        this.tempDt.bank_id = null;
        if(this.tempDt.customer_id !== null){
          this.axios.get('bank', {
            params: {
              customer_id: this.tempDt.customer_id.id,
              sales_org_id: this.tempDt.sales_org_id.id,
            }
          })
          .then((resp) => {
            this.m_bank = resp.data.data;
            this.loadingBank = false
          })
          .catch((resp) => {
            // toastr.error('Failed To Get Data Bank', 'Please Refresh The Page');
            this.loadingBank = false
            toastr.warning('Customer dan Sales Org tidak boleh kosong', 'Gagal');
          })
        } else {
            toastr.warning('Customer dan Sales Org tidak boleh kosong');
        }
      },
      formatPrice(value) {
          if (isNaN(value) === false) {
              let val = (value/1).toFixed(2).replace('.', ',')
              return 'Rp. '+val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
          } else {
              return 'Rp. '+0;
          }
      },
      getUri() {
          switch (this.tempDt.bank_id) {
              case 'BBNI':  
                  return 'payment_gateway/bni/check-limit';
              case 'BBRI': 
                  return 'payment_gateway/bri/check-limit';
              case 'BMRI': 
                  return 'payment_gateway/mandiri/check-limit';
              default: 
                  return '';
          }
      },
      getBankName() {
          switch (this.tempDt.bank_id) {
              case 'BBNI':  
                  return 'bni';
              case 'BBRI': 
                  return 'bri';
              case 'BMRI': 
                  return 'mandiri';
              default: 
                  return '';
          }
      },
      closeModal() {
          this.$emit('trigger-modal')
      },
      getPlavon() {
          let uri = this.getUri();
          let bankName = this.getBankName();
          const baseUrl = wcmBaseUrl();
          this.plavon = null
          if(uri == ''){
            toastr.warning('Pilih Bank terlebih dahulu')
          } else {
          this.loading = true
          const accessToken = localStorage.getItem('access-control');
          // var baseURL = 'http://36.89.154.94:8010/api/'+uri;
          var baseURL = `${baseUrl}/check-plafon/${bankName}`;
          $.ajax({
              type: "POST", // define the type of HTTP verb we want to use (POST for our form)
              url: baseURL, // the url where we want to POST
              data: {
                  customer_id: this.tempDt.customer_id.id,
                  sales_org_id: this.tempDt.sales_org_id.id
              },
              beforeSend: function(request) {
                var token = localStorage.getItem("default_auth_token");
                request.setRequestHeader("Authorization", "Bearer "+token);
                request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
              },
              dataType: 'json',
          }).done(resp => {
              this.plavon = resp;
              this.plavon.credit_limit = this.formatPrice(resp.credit_limit);
              this.plavon.outstanding_df = this.formatPrice(resp.outstanding_df);
              this.plavon.available_amount = this.formatPrice(resp.available_amount);
              this.plavon.hold_amount = this.formatPrice(resp.hold_amount);
              this.plavon.outstanding_so = resp.outstanding_so;
              this.plavon.amount = this.formatPrice(resp.amount);
              this.plavon.available = this.formatPrice(resp.available);
              (resp.outstanding_so_number !== '') ? this.plavon.outstanding_so_number_string = resp.outstanding_so_number.join(",") : ''
              this.loading = false
              // toastr.success(data.responseJSON.message)
          }).fail(resp => {
              console.log("FAIL TO LOAD PLAFON");
              // console.log(resp);
              this.loading = false
              toastr.error(resp.responseJSON.message)
          });
        }
      }
    }
}
</script>
