<template>
    <transition name="custum-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <!-- header content -->
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">{{ $ml.get("menuRoutePage.cardtTitle") }}</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12" id="listbreadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                {{ $ml.get("menuRoutePage.breadcrumbFirst") }}
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!-- end -->
      <!-- body content -->
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div id="kick-start" class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <div class="col-md-12">
                    <button v-if="access.C === true" class="btn btn-primary pull-right" @click="modalShow"><i class="fa fa-plus"></i> {{$ml.get("menuRoutePage.addButton")}} </button> <br>
                  </div>

                  <div class="col-md-12">
                    <table
                      class="table table-xs table-bordered table-striped display nowrap" width="100%"
                      id="routeTables"
                    >
                      <thead>
                        <role-filter :reset="resetStatus" @filter-table="searchTable">
                        </role-filter>
                        <tr>
                          <th>{{$ml.get("menuRoutePage.table.one")}}</th>
                          <th>{{$ml.get("menuRoutePage.table.action")}}</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- end -->

    <!-- Modal On Vue  -->
    <div class="modal fade" id="addRouteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ update === 0 ? 'Tambah Route' : 'Ubah Route' }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form @submit.prevent="saveRole"  class="form form-horizontal striped-rows form-bordered" id="form">
        <div class="modal-body">
            <div class="form-group">
                <label class="label-control">Role Name</label>: <input  class="form-control" v-model="nameroute">
            </div>
            <input type="hidden" id="update" v-model="update"/>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> {{$ml.get("roleMasterPage.closeButton")}}</button>
            <button type="submit" class="btn btn-primary" :disabled="btnDisabled"><i class="fa fa-save"></i> {{$ml.get("roleMasterPage.saveBotton")}}</button>
        </div>
        </form>
        </div>
    </div>
    </div>
    <!-- End Modal  -->


    </div>


  </transition>
</template>

<script>

import RoleFilter from './RoleFilter';
export default {
    data(){
        return {
            access: {},
            nameroute:'',
            resetStatus:false,
            btnDisabled:false,
            update:0
        }
    },
    created() {
      const encodeAccess = decodeURIComponent(this.$route.params.access);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const arrAccess = decodeAccess.split(",");
      if(arrAccess) {
        arrAccess.map((data) => {
          if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.access[data] = true
          } else {
            this.$router.push({path: '/home'});
            toastr.error('Permission can not open this page', 'Error');
          }
        })
      } else {
        this.$router.push({path: '/home'});
        toastr.error('Permission can not open this page', 'Error');
      }
    },
    mounted() {
        var app = this;
        //  Start Document Ready
        $(document).ready(function() {

          // Datatables
            app.tables=$('#routeTables').DataTable({
                processing:true,
                serverSide:true,
                searching:false,
                ajax:{
                'url': 'api/route',
                    'type': 'GET',
                    'data':function(d){
                        d.name=app.nameroute
                    },
                    'beforeSend': function (request) {
                        var token = localStorage.getItem("default_auth_token");
                        request.setRequestHeader("Authorization", "Bearer "+token);
                        request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
                    },
                },
                columns: [
                {data: 'name',name:'name'},
                {
                    data:'id',
                    render:function(data,t,f){
                    var buttonDelete = (app.access.D === true) ? '<button class="btn btn-icon btn-danger btn-sm hapus"   data-id="'+data+'" > <i class="fa fa-trash"></i></button>' : '';
                    var buttonEdit = (app.access.U === true) ? '<button class="btn btn-icon btn-primary btn-sm edit" @click="editRole" data-id="'+data+'" > <i class="fa fa-pencil"></i></button>' : '';
                    return '<div class="btn-group" role="group" aria-label="Basic example">'+ buttonEdit + buttonDelete +'</div>';
                    }
                }
                ]
            });
            $("div.dataTables_length").append(' <button id="resetFilterRoute" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
            $(document).on("click", "#resetFilterRoute", function(e){
              e.preventDefault()
              app.resetStatus = true;
              $('#resetFilterRoute').prop('disabled', true);
        
              setTimeout(() => {
                app.resetStatus = false;
                $('#resetFilterRoute').prop('disabled', false);
              }, 1000)
            })
          // End Datatables

          $(document).on('click','.edit',function(){
            var id=$(this).data('id');
            app.update=id;
            $('#update').val(true);
              app.axios.get("route/id/"+id)
              .then((resp) => {
                  app.nameroute = resp.data.data.name;
                  $('#addRouteModal').modal('show');
              })
              .catch((e) => {
                  // alert("failed load");
              })
              .then(function (){

              })
          });

          $(document).on('click','.hapus', function(){
            var id=$(this).data('id');
            var ask=confirm("Are you sure  ?");
            if(ask){
              app.axios.delete('route/'+id)
              .then((resp)=>{
                app.nameroute="";app.update=0;
                app.tables.ajax.reload();
              })
              .catch((resp)=>{
                alert('delete failed')
              });
            }
          });

        });
        // End Document Ready
    },
    components:{
        RoleFilter
    },
    methods:{
      saveRole(){
        var isUpdate=this.update;
        if(isUpdate!=0){
          this.updRoute(isUpdate);
        }else{
          this.insertRoute();
        }
      },
      modalShow(){
        this.nameroute='';
        this.update=0;
        $('#addRouteModal').modal('show');
      },
      tablesLoad(){
        this.tables.draw();
      },
      searchTable(obj){
        this.nameroute=obj.name;
        this.tables.draw();
      },
      updRoute(uId){
          var app=this;
          app.btnDisabled=true;
          var updateArr={id:uId,name:app.nameroute};
          app.axios.put("route/"+uId,updateArr)
          .then((resp)=>{
              app.btnDisabled=false;
              app.nameroute="";app.update=0;
              this.tablesLoad();
              toastr.success('Update Success', 'Update');
              $('#addRouteModal').modal('hide');
          })
          .catch((resp)=>{
              app.btnDisabled=false;
              if(resp.response.data.message.hasOwnProperty('name')) {
                toastr.error(resp.response.data.message.name[0]);
              } else {
                toastr.error(resp.response.data.message)
              }
              // app.nameroute="";app.update=0;
          });
      },
      insertRoute(){
          var app=this;
          var newDataArr={'name':this.nameroute,'id':this.update};
          app.btnDisabled=true;
          app.axios.post("route",newDataArr)
          .then((resp)=>{
              app.btnDisabled=false;
              app.nameroute="";app.update=0;
              this.tablesLoad();
              toastr.success('Save Data Success', 'Saved');
              $('#addRouteModal').modal('hide');
          })
          .catch((resp)=>{
              app.btnDisabled=false;
              app.nameroute="";app.update=0;
          });

      }
    }
}
</script>

<style lang="css">
</style>
