<template>
  <tr class="filter">
    <th>
        <input type="text" class="form-control form-control-sm"  id="role_name" v-bind:placeholder="$ml.get('roleMasterPage.filterPlaceName')" v-on:keyup="search()" v-model="role_name"  /> 
    </th>
    <th> </th>
  </tr>
</template>


<script>
    export default {
        props: ['reset'],
        data:function(){
            return {
                uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
                role_name:'',
                sales_org_name:''
            }
        },
        watch: {
            reset: function(val){
                if(val === true) {
                    this.resetFilter();
                }
            }
        },
        mounted() {
            var app = this;
            $(document).ready(function() {
            const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
            setTimeout(() => {
                if (getLocalSearch !== null) {
                    var send = {}
                    console.log(getLocalSearch.name_ID);
                    app.role_name = getLocalSearch.name;
                    app.role_name = getLocalSearch.sales_org_name;
                    send['name'] = app.role_name;
                    send['sales_org_name'] = app.sales_org_name;
                    app.$emit("filter-table", send);
                }
            },1000)
            });
        },
        methods:{
            search(){
                var data={name:this.role_name,sales_org_name:this.sales_org_name};
                localStorage.setItem(this.uriName, JSON.stringify(data));
                this.$emit('filter-table', data);
            },
            resetFilter(){
                this.role_name = '';
                this.sales_org_name = '';
                localStorage.removeItem(this.$route.name);
                this.search();
            }
        }
    }
</script>

<style>

</style>
