<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-danger square" @click="goBack()" ><i class="fa fa-chevron-circle-left"></i> Kembali</button>
                  <div class="pull-right">
                      <button v-if="access.U" type="button" @click="showConfirm('y', 'Apakah yakin untuk mengapprove data?')" class="btn btn-primary square"><i class="fa fa-check"></i> Approved</button>
                      <button v-if="access.U" type="button" @click="showConfirm('n', 'Apakah yakin untuk mereject data?')" class="btn btn-primary square"><i class="fa fa-times"></i> Deactive</button>
                      <button type="button" class="btn btn-primary square" @click="download" :disabled="loadBtnDownload"><i class="fa fa-download"></i> Download</button>
                  </div>
                </div>
                
              </div>
              <div class="row">
                &nbsp
              </div>
              <div class="row"><br>
                <div class="col-lg-12">
                  <table id="dataTable" class="table table-xs table-bordered table-striped display nowrap">
                    <thead>
                      <manual-approved-setting-filter  :reset="resetStatus" @search-table="searchTable"> </manual-approved-setting-filter>
                      <tr>
                        <th>
                          <fieldset>
                            <fieldset>
                              <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input check_all" value="all">
                                <span class="custom-control-indicator"></span>
                              </label>
                            </fieldset>
                          </fieldset>
                        </th>
                        <th>Produsen</th>
                        <th>Kode Provinsi</th>
                        <th>Provinsi</th>
                        <th>Kode Kabupaten</th>
                        <th>Kabupaten</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <modal-confirm v-if="confirmList.confirm" :uuid="confirmList.type" :text="textConfirm" @is-delete="isConfirm" @trigger-modal="triggerModal"></modal-confirm>
    </section>
  </div>
</template>


<script>
import ManualApprovedSettingFilter from './ManualApprovedSettingFilter';
import ModalConfirm from '../../../global/ModalConfirm';

export default {
  props: ['access'],
  data: function(){
    return {
      dt: '',
      resetStatus: false,
      loading:{
        changeStatus: false
      },
      textConfirm: 'Apakah yakin ?',
      confirmList: {
        confirm: false,
        type: null
      },
      check: [],
      mpsetting: {},
      loadBtnDownload:false,
    }
  },
  components: {
    ManualApprovedSettingFilter, ModalConfirm
  },
  mounted(){
    var app = this;

    $(document).ready(function() {
      app.dt = $('#dataTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "350px",
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloaddataTableExcel',
            text: "Download Pengecer ke Excel"
          }
        ],
        ajax:{
          'url': 'api/manualapproval/setting',
          'type': 'GET',
          'data': function(d){
            d.uuid = app.mpsetting.uuid,
            d.sales_org_name = app.mpsetting.sales_org_name,
            d.sales_org_id = app.mpsetting.sales_org_id,
            d.sales_office_name = app.mpsetting.sales_office_name,
            d.sales_office_id = app.mpsetting.sales_office_id,
            d.sales_group_name = app.mpsetting.sales_group_name,
            d.sales_group_id = app.mpsetting.sales_group_id,
            d.status_name = app.mpsetting.status_name,
            d.status = app.mpsetting.status
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
           { "orderable": false, "targets": 0 }
        ],
        columns: [
            {
              data: 'uuid',
              render:function(data,t,f) {
                const check = '<fieldset>'+
                                '<label class="custom-control custom-checkbox">'+
                                  '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                  '<span class="custom-control-indicator"></span>'+
                                '</label>'+
                              '</fieldset>';
                return check;
              }
            },
            {data: 'sales_org_name', name: 'sales_org_name'},
            {data: 'sales_office_id', name: 'sales_office_id'},
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_id', name: 'sales_group_id'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'status_name', name: 'status_name'},
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $("div.dataTables_length").append(' <button id="resetFilterManualApprvSetting" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

      $(document).on("click", "#resetFilterManualApprvSetting", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterManualApprvSetting').prop('disabled', true);

        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterManualApprvSetting').prop('disabled', false);
        }, 1000)
      })
      $(document).on('change','.checks',function(){
          if($('.checks').is( ":checked" )===true){
              $('.check').prop('checked',true);
          }else{
              $('.check').prop('checked',false);
          }
      });
      $(document).on('change','.check',function(){
           $('.checks').prop('checked',false);
      });

      $("#downloaddataTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloaddataTableExcel").trigger('click');
      })


      $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })

      $(document).on("click", "#check", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })

    })

  },
  methods: {
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      this.check = this.check.map(data => {
        return {uuid: data.id, status: type}
      })
      this.saveAction();
    },
    saveAction(){
      this.axios.post('manualapproval/setting/status', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.message, "Pesan")
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    searchTable(obj){
      this.mpsetting = obj;
      this.dt.draw();
    },
    showConfirm(type, text) {
      this.confirmList.confirm = true;
      this.confirmList.type = type;
      this.textConfirm = text;
    },
    isConfirm(type) {
      this.action(type)
    },
    triggerModal() {
      this.confirmList.confirm = false;
      this.confirmList.type = null;
    },
    goBack(){
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/manual-approved'});
    },
    download(){
      this.loadBtnDownload = true
      this.axios({
        url: 'manualapproval/setting/export',
        params: {
          uuid : this.mpsetting.uuid,
          sales_org_name : this.mpsetting.sales_org_name,
          sales_org_id : this.mpsetting.sales_org_id,
          sales_office_name : this.mpsetting.sales_office_name,
          sales_office_id : this.mpsetting.sales_office_id,
          sales_group_name : this.mpsetting.sales_group_name,
          sales_group_id : this.mpsetting.sales_group_id,
          status_name : this.mpsetting.status_name,
          status : this.mpsetting.status
        },
        method: 'GET',
        responseType: 'blob', // important
     }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Manual Approval Settings.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    }
  }
}
</script>

<style lang="css">
div.dt-buttons {
  float: right !important;
  display: none;
}
</style>
