<template lang="html">
  <tr class="filter">
    <th></th>
    <th class="sales-org-name">
      <input type="text"
      v-model="filter.sales_org_name"
      class="form-control form-control-md sales_org_nameVal">
    </th>
    <th>
      <input type="text"
      v-model="filter.sales_office_id"
      class="form-control form-control-md">
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <input type="text"
      v-model="filter.sales_group_id"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <kabupaten :sales_office="filter.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <center>
        <status-filter :reset="reset" :checkedStatus="filter.status" @get-check="searchStatus" :label="'Cari Status'" :list="statusSearch"></status-filter>
      </center>
    </th>
  </tr>
</template>
<script>
import Checklist from '../../../filter/Checklist';
import Provinsi from '../../../filter/Provinsi';
import Kabupaten from '../../../filter/Kabupaten';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      btnStatus: 'Filter Status',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
      ],
      filter: {
        sales_org_name: '',
        sales_org_id: '',
        sales_office_name: '',
        sales_office_id: '',
        sales_group_name: '',
        sales_group_id: '',
        status: '',
      }
    }
  },
   watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  components: {
    StatusFilter: Checklist,
    Provinsi, Kabupaten,
  },
  mounted() {
    var app = this;
    $(document).ready(function() {

    });
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.filter = getLocalSearch;
            app.$emit("search-table", app.filter);
        }
    },1000)
    $(document).on("keyup", ".sales_org_nameVal", function(){
      app.filter.sales_org_name = $(this).val();
      app.search();
    })
  },
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.filter.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.filter.sales_group_id = sales_group;
      this.search();
    },
    searchStatus(obj) {
      var status = obj.join(';');
      this.filter.status = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.filter));
      this.$emit("search-table", this.filter);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.filter);
      $( ".sales-org-name" ).html( '<input type="text" class="form-control form-control-md sales_org_nameVal" />' );
      $(".sales_org_nameVal").val(this.filter.sales_org_name);
      this.search();
    }
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
