<template lang="html">
  <div>
    <form-loader :view="loadingComponent"></form-loader>
    <div v-if="!loadingComponent">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-9">
                <div class="pull-left">
                  <h3>Penyaluran DO - {{ dataDo.header.number }}</h3>
                </div>
              </div>
              <div class="col-md-3">
                <div style="padding: 0;" class="pull-right badge" :class="(dataDo.header.status === 'd') ? 'badge-danger' : 'badge-primary'">
    							<h4> {{ dataDo.header.status_name }} </h4>
    						</div>
              </div>
            </div>
            <!-- <hr style="margin-top: 0;margin-bottom: 0;"> -->
            <div class="row" style="font-size: 10px;">
              <div class="col-md-5">
                <dl class="row">
                    <dt class="col-sm-4">Produsen</dt>
                    <dd class="col-sm-8"> {{ dataDo.header.sales_org_name }} </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Nomor SO</dt>
                    <dd class="col-sm-8"> {{ dataDo.header.so_number }} </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Tanggal SO</dt>
                    <dd class="col-sm-8">{{ convertDate(dataDo.header.order_date) }}</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Distributor</dt>
                    <dd class="col-sm-8"> {{ dataDo.header.customer_id }} - {{ dataDo.header.customer_name }} </dd>
                </dl>
              </div>
              <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">Tujuan</dt>
                    <dd class="col-sm-8"> {{ dataDo.header.sales_group_id }} - {{ dataDo.header.sales_group_name }} </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Incoterm</dt>
                    <dd class="col-sm-8"> {{ dataDo.header.inconterm_name }} </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Periode Pelaporan</dt>
                    <dd class="col-sm-8"> {{ dataDo.header.periode }} </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Periode Penyaluran</dt>
                    <dd class="col-sm-8"> {{ dataDo.header.distribution_date }} </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <table id="tableHirarkiPenyaluranDo" class="table table-xs table-bordered display nowrap">
        <thead>
          <tr>
            <th class="fixed-zero-th-collapse"></th>
            <th class="fixed-zero-th" style="border-right: 1px solid black;">Nama</th>
            <th v-for="(header, i) in dataDo.data.header" style="text-align: center; border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;" colspan="7"> {{ header.name }} <span v-if="header.id === 'P51'">(LITER)</span> <span v-else>(TON)</span> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fixed-zero-td-collapse" rowspan="2" ></td>
            <td class="fixed-zero-td" rowspan="2" style="border-right: 1px solid black;"></td>
            <template v-for="(dataHeader, i) in dataDo.data.header" >
                <td class="fixed-header-total" style="padding: 0;" colspan="1"> <small> Total SO: {{ parseFloat(dataHeader.total_so).toFixed(3) }} </small> </td>
                <td class="fixed-header-total" style="padding: 0;" colspan="1"> <small> Total DO: {{ parseFloat(dataHeader.total_do).toFixed(3) }} </small> </td>
                <td class="fixed-header-total" style="padding: 0;" colspan="1"> <small> Penyaluran: {{ parseFloat(dataHeader.distribution).toFixed(3) }} </small> </td>
                <td class="fixed-header-total" style="padding: 0;" colspan="3"> <small> Draft Penyaluran: {{ parseFloat(dataHeader.draft_distribution).toFixed(3) }} </small> </td>
                <td class="fixed-header-total" style="padding: 0; border-right: 1px solid black;" colspan="1"> <small :style="(dataHeader.available.toFixed(3) < 0) && 'color: red'"> Tersedia: {{ dataHeader.available.toFixed(3) }} </small> </td>
            </template> 
          </tr>
          <tr>
            <template v-for="(index, i) in (dataDo.data.header.length)">
              <td class="font-nowrap fixed-header-qty"> <b> SO </b> </td>
              <td class="font-nowrap fixed-header-qty"> <b> RDKK </b> </td>
              <td class="font-nowrap fixed-header-qty"> <b> SK Dinas Kab </b> </td>
              <td class="font-nowrap fixed-header-qty"> <b> Sisa RDKK </b> </td>
              <td class="font-nowrap fixed-header-qty"> <b> Sisa SK Dinas Kab </b> </td>
              <td class="font-nowrap fixed-header-qty"> <b> Total Penyaluran </b> </td>
              <td class="font-nowrap fixed-header-qty" style="border-right: 1px solid black;"> <b> Penyaluran </b> </td>
            </template>
          </tr>
          <template v-for="(district, i) in dataDo.data.data">
            <district-row
            :status="dataDo.header.status"
            :district="district"
            @toggle-collapse-district="toggleCollapseDistrict"
            :header="dataDo.data.header"
            :icon="(collapse.district.includes(district.id)) ? true : false">
            </district-row>
            <template v-if="collapse.district.includes(district.id)" v-for="(retail, i) in district.data">
                <retail-row :retail="retail" :header="dataDo.header" :status="dataDo.header.status" @toggle-collapse-retail="toggleCollapseRetail" @when-change="whenChange"> </retail-row>
            </template>
          </template>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            <button type="button" @click="goBack()" class="btn btn-secondary btn-square"> Kembali </button>
          </div>
          <div v-if="access.C" class="form-actions pull-right">
            <button type="button" :disabled="loadingButton" v-if="dataDo.header.status != 's'" class="btn btn-success btn-square" @click="action('d', 'submit')">
              {{ loadingButton ? 'Mengirim..' : 'Simpan' }}
            </button>
            <button type="button" :disabled="loadingButton" v-if="dataDo.header.status != 's'" class="btn btn-primary btn-square" @click="action('s', 'submit')">
              {{ loadingButton ? 'Mengirim..' : 'Submit' }}
            </button>
            <button type="button" :disabled="loadingButton" v-if="dataDo.header.f5_status == 'd' && dataDo.header.status == 's'" class="btn btn-secondary btn-square" @click="action('d', 'unsubmit')">
              {{ loadingButton ? 'Mengirim..' : 'Unsubmit' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
import DistrictRow from './table/DistrictRow';
import RetailRow from './table/RetailRow';
export default {
  props: ['access'],
  data: function() {
    return {
      isRed: false,
      dataDo : {},
      loadingComponent: false,
      loadingButton: false,
      newDraft: true,
      tempData: [],
      tempDataTotal: [],
      collapse:{
        district : [],
        retail: []
      },
      save: []
    }
  },
  components: {
    FormLoader, DistrictRow, RetailRow
  },
  created() {
    this.getDataDetailDo()
  },
  mounted() {

  },
  methods: {

    goBack() {
      window.history.back();
    },
    getDataDetailDo() {
      this.loadingComponent = true;
      let uuid = this.$route.params.uuid;
      this.axios.get('supplydo/detail/'+uuid)
      .then((resp) => {
        this.dataDo = resp.data.data;
        let arr = [];
        let arr_item = [];
        let arr_total = [];
        if(resp.data.data.data.header.length > 0){
          resp.data.data.data.header.map(item => {
            const obj = {
              available: item.available,
              distribution: item.distribution,
              draft_distribution: item.draft_distribution,
              id: item.id,
              name: item.name,
              total_do: item.total_do,
              total_so: item.total_so,
              temp_available: item.available,
              temp_distribution: item.distribution,
              temp_draft_distribution: item.draft_distribution,
              temp_total_do: item.total_do,
              temp_total_so: item.total_so,
            }
            arr.push(obj);
          })
        }
        if(resp.data.data.data.data.length > 0){
          const getTotal = resp.data.data.data.data.map(item => {
            const obj_item = {
              data: item.data,
              id: item.id,
              name: item.name,
              total: item.total.map(total => {
                const obj = {
                  do: total.do,
                  do_lama: total.do_lama,
                  id: total.id,
                  perbup: total.perbup,
                  product_name: total.product_name,
                  rdkk: total.rdkk,
                  sisa_perbub: total.sisa_perbub,
                  sisa_rdkk: total.sisa_rdkk,
                  so: total.so,
                  temp_do: total.do,
                  temp_do_lama: total.do_lama,
                  temp_id: total.id,
                  temp_perbup: total.perbup,
                  temp_product_name: total.product_name,
                  temp_rdkk: total.rdkk,
                  temp_sisa_perbub: total.sisa_perbub,
                  temp_sisa_rdkk: total.sisa_rdkk,
                  temp_so: total.so,
                }
                return obj;
                // arr_total.push(obj);
              })
            }
            // arr_total.push(obj_item)
            return obj_item;
          })
          // arr_total.push(getTotal)
          this.tempDataTotal = {data: getTotal};
        }
        this.tempData = arr;
        this.loadingComponent = false;
        // this.setCollapseShow();
        // console.log(this.tempDataTotal);
        this.checkNewData()
      })
      .catch((resp) => {
        this.loadingComponent = false;
        toastr.error(resp.response.message);
        toastr.error(resp.response.error);
        this.$emit('go-back');
      })
    },

    setCollapseShow(){
      this.dataDo.data.data.map((district) => {
        this.collapse.district.push(district.id)
        district.data.map((retail) => {
          this.collapse.retail.push(retail.id)
        })
      })
    },

    toggleCollapseDistrict(id) {
      const index = this.collapse.district.indexOf(id);
      if (index > -1) {
      	this.collapse.district.splice(index, 1)
      } else {
      	this.collapse.district.push(id)
      }
    },

    toggleCollapseRetail(id) {
      const index = this.collapse.retail.indexOf(id);
      if (index > -1) {
      	this.collapse.retail.splice(index, 1)
      } else {
      	this.collapse.retail.push(id)
      }
    },

    whenChange(value, sales_unit_id, product_id) {
      value = (value === '' || value === null) ? 0 : value;
      var newValue = 0;
      var objLimit = {}
      // let getLimit = this.dataDo.header.products_limit.map((limit) => {
      //   objLimit[limit.product_id] = limit.qty
      //   return objLimit;
      // })
      // let limit_product = getLimit[0][product_id];
      let total_so = this.getRetail(value, sales_unit_id, product_id)
      // console.log(this.dataDo.data.data);
      
      let totalPenyaluran = 0;
      this.dataDo.data.data.map((district, key1) => {
        if(district.id === sales_unit_id) {
          district.total.map((totalDistrict, key2) => {
            if(totalDistrict.id === product_id){
              if(!isNaN(value)) {
                let totalDoDistrict = 0;
                const temp_do_lama = this.tempDataTotal.data[key1].total[key2].temp_do_lama;
                const temp_do = this.tempDataTotal.data[key1].total[key2].temp_do;
                district.data.map(retail => {
                  retail.data.map((total, key) => {
                    if(total.id === product_id) {
                      let limit_product = this.dataDo.header.products_limit[key].qty;
											const uom_limit = (this.dataDo.header.products_limit[key].product_id === 'P51') ? 'LITER' : 'TON';
											const prod_limit = (this.dataDo.header.products_limit[key].product_id === 'P51') ? parseInt(limit_product) : limit_product;
                      let tDO = parseFloat(total.do);
                      let tLM = parseFloat(limit_product);
                      let modulus_limit = (tDO * 1000) % (tLM * 1000);
                      if(tDO !== 0 && modulus_limit !== 0) {
                        toastr.warning(`Kuantiti harus kelipatan ${prod_limit} ${uom_limit}`);
                        total.do = 0;
                      } 
                      if(this.dataDo.header.config_lintas_alur === false){
                        if(parseFloat(total_so) < parseFloat(tDO)){
                          toastr.warning("Penyaluran Tidak Boleh Lintas Kecamatan");
                          total.do = 0;
                        }
                      } 
                      totalDoDistrict += (total.do === '' || total.do === null) ? 0 : parseFloat(total.do)
                      // totalPenyaluran += parseFloat(total.do) + parseFloat(total.do_lama);
                      // totalPenyaluran += parseFloat(total.do) + parseFloat(this.tempData[i].temp_distribution)
                    }
                  })
                })
                totalDistrict.do = totalDoDistrict
                totalDistrict.do_lama = (temp_do_lama - temp_do) + totalDoDistrict
              }
            }
          })
        }
      })

      this.dataDo.data.header.map((prod, keyProd) => {
        if(prod.id === product_id) {
          let totalDoProduct = 0
          this.dataDo.data.data.map(district => {
            district.total.map((totalDistrict, i) => {
              if(totalDistrict.id === product_id) {
                totalDoProduct += (totalDistrict.do === '' || totalDistrict.do === null || isNaN(totalDistrict.do)) ? 0 : parseFloat(totalDistrict.do)
              }
            })
          })
          
          if(!isNaN(totalDoProduct)) {
            if (this.newDraft === true) {
              if (parseFloat(totalDoProduct) === 0) {
                console.log("1")
                prod.available = this.tempData[keyProd].temp_available;
                // prod.available = (parseFloat(prod.total_do) - parseFloat(totalDoProduct)) + (parseFloat(prod.draft_distribution) + parseFloat(prod.distribution));
              } else {
                console.log("2")
                prod.available = prod.total_do - (totalDoProduct + prod.draft_distribution + prod.distribution)
              }
            } else {
              if (parseFloat(totalDoProduct) === 0) {
                console.log("3")
                // prod.available = parseFloat(prod.total_do) - (parseFloat(totalDoProduct) + parseFloat(prod.draft_distribution) + parseFloat(prod.distribution) + parseFloat(prod.draft_distribution));
                prod.available = prod.total_do - (totalDoProduct + prod.distribution);
              } else {
                console.log("4")
                prod.available = prod.total_do - (totalDoProduct + prod.distribution);
              }
            }
          } else {
            console.log("5")
            prod.available
          }
        }
      })
    },

    getRetail(value, sales_unit_id, product_id){
      var arr_total = [];
      var total_so = 0;
      this.dataDo.data.data.map((district) => {
        if(district.id === sales_unit_id) {
          district.total.map((totalDistrict) => {
            if(totalDistrict.id === product_id){
              if(!isNaN(value)) {
                let totalDoDistrict = 0;
                district.data.map(retail => {
                  var result = retail.data.map(obj => {
                    if(obj.id === product_id){
                      arr_total.push(obj.so)
                    }
                  })
                  total_so = arr_total.reduce(function(a, b){
                      return a + b;
                  }, 0);
                })
              }
            }
          })
        }
      })
      return total_so;
    },

    checkNewData(){
      let totalDoProduct = []
      this.dataDo.data.header.map((prod) => {
        this.dataDo.data.data.map(district => {
          district.total.map(totalDistrict => {
            totalDoProduct.push(totalDistrict.do);
          })
        })
      })
      let checking = totalDoProduct.reduce(function(acc, val) { return acc + val; }, 0);
      if (checking > 0) {
        this.newDraft = false;
      } else {
        this.newDraft = true;
      }
    },

    action(type, status) {
      let check = true;
      let check_lainya = true;
      let check_lintas = true;
      const status_penyaluran = this.dataDo.data.header.status;
      
      if(status === 'submit'){
        this.dataDo.data.header.map((prod) => {
          if(prod.available.toFixed(3) < 0) {
            check = false;
            return;
          }
        });
        this.dataDo.data.data.map(district => {
          district.total.map(total => {
            const getRdkk = (total.sisa_rdkk === 'undefined') ? 0 : total.sisa_rdkk;
            const sisaRdkk = getRdkk - total.do;
            const sisaPerbup = total.sisa_perbub - total.do;
            if(sisaRdkk < 0 || sisaPerbup < 0){
              check_lainya = false;
              return;
            }
          })
        });
        if(this.dataDo.header.config_lintas_alur !== true){
          this.dataDo.data.data.map(district => {
            district.total.map(total => {
              if(parseFloat(total.so.toFixed(3)) < parseFloat(total.do.toFixed(3)) || parseFloat(total.do_lama.toFixed(3)) > parseFloat(total.so.toFixed(3))){
                check_lintas = false;
                return;
              }
            })
          });
        } 
      } 

      if(check_lintas){
        if(check && check_lainya) {
          this.save = []
          this.loadingButton = true;
          this.dataDo.data.data.map(district => {
            district.data.map(retail => {
              retail.data.map(product => {
                product.status = type;
                product.qty = product.do;
                product.product_id = product.id;
                delete product.product_name;
                delete product.rddk;
                delete product.perbup;
                delete product.sisa_rdkk;
                delete product.sisa_perbub;
                delete product.do;
                delete product.id;
                delete product.sales_unit_id;
                delete product.so; //who is change ?
                this.save.push(product);
              })
            })
          });
          this.axios.post('supplydo/detail', this.save)
          .then((resp) => {
            toastr.success(resp.data.message);
            this.getDataDetailDo();
            this.loadingButton = false;
          })
          .catch((resp) => {
            if(resp.response.status === 400) {
              // console.log(resp.response.data.message);
              for (var key in resp.response.data.message) {
                toastr.error(resp.response.data.message[key][0]);
              }
            } else {
              toastr.error(resp.response.data.message ,resp.response.data.exception);
            }
            this.loadingButton = false;
          })
        } else {
          toastr.warning("Masih ada data minus, sesuaikan kembali");
        }
      } else {
        toastr.warning("Penyaluran Tidak Boleh Lintas Kecamatan");
      }

    }

  }
}
</script>

<style lang="css" scoped>
  .badge-primary {
      background-color: #1980F0 !important;
  }
  .box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex: 1 1 auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: #2983e7;
  }

  ol, ul, dl {
    margin-bottom: 0px !important;
  }
  .font-nowrap{
    white-space: nowrap;
    font-size: 10px;
    padding-top: 35px;
    padding-bottom: unset;
    /* margin-bottom: 10px; */
    padding-right: 5px;
    padding-left: 5px;
  }
  .fixed-zero-td {
    position: sticky;
    top: 28px;
    left: 63px;
    background-color: #f3f3f3;
    z-index: 5;
  }
  .fixed-zero-td-collapse {
    position: sticky;
    top: 28px;
    left: -1px;
    background-color: #f3f3f3;
    z-index: 5;
  }
  .fixed-zero-th-collapse {
    position: sticky;
    top: 0px;
    left: -1px;
    background-color: #f3f3f3;
    z-index: 5;
  }
  .fixed-zero-th {
    position: sticky;
    top: 0;
    left: 63px;
    background-color: #f3f3f3;
    z-index: 5;
  }
  .fixed-one {
    position: sticky;
    position: -webkit-sticky;
    left: -1px;
    z-index: 4;
    padding: 5px;
    background-color: #f3f3f3;
  }
  .fixed-two {
    position: sticky;
    position: -webkit-sticky;
    left: 63px;
    z-index: 4;
    padding: 5px;
    background-color: #f3f3f3;
  }
  .fixed-header-total {
    position: sticky;
    top: 28px;
    background-color: white;
    z-index: 2;
    text-align: center; 
  }
  .fixed-header-qty {
    position: sticky;
    top: 47px;
    background-color: white;
    z-index: 2;
  }
  #tableHirarkiPenyaluranDo th {
    position: sticky;
    top: 0;
    background-color: #f3f3f3;
    /* z-index: 2; */
  }
  #tableHirarkiPenyaluranDo {
    display: block;
    width: 100%;
    overflow-x: auto;
    height: 55vh;
  }
  .border-right {
    /* border-right: 1px solid #e3ebf3; */
    font-size: 10px;
    font-weight: bold;
    text-align: left;
  }
</style>
