<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">{{ $ml.get("menuMasterPage.cardtTitle") }}</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{ $ml.get("menuMasterPage.breadcrumbFirst") }}</a>
              </li>
              <li class="breadcrumb-item active">{{ $ml.get("menuMasterPage.breadcrumbSec") }}
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div id="kick-start" class="card">

              <div class="card-content collapse show">
                <div class="card-body">
                  <span v-if="access.C === true" class="float-right">
                    <router-link :to="{ name: 'menu_form' }" class="btn btn-primary">
                      <i class="fa fa-plus"></i> {{ $ml.get("menuMasterPage.labelAdd") }} &nbsp;
                    </router-link>
                  </span>
                  <div class="table-responsive">
                    <table class="table table-xs table-bordered table-striped display nowrap" id="menuTable">
                      <thead>
                        <menu-filter
                        :reset="resetStatus"
                        @search-table="searchTable"
                        :enname="fEnName"
                        :idname="fIdName"
                        :url="fUrl"
                        :orderno="fOrderNo"
                        :icon="fIcon"
                        :parenten="fParentNameEn"
                        :parentid="fParentNameId"
                        ></menu-filter>
                        <tr>
                          <th>{{$ml.get("menuMasterPage.table.one")}}</th>
                          <th>{{$ml.get("menuMasterPage.table.two")}}</th>
                          <th>{{$ml.get("menuMasterPage.table.three")}}</th>
                          <th>{{$ml.get("menuMasterPage.table.four")}}</th>
                          <th>{{$ml.get("menuMasterPage.table.six")}}</th>
                          <th>{{$ml.get("menuMasterPage.table.seven")}}</th>
                          <th>#</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
  import MenuFilter from './MenuFilter';
  export default {
    data: function(){
      return {
        resetStatus: false,
        dt: '',
        fEnName: '',
        fIdName: '',
        fUrl: '',
        fOrderNo: '',
        fIcon: '',
        fParentNameEn: '',
        fParentNameId: '',
        access: {}
      }
    },
    components:{
      MenuFilter
    },
    created() {
      const encodeAccess = decodeURIComponent(this.$route.params.access);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const arrAccess = decodeAccess.split(",");
      if(arrAccess) {
        arrAccess.map((data) => {
          if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.access[data] = true
          } else {
            this.$router.push({path: '/home'});
            toastr.error('Permission can not open this page', 'Error');
          }
        })
      } else {
        this.$router.push({path: '/home'});
        toastr.error('Permission can not open this page', 'Error');
      }
    },
    mounted() {
      var app = this;
      $(document).ready(function() {
        app.dt = $("#menuTable").DataTable({
          processing: true,
          serverSide: true,
          searching: false,
          "scrollX": "99.99%",
          ajax: {
            'url': 'api/menu',
            'type': 'GET',
            'data': function(d){
              d.name_ID = app.fIdName
              d.name_EN = app.fEnName
              d.url = app.fUrl
              d.order_no = app.fOrderNo
              d.parent_name_EN = app.fParentNameEn
              d.parent_name_ID = app.fParentNameId
             },
             'beforeSend': function (request) {
                 var token = localStorage.getItem("default_auth_token");
                 request.setRequestHeader("Authorization", "Bearer "+token);
                 request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
             },
          },
          columns: [
              {data: 'name_EN', name: 'name_EN'},
              {data: 'name_ID', name: 'name_ID'},
              {data: 'url', name: 'url'},
              {data: 'order_no', name: 'order_no'},
              {data: 'parent_name_EN', name: 'parent_name_EN'},
              {data: 'parent_name_ID', name: 'parent_name_ID'},
              {
                data: 'id',
                render : function(data, type, full){
                  const buttonEdit = (app.access.U === true) ? '<button class="btn btn-icon btn-primary btn-sm" id="editMenu" data-id="'+data+'"> <i class="fa fa-pencil"></i></button>' : '';
                  const buttonDelete = (app.access.D === true) ? '<button class="btn btn-icon btn-danger btn-sm" id="deleteMenu" data-id="'+data+'"> <i class="fa fa-trash"></i></button>' : '' ;
                  return '<div class="btn-group" role="group" aria-label="Basic example">'+buttonEdit+buttonDelete+'</div>';
                }
              }
          ]
        })
        $("div.dataTables_length").append(' <button id="resetFilterMenu" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

      });
      $(document).on("click", "#resetFilterMenu", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterMenu').prop('disabled', true);
  
        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterMenu').prop('disabled', false);
        }, 1000)
      })
      $(document).on("click", "#editMenu", function(){
        var id = $(this).data("id");
        app.$router.push({ name: 'menu_form_edit', params: { id: id } })
      });
      $(document).on("click", "#deleteMenu", function(e){
        var id = $(this).data("id");
        var r = confirm("are you sure ?");
        if(r){
          app.axios.delete("menu/"+id)
          .then((resp) => {app.$router.go(0)})
          .catch((err) => {alert("Error execution")});
        } else { return }
      })
    },
    methods: {
      searchTable(obj) {
        this.fEnName = obj.name_EN
        this.fIdName = obj.name_ID
        this.fUrl = obj.url
        this.fOrderNo = obj.order_no
        this.fParentNameEn = obj.parenten
        this.fParentNameId = obj.parentid
        this.dt.draw();
      }
    }
  }
</script>

<style lang="css">
</style>
