<template lang="html">

    <div class="modal fade" id="ListDataSalesArea" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">List Data Sales Area</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <table class="table table-xs table-bordered table-striped display nowrap" id="tableListDataSalesArea">
              <thead>
                <tr>
                  <th>Kode Sales ORG</th>
                  <th>Nama Sales ORG</th>
                  <th>Kode Distribution Channel</th>
                  <th>Distribution Channel</th>
                  <th>Kode Sales Division</th>
                  <th>Sales Division</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>

</template>

<script>
export default {
  props: [],
  data: function() {
    return {
      dt: null
    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    let app = this;
    $("#ListDataSalesArea").modal("show")
    $("#ListDataSalesArea").on("hidden.bs.modal", function(){
      app.closeModal();
    })
    app.tableListDataSalesArea();
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal-list");
    },

    tableListDataSalesArea() {
      let app = this;
      app.dt = $("#tableListDataSalesArea").DataTable({
        processing: true,
        serverSide: true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax: {
          'url': 'api/syncronize/sales_area',
          'type': 'GET',
          'data': function(d){},
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'sales_org_id', name: 'sales_org_id'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'distrib_channel_id', name: 'distrib_channel_id'},
          {data: 'distrib_channel_name', name: 'distrib_channel_name'},
          {data: 'sales_division_id ', name: 'sales_division_id '},
          {data: 'sales_division_name', name: 'sales_division_name'},
        ]
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
