<template lang="html">

    <div class="modal fade" id="ListDataMaterialProduct" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">List Data Material</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <table class="table table-xs table-bordered table-striped display nowrap" id="tableListDataMaterialProduct">
              <thead>
                <tr>
                  <th>Kode Sales ORG</th>
                  <th>Sales ORG</th>
                  <th>Kode Plant</th>
                  <th>Plant</th>
                  <th>Produk</th>
                  <th>No. Material</th>
                  <th>UOM</th>
                  <th>Material Deskripsi</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>

</template>

<script>
export default {
  props: [],
  data: function() {
    return {
      dt: null
    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    let app = this;
    $("#ListDataMaterialProduct").modal("show")
    $("#ListDataMaterialProduct").on("hidden.bs.modal", function(){
      app.closeModal();
    })
    app.tableListDataMaterialProduct();
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal-list");
    },

    tableListDataMaterialProduct() {
      let app = this;
      app.dt = $("#tableListDataMaterialProduct").DataTable({
        processing: true,
        serverSide: true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax: {
          'url': 'api/syncronize/material_list',
          'type': 'GET',
          'data': function(d){},
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'sales_org_id', name: 'sales_org_id'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'code', name: 'code'},
          {data: 'plant_name', name: 'plant_name'},
          {data: 'product_name', name: 'product_name'},
          {data: 'material_no', name: 'material_no'},
          {data: 'unit', name: 'unit'},
          {data: 'mat_desc', name: 'mat_desc'}
        ]
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
