<template lang="html">

    <div class="modal fade" id="ListDataCustomer" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">List Data Customer</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-xs table-bordered table-striped display nowrap" id="tableListDataCustomer">
                <thead>
                  <tr>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th>Pemilik</th>
                    <th>Status</th>
                    <th>Alamat</th>
                    <th>Provinsi</th>
                    <th>Kabupaten</th>
                    <th>Kecamatan</th>
                    <th>No. Telp Kantor</th>
                    <th>No. Fax Kantor</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>

</template>

<script>
export default {
  props: [],
  data: function() {
    return {
      dt: null
    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    let app = this;
    $("#ListDataCustomer").modal("show")
    $("#ListDataCustomer").on("hidden.bs.modal", function(){
      app.closeModal();
    })
    app.tableListDataCustomer();
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal-list");
    },

    tableListDataCustomer() {
      let app = this;
      app.dt = $("#tableListDataCustomer").DataTable({
        processing: true,
        serverSide: true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax: {
          'url': 'api/syncronize/customer',
          'type': 'GET',
          'data': function(d){},
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'id', name: 'id'},
          {data: 'full_name', name: 'full_name'},
          {data: 'owner', name: 'owner'},
          {data: 'status_name', name: 'status_name'},
          {data: 'address', name: 'address'},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'sales_unit_name', name: 'sales_unit_name'},
          {data: 'tlp_no', name: 'tlp_no'},
          {data: 'fax_no', name: 'fax_no'}
        ]
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
