<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <template v-if="parseInt(role) === 4">
          <object style="width:100%; height:800px;" data="/UserManual-WCM-Distributor.pdf" type="application/pdf">
              <iframe style="width:100%; height:800px;" src="/UserManual-WCM-Distributor.pdf"></iframe>
          </object>
        </template>
        <template v-else>
          <object style="width:100%; height:800px;" data="/UserManual-WCM.pdf" type="application/pdf">
              <iframe style="width:100%; height:800px;" src="/UserManual-WCM.pdf"></iframe>
          </object>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [],
  data: function() {
    return {
      role: null,
    }
  },
  components: {

  },
  created() {
    this.getAccessControl();
  },
  mounted() {

  },
  methods: {
    getAccessControl(){
      const getLocalSearch = localStorage.getItem('access-control');
      const encodeAccess = decodeURIComponent(getLocalSearch);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const accessControl = decodeAccess.split(";")[0];
      this.role = accessControl;
    },
  }


}
</script>

<style lang="css" scoped>
</style>
