<template>
    <div class="modal fade" id="formPeriode" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Form Periode Tanam</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <form-loader :view="loading.content"></form-loader>
                    <div v-if="!loading.content" class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-md-3 label-control" >Kode </label>
                                <div class="col-md-9 " >
                                    <input type="text" class="form-control" v-model="form.code" :disabled="uuid !== null ? true : false">
                                    <p v-if="error && errors.code" class="text-danger">{{ errors.code[0] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" >Deskripsi </label>
                                <div class="col-md-9 " >
                                    <input type="text" class="form-control" v-model="form.desc">
                                    <p v-if="error && errors.desc" class="text-danger">{{ errors.desc[0] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" >Form Date </label>
                                <div class="col-md-9 " >
                                    <input type="date" class="form-control" v-model="form.from_date">
                                    <p v-if="error && errors.from_date" class="text-danger">{{ errors.from_date[0] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" >Thrue Date </label>
                                <div class="col-md-9 " >
                                    <input type="date" class="form-control" v-model="form.thru_date">
                                    <p v-if="error && errors.thru_date" class="text-danger">{{ errors.thru_date[0] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
                    <button type="button" @click="simpan" class="btn btn-primary square" :disabled="loading.button">
                        <i v-if="loading.button" class="fa fa-spin fa-refresh"></i>
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>    
</template>

<script>
import FormLoader from '../../../main/FormLoader';
export default {
    props: ['uuid'],
    data: function() {
        return {
            error: false,
            errors: true,
            loading: {
                content: false,
                button: false
            },
            form: {
                code: null,
                desc: null,
                from_date: null,
                thru_date: null
            }
        }
    },
    components: {
        FormLoader  
    },
    created() {
        
    },
    mounted() {
        const app = this;
        $("#formPeriode").modal("show")
        $("#formPeriode").on("hidden.bs.modal", function(){
            app.closeModal()
        })
        if(app.uuid !== null) {
            app.getDataEdit()
        }
    },
    methods: {
        getDataEdit() {
            this.loading.content = true
            this.axios.get('plantingperiode/'+this.uuid)
            .then(resp => {
                let {data} = resp.data
                this.form = {
                    code: data.code,
                    desc: data.desc,
                    from_date: data.from_date,
                    thru_date: data.thru_date
                }
                this.loading.content = false
            })
            .catch(resp => {
                toastr.error(resp.response.data.message)
                $("#formPeriode").modal("hide")
                this.loading.content = false
            })
        },
        simpan() {
            if(this.uuid !== null) {
                this.update()
            } else {
                this.insert()
            }
        },
        insert() {
            this.loading.button = true
            let {form} = this
            this.axios.post('plantingperiode', form)
            .then(resp => {
                $("#formPeriode").modal("hide")
                toastr.success(resp.data.message)
                this.loading.button = false
            })
            .catch(resp => {
                this.error = true
                this.errors = resp.response.data.message
                toastr.error(resp.response.data.messag)
                this.loading.button = false
            })
        },
        update () {
            this.loading.button = true
            let {form} = this
            this.axios.put('plantingperiode/'+this.uuid, form)
            .then(resp => {
                $("#formPeriode").modal("hide")
                toastr.success(resp.data.message)
                this.loading.button = false
            })
            .catch(resp => {
                this.error = true
                this.errors = resp.response.data.message
                toastr.error(resp.response.data.messag)
                this.loading.button = false
            })
        },
        closeModal() {
            this.$emit('trigger-modal')
        }
    }
}
</script>

<style>

</style>
