<template lang="html">
  <div>
    <form-loader :view="loadingComponent"></form-loader>
    <div v-if="!loadingComponent">
      <div class="row">
        <div class="col-md-12">
          <center><u><h4>SURAT JALAN</h4></u></center>
          <center><h4>No. xxx (Running Number)</h4></center>
          <center><h4>Tanggal xxx</h4></center>
        </div>
				<div class="col-md-8 mb-2">
					<div class="container">
						<div class="row">
							<div class="col">Nama Distributor</div>
							<div class="col">: CV Opang Jaya</div>
							<div class="w-100"></div>
							<div class="col">Kabupaten</div>
							<div class="col">: Kota Bogor</div>
						</div>
					<p class="mt-2">Bersama surat ini kami mengirimkan barang kepada pengecer sebagai berikut :</p>
					</div>
				</div>
				<div class="col-md-12 mb-2">
					<table-detail 
					:loadingButton="loadingButton"
					:dataSJ="surat_jalan"
					@delete-item="deleteItemSJ">
					</table-detail>
					<p class="mt-2">Demikian surat jalan kami diperbuat dengan sebenarnya dan diberikan kepada pengecer bersangkuran untuk dapat dipergunakan sebagaimana mestinya.</p>
					<div class="pull-right">
						<center><h6>Kota Bogor, xxx 2021</h6></center>
						<center class="mb-3"><h6>Distributor</h6></center>
						<center><h6>CV Opang Jaya</h6></center>
          </div>
				</div>
      </div>

			
      
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            <button type="button" @click="goBack()" :disabled="loadingButton" class="btn btn-secondary btn-square"> Kembali </button>
          </div>
          <div v-if="access.C" class="form-actions pull-right">
            <button type="button" :disabled="loadingButton" class="btn btn-danger btn-square mr-1" @click="action()">
              {{ loadingButton ? 'Loading..' : 'Hapus' }}
            </button>
            <button type="button" :disabled="loadingButton" class="btn btn-primary btn-square" @click="create()">
              {{ loadingButton ? 'Loading..' : 'Entry Baru' }}
            </button>
          </div>
        </div>
      </div>
    </div>
	<surat-jalan-modal-form v-if="modalForm" :uuid="uuid" @trigger-modal="triggerModal"></surat-jalan-modal-form>
  </div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
import TableDetail from './table/DetailSuratJalanTable';
import SuratJalanModalForm from '../modal/Form';
export default {
  props: ['access'],
  data: function() {
    return {
			uuid: this.$route.params.uuid,
			loadingComponent: false,
			loadingButton: false,
			modalForm: false,
			surat_jalan: []
    }
  },
  components: {
    FormLoader, TableDetail, SuratJalanModalForm
  },
  created() {
    this.getDetailSuratJalan()
  },
  mounted() {

  },
  methods: {

    goBack() {
      window.history.back();
    },
		
    getDetailSuratJalan() {
      this.loadingComponent = true;
      this.loadingButton = true;
      let uuid = this.$route.params.uuid;
      this.axios.get(`certificate_release/${uuid}`)
      .then((resp) => {
				this.surat_jalan = resp.data.data
				this.loadingComponent = false;
				this.loadingButton = false;
      })
      .catch((resp) => {
				this.loadingComponent = false;
				this.loadingButton = false;
        toastr.error(resp.response.message);
        toastr.error(resp.response.error);
        this.$emit('go-back');
      })
    },

		create(){
			this.modalForm = true;
		},

		triggerModal(params = false) {
      if(params === 'RefreshTable'){
        this.getDetailSuratJalan()
      }
      this.modalForm = false;
    },

		delete(sendData){
			this.loadingButton = true;
			this.axios.delete(`certificate_release/item/${this.uuid}`, { data: sendData })
      .then((resp) => {
        this.loadingButton = false;
        toastr.success(resp.data.message);
				this.getDetailSuratJalan()
      })
      .catch((resp) => {
        this.error = true;
        if(typeof resp.response.data.message === 'object') {
          this.errors = resp.response.data.message;
        } else {
          toastr.error(resp.response.data.message)
        }
        this.loadingButton = false;
      })
		},

		deleteItemSJ(id){
			const arr = [];
			arr.push(id)
			this.loadingButton = true;
			this.axios.delete(`certificate_release/item/${this.uuid}`, { data: { data: id } })
      .then((resp) => {
        this.loadingButton = false;
        toastr.success(resp.data.message);
				this.getDetailSuratJalan()
      })
      .catch((resp) => {
        this.error = true;
        if(typeof resp.response.data.message === 'object') {
          this.errors = resp.response.data.message;
        } else {
          toastr.error(resp.response.data.message)
        }
        this.loadingButton = false;
      })
		},

		action(){
			const sendData = {
				data: []
			}
			$('#form-check-input-detail:checked').map(function() { sendData.data.push(this.value); })
			if (confirm('Anda yakin menghapus item terpilih?')) {
				if(sendData.data.length > 0){
					this.delete(sendData);
				} else {
					toastr.error('Item terpilih tidak boleh kosong!', 'error');
				}
			}
		},
	
	}
}
</script>

<style lang="css" scoped>
</style>
