<template>
  <div class="modal fade" id="showConfirm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="">Konfirmasi</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          {{ text }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
          <button type="button" @click="deleteData" class="btn btn-primary">Ya</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['uuid', 'text'],
  data: function() {
    return {

    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    var app = this;
    $("#showConfirm").modal("show");
    $("#showConfirm").on("hidden.bs.modal", function(){
      app.closeModal();
    })
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal");
    },
    deleteData() {
      // console.log(this.uuid);
      
      this.$emit("is-delete", this.uuid);
      $("#showConfirm").modal("hide");
    }
  }
}
</script>

<style lang="css" scoped>
</style>
