<template>
  <div class="modal fade" id="noPkp" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nomor PKP</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <form-loader :view="loadingComponent"></form-loader>
          <div v-if="!loadingComponent" class="row">
            <div class="col-md-12">
              <table class="table table-xs table-bordered display nowrap">
                <thead>
                  <tr>
                    <th>Penyaluran</th>
                    <th>Tanggal Penyaluran</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(pkp, i) in dataPkp">
                    <td>
                      <router-link v-if="pkp.distrib_resportable_type === 'order'" target="_blank" :to="{path: '/'+access+'/laporan/penyaluran-do/detail/'+pkp.uuid}" >{{ pkp.number }}</router-link>
                      <router-link v-else-if="pkp.distrib_resportable_type === 'InitialStockF5'" target="_blank" :to="{path: '/'+access+'/laporan/initial-stok-f5/detail/'+pkp.uuid}" >{{ pkp.number }}</router-link>
                    </td>
                    <td>{{ pkp.distribution_date }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormLoader from '../../../../main/FormLoader';
export default {
  props: ['uuid'],
  data: function() {
    return {
      loadingComponent: false,
      dataPkp: [],
      access: encodeURIComponent(this.$route.params.access)
    }
  },
  components: {
    FormLoader
  },
  created() {
    this.getData();
  },
  mounted() {
    var app = this;
    $("#noPkp").modal("show");
    $("#noPkp").on("hidden.bs.modal", function(){
      app.closeModal();
    })
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal");
    },
    getData() {
      this.loadingComponent = true;
      this.axios.get('detailreportf5/pkpnumber/'+this.uuid)
      .then((resp) => {
        this.dataPkp = resp.data.data;
        this.loadingComponent = false;
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message);
        toastr.error(resp.response.data.error);
        this.loadingComponent = false;
      })
    }
  }

}
</script>

<style lang="css" scoped>
</style>
