<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    <a :href="linkApproval" v-if="access.A && parseInt(role) !== 4" type="button" @click="approval()" class="btn btn-primary square">Approval</a>
                    <button v-if="access.C === true" type="button" class="btn btn-primary square" v-on:click="uploadFile"> <i class="fa fa-upload"></i>
                        Upload Data
                    </button>
                    <button v-if="access.C === true" id="toDetail" data-id="null" type="button" class="btn btn-primary square" > <i class="fa fa-plus"></i>
                        {{ $ml.get("global.form.labelAdd") }}
                    </button>
                    <a href="template-excel/rdkk/New_Template_RDKK.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
                    <button  type="button" class="btn btn-primary square"  @click="download" :disabled="loadBtnDownload"> <i class="fa fa-download"></i>
                        {{ $ml.get("petaniMasterPage.download") }}
                    </button>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table id="rdkkTable" class="table table-xs table-bordered table-striped display nowrap">
                    <thead>
                      <rdkk-filter :reset="resetStatus" @search-table="searchTable"> </rdkk-filter>
                      <tr>
                        <th rowspan="2">
                          <fieldset>
                            <fieldset>
                              <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input check_all" value="all">
                                <span class="custom-control-indicator"></span>
                              </label>
                            </fieldset>
                          </fieldset>
                        </th>
                        <th rowspan="2">No RDKK</th>
                        <th rowspan="2">Kode Distributor</th>
                        <th rowspan="2">Nama Distributor</th>
                        <th rowspan="2">Kode Pengecer</th>
                        <th rowspan="2">Nama Pengecer</th>
                        <th rowspan="2">Status</th>
                        <th rowspan="2">Provinsi</th>
                        <th rowspan="2">Kabupaten</th>
                        <th rowspan="2">Kecamatan</th>
                        <th rowspan="2">Luas Lahan</th>
                        <th rowspan="2">Index Pertanaman</th>
                        <th rowspan="2">Luas Tanam</th>
                        <th rowspan="2">Periode Tanam</th>
                        <th class="text-center thcolorblue" colspan="2">UREA</th>
                        <th class="text-center thcolorblue" colspan="2">NPK</th>
                        <th class="text-center thcolorblue" colspan="2">Organik</th>
                        <th class="text-center thcolorblue" colspan="2">ZA</th>
                        <th class="text-center thcolorblue" colspan="2">SP-36</th>
                        <th class="text-center thcolorblue" colspan="2">ORGANIK CAIR</th>
                        <th class="text-center thcolorblue" colspan="2">NPK KAKAO</th>
                        <th rowspan="2">Refrensi RDKK</th>
                      </tr>
                      <tr>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center">Persetujuan (Kg)</th>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center">Persetujuan (Kg)</th>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center">Persetujuan (Kg)</th>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center">Persetujuan (Kg)</th>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center">Persetujuan (Kg)</th>
                        <th class="text-center">Pengajuan (Ltr)</th>
                        <th class="text-center">Persetujuan (Ltr)</th>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center">Persetujuan (Kg)</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mr-1 mb-1 pull-left">
										<b>Legend : &nbsp; </b> 
										<div class="badge badge-success round"> &nbsp;&nbsp; </div> Approved &nbsp;
										<div class="badge round" style="background-color:#ff8717;"> &nbsp;&nbsp; </div> Submitted &nbsp;
                    <div class="badge badge-danger round"> &nbsp;&nbsp; </div> Not Approved &nbsp;
										<div class="badge round" style="background-color:black;"> &nbsp;&nbsp; </div> Draft &nbsp;
                	</div>
                </div>
                <div class="col-md-6 scroll-top" v-if="access.A === true">
                  <div class="btn-group mr-1 mb-1 pull-right">
                    <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                      Aksi
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div>
                      <div class="dropdown-menu">
                        <a v-if="role != 4" class="dropdown-item" @click="action('y')" href="#">Actived</a>
                        <a v-if="role != 4" class="dropdown-item" @click="action('n')" href="#">Inactived</a>
                        <a class="dropdown-item" @click="action('s')" href="#">Submited</a>
                        <a class="dropdown-item" @click="action('d')" href="#">Unsubmited</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <rdkk-upload v-if="modalUpload" @trigger-modal="triggerModal"></rdkk-upload>
    </section>
  </div>
</template>


<script>
import RdkkFilter from './RdkkFilter';
import RdkkUpload from './RdkkUpload';
export default {
  props: ['access'],
  data: function(){
    return {
      dt: '',
      dataid: null,
      resetStatus: false,
      loading:{
        changeStatus: false
      },
      linkApproval: '#',
      check: [],
      rdkkdt: {},
      checkRefrence: [],
      modalUpload: false,
      loadBtnDownload:false,
      role: null,
    }
  },
  components: {
    RdkkFilter,
    RdkkUpload
  },
  created() {
    this.getAccessControl();
  },
  mounted(){
    var app = this;
    app.toApproval();
    app.getAccessControl();
    // var idx = (app.$route.params.id != undefined) ? '/cust_id/'+app.$route.params.id : '';
    $(document).ready(function() {
      app.dt = $('#rdkkTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY:"50vh",
        scrollCollapse:true,
        order: [[ 1, "desc" ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadTableExcel',
            text: "Download Pengecer ke Excel"
          }
        ],
        ajax:{
          'url': 'api/rdkk',
          'type': 'GET',
          'data': function(d){
            d.number = app.rdkkdt.number,
            d.customer_name = app.rdkkdt.customer_name,
            d.customer_id = app.rdkkdt.customer_id,
            d.sales_org_name = app.rdkkdt.sales_org_name,
            d.farmer_group_name = app.rdkkdt.farmer_group_name,
            d.retail_code = app.rdkkdt.retail_code,
            d.retail_name = app.rdkkdt.retail_name,
            d.reference_rdkk = app.rdkkdt.reference_rdkk,
            d.sales_office_name = app.rdkkdt.sales_office_name,
            d.sales_office_id = app.rdkkdt.sales_office_id,
            d.sales_group_name = app.rdkkdt.sales_group_name,
            d.sales_group_id = app.rdkkdt.sales_group_id,
            d.sales_unit_name = app.rdkkdt.sales_unit_name,
            d.land_area = app.rdkkdt.land_area,
            d.indeks_pertanaman = app.rdkkdt.indeks_pertanaman,
            d.planting_area = app.rdkkdt.planting_area,
            d.farmer_period_name = app.rdkkdt.farmer_period_name,
            d.status = app.rdkkdt.status,
            d.status_name = app.rdkkdt.status_name,
            d.P01 = app.rdkkdt.P01,
            d.P02 = app.rdkkdt.P02,
            d.P03 = app.rdkkdt.P03,
            d.P04 = app.rdkkdt.P04,
            d.P05 = app.rdkkdt.P05,
            d.reference_rdkk = app.rdkkdt.reference_rdkk,
            d.created_at = app.rdkkdt.created_at,
            d.updated_at = app.rdkkdt.updated_at
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columnDefs: [
           { "orderable": false, "targets": 0 },
           { "orderable": false, "targets": 14 },
           { "orderable": false, "targets": 15 },
           { "orderable": false, "targets": 16 },
           { "orderable": false, "targets": 17 },
           { "orderable": false, "targets": 18 },
           { "orderable": false, "targets": 19 },
           { "orderable": false, "targets": 20 },
           { "orderable": false, "targets": 21 },
           { "orderable": false, "targets": 22 },
           { "orderable": false, "targets": 23 },
        ],
        columns: [
            {
              data: 'uuid',
              render:function(data,t,f) {
                const check = '<fieldset>'+
                                '<label class="custom-control custom-checkbox">'+
                                  '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                  '<span class="custom-control-indicator"></span>'+
                                '</label>'+
                              '</fieldset>';
                return check;
              }
            },
            {
              data: 'number', name:'number',
              render : function(data, type, full, meta){
                var obj = {};
                if(app.checkRefrence.indexOf(data) === -1) {
                  obj["uuid"] = full.uuid;
                  obj["number"] = data;
                  app.checkRefrence.push(obj);
                }
                return '<a href="#" id="toDetail" data-id="'+full.uuid+'" >'+data+'</a>';
              }
            },
            {data: 'customer_id', name: 'customer_id'},
            {data: 'customer_name', name: 'customer_name'},
            {data: 'retail_code', name: 'retail_code'},
            {data: 'retail_name', name: 'retail_name'},
            {data: 'status_name', name: 'status_name'},
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'sales_unit_name', name: 'sales_unit_name'},
            { data: 'land_area', name:'land_area', render : function(data, type, full)
              { return parseFloat(data).toFixed(2); }
            },
            { data: 'indeks_pertanaman', name:'indeks_pertanaman', render : function(data, type, full)
              { return parseFloat(data).toFixed(2); }
            },
            { data: 'planting_area', name:'planting_area', render : function(data, type, full)
              { return parseFloat(data).toFixed(2); }
            },
            {data: 'farmer_period_name', name: 'farmer_period_name'},
            { data: 'P01', render : function(data, type, full){ 
              if(full.P01_status === 'y') {
                return '<span class="status-header-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P01_status == 's'){
                return '<span class="status-header-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P01_status =='d'){
                return '<span class="status-header-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-header-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }
            }},
            { data: 'P01_approved_qty', render : function(data, type, full){ return app.numberEngine(parseFloat(data)); } },
            {data: 'P02', render : function(data, type, full){ 
              if(full.P02_status === 'y') {
                return '<span class="status-header-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P02_status == 's'){
                return '<span class="status-header-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P02_status =='d'){
                return '<span class="status-header-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-header-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              } 
            }},
            { data: 'P02_approved_qty', render : function(data, type, full){ return app.numberEngine(parseFloat(data)); } },
            {data: 'P03', render : function(data, type, full){ 
              if(full.P03_status === 'y') {
                return '<span class="status-header-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P03_status == 's'){
                return '<span class="status-header-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P03_status =='d'){
                return '<span class="status-header-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-header-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              } 
            }},
            { data: 'P03_approved_qty', render : function(data, type, full){ return app.numberEngine(parseFloat(data)); } },
            {data: 'P04', render : function(data, type, full){ 
              if(full.P04_status === 'y') {
                return '<span class="status-header-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P04_status == 's'){
                return '<span class="status-header-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P04_status =='d'){
                return '<span class="status-header-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-header-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              } 
            }},
            { data: 'P04_approved_qty', render : function(data, type, full){ return app.numberEngine(parseFloat(data)); } },
            {data: 'P05', render : function(data, type, full){ 
              if(full.P05_status === 'y') {
                return '<span class="status-header-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P05_status == 's'){
                return '<span class="status-header-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P05_status =='d'){
                return '<span class="status-header-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-header-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              } 
            }},
            { data: 'P05_approved_qty', render : function(data, type, full){ return app.numberEngine(parseFloat(data)); } },
            {data: 'P51', render : function(data, type, full){ 
              if(full.P51_status === 'y') {
                return '<span class="status-header-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P51_status == 's'){
                return '<span class="status-header-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P51_status =='d'){
                return '<span class="status-header-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-header-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              } 
            }},
            { data: 'P51_approved_qty', render : function(data, type, full){ return app.numberEngine(parseFloat(data)); } },
            {data: 'P54', render : function(data, type, full){ 
              if(full.P54_status === 'y') {
                return '<span class="status-header-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P54_status == 's'){
                return '<span class="status-header-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P54_status =='d'){
                return '<span class="status-header-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-header-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              } 
            }},
            { data: 'P54_approved_qty', render : function(data, type, full){ return app.numberEngine(parseFloat(data)); } },
            {
              data: 'reference_rdkk', name:'reference_rdkk',
              render : function(data, type, full){
                if(data === null || data === ''){
                  return '-';
                } else {
                  return '<a href="#" id="toDetail" data-id="'+full.reference_rdkk_uuid+'" >'+data+'</a>';
                }
              }
            },
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $("div.dataTables_length").append(' <button id="resetFilterRDKK" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

      $(document).on("click", "#resetFilterRDKK", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterRDKK').prop('disabled', true);

        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterRDKK').prop('disabled', false);
        }, 1000)
      })

      $(document).off("click", "#hapusData").on("click", "#hapusData", function(e){
        e.preventDefault();
        if (confirm("Yakin ingin menghapus data desa ?") == true) {
          var idx = $(this).data("id");
          app.hapusData(idx);
        }
      })
      $(document).on('change','.checks',function(){
          if($('.checks').is( ":checked" )===true){
              $('.check').prop('checked',true);
          }else{
              $('.check').prop('checked',false);
          }
      });
      $(document).on('change','.check',function(){
           $('.checks').prop('checked',false);
      });

      $("#downloadTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadTableExcel").trigger('click');
      })

      $(document).on("click", "#toDetail", function(e){
        e.preventDefault()
        var id = $(this).data("id");
        app.dataid = id;
        var access = app.$route.params.access;
        app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/rdkk/detail/'+id});
      })

      $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })

      $(document).on("click", "#check", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })

    })

  },
  methods: {
    approval(){
      event.preventDefault();
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/rdkk/approval'});
    },
    toApproval(){
      var access = this.$route.params.access;
      this.linkApproval = '/#/'+encodeURIComponent(access)+'/alokasi/rdkk/approval';
    },
    yearFrom(obj) {
      if(obj.farmer_period_name && obj.farmer_period_name.from && obj.farmer_period_name.to) {
        this.rdkkdt.farmer_period_name = obj.farmer_period_name.from+';'+obj.farmer_period_name.to;
      } else if (obj.farmer_period_name && obj.farmer_period_name.certain) {
        this.rdkkdt.farmer_period_name = obj.farmer_period_name.certain;
      } else {
        this.rdkkdt.farmer_period_name = '';
      }
    },
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      this.check = this.check.map(data => {
        return {id: data.id, status: type}
      })
      this.saveAction();
    },
    saveAction(){
      this.axios.post('rdkk/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        if(resp.response.data.message.status){
          toastr.error(resp.response.data.message.status, "Gagal")
        }
        // toastr.error(resp.message, "Pesan")
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
        this.dt.draw();
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    searchTable(obj){
      this.rdkkdt = obj;
      this.validFrom(obj)
      this.validTo(obj)
      // this.yearFrom(obj)
      this.dt.draw();
    },
    triggerModal(params = false){
      if(params === 'RefreshTable'){
        this.dt.draw();
      }
      this.modalUpload = false
      this.infoumumForm = true;
      this.modalForm = false
      this.dataid = null
    },
    uploadFile (){
        this.modalUpload = !this.modalUpload;
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
    validFrom(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.rdkkdt.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.rdkkdt.created_at = obj.created_at.certain;
      } else {
        this.rdkkdt.created_at = '';
      }
    },
    validTo(obj) {
      if(obj.updated_at && obj.updated_at.from && obj.updated_at.to) {
        this.rdkkdt.updated_at = obj.updated_at.from+';'+obj.updated_at.to;
      } else if (obj.updated_at && obj.updated_at.certain) {
        this.rdkkdt.updated_at = obj.updated_at.certain;
      } else {
        this.rdkkdt.updated_at = '';
      }
    },
    getAccessControl(){
      const getLocalSearch = localStorage.getItem('access-control');
      const encodeAccess = decodeURIComponent(getLocalSearch);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const accessControl = decodeAccess.split(";")[0];
      this.role = accessControl;
    },
    download(){
      this.loadBtnDownload = true
      this.axios({
        url: 'rdkks/download',
        params: {
          number : this.rdkkdt.number,
          customer_name : this.rdkkdt.customer_name,
          customer_id : this.rdkkdt.customer_id,
          sales_org_name : this.rdkkdt.sales_org_name,
          farmer_group_name : this.rdkkdt.farmer_group_name,
          retail_code : this.rdkkdt.retail_code,
          retail_name : this.rdkkdt.retail_name,
          reference_rdkk : this.rdkkdt.reference_rdkk,
          sales_office_name : this.rdkkdt.sales_office_name,
          sales_office_id : this.rdkkdt.sales_office_id,
          sales_group_name : this.rdkkdt.sales_group_name,
          sales_group_id : this.rdkkdt.sales_group_id,
          sales_unit_name : this.rdkkdt.sales_unit_name,
          land_area : this.rdkkdt.land_area,
          indeks_pertanaman:this.rdkkdt.indeks_pertanaman,
          planting_area:this.rdkkdt.planting_area,
          farmer_period_name : this.rdkkdt.farmer_period_name,
          status : this.rdkkdt.status,
          status_name : this.rdkkdt.status_name,
          P01 : this.rdkkdt.P01,
          P02 : this.rdkkdt.P02,
          P03 : this.rdkkdt.P03,
          P04 : this.rdkkdt.P04,
          P05 : this.rdkkdt.P05,
          reference_rdkk : this.rdkkdt.reference_rdkk,
          created_at : this.rdkkdt.created_at,
          updated_at : this.rdkkdt.updated_at
        },
        method: 'GET',
        responseType: 'blob', // important
     }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download RDKK.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    }

  }
}
</script>


<style lang="css">
.thcolorblue{
  background-color: #1980f0;
	color: white;
}
div.dt-buttons {
  float: right !important;
  display: none;
}
.status-header-deaktif {
	color:#ff7588;
  font-weight: bold;
}
.status-header-submit{
  color:#ff8717;
  font-weight: bold;
}
.status-header-aktif {
	color:#16d39a;
  font-weight: bold;
}
.status-header-draft{
  font-weight:bold;
}
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 999;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
}
</style>
