<template lang="html">
  <tr class="filter">
    <th></th>
    <th class="rdkk-number">
      <input type="text"
      v-model="rdkkdt.number"
      class="form-control form-control-md rdkk_numberVal">
    </th>
    <th>
      <input type="text"
      v-on:keyup="search()"
      v-model="rdkkdt.customer_id"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="rdkkdt.customer_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="rdkkdt.retail_code"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="rdkkdt.retail_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <filter-status :reset="reset" :checkedStatus="rdkkdt.status_name" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="rdkkdt.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input type="text"
      v-model="rdkkdt.sales_unit_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="rdkkdt.land_area"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="rdkkdt.indeks_pertanaman"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="rdkkdt.planting_area"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="rdkkdt.farmer_period_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>
      <input type="text"
      v-model="rdkkdt.reference_rdkk"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <!-- <th>
      <date-filter @get-date="searchDateValidFrom" :type="type1"></date-filter>
    </th>
    <th>
      <date-filter @get-date="searchDateValidTo" :type="type2"></date-filter>
    </th> -->
  </tr>
</template>
<script>
import Date from '../../filter/Date';
import Year from '../../filter/Year';
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      btnStatus: 'Filter Status',
      type1: 'validFrom',
      type2: 'validTo',
      type: 'validYear',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Partial Active', value: 'z'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'}
      ],
      rdkkdt: {
        number: '',
        sales_org_name: '',
        customer_name: '',
        customer_id: '',
        farmer_group_name: '',
        retail_name: '',
        retail_code: '',
        status_name: '',
        reference_rdkk: '',
        sales_office_name: '',
        sales_office_id: '',
        sales_group_name: '',
        sales_group_id: '',
        sales_unit_name: '',
        land_area: '',
        farmer_period_name: '',
        P01: '',
        P02: '',
        P03: '',
        P04: '',
        P05: '',
        created_at: '',
        updated_at: '',
        planting_area:'',
        indeks_pertanaman:'',
      }
    }
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    $(document).ready(function() {
      const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.rdkkdt = getLocalSearch;
              $(".rdkk_numberVal").val(app.rdkkdt.number);
              app.$emit("search-table", app.rdkkdt);
          }
      },1000)
    });
    $(document).on("keyup", ".rdkk_numberVal", function(){
      app.rdkkdt.number = $(this).val();
      app.search();
    })
  },
  components: {
    Provinsi, Kabupaten,
    dateFilter: Date,
    FilterStatus: Checklist, Year
  },
  methods: {
    // date
    searchDateValidFrom(date = '') {
      if (date != '') {
        if (date != '') {
          this.rdkkdt.created_at = {
            certain: (date.name === 'validFrom' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validFrom' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validFrom' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.rdkkdt.created_at = ''
        }
        this.search()
      }
    },
    searchDateValidTo(date = '') {
      if (date != '') {
        if (date != '') {
          this.rdkkdt.updated_at = {
            certain: (date.name === 'validTo' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validTo' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validTo' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.rdkkdt.updated_at = ''
        }
        this.search()
      }
    },
    // end date
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.rdkkdt.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.rdkkdt.sales_group_id = sales_group;
      this.search();
    },
    searchTable(obj) {
      var status = obj.join(';');
      this.rdkkdt.status = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.rdkkdt));
      this.$emit("search-table", this.rdkkdt);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.rdkkdt);
      
      $( ".rdkk-number" ).html( '<input type="text" class="form-control form-control-md rdkk_numberVal" />' );
      $(".rdkk_numberVal").val(this.rdkkdt.number);
      this.search();
    },
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.rdkkdt.farmer_period_name = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.rdkkdt.farmer_period_name = ''
        }
        this.search()
      }
    },
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
