<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">This Page On The Maintain</div>

                    <div class="panel-body">
                        What is a maintenance page? A maintenance page is a temporary placeholder for times when a site or app needs to be taken offline for updates, backups or maintenance. It tells the visitor that the site they're trying to reach is temporarily unavailable because the team behind the scenes is doing some work.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
