<template>
<div class="content-body">
  <section class="flexbox-container">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="col-md-4 col-10 box-shadow-2 p-0">
        <div class="ard border-grey border-lighten-3 m-0">
          <div class="card-header border-0">
            <div class="card-title text-center">
              <div class="p-1">
                <img src="/images/logo/pihc-logo.png" class="login-logo-pi" alt="branding logo">
                <img src="http://siaga.pupuk-indonesia.com/siaga/assets/images/pi_group.png" class="sub-logo" alt="">
              </div>
            </div>
          </div>
          <div class="card-content card-header">
            <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2">
              <span>Enter New Password.</span>
            </p>
            <div class="card-body pt-0" style="padding-bottom: 38px;">
              <div class="form-horizontal error">
                <fieldset class="form-group position-relative has-icon-left error">
                  <input type="password" class="form-control form-control-lg input-lg" placeholder="Enter Password" aria-invalid="false" v-model="password">
                  <div class="form-control-position">
                    <i class="fa fa-key"></i>
                  </div>
                </fieldset>
                <fieldset class="form-group position-relative has-icon-left error">
                  <input @input="checkPassword" type="password" class="form-control form-control-lg input-lg" placeholder="Re Type Password" aria-invalid="false" v-model="repassword">
                  <div class="form-control-position">
                    <i class="fa fa-key"></i>
                  </div>
                  <small v-if="validate" class="warning text-muted">Password Not Match</small>
                </fieldset>
                <button :disabled="loading" type="button" @click="setNewPass" class="btn btn-outline-primary btn-lg btn-block">
                  <div v-if="loadingSpin">
                    <i class="fa fa-spin fa-refresh"> </i> Please Wait ...
                  </div>
                  <div v-else>
                    <i class="ft-unlock"> </i> Recover Password
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</template>

<script>
export default {
    name: 'Login',
    data() {
      return {
        password: null,
        repassword: null,
        validate: false,
        error: false,
        error_status: null,
        loading: true,
        loadingSpin: false,
        paramId: (this.$route.params.id === 'null') ? null : this.$route.params.id,
        message: []
      }
    },
    created() {
      if (typeof this.$route.params.id === 'undefined') {
        this.paramId = null;
      } else {
        if (this.paramId !== null) {
          this.axios.get('forgetpassword/'+this.paramId)
          .then((res) => {
            // console.log(res.data.status);
            this.error_status = res.data.status;
            // this.$router.push({path: '/login'});
          })
          .catch((resp) => {
            this.error_status = resp.response.data.status;
            toastr.error(resp.response.data.messages.toUpperCase()+" !");
            this.$router.push({path: '/login'});
          })
        }
      }
    },
    mounted() {
      $("body").css("background-image", "linear-gradient(to right, #1980F0 0%, #001B8D 100%)");
      $("body").css("background-repeat", "repeat");
      // if (this.error_status === 0) { this.$router.push({path: '/login'}) }
    },
    methods: {
      setNewPass(){
        this.loading = true;
        this.loadingSpin = true;
        if (this.password === this.repassword) {
          this.axios.post('forgetpassword/'+this.paramId, {
            "password" : this.password,
            "re-password"	: this.repassword,
          })
          .then((res) => {
            this.loading = false;
            this.loadingSpin = false;
            toastr.success("Password Berhasil Diubah", "Sukses");
            this.$router.push({path: '/login'});
          })
          .catch((resp) => {
            this.loading = false;
            this.loadingSpin = false;
            // console.log(resp.response.data.message.email[0]);
            toastr.error(resp.response.data.message.password[0]+" !");
          })
        } else {
          toastr.error("Gagal Merubah Password", "Password Tidak Valid !");
          this.loading = false;
          this.loadingSpin = false;
        }
      },
      checkPassword(){
        if (this.password !== this.repassword) {
          this.validate = true;
          this.loading = true;
        } else {
          this.validate = false;
          this.loading = false;
        }
      }
    }
}
</script>

<style scoped>
    #login {
        width: 500px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        margin: auto;
        margin-top: 200px;
        padding: 20px;
    }

    div.error label {
      color: red;
    }
    div.error input {
      border: 1px solid red ;
    }
    .language {
      padding-bottom: 20px;
    }

    .card-header {
        padding: 1.2rem 1.5rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    .p-1 {
        padding: 0rem !important;
    }

    .login-logo-pi {
      width: auto;
      height: 75px;
      margin-bottom: 14px;
    }
</style>
