<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">{{ $ml.get("userAllFormPage.cardtTitle") }}</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{ $ml.get("userAllFormPage.breadcrumbFirst") }}</a>
              </li>
              <li class="breadcrumb-item"><a href="#">{{ $ml.get("userAllFormPage.breadcrumbSec") }}</a>
              </li>
              <li class="breadcrumb-item active">{{ $ml.get("userAllFormPage.breadcrumbTrd") }}
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">{{ $ml.get("userAllFormPage.cardtTitle") }}</h4>
                <a class="heading-elements-toggle"></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"></a></li>
                    <li> </li>
                  </ul>
                </div>
              </div>
              <div class="card-content collapse show">
                <div class="card-body">
                  <form @submit="saveUser" class="form form-horizontal striped-rows form-bordered">
                    <div class="form-body">
                      <h4 class="form-section"><i class="ft-user"></i>{{ $ml.get('userAllFormPage.form.titleAdd') }}</h4>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.name}">{{ $ml.get('userAllFormPage.form.one') }}</label>
                        <div class="col-md-9">
                          <input type="text" v-model="user.name" class="form-control" :class="{'is-invalid' : error && errors.name}">
                          <p class="text-danger" v-if="error && errors.name">{{errors.name[0]}}</p>
                        </div>
                      </div>
                      <div v-if="!hide" class="form-group row">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.username}">{{ $ml.get('userAllFormPage.form.two') }}</label>
                        <div class="col-md-9">
                          <input type="text" v-model="user.username" class="form-control" :class="{'is-invalid' : error && errors.username}">
                          <p class="text-danger" v-if="error && errors.username">{{errors.username[0]}}</p>
                        </div>
                      </div>
                      <div v-if="!hide" class="form-group row">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.email}">{{ $ml.get('userAllFormPage.form.three') }}</label>
                        <div class="col-md-9">
                          <input type="email" v-model="user.email" class="form-control" :class="{'is-invalid' : error && errors.email}">
                          <p class="text-danger" v-if="error && errors.email">{{errors.email[0]}}</p>
                        </div>
                      </div>
                      <div v-if="!hide" class="form-group row">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.password}">{{ $ml.get('userAllFormPage.form.four') }}</label>
                        <div class="col-md-9">
                          <input type="password" v-model="user.password" class="form-control" :class="{'is-invalid' : error && errors.password}">
                          <p class="text-danger" v-if="error && errors.password">{{errors.password[0]}}</p>
                        </div>
                      </div>
                      <div v-if="!hide" class="form-group row">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.repassword}">{{ $ml.get('userAllFormPage.form.five') }}</label>
                        <div class="col-md-9">
                          <input type="password" v-model="user.repassword" class="form-control" :class="{'is-invalid' : error && errors.repassword}">
                          <p class="text-danger" v-if="error && errors.repassword">{{errors.repassword[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.role_id}">{{ $ml.get('userAllFormPage.form.six') }}</label>
                        <div class="col-md-9">
                          <select @input="checkSalesOrg" class="form-control" v-model="user.role_id"  name="" :class="{'is-invalid' : error && errors.role_id}">
                            <option value="">Chose..</option>
                            <option v-for="data, index in roles" :value="data.id" :text="data.name" >{{ data.name }}</option>
                          </select>
                          <p class="text-danger" v-if="error && errors.role_id">{{errors.role_id[0]}}</p>
                        </div>
                      </div>
                      <div v-if="!hide_sales_org" class="form-group row">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.sales_org_id}">Sales Organization</label>
                        <div class="col-md-9">
                          <select class="form-control" v-model="user.sales_org_id"  name="" :class="{'is-invalid' : error && errors.sales_org_id}">
                            <option value="">Chose..</option>
                            <option v-for="data, index in m_sales_org" :value="data.id" :text="data.name" >{{ data.name }}</option>
                          </select>
                          <p class="text-danger" v-if="error && errors.sales_org_id">{{errors.sales_org_id[0]}}</p>
                        </div>
                      </div>
                      <user-password v-if="hide" :id="id"></user-password>
                    </div>
                    <div class="form-actions pull-right">
                      <button type="button" @click="$router.go(-1)" class="btn btn-warning mr-1">
                        <i class="ft-x"></i> {{ $ml.get("userAllFormPage.form.labelCancel") }}
                      </button>
                     <!--  <button type="submit" class="btn btn-primary">
                        <i class="fa fa-check-square-o"></i> {{ $ml.get("userAllFormPage.form.labelDraft") }}
                      </button> -->
                      <button type="submit" class="btn btn-primary">
                        <i class="fa fa-check-square-o"></i> {{ $ml.get("userAllFormPage.form.labelSave") }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
import UserPassword from './UserPassword';
export default {
  data: function(){
    return {
      error: false,
      errors: {},
      roles: [],
      user:{
        name: '',
        username: '',
        email: '',
        password: '',
        repassword: '',
        role_id: '',
        sales_org_id : ''
      },
      id: null,
      hide: false,
      hide_sales_org: true,
      m_sales_org: []
    }
  },
  components: {
    UserPassword
  },
  mounted(){
    this.getSalesOrg()
    this.axios.get('role')
    .then((resp) => {this.roles = resp.data.data})
    .catch((err) => {alert("Error to load role")})
    var app = this;
    let id = app.$route.params.id;
    if(id != undefined){
      app.id = id;
      app.hide = true;
      app.axios.get("user/id/"+id)
      .then((resp) => {
        app.user = resp.data.data
        if (parseInt(resp.data.data.role_id) === 3) {
          app.user.sales_org_id = resp.data.data.sales_org_id
          app.hide_sales_org = false
        } else {
          app.hide_sales_org = true
          app.user.sales_org_id = null;
        }
      })
      .catch((e) => {
        alert("failed load");
        app.$router.go(-1);
      })
    }
  },
  methods: {
    saveUser() {
      var app = this;
      if(app.id == null){
        app.insertUser();
      } else {
        app.updateUser();
      }
    },
    insertUser() {
      event.preventDefault();
      var app = this;
      var arr = [];
      if((app.user.password != app.user.repassword) || app.user.repassword == '') {
        if(app.user.password != app.user.repassword){
          arr.push("The Re-password Must be Same");
        }
        if(app.user.repassword == ''){
          arr.push("The Re-password Field is Required");
        }
        app.error = true;
        app.errors.repassword = arr;
        return;
      } else {
        var newUser = app.user;
        app.axios.post("user", newUser)
        .then((resp) => {
          toastr.success(resp.data.message)
          app.$router.go(-1)
          app.error = false;
        })
        .catch((err) => {
          toastr.error(err.response.data.message)
          app.error = true;
          app.errors = err.response.data.message;
        })
      }
    },
    updateUser() {
      event.preventDefault();
      var app = this;
      var send = { name: app.user.name, role_id: app.user.role_id, sales_org_id: app.user.sales_org_id }
      app.axios.put("user/distributor"+app.id, send)
      .then((resp) => {
        toastr.success(resp.data.message)
        app.$router.go(-1)
        app.error = false;
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
        app.error = true;
        app.errors = resp.response.data.message;
      });
    },
    checkSalesOrg(event){
      if (parseInt(event.target.value) === 3) {
        this.hide_sales_org = false
      } else {
        this.hide_sales_org = true
        this.user.sales_org_id = ''
      }
      console.log(event.target.value);
    },
    getSalesOrg(){
      var app = this;
      app.axios.get("salesorg")
      .then((resp) => {
        console.log(resp);
        this.m_sales_org = resp.data.data
      })
      .catch((resp) => {

      });
    }
  }
}
</script>

<style lang="css">
</style>
