<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">{{ $ml.get("userAllMasterPage.cardtTitle") }}</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{ $ml.get("userAllMasterPage.breadcrumbFirst") }}</a>
              </li>
              <li class="breadcrumb-item active">{{ $ml.get("userAllMasterPage.breadcrumbSec") }}
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div id="kick-start" class="card">

              <div class="card-content collapse show">
                <div class="card-body">
                  <span v-if="access.C === true" class="float-right">
                     <router-link :to="{ name: 'user_form_distributor' }" class="btn btn-primary">
                      <i class="fa fa-plus"></i> Tambah Distributor Baru &nbsp; 
                    </router-link>

                    <router-link :to="{ name: 'user_form_new_register' }" class="btn btn-primary">
                      <i class="fa fa-plus"></i> Tambah Pengguna Baru &nbsp; 
                    </router-link>
                   
                  </span>
                  <div class="table-responsive">
                    <table class="table table-xs table-bordered table-striped display nowrap" id="userTable">
                      <thead>
                        <user-filter
                        :resetx="resetStatus"
                        @search-table="searchTable"
                        >
                        </user-filter>
                        <tr>
                          <th>{{$ml.get("userAllMasterPage.table.one")}}</th>
                          <th>{{$ml.get("userAllMasterPage.table.two")}}</th>
                          <th>{{$ml.get("userAllMasterPage.table.three")}}</th>
                          <th>Parent</th>
                          <th>{{$ml.get("userAllMasterPage.table.four")}}</th>
                          <th>{{$ml.get("userAllMasterPage.table.five")}}</th>
                          <th>Role</th>
                          <th>#</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <modal-confirm v-if="confirm.show" :uuid="confirm.uuid" :text="confirm.text" @trigger-modal="triggerModal()" @is-delete="handleDelete"></modal-confirm>
    </div>
  </transition>
</template>

<script>
import UserFilter from './UserFilter';
import ModalConfirm from '../../global/ModalConfirm';
export default {
  data: function(){
    return {
      resetStatus: false,
      dt : "",
      send: {},
      access: {},
      confirm: {
        show: false,
        uuid: null,
        text: null,
        no_doc: null
      }
    }
  },
  components: {
    UserFilter, ModalConfirm
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    var app = this;
    $(document).ready(function() {
      app.dt = $("#userTable").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": "99.99%",
        ajax: {
              'url': 'api/user',
              'type': 'GET',
              'data': function(d){
                  d.name = app.send.fName;
                  d.username = app.send.fUsername;
                  d.customer_id = app.send.fCustomerID;
                  d.email = app.send.fEmail;
                  d.created_at = app.send.fCreatedAtFinal;
                  d.updated_at = app.send.fUpdatedAtFinal;
                  d.role = app.send.fRole;
               },
              'beforeSend': function (request) {
                  var token = localStorage.getItem("default_auth_token");
                  request.setRequestHeader("Authorization", "Bearer "+token);
                  request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
              },
          },
          columns: [
              {data: 'name', name: 'name'},
              {data: 'username', name: 'username'},
              {data: 'email', name: 'email'},
              {data: 'customer_id', name: 'customer_id'},
              {data: 'created_at', name: 'created_at'},
              {data: 'updated_at', name: 'updated_at'},
              {data: 'role_name', name: 'role_name'},
              {
                data: 'id',
                render : function(data, type, full){
                  const buttonEdit = (app.access.U === true) ? '<button class="btn btn-icon btn-primary btn-sm" id="editUser" data-id="'+data+'" data-role="'+full.role_name+'"> <i class="fa fa-pencil"></i></button>' : '';
                  const buttonDelete = (app.access.D === true) ? '<button class="btn btn-icon btn-danger btn-sm" id="deleteUser" data-id="'+data+'" data-role="'+full.role_name+'"> <i class="fa fa-trash"></i></button>' : '';
                  return '<div class="btn-group" role="group" aria-label="Basic example">'+buttonEdit+buttonDelete+'</div>';
                }
              }
          ]
      });

      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 0,
          heightMatch: 'auto'
      } );

      $("div.dataTables_length").append(' <button id="resetFilterAlluser" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    });
    $(document).on("click", "#resetFilterAlluser", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterAlluser').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterAlluser').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#editUser", function(){
      var id = $(this).data("id");
      var role = $(this).data("role").toLowerCase();
      if(role=='distributor'){
        app.$router.push({ name: 'user_form_distributor_edit', params: { id: id } })
      }else{
        app.$router.push({ name: 'user_form_new_register_edit', params: { id: id } })
      }
      
    })

    $(document).on("click", "#deleteUser", function(e){
      e.preventDefault();
      var id = $(this).data("id");
      app.confirm.show = true;
      app.confirm.uuid = id;
      app.confirm.text = 'Apakah anda yakin akan menghapus data ini?';
    })

  },
  methods: {
    triggerModal() {
      this.confirm.show = false;
      this.confirm.uuid = null;
      this.confirm.text = null;
    },
    handleDelete(){
      this.axios.delete("user/"+this.confirm.uuid)
      .then((resp) => { 
        toastr.success("Berhasil Hapus Data") 
        this.dt.draw();  
      })
      .catch((err) => {alert("Error execution")});
    },
    searchTable(obj) {
      // console.log(obj);
      this.send = obj;
      this.validFrom(obj)
      this.validTo(obj)
      this.dt.draw();
    },
    validFrom(obj) {
      if(obj.fCreatedAtFinal && obj.fCreatedAtFinal.from && obj.fCreatedAtFinal.to) {
        this.send.fCreatedAtFinal = obj.fCreatedAtFinal.from+';'+obj.fCreatedAtFinal.to;
      } else if (obj.fCreatedAtFinal && obj.fCreatedAtFinal.certain) {
        this.send.fCreatedAtFinal = obj.fCreatedAtFinal.certain;
      } else {
        this.send.fCreatedAtFinal = '';
      }
    },
    validTo(obj) {
      if(obj.fUpdatedAtFinal && obj.fUpdatedAtFinal.from && obj.fUpdatedAtFinal.to) {
        this.send.fUpdatedAtFinal = obj.fUpdatedAtFinal.from+';'+obj.fUpdatedAtFinal.to;
      } else if (obj.fUpdatedAtFinal && obj.fUpdatedAtFinal.certain) {
        this.send.fUpdatedAtFinal = obj.fUpdatedAtFinal.certain;
      } else {
        this.send.fUpdatedAtFinal = '';
      }
    },
  }
}
</script>

<style lang="css">
</style>
