<template>
  <tr class="filter">
    <th>
      <input type="text" class="form-control form-control-sm" id="fixedUsername" v-model="send.fName" v-on:keyup="search()" v-bind:placeholder="$ml.get('userAllMasterPage.table.one')">
    </th>
    <th>
      <input type="text" class="form-control form-control-sm" v-model="send.fUsername" v-on:keyup="search()" v-bind:placeholder="$ml.get('userAllMasterPage.table.two')"/>
     </th>
    <th> <input type="text" class="form-control form-control-sm" v-model="send.fEmail" v-on:keyup="search()" v-bind:placeholder="$ml.get('userAllMasterPage.table.three')"> </th>
    <th> <input type="text" class="form-control form-control-sm" v-model="send.fCustomerID" v-on:keyup="search()" placeholder="Parent"> </th>
    <th>
      <date-filter :reset="reset" @get-date="getDateCreate" :type="type1"></date-filter>
    </th>
    <th>
      <date-filter :reset="reset" @get-date="getDateUpdate" :type="type2"></date-filter>
    </th>
    <th>
      <role-filter :reset="reset" :checkedStatus="send.fRole" @get-check="getListRole" :label="btnStatus" :list="allList"></role-filter>
    </th>
    <!-- <th> <value-filter @get-value="getValueRole" :type="type3"></value-filter> </th> -->
    <th></th>
  </tr>
</template>

<script>
  import Date from '../../filter/Date';
  import Checklist from '../../filter/Checklist';
  // import Value from '../../filter/Value';
  export default {
    props: ['resetx'],
    data: function() {
      return {
        uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
        send: {
          fName : "",
          fUsername: "",
          fCustomerID:"",
          fEmail: "",
          fCreatedAt: "",
          fCreatedAtFrom: "",
          fCreatedAtTo: "",
          fUpdatedAt: "",
          fUpdatedAtFrom: "",
          fUpdatedAtTo: "",
          fRole: "",
          fRoleFrom: "",
          fRoleTo: "",
          fCreatedAtFinal: {},
          fUpdatedAtFinal: {},
        },
        type1: 'create',
        type2: 'update',
        // type3: 'loginCount',
        btnStatus: 'Search Role',
        allList:  []
      }
    },
    components: {
      dateFilter: Date,
      roleFilter: Checklist,
      // valueFilter: Value
    },
    watch: {
      resetx: function(val){
        if(val === true) {
          this.resetFilter();
        }
      }
    },
    mounted() {
      var app = this;
      $(document).ready(function() {
        $(".datepicker-input").datepicker();
        const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
        setTimeout(() => {
            if (getLocalSearch !== null) {
                app.send = getLocalSearch;
                app.$emit("search-table", app.send);
            }
        },1000)
      });
      $(document).on("keyup", "#fixedUsername", function(e){
        app.send.fName = $(this).val();
        app.search();
      })
      this.getAllRole();
    },
    methods: {
      getAllRole(){
        var app = this;
        this.axios.get('role?filter=filter')
        .then((resp) => { resp.data.data.map((data) => app.allList.push({name: data.name, value: data.id})) })
        .catch((err) => {alert("error to load role")});
      },
      getListRole(obj){
        this.send.fRole = obj.join(';');
        this.search();
      },
      getDateCreate(date = '') {
        // console.log(date);
        if (date != '') {
            this.send.fCreatedAtFinal = {
              certain: (date.name === 'create' && date.dateType === 'certain') && date.data.from,
              from: (date.name === 'create' && date.dateType === 'range') && date.data.from,
              to: (date.name === 'create' && date.dateType === 'range') && date.data.to
            }
          } else {
            this.send.fCreatedAtFinal = ''
          }
          this.search()
      },
      getDateUpdate(date = '') {
        // console.log(date);
        if (date != '') {
            this.send.fUpdatedAtFinal = {
              certain: (date.name === 'update' && date.dateType === 'certain') && date.data.from,
              from: (date.name === 'update' && date.dateType === 'range') && date.data.from,
              to: (date.name === 'update' && date.dateType === 'range') && date.data.to
            }
          } else {
            this.send.fUpdatedAtFinal = ''
          }
          this.search()
      },
      // getValueRole(value = '') {
      //   if(value != '') {
      //     this.fRole = (value.name === 'loginCount' && value.valueType === 'certain') && value.data.from;
      //     this.fRoleFrom = (value.name === 'loginCount' && value.valueType === 'range') && value.data.from;
      //     this.fRoleTo = (value.name === 'loginCount' && value.valueType === 'range') && value.data.to;
      //     this.search();
      //   }
      // },
      search() {
        event.preventDefault();
        localStorage.setItem(this.uriName, JSON.stringify(this.send));
        this.$emit("search-table", this.send);
      },
      showModal(event) {
        const type = event.target.value;
        if(type != "c" && type != "u"){
          $("#"+type).modal("show");
        } else {
          switch (type) {
            case 'c': this.reset('created');  break;
            case 'u': this.reset('updated');  break;
            default:
          }
        }
      },
      reset(type = 'all') {
        if(type != 'all'){
          switch (type) {
            case 'name':
              this.send.fName = '';
            break;
            case 'username':
              this.send.fUsername = '';
            break;
            case 'email':
              this.send.fEmail = '';
            break;
            case 'created':
              this.send.fCreatedAt = '';
              this.send.fCreatedAtFrom = '';
              this.send.fCreatedAtTo = '';
            break;
              case 'updated':
              this.send.fUpdatedAt = '';
              this.send.fUpdatedAtFrom = '';
              this.send.fUpdatedAtTo = '';
            break;
            default:
          }
          this.search();
        } else {
          this.send.fName = '';
          this.send.fUsername = '';
          this.send.fCustomerID='';
          this.send.fEmail = '';
          this.send.fCreatedAt = '';
          this.send.fCreatedAtFrom = '';
          this.send.fCreatedAtTo = '';
          this.send.fUpdatedAt = '';
          this.send.fUpdatedAtFrom = '';
          this.send.fUpdatedAtTo = '';
          this.search();
        }
      },
      resetFilter(){
        this.clearFilter(this.$route.name, this.send);
        this.search();
      }
    }
  }
</script>
