<template>
  <div class="modal fade" id="change-status-order-df" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ubah Status Order</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3 label-control" >No Order </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" v-model="number" disabled>
                  <p v-if="error && errors.number" class="text-danger">{{ errors.number[0] }}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" >Nama Distributor </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" v-model="customer_name" disabled>
                  <p v-if="error && errors.customer_name" class="text-danger">{{ errors.customer_name[0] }}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" >Tanggal Rencana Pelunasan </label>
                <div class="col-md-9">
                  <input type="date" class="form-control" v-model="tempData.df_due_date">
                  <p v-if="error && errors.df_due_date" class="text-danger">{{ errors.df_due_date[0] }}</p>
                </div>
              </div>
							<div class="form-group row">
                <label class="col-md-3 label-control" >Status </label>
                <div class="col-md-9">
                  <multiselect
                    :disabled="isDisabled"
                    v-model="tempData.status"
                    :options="getData.status"
                    track-by="id"
                    :custom-label="statusWithNameId"
                    :searchable="true" :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(loading.status === false) ? 'Pilih Status..' : 'Memuat ..'"
                    >
                  </multiselect>
                  <p v-if="error && errors.status" class="text-danger">{{ errors.status[0] }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          <button type="button" @click="save" class="btn btn-primary square" :disabled="loading.button">
             <i v-if="loading.button" class="fa fa-spin fa-refresh"></i> Submit
           </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import Multiselect from 'vue-multiselect';
  export default {
    props: ['uuid', 'number', 'customer_name', 'date', 'status'],
    data: function() {
      return {
        isDisabled: false,
        error: false,
        errors: {},
        sendData: {
          status: null,
          df_due_date: null,
        },
        tempData: {
          status: this.status,
          df_due_date: this.date,
        },
        getData: {
          status: [
						{id: 'y', name: 'Success'},
						{id: 'n', name: 'Failed'},
					]
        },
        loading: {
          status: false,
          button: false
        }
      }
    },
    components: {
      Multiselect
    },
    created() {
      
    },
    mounted() {
      let app = this
      $("#change-status-order-df").modal("show");
      $("#change-status-order-df").on("hidden.bs.modal", function(){
        app.closeModal()
      })
    },
    methods: {

      save() {
				var r = confirm(`Apakah Anda Yakin Melakukan Perubahan Status Order ${this.number}?`);
				if (r == true) {
					this.loading.button = true
					this.sendData.status = (this.tempData.status != null) ? this.tempData.status.id : '';
					this.sendData.df_due_date = this.tempData.df_due_date;
					
					this.axios.put(`monitoringdf/${this.uuid}/status`, this.sendData)
					.then((resp) => {
						let data = resp.data;
						toastr.success(data.message)
						$("#change-status-order-df").modal("hide")
						this.loading.button = false
						if(data.hasOwnProperty('amount')) {
							toastr.warning(data.amount)
						}
					})
					.catch((resp) => {
						this.error = true
						this.loading.button = false
						let data = resp.response.data;
						let msg = '<ul>';
						$.each(resp.response.data.message, function(key, value) {
							msg += '<li>'+value+'</li>';
						});
						msg += '</ul>';
						toastr.error(msg, 'Gagal');
						this.errors = data.message
					})
				} 
      },

      statusWithNameId({ id,  name}) {
        return `${name}`
      },

			formatDate(date) {
					var d = new Date(date),
							month = '' + (d.getMonth() + 1),
							day = '' + d.getDate(),
							year = d.getFullYear();

					if (month.length < 2) 
							month = '0' + month;
					if (day.length < 2) 
							day = '0' + day;

					return [year, month, day].join('-');
			},
			

      closeModal() {
        this.$emit("trigger-modal");
      }
    }
  }

</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css" scoped>
</style>
]]