<template>
  <div class="modal fade" id="formEdit" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ubah Kelompok Tani</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          <button type="button" class="btn btn-primary square">Simpan</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['access'],
  data: function() {
    return {

    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    var app = this;
    $("#formEdit").modal('show');
    $("#formEdit").on("hidden.bs.modal", function(){
      app.closeModal();
    })
  },
  methods: {
    closeModal() {
      this.$emit('trigger-modal');
    }
  }

}
</script>

<style lang="css" scoped>
</style>
