<template>
  <div class="modal fade" id="formCreate" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form class="form form-horizontal">
          <div class="modal-header">
            <h4 class="modal-title">Buat Kelompok Tani</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <form-loader :view="selectLoading.edit"></form-loader>
            <div v-if="!selectLoading.edit" class="form-body">
              <h4 class="form-section"><i class="ft-user"></i> Informasi Umum</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Distributor </label>
                      <div class="col-md-8 " >
                        <multiselect
                          @input="getProdusen"
                          v-model="temp.distributor"
                          :options="get.distributor"
                          track-by="uuid" :custom-label="nameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false"
                          :placeholder="(selectLoading.distributor === false) ? 'Pilih Distributor..' : 'Memuat ..'"
                          :disabled="isDisabledDistributor"
                          >
                        </multiselect>
                        <p v-if="error && errors.customer_id" class="text-danger">{{ errors.customer_id[0] }}</p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Produsen </label>
                      <div class="col-md-8 " >
                        <multiselect
                          v-model="temp.produsen"
                          :options="get.produsen"
                          track-by="uuid" :custom-label="OrgNameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" placeholder="Pilih Produsen.."
                          :placeholder="(selectLoading.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'"
                          :disabled="isDisabled"
                          >
                        </multiselect>
                        <p v-if="error && errors.sales_org_id" class="text-danger">{{ errors.sales_org_id[0] }}</p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Pengecer </label>
                      <div class="col-md-8 " >
                        <multiselect
                          v-model="temp.pengecer"
                          :options="get.pengecer"
                          track-by="uuid" :custom-label="RetailNameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" placeholder="Pilih Pengecer.."
                          :placeholder="(selectLoading.pengecer === false) ? 'Pilih Pengecer..' : 'Memuat ..'"
                          :disabled="isDisabled"
                          >
                        </multiselect>
                        <p v-if="error && errors.retail_id" class="text-danger">{{ errors.retail_id[0] }}</p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Kode Kelompok Tani </label>
                      <div class="col-md-8 " >
                        <input type="text" class="form-control" v-model="input.code" :disabled="isDisabled" readonly>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Nama Kelompok Tani </label>
                      <div class="col-md-8 " >
                        <input type="text" class="form-control" :disabled="isDisabled" v-model="input.name">
                        <p v-if="error && errors.name" class="text-danger">{{ errors.name[0] }}</p>
                        <p v-if="error && errors.group_name" class="text-danger">{{ errors.group_name[0] }}</p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Status </label>
                      <div class="col-md-8 " >
                        <input type="text" class="form-control" v-model="input.status" readonly>
                      </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Alamat </label>
                      <div class="col-md-8 " >
                        <textarea class="form-control" :disabled="isDisabled" v-model="input.address" rows="8" cols="80" required></textarea>
                        <p v-if="error && errors.address" class="text-danger">{{ errors.address[0] }}</p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Provinsi </label>
                      <div class="col-md-8 " >
                        <multiselect
                          :disabled="isDisabled"
                          @input="getKabupaten"
                          v-model="temp.provinsi"
                          :options="get.provinsi"
                          track-by="uuid" :custom-label="ProvinceWithNameId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" placeholder="Pilih Provinsi.."
                          disabled
                          :placeholder="(selectLoading.provinsi === false) ? 'Pilih Provinsi..' : 'Memuat ..'"
                          >
                        </multiselect>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Kabupaten </label>
                      <div class="col-md-8 " >
                        <multiselect
                          :disabled="isDisabled"
                          @input="getKecamatan"
                          v-model="temp.kabupaten"
                          :options="get.kabupaten"
                          track-by="uuid" :custom-label="kabupatenWithNameId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" placeholder="Pilih Kabupaten.."
                          :placeholder="(selectLoading.kabupaten === false) ? 'Pilih Kabupaten..' : 'Memuat ..'"
                          >
                        </multiselect>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Kecamatan </label>
                      <div class="col-md-8 " >
                        <multiselect
                          :disabled="isDisabled"
                          v-model="temp.kecamatan"
                          :options="get.kecamatan"
                          track-by="uuid" :custom-label="kecamatanNameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" placeholder="Pilih Kecamatan.."
                          :placeholder="(selectLoading.kecamatan === false) ? 'Pilih Kecamatan..' : 'Memuat ..'"
                          >
                        </multiselect>
                        <p v-if="error && errors.sales_unit_id" class="text-danger">{{ errors.sales_unit_id[0] }}</p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Kelurahan </label>
                      <div class="col-md-8 " >
                        <input type="text" class="form-control" :disabled="isDisabled" v-model="input.village">
                        <p v-if="error && errors.village" class="text-danger">{{ errors.village[0] }}</p>
                      </div>
                  </div>

                </div>
              </div>
              <h4 class="form-section"><i class="ft-users"></i> Anggota</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Jumlah Anggota </label>
                      <div class="col-md-8 " >
                        <input type="text" class="form-control" v-restrict.number :disabled="isDisabled" v-model="input.qty_group">
                      </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                      <label class="col-md-4 label-control" >Luas Lahan </label>
                      <div class="col-md-8 " >
                        <input type="text" class="form-control" @keyup="handleKeyupLuasLahan()" v-restrict.number.decimal :disabled="isDisabled" v-model="input.land_area">
                      </div>
                  </div>
                </div>
              </div>
              <h4 class="form-section"><i class="ft-clipboard"></i> Subsektor</h4>
              <div v-if="selectLoading.subsektor === false"  class="row col-md-12">
                <fieldset  v-for="(subsektor, index) in get.subsektors" :key="index" class="col-md-4">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" :disabled="isDisabled" v-model="temp.subsektors" @click="setSubsektor(subsektor.id, $event)" :value="subsektor.id">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{ subsektor.name }}</span>
                    </label>
                </fieldset>
              </div>
              <h4 class="form-section"><i class="ft-files"></i> Komoditas</h4>
              <div v-if="selectLoading.komoditas === false" class="row col-md-12">
                <fieldset  v-for="(komoditi, index) in get.komoditas" :key="index" class="col-md-4">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" :disabled="isDisabled" v-model="temp.komoditas" @click="setKomoditas(komoditi.id, $event)" :value="komoditi.id">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{ komoditi.name }}</span>
                    </label>
                </fieldset>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary square pull-left" data-dismiss="modal">Tutup</button>
            <button v-if="!isDisabled" type="button" class="btn btn-success square pull-right" @click="saveData('d')" :disabled="selectLoading.button">
              <i v-if="selectLoading.button" class="fa fa-spin fa-refresh"></i> Simpan
            </button>
            <button v-if="!isDisabled" type="button" class="btn btn-primary square pull-right" @click="saveData('s')" :disabled="selectLoading.button">
              <i v-if="selectLoading.button" class="fa fa-spin fa-refresh"></i> Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';
import FormLoader from '../../../main/FormLoader';
export default {
  props: ['access', 'uuid'],
  data: function() {
    return {
      error: false,
      errors: {},
      isDisabled: false,
      isDisabledDistributor: false,
      input: {
        retail_id : null,
        name : null,
        address : null,
        sales_unit_id : null,
        village : null,
        sub_sector_id : null,
        commodity_id : null,
        status : null,
        sales_org_id : null,
        customer_id : null,
        qty_group: null,
        land_area: null,
        code: null
      },
      get: {
        distributor: [],
        produsen: [],
        pengecer: [],
        provinsi: [],
        kabupaten: [],
        kecamatan: [],
        subsektors: [],
        komoditas: []
      },
      temp : {
        distributor: null,
        produsen: null,
        pengecer: null,
        provinsi: null,
        kabupaten: null,
        kecamatan: null,
        komoditas: [],
        subsektors: [],
      },
      selectLoading: {
        distributor: false,
        produsen: false,
        pengecer: false,
        provinsi: false,
        kabupaten: false,
        kecamatan: false,
        subsektor: false,
        komoditas: false,
        button: false,
        edit: false
      }
    }
  },
  components: {
    Multiselect, FormLoader
  },
  created() {
    this.getDataDistributor();
    this.getSubSektor();
    this.getKomoditas();
  },
  mounted() {
    var app = this;
    $("#formCreate").modal('show');
    $("#formCreate").on("hidden.bs.modal", function(){
      app.closeModal();
    })
    if(app.uuid != null) {
      this.getDataKelompokTaniEdit();
    } else {
      var name_distributor = document.getElementsByClassName("pi-distributor-name");
      if(name_distributor.length != 0){
        var code_distributor = document.getElementsByClassName("pi-distributor-code");
        this.temp.distributor = {id: code_distributor[0].innerText, full_name: name_distributor[0].innerText};
        console.log(this.temp.distributor.id);
        app.getProdusen()
        app.isDisabledDistributor = true;
      }
    }
  },
  methods: {
    closeModal() {
      this.$emit('trigger-modal');
    },

    handleKeyupLuasLahan() {
      if(this.input.qty_group === null || isNaN(this.input.qty_group) || this.input.qty_group === '') {
        this.input.land_area = ''
        toastr.warning('Inputkan jumlah anggota dengan benar')
      } else {
        let {qty_group} = this.input
        let {land_area} = this.input
        let max = parseInt(qty_group) * 2
        if(land_area > max) {
          toastr.warning('maksimal luas lahan adalah '+max+' Ha', 'Luas Lahan tidak sesuai')
          this.input.land_area = ''
        }
      }
    },

    getDataDistributor() {
      this.selectLoading.distributor = true;
      let uuid = this.$route.params.id;
      const params = {
        params:{
          length: -1,
          code_cust_group: 'AR01;AR02'
        }
      };
      if(uuid == undefined) {
        this.axios.get('company/distributor', params)
        .then((resp) => {
          this.get.distributor = resp.data.data;
          this.selectLoading.distributor = false;
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          this.selectLoading.distributor = false;
          console.log(resp);
        })
      } else {
        this.axios.get('company/distributor', {
          params:{
            uuid: uuid
          }
        })
        .then((resp) => {
          this.get.distributor = resp.data.data;
          this.selectLoading.distributor = false;
        })
        .catch((resp) => {
          this.selectLoading.distributor = false;
          toastr.error(resp.data.message);
          console.log(resp);
        })
      }
    },
    nameWithId ({ id,  full_name}) {
      return `${id} — ${full_name}`
    },

    getProdusen() {
      this.selectLoading.produsen = true;
      this.get.produsen = [];
      this.temp.produsen = null;
      this.get.pengecer = [];
      this.temp.pengecer = null;
      this.get.provinsi = [];
      this.get.kabupaten = [];
      this.get.kecamatan = [];
      console.log(this.temp.distributor);

      this.getPengecer();
      this.axios.get("company/produsen", {
        params: {
          customer_id: this.temp.distributor.id,
        }
      })
      .then((resp) => {
        this.get.produsen = resp.data.data
        this.selectLoading.produsen = false
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message);
        this.selectLoading.produsen = false
      })
      this.getDataProvinsi(this.temp.distributor.sales_office_name);

      if(this.uuid === null) {
        this.getDistributorByid(this.temp.distributor.id)
      }

    },
    OrgNameWithId ({ id,  name}) {
      return `${id} — ${name}`
    },

    getPengecer() {
      this.selectLoading.pengecer = true;
      this.axios.get("company/pengecer", {
        params: {
          customer_id: this.temp.distributor.id,
        }
      })
      .then((resp) => {
        this.get.pengecer = resp.data.data
        this.selectLoading.pengecer = false
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message);
        this.selectLoading.pengecer = false
      })
    },
    RetailNameWithId ({ code,  name}) {
      return `${code} — ${name}`
    },

    getDataProvinsi(name) {
      this.selectLoading.provinsi = true;
      this.axios.get('region/provinsi?name='+name)
      .then((resp) => {
        this.get.provinsi = resp.data.data;
        this.selectLoading.provinsi = false;
      })
      .catch((resp) => {
        this.selectLoading.provinsi = false;
        toastr.error(resp.response.data.message);
        console.log(resp);
      })
    },
    ProvinceWithNameId ({ id,  name}) {
      return `${id} — ${name}`
    },

    getKabupaten() {
      this.temp.kabupaten = null;
      this.get.kabupaten = [];
      this.temp.kecamatan = null;
      this.get.kecamatan = [];
      this.selectLoading.kabupaten = true;
      this.axios.get('region/kabupaten', {
        params: {
          provinsi: this.temp.provinsi.id
        }
      })
      .then((resp) => {
        this.get.kabupaten = resp.data.data;
        this.selectLoading.kabupaten = false;
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message);
        this.selectLoading.kabupaten = false;
      })
    },
    kabupatenWithNameId ({ id,  name}) {
      return `${id} — ${name}`
    },

    getKecamatan() {
      this.selectLoading.kecamatan = true;
      this.temp.kecamatan = null;
      this.get.kecamatan = [];
      this.axios.get('region/kecamatan', {
        params: {
          kabupaten: this.temp.kabupaten.id
        }
      })
      .then((resp) => {
        this.get.kecamatan = resp.data.data;
        this.selectLoading.kecamatan = false;
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message);
        this.selectLoading.kecamatan = false;
      })
    },
    kecamatanNameWithId ({ id,  name}) {
      return `${id} — ${name}`
    },

    getSubSektor() {
      this.selectLoading.subsektor = true;
      this.axios.get("subsector")
      .then((resp) => {
        this.get.subsektors = resp.data.data;
        this.selectLoading.subsektor = false;
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message);
        this.selectLoading.subsektor = false;
      })
    },

    getKomoditas() {
      this.selectLoading.komoditas = true;
      this.axios.get("commodity")
      .then((resp) => {
        this.get.komoditas = resp.data.data;
        this.selectLoading.komoditas = false;
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message);
        this.selectLoading.komoditas = false;
      })
    },

    setSubsektor(data) {
      if (event.target.checked) {
        this.temp.subsektors.push(data);
      } else {
        for (var i = 0; i < this.temp.subsektors.length; i++){
          if ((this.temp.subsektors[i] && this.temp.subsektors[i] === data)) {
            this.temp.subsektors.splice(i, 1);
            break;
          }
        }
      }
    },

    setKomoditas(data) {
      if (event.target.checked) {
        this.temp.komoditas.push(data);
      } else {
        for (var i = 0; i < this.temp.komoditas.length; i++){
          if ((this.temp.komoditas[i] && this.temp.komoditas[i] === data)) {
            this.temp.komoditas.splice(i, 1);
            break;
          }
        }
      }
    },

    prepareData(status) {
      this.input.retail_id = (this.temp.pengecer != null) ? this.temp.pengecer.id : '';
      this.input.sales_unit_id = (this.temp.kecamatan != null) ? this.temp.kecamatan.id : '';
      this.input.sales_org_id = (this.temp.produsen != null) ? this.temp.produsen.id : '';
      this.input.customer_id = (this.temp.distributor != null) ? this.temp.distributor.id : '';
      this.input.sub_sector_id = this.temp.subsektors.join(';');
      this.input.commodity_id = this.temp.komoditas.join(';');
      this.input.status = status;
    },

    saveData(status) {
      this.selectLoading.button = true;
      this.prepareData(status);
      if(this.uuid != null) {
        this.editKelompokTani();
      } else {
        this.createKelompokTani();
      }
    },

    createKelompokTani() {
      this.axios.post('farmergroup', this.input)
      .then((resp) => {
        $("#formCreate").modal('hide');
        this.selectLoading.button = false;
        toastr.success(resp.data.message);
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        this.input.status = null;
        this.selectLoading.button = false;
        if(typeof(resp.response.data.message) != 'object') {
          toastr.error(resp.response.data.message);
        }
        toastr.error('gagal entry kelompok tani')
      })
    },

    editKelompokTani() {
      this.axios.put('farmergroup/'+this.uuid, this.input)
      .then((resp) => {
        $("#formCreate").modal('hide');
        this.selectLoading.button = false;
        toastr.success(resp.data.message);
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        this.input.status = null;
        this.selectLoading.button = false;
        if(typeof(resp.response.data.message) != 'object') {
          toastr.error(resp.response.data.message);
        }
        toastr.error('gagal entry kelompok tani')
      })
    },

    getDataKelompokTaniEdit() {
      this.selectLoading.edit = true;
      this.axios.get('farmergroup/id/'+this.uuid)
      .then((resp) => {
        let kelompokTani = resp.data.data[0];
        this.selectLoading.edit = false;
        this.temp.distributor = {id: kelompokTani.customer_id, full_name: kelompokTani.customer_name}
        this.getProdusen();
        this.getPengecer();
        this.temp.produsen = {id: kelompokTani.sales_org_id, name: kelompokTani.sales_org_name}
        this.temp.pengecer = {code: kelompokTani.retail_code, name: kelompokTani.retail_name}
        this.input.code = kelompokTani.code;
        this.input.name = kelompokTani.name;
        this.input.status = kelompokTani.status;
        this.input.address = kelompokTani.address;
        this.temp.provinsi = {id: kelompokTani.sales_office_id ,name: kelompokTani.sales_office_name}
        this.getKabupaten();
        this.temp.kabupaten = {id: kelompokTani.sales_group_id ,name: kelompokTani.sales_group_name}
        this.getKecamatan();
        this.temp.kecamatan = {id: kelompokTani.sales_unit_id, name: kelompokTani.sales_unit_name}
        this.input.village = kelompokTani.village;
        this.input.qty_group = kelompokTani.qty_group;
        this.input.land_area = kelompokTani.land_area;
        this.temp.komoditas = (kelompokTani.commodity_id === '' || kelompokTani.commodity_id === null) ? [] : kelompokTani.commodity_id.split(';');
        this.temp.subsektors = (kelompokTani.sub_sector_id === '' || kelompokTani.sub_sector_id === null) ? [] : kelompokTani.sub_sector_id.split(';');
        if(kelompokTani.status === 'Submited' || !this.access.U) {
          this.isDisabled = true;
          this.isDisabledDistributor = true;
        }
      })
      .catch((resp) => {
        this.selectLoading.edit = false;

      })
    },
    getDistributorByid(id_distributor){
      console.log("getDistributorByid");
      axios.get("distributor", {
        params: {
          id: id_distributor
        }
      })
      .then((resp)=>{
        if (resp.data.data[0].sales_office_id === null) {
          this.temp.provinsi = "";
          this.temp.kabupaten = "";
          this.temp.kecamatan = "";
        } else {
          this.temp.provinsi = {id: resp.data.data[0].sales_office_id, name: resp.data.data[0].sales_office_name};
          this.getKabupaten(this.temp.provinsi);
        }

      })
      .catch((resp)=>{
        console.log(resp);
      })
    },
  }

}

Vue.directive('restrict', {
  bind (el, binding) {
    el.addEventListener('keydown', (e) => {
      // delete, backpsace, tab, escape, enter,
      let special = [46, 8, 9, 27, 13]
      if (binding.modifiers['decimal']) {
        // decimal(numpad), period
        special.push(110, 190)
      }
      // special from above
      if (special.indexOf(e.keyCode) !== -1 ||
        // Ctrl+A
        (e.keyCode === 65 && e.ctrlKey === true) ||
        // Ctrl+C
        (e.keyCode === 67 && e.ctrlKey === true) ||
        // Ctrl+X
        (e.keyCode === 88 && e.ctrlKey === true) ||
        // home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        return // allow
      }
      if ((binding.modifiers['alpha']) &&
        // a-z/A-Z
        (e.keyCode >= 65 && e.keyCode <= 90)) {
        return // allow
      }
      if ((binding.modifiers['number']) &&
        // number keys without shift
        ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
        // numpad number keys
        (e.keyCode >= 96 && e.keyCode <= 105))) {
        return // allow
      }
      // otherwise stop the keystroke
      e.preventDefault() // prevent
    }) // end addEventListener
  } // end bind
}) // end directive
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
  div.invalid .multiselect__tags {
    border: 1px solid #ff8080;
  }
</style>
