<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button v-if="access.C && role_id !== 4" @click="modalSo.show = !modalSo.show" type="button" class="btn btn-primary square" name="button">
            <i class="fa fa-plus"></i> Create Clearing Manual
          </button>
          <button v-if="access.R === true" type="button" class="btn btn-primary square" @click="openModalPlavon" name="button">
            <i class="fa fa-search"></i> Cek Plafon
          </button>
          <button v-if="access.C === true && role_id !== 4" @click="openUpload" type="button" class="btn btn-primary square"> <i class="fa fa-upload"></i> Upload</button>
          <a v-if="role_id !== 4" href="template-excel/monitoring-order/TEMPLATE_UPLOAD_SO.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
          <button v-if="access.R === true" type="button" @click="download()" :disabled="loadBtnDownload" class="btn btn-primary square" name="button">
            <i class="fa fa-download"></i> Download
          </button>
          <button v-if="access.A === true" :disabled="loading.changeStatus" type="button" @click="action('d')" class="btn btn-primary square">Unapproved</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="tableMonitoringOrderxx" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <monitoring-order-filter :reset="resetStatus" @search-table="searchTable"></monitoring-order-filter>
            <tr>
              <th></th>
              <th>No. Penebusan</th>
              <th>Kode Referensi</th>
              <th>Nama Distributor</th>
              <th>Nama Produsen</th>
              <th>Kode Booking</th>
              <th>Batas Akhir</th>
              <th>Tgl Pengambilan</th>
              <th>Tgl Rencana</th>
              <th>Tgl Order</th>
              <th>Status</th>
              <th>Kode SO</th>
              <th>Total Kuantitas DO</th>
              <th>Sisa Tebus SO</th>
              <th>Incoterm</th>
              <th>Provinsi</th>
              <th>Kabupaten</th>
              <th>Produk</th>
              <th>Tipe Pembayaran</th>
              <th>Total Harga</th>
              <th>PPN</th>
              <th>Jumlah Setelah Pajak</th>
              <th>Uang Muka</th>
              <th>Batas Akhir Pengambilan</th>
              <th>Dibuat Oleh</th>
              <th>Dibuat Pada</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <create-so-manual v-if="modalSo.show" @trigger-modal="triggerModal"></create-so-manual>
    <status-order v-if="modalSo.showChangeStatus" :uuid="modalSo.uuid" :number="modalSo.number" @trigger-modal="triggerModalChangeStatus"></status-order>
    <modal-confirm v-if="modalSo.showConfirm" @trigger-modal="triggerModalConfirm" @is-delete="isCancel" :text="modalSo.text" :uuid="modalSo.uuid"></modal-confirm>
    <modal-download-booking v-if="bookingCode.showDownload" @is-download="isDownload" :text="bookingCode.text" ></modal-download-booking>
    <modal-download-so v-if="soCode.showDownload" @is-download="isDownloadSo" :text="soCode.text" ></modal-download-so>
    <modal-plavon v-if="modalPlavon.show" @trigger-modal="triggerModalPlafon" :customer_id="modalPlavon.customer_id" :sales_org_id="modalPlavon.sales_org_id" :bank_id="modalPlavon.bank_id"></modal-plavon>
    <upload v-if="modalUpload" :title="title" @trigger-modal-upload="triggerModalUpload"></upload>
  </div>
</template>

<script>
import MonitoringOrderFilter from './MonitoringOrderFilter';
import CreateSoManual from './modal/CreateSoManual';
import StatusOrder from './modal/StatusOrder';
import ModalConfirm from '../../global/ModalConfirm';
import ModalDownload from '../../global/ModalDonwload';
import ModalPlavon from '../order/plafon/Modal';
import Upload from './modal/Upload';

export default {
  props: ['access'],
  data: function() {
    return {
      role_id: null,
      title: 'Monitoring Order',
      modalUpload: false,
      modalPlavon: {
        show: false,
        customer_id: null,
        sales_org_id: null,
        bank_id: null,
        btnDisabled: true
      },
      dt: '',
      resetStatus: false,
      monitoringDo: {
        number: '',
        customer_name: '',
        reference_code: '',
        sales_org_name: '',
        booking_code: '',
        payment_due_date: '',
        pickup_date: '',
        due_date_plan: '',
        order_date: '',
        status: '',
        so_number: '',
        incoterm: '',
        sales_office_name: '',
        sales_office_id: '',
        sales_group_name: '',
        sales_group_id: '',
        payment_method: '',
        total_price: '',
        good_redemption_due_date: '',
        created_at: '',
        upfront_payment: '',
        order_item_qty: '',
      },
      check: [],
      loading: {
        changeStatus: false
      },
      bookingCode: {
        uuid: null,
        number: null,
        showDownload: false,
        text: 'Memuat File ...',
      },
      soCode: {
        uuid: null,
        number: null,
        showDownload: false,
        text: 'Memuat File ...',
      },
      modalSo: {
        show: false,
        showConfirm: false,
        showChangeStatus: false,
        uuid: null,
        sonumber: null,
        number: null,
        text: 'Anda akan membatalkan SO ini, apakah anda yakin ?',
      },
      loadBtnDownload : false,
    }
  },
  components: {
    MonitoringOrderFilter, CreateSoManual, ModalConfirm,
    ModalDownloadBooking: ModalDownload,
    ModalDownloadSo: ModalDownload, ModalPlavon, Upload, StatusOrder
  },
  created() {
    if(this.access === undefined) {
      const encodeAccess = decodeURIComponent(this.$route.params.access);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const arrAccess = decodeAccess.split(",");
      console.log(this.access);
      if(arrAccess) {
        arrAccess.map((data) => {
          if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.accessComponent[data] = true
          } else {
            this.$router.push({path: '/home'});
            toastr.error('Tidak mempunyai akses halaman ini', 'Error');
          }
        })
      } else {
        this.$router.push({path: '/home'});
        toastr.error('Tidak mempunyai akses halaman ini', 'Error');
      }
    }
  },
  mounted() {
    let app = this;
    $(document).ready(function(e){
      app.userProfile()
      
      $(document).on("click", "#resetFilterMonitoringOrder", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterMonitoringOrder').prop('disabled', true);
  
        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterMonitoringOrder').prop('disabled', false);
        }, 1000)
      })
      $(document).on("click","#downloadBookingCodeMO",function(e){
        e.preventDefault()
        const uuid = $(this).data("uuid");
        const number = $(this).data("number");
        app.bookingCode.showDownload = true;
        app.bookingCode.uuid = uuid;
        app.bookingCode.number = number;
      })
      $(document).on("click","#downloadSoNumber",function(e){
        e.preventDefault()
        let uuid = $(this).data("uuid");
        const number = $(this).data("number");
        app.soCode.showDownload = true;
        app.soCode.uuid = uuid;
        app.soCode.number = number;
      })
      $(document).on("click", "#toOrder", function(e){
        e.preventDefault()
        let uuid = $(this).data('uuid');
        let access = encodeURIComponent(app.$route.params.access);
        let url = '/'+access+'/transaksi/order/detail/'+uuid+'/step-3';
        app.$router.push({path: url});
      })
      $(document).on("click", "#cancelSO", function(e){
        e.preventDefault()
        let uuid = $(this).data('uuid');
        let sonumber = $(this).data('sonumber');
        app.modalSo.showConfirm = true;
        app.modalSo.uuid = uuid;
        app.modalSo.sonumber = (sonumber === null ? '' : sonumber);
        app.modalSo.text = 'Anda akan membatalkan SO '+app.modalSo.sonumber+', apakah anda yakin ?';
      })
      $(document).on("click", "#changeStatusOrder", function(e){
        e.preventDefault()
        let uuid = $(this).data('uuid');
        let number = $(this).data('number');
        app.modalSo.showChangeStatus = true;
        app.modalSo.uuid = uuid;
        app.modalSo.number = (number === null ? '-' : number);
        // app.modalSo.text = 'Anda akan membatalkan SO '+app.modalSo.sonumber+', apakah anda yakin ?';
      })
      $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })
      $(document).on("click", "#check", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })
      $(document).on('change','.checks',function(){
        if($('.checks').is( ":checked" )===true){
            $('.check').prop('checked',true);
        }else{
            $('.check').prop('checked',false);
        }
      });
      $(document).on('change','.check',function(){
            $('.checks').prop('checked',false);
      });
    })
  },
  methods: {
    userProfile(){
      this.axios.get('user/profile')
      .then((resp) => {
        this.role_id = resp.data.data.role.role_id;
        this.getDataMonitoringOreder();
        $("div.dataTables_length").append(' <button id="resetFilterMonitoringOrder" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
        // this.isDistributor = (resp.data.data.role.role_id === 4) ? false : this.accessComponent.C
      })
      .catch((resp) => {
        console.log(resp);
      })
      .then((resp) => {
        console.log(resp);
      })
    },
    openUpload(){
      this.modalUpload = true;
    },
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      this.check = this.check.map(data => {
        return {uuid: data.id, status: type}
      })
      this.saveAction();
    },
    saveAction(){
      this.axios.put('monitoringorder/unapproved', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        // toastr.error(resp.message, "Pesan")
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    triggerModal() {
      this.modalSo.show = false
      this.dt.draw()
    },
    triggerModalUpload() {
      this.modalUpload = false;
      this.modalSo.show = false
      this.dt.draw()
    },
    triggerModalConfirm() {
      this.modalSo.showConfirm = false
      this.modalSo.uuid = null
    },
    triggerModalChangeStatus() {
      this.modalSo.showChangeStatus = false
      this.modalSo.uuid = null
      this.modalSo.number = null
			this.dt.draw()
    },
    triggerModalPlafon() {
      this.modalPlavon.show = false
      this.modalPlavon.customer_id = null
      this.modalPlavon.sales_org_id = null
      this.modalPlavon.bank_id = null
    },
    openModalPlavon() {
      this.modalPlavon.show = true
      // if(this.tempDt.bank_id == null || this.tempDt.bank_id == '') {
      //   toastr.warning('Pilih Bank terlebih dahulu')
      // } else {
      //   this.modalPlavon.show = true
      //   this.modalPlavon.customer_id = this.tempDt.customer_id.id
      //   this.modalPlavon.sales_org_id = this.tempDt.sales_org_id.id
      //   this.modalPlavon.bank_id = this.tempDt.bank_id
      // }
    },
    isDownload(){
      this.downloadBookingCode();
    },
    isDownloadSo(){
      this.downloadSoCode();
    },
    isCancel(uuid){
      var app = this;
      app.axios.put('order/status/'+uuid, {
        status: 'o'
      })
      .then((resp) => {
        toastr.success("Data SO berhasil dibatalkan", "Sukses");
        app.dt.draw();
      })
      .catch((resp) => {
        toastr.error("Data SO gagal dibatalkan", "Gagal");
        toastr.error(resp.response.data.errors)
        // console.log(resp.response.data.errors);
      })
    },
    getDataMonitoringOreder() {
      var app = this;
      app.dt =  $("#tableMonitoringOrderxx").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        order: [[ 1, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 DownloadMonitoringOrder',
            text: "Download Monitoring Order",
            title:"",
            filename:"Monitoring Order",
            exportOptions: {
                columns: 'th:not(:first-child)'
            }
          }
        ],
        columnDefs: [
           { "orderable": false, "targets": 0 }
        ],
        ajax: {
          'url': 'api/monitoringorder',
          'type': 'GET',
          'data': function(d) {
            d.number = app.monitoringDo.number,
            d.reference_code = app.monitoringDo.reference_code,
            d.customer_name = app.monitoringDo.customer_name,
            d.sales_org_name = app.monitoringDo.sales_org_name,
            d.booking_code = app.monitoringDo.booking_code,
            d.payment_due_date = app.monitoringDo.payment_due_date,
            d.pickup_date = app.monitoringDo.pickup_date,
            d.due_date_plan = app.monitoringDo.due_date_plan,
            d.order_date = app.monitoringDo.order_date,
            d.status = app.monitoringDo.status,
            d.so_number = app.monitoringDo.so_number,
            d.incoterm = app.monitoringDo.incoterm,
            d.sales_office_name = app.monitoringDo.sales_office_name,
            d.sales_office_id = app.monitoringDo.sales_office_id,
            d.sales_group_name = app.monitoringDo.sales_group_name,
            d.sales_group_id = app.monitoringDo.sales_group_id,
            d.payment_method = app.monitoringDo.payment_method,
            d.total_price = app.monitoringDo.total_price,
            d.good_redemption_due_date = app.monitoringDo.good_redemption_due_date,
            d.created_at = app.monitoringDo.created_at,
            d.upfront_payment = app.monitoringDo.upfront_payment,
            d.order_item_qty = app.monitoringDo.order_item_qty
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {
            data: 'uuid',
            render:function(data, type, full) {
              let check = '';
              if (full.status === 'y'){
                check = '<fieldset>'+
                          '<label class="custom-control custom-checkbox">'+
                            '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                            '<span class="custom-control-indicator"></span>'+
                          '</label>'+
                        '</fieldset>';
              }
              return check;
            }
          },
          {data: 'number', name: 'number', render: function(data, type, full){
            if (app.access.R) {
              const access = encodeURIComponent(app.$route.params.access);
              const uuid = full.uuid;
              const url = '#/'+access+'/transaksi/order/detail/'+uuid+'/step-3';
              return '<a href="'+url+'">'+data+'</a>';
            } else {
              return data
            }
          }},
          {data: 'reference_code', name: 'reference_code'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'booking_code', name: 'booking_code', render: function(data, type, full){
            if (app.access.R) {
              if(data === null || data === '') {
                return '-';
              } else {
                return '<a href="#" id="downloadBookingCodeMO" data-number="'+full.number+'" data-uuid="'+full.uuid+'">'+data+'</a>';
              }
            } else {
              if(data === null || data === '') {
                return '-';
              } else {
                return data;
              }
            }
          }},
          {data: 'payment_due_date', name: 'payment_due_date', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data: 'pickup_due_date', name: 'pickup_due_date', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data: 'df_due_date_plan', name: 'df_due_date_plan', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data: 'order_date', name: 'order_date', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data:'status_name', name:'status_name'},
          {data:'so_number_validate', name:'so_number_validate', render: function(data, type, full){
            if(app.access.R){
              if(data === null || data === '-' || data === ''){
                return '-'
                } else {
                return '<a href="#" id="downloadSoNumber" data-number="'+data+'" data-uuid="'+full.uuid+'">'+data+'</a>'
              }
            } else {
              return '-'
            }
          }},
          {data:'delivery_qty', name:'delivery_qty', render: function(d, t, f){
            if(d === '' || d === null) {
              return ''
            } 
              return parseFloat(d).toFixed(2)
          }},
          {data:'sisa_tebus', name:'sisa_tebus', render: function(d, t, f){
            if(f.delivery_qty === '' || f.delivery_qty === null) {
              if(f.order_item_qty === '' || f.order_item_qty === null){
                return '0'
              } else {
                return parseFloat(f.order_item_qty).toFixed(2)
              }
            } else {
              if(d === '' || d === null) {
                return '0'
              } else {
                return parseFloat(d).toFixed(2)
              }
            }
          }},
          {data: 'incoterm',name: 'incoterm'},
          {data:'sales_office_name', name:'sales_office_name'},
          {data:'sales_group_name', name:'sales_group_name'},
          {data:'product_name', name:'product_name'},
          {data: 'payment_method', name: 'payment_method'},

          {data:'total_price_before_ppn', name:'total_price_before_ppn', render: function(d,t,f){
              const uang = (d != null && d != '') ? d.split('.')[0] : '';
              return app.moneyFormat(uang);
          }},
          {data:'ppn', name:'ppn', render: function(d,t,f){
              const uang = (d != null && d != '') ? d.split('.')[0] : '';
              return app.moneyFormat(uang);
          }},
          {data:'total_price', name:'total_price', render: function(d,t,f){
              const uang = (d != null && d != '') ? d.split('.')[0] : '';
              return app.moneyFormat(uang);
          }},
          {data:'upfront_payment', name:'upfront_payment', render: function(d,t,f){
              const uang = (d != null && d != '') ? d.split('.')[0] : '';
              return app.moneyFormat(uang);
          }},
          {data: 'good_redemption_due_date', name: 'good_redemption_due_date', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data:'created_by', name:'created_by'},
          {data: 'created_at', name: 'created_at', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data:'uuid', name:'uuid', render: function(data, type, full){
            let changePlant = '';
            let cancelSo = '';
            let changeStatusOrder = '';
            if (app.access.U === true && app.role_id !== 4) {
              if((full.status === 'l' || full.status === 'u' || full.status === 'k') && parseInt(full.so_upload) === 0) {
                const access = encodeURIComponent(app.$route.params.access);
                const uuid = full.uuid;
                const url = '#/'+access+'/transaksi/order/detail/'+uuid+'/step-3/change-plant';
                changePlant = '<a class="btn btn-sm btn-success square" href="'+url+'"><i class="fa fa-pencil-square-o"></i>Edit Plant </a>';
              } else {
                changePlant = '';
              }

              if(full.status === 'l' || full.status === 'u' || full.status === 'k' || full.status === 'y' || full.status === 's' || full.status === 'r') {
                cancelSo = '<button id="cancelSO" data-uuid="'+data+'" data-sonumber="'+full.so_number+'" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Cancel SO</button>';                
              } else {
                cancelSo = ''
              }

							if(app.role_id !== 4){
								if(app.access.U && full.status === 'x'){
									changeStatusOrder = '<button id="changeStatusOrder" data-uuid="'+data+'" data-number="'+full.number+'" class="btn btn-sm btn-primary square"><i class="fa fa-edit"></i> Ubah Status</button>';     
								} else {
									changeStatusOrder = '';
								}
							}
            } 
            return changeStatusOrder+' '+changePlant+' '+cancelSo;
          }},
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      });
      app.dt.draw();
    },
    moneyFormat(value) {
      return this.formatRupiah(value, "Rp. ")
    },
    formatRupiah(angka, prefix) {
      var separator;
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split   		= number_string.split(','),
      sisa     		= split[0].length % 3,
      rupiah     		= split[0].substr(0, sisa),
      ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    },
    searchTable(obj) {
      // this.monitoringDo = obj;
      // console.log(obj);
      this.monitoringDo.number = obj.number;
      this.monitoringDo.customer_name = obj.customer_name;
      this.monitoringDo.reference_code = obj.reference_code;
      this.monitoringDo.sales_org_name = obj.sales_org_name;
      this.monitoringDo.booking_code = obj.booking_code;
      this.monitoringDo.status = obj.status;
      this.monitoringDo.so_number = obj.so_number;
      this.monitoringDo.incoterm = obj.incoterm;
      this.monitoringDo.sales_office_name = obj.sales_office_name;
      this.monitoringDo.sales_office_id = obj.sales_office_id;
      this.monitoringDo.sales_group_name = obj.sales_group_name;
      this.monitoringDo.sales_group_id = obj.sales_group_id;
      this.monitoringDo.payment_method = obj.payment_method;
      this.monitoringDo.total_price = obj.total_price;
      this.monitoringDo.upfront_payment = obj.upfront_payment;
      this.monitoringDo.order_item_qty = obj.order_item_qty;
      this.validateDateBatasAkhir(obj);
      this.validateDateTanggalPengambilan(obj);
      this.validateDateTanggalRencana(obj);
      this.validateDateTanggalAkhir(obj);
      this.validateDateBatasPengambilan(obj);
      this.validateDateCreateAt(obj);
      this.dt.draw();
    },
    validateDateBatasAkhir(obj) {
      if(obj.payment_due_date && obj.payment_due_date.from && obj.payment_due_date.to) {
        this.monitoringDo.payment_due_date = obj.payment_due_date.from+';'+obj.payment_due_date.to;
      } else if (obj.payment_due_date && obj.payment_due_date.certain) {
        this.monitoringDo.payment_due_date = obj.payment_due_date.certain;
      } else {
        this.monitoringDo.payment_due_date = '';
      }
    },
    validateDateTanggalPengambilan(obj) {
      if(obj.pickup_date && obj.pickup_date.from && obj.pickup_date.to) {
        this.monitoringDo.pickup_date = obj.pickup_date.from+';'+obj.pickup_date.to;
      } else if (obj.pickup_date && obj.pickup_date.certain) {
        this.monitoringDo.pickup_date = obj.pickup_date.certain;
      } else {
        this.monitoringDo.pickup_date = '';
      }
    },
    validateDateTanggalRencana(obj) {
      if(obj.due_date_plan && obj.due_date_plan.from && obj.due_date_plan.to) {
        this.monitoringDo.due_date_plan = obj.due_date_plan.from+';'+obj.due_date_plan.to;
      } else if (obj.due_date_plan && obj.due_date_plan.certain) {
        this.monitoringDo.due_date_plan = obj.due_date_plan.certain;
      } else {
        this.monitoringDo.due_date_plan = '';
      }
    },
    validateDateTanggalAkhir(obj) {
      if(obj.order_date && obj.order_date.from && obj.order_date.to) {
        this.monitoringDo.order_date = obj.order_date.from+';'+obj.order_date.to;
      } else if (obj.order_date && obj.order_date.certain) {
        this.monitoringDo.order_date = obj.order_date.certain;
      } else {
        this.monitoringDo.order_date = '';
      }
    },
    validateDateBatasPengambilan(obj) {
      if(obj.good_redemption_due_date && obj.good_redemption_due_date.from && obj.good_redemption_due_date.to) {
        this.monitoringDo.good_redemption_due_date = obj.good_redemption_due_date.from+';'+obj.good_redemption_due_date.to;
      } else if (obj.good_redemption_due_date && obj.good_redemption_due_date.certain) {
        this.monitoringDo.good_redemption_due_date = obj.good_redemption_due_date.certain;
      } else {
        this.monitoringDo.good_redemption_due_date = '';
      }
    },
    validateDateCreateAt(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.monitoringDo.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.monitoringDo.created_at = obj.created_at.certain;
      } else {
        this.monitoringDo.created_at = '';
      }
    },
    DownloadMonitoringOrder() {
      $('.DownloadMonitoringOrder').trigger('click')
    },
    download(){
      this.loadBtnDownload = true;
      this.axios({
        url: 'monitoringorder/download',
        params: {
          number : this.monitoringDo.number,
          reference_code : this.monitoringDo.reference_code,
          customer_name : this.monitoringDo.customer_name,
          sales_org_name : this.monitoringDo.sales_org_name,
          booking_code : this.monitoringDo.booking_code,
          payment_due_date : this.monitoringDo.payment_due_date,
          pickup_date : this.monitoringDo.pickup_date,
          due_date_plan : this.monitoringDo.due_date_plan,
          order_date : this.monitoringDo.order_date,
          status : this.monitoringDo.status_name,
          so_number : this.monitoringDo.so_number,
          incoterm : this.monitoringDo.incoterm,
          sales_office_name : this.monitoringDo.sales_office_name,
          sales_office_id : this.monitoringDo.sales_office_id,
          sales_group_name : this.monitoringDo.sales_group_name,
          sales_group_id : this.monitoringDo.sales_group_id,
          payment_method : this.monitoringDo.payment_method,
          total_price : this.monitoringDo.total_price_before_ppn,
          good_redemption_due_date : this.monitoringDo.good_redemption_due_date,
          created_at : this.monitoringDo.created_at,
          upfront_payment : this.monitoringDo.upfront_payment
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Monitoring Order.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    },
    downloadBookingCode(){
      var app = this;
      app.axios({
        url: 'monitoringorder/downloadbooking/'+app.bookingCode.uuid,
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', app.bookingCode.number+'.pdf'); //or any other extension
         document.body.appendChild(link);
         link.click();
         app.bookingCode.showDownload = false;
         app.bookingCode.uuid = null;
         app.bookingCode.number = null;
      })
      .catch((resp) => {
        console.log(resp.response);
        toastr.error('Tidak ditemukan data.', 'File Rusak')
        app.bookingCode.showDownload = false;
        app.bookingCode.uuid = null;
        app.bookingCode.number = null;
      })
    },
    downloadSoCode(){
      var app = this;
      app.axios({
        url: 'monitoringorder/downloadso/'+app.soCode.uuid,
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', app.soCode.number+'.pdf'); //or any other extension
          document.body.appendChild(link);
          link.click();
          app.soCode.showDownload = false;
          app.soCode.uuid = null;
          app.soCode.number = null;
      })
      .catch((resp) => {
        const url = window.URL.createObjectURL(new Blob([resp.response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'MONITORING-DO-SO-NUMBER'+app.soCode.number+'.pdf'); //or any other extension
        document.body.appendChild(link);
        link.click();
        toastr.error('Tidak ditemukan data.', 'File Rusak')
        app.soCode.showDownload = false;
        app.soCode.uuid = null;
        app.soCode.number = null;
      })
    }
  }
}
</script>

<style media="screen">
  .DownloadMonitoringOrder {
    display: none !important;
  }
</style>
