<template>
  <div>
    <form-loader :view="loadingComponent"></form-loader>
    <div v-if="!loadingComponent">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-6">
                <div class="pull-left">
                  <h3>Lap. Bulanan Distributor - {{ dataF5.header.number }}</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="pull-right">
                  <button type="button" @click="reload()" class="btn btn-primary square" name="button">
                    <i class="fa fa-refresh"></i>
                  </button>
                  <button type="button" @click="download()" class="btn btn-primary square" name="button">
                    Download
                  </button> -
                  <div class="badge" :class="(dataF5.header.status === 'd') ? 'badge-danger' : 'badge-primary'">
      							<h4> {{ dataF5.header.status_name }} </h4>
      						</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-5">
                <dl class="row">
                  <dt class="col-sm-4">Produsen</dt>
                  <dd class="col-sm-8">{{ dataF5.header.sales_org_name }}</dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-4">Distributor</dt>
                  <dd class="col-sm-8">{{ dataF5.header.customer_id }} - {{ dataF5.header.customer_name }}</dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-4">Tujuan</dt>
                  <dd class="col-sm-8">{{ dataF5.header.sales_group_name }}</dd>
                </dl>
              </div>
              <div class="col-md-6">
                <dl class="row">
                  <dt class="col-sm-4">Periode Pelaporan</dt>
                  <dd class="col-sm-8">{{ dataF5.header.month }} {{ dataF5.header.year }}</dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-4">No. SO</dt>
                  <dd class="col-sm-8"><a href="" @click="showNosoAct">Lihat Detail</a></dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-4">Penyaluran</dt>
                  <dd class="col-sm-8"><a href="" @click="showNoPkp">Lihat Detail</a></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display:none;" class="row">
        <div class="col-md-4">
          <div class="form-group">
            <input type="number" class="form-control" v-model="heightCss">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <div :style="'height: auto'">
              <table id="tableHirarkiF5" class="table table-xss table-bordered display nowrap magic-table">
                <thead id="myhead">
                  <tr>
                    <th class="side-left">Kecamatan/Pengecer</th>
                    <th :colspan="dataF5.produks.length">Persediaan Awal </th>
                    <th :colspan="dataF5.produks.length">Penebusan</th>
                    <th :colspan="dataF5.produks.length">Penyaluran</th>
                    <th :colspan="dataF5.produks.length">Persediaan Akhir</th>
                  </tr>
                  <tr>
                    <th class="side-left"></th>
                    <th v-for="(prod, i) in dataF5.produks">{{prod.name}}</th>
                    <th v-for="(prod, i) in dataF5.produks">{{prod.name}}</th>
                    <th v-for="(prod, i) in dataF5.produks" class="blue">{{prod.name}}</th>
                    <th v-for="(prod, i) in dataF5.produks">{{prod.name}}</th>
                  </tr>
                </thead>
                <tbody id="mybody" v-on:scroll="fixscroll">
                  <template v-for="(kec, i) in dataF5.data">
                    <row-kecamatan
                      :status="dataF5.header.status"
                      :kecamatan="kec"
                      :product="dataF5.produks"
                      @toggle-collapse-kecamatan="toggleCollapseKecamatan"
                      :icon="(collapse.kecamatan.includes(kec.id)) ? true : false"
                    >
                    </row-kecamatan>
                    <template
                      v-if="collapse.kecamatan.includes(kec.id)"
                      v-for="(pengecer, n) in kec.data"
                    >
                      <row-pengecer
                        :pengecer="pengecer"
                        :status="dataF5.header.status"
                        :product="dataF5.produks"
                        @toggle-collapse-pengecer="toggleCollapsePengecer"
                      >
                      </row-pengecer>
                    </template>
                  </template>
                </tbody>
                <tfoot id="myfoot">
                  <tr>
                    <th class="side-left">Total Kabupaten</th>
                    <template v-for="(totalKabupaten, i) in dataF5.total.awal">
                      <template v-for="(prod, i) in dataF5.produks">
                        <th v-if="totalKabupaten.id === prod.id">{{ numberFormat(totalKabupaten.qty) }}</th>
                      </template>
                    </template>
                    <template v-for="(totalKabupaten, i) in dataF5.total.penebusan">
                      <template v-for="(prod, i) in dataF5.produks">
                        <th v-if="totalKabupaten.id === prod.id">{{ numberFormat(totalKabupaten.qty) }}</th>
                      </template>
                    </template>
                    <template v-for="(totalKabupaten, i) in dataF5.total.penyaluran">
                      <template v-for="(prod, i) in dataF5.produks">
                        <th v-if="totalKabupaten.id === prod.id" class="blue">{{ numberFormat(totalKabupaten.qty) }}</th>
                      </template>
                    </template>
                    <template v-for="(totalKabupaten, i) in dataF5.total.akhir">
                      <template v-for="(prod, i) in dataF5.produks">
                        <th v-if="totalKabupaten.id === prod.id" :class="classObj[`total_akhir_${prod.id}`]">{{ numberFormat(totalKabupaten.qty) }}</th>
                      </template>
                    </template>
                  </tr>
                </tfoot>
              </table>
            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="pull-left">
              <br>
              <button type="button" onclick="window.history.back();" class="btn btn-secondary square" data-dismiss="modal">Kembali</button>
            </div>
            <div class="pull-right">
              <br>
              <template v-if="dataF5.header.status === 's'">
                <button v-if="access.C" type="button" @click="save('d')" class="btn btn-danger square" data-dismiss="modal" :disabled="loadingButton">
                  <i class="fa fa-spin fa-refresh" v-if="loadingButton"></i>
                  {{ (loadingButton) ? 'Memuat..' : 'Unsubmit' }}
                </button>
                <button v-if="access.A" type="button" @click="save('y')" class="btn btn-primary square" data-dismiss="modal" :disabled="loadingButton">
                  <i class="fa fa-spin fa-refresh" v-if="loadingButton"></i>
                  {{ (loadingButton) ? 'Memuat..' : 'Approve' }}
                </button>
              </template>
              <template v-if="access.A && dataF5.header.status === 'y'">
                <button type="button" @click="save('s')" class="btn btn-danger square" data-dismiss="modal" :disabled="loadingButton">
                  <i class="fa fa-spin fa-refresh" v-if="loadingButton"></i>
                  {{ (loadingButton) ? 'Memuat..' : 'Unapprove' }}
                </button>
              </template>
              <template v-if="access.C && dataF5.header.status === 'd'">
                <button type="button" @click="save('s')" class="btn btn-primary square" data-dismiss="modal" :disabled="loadingButton">
                  <i class="fa fa-spin fa-refresh" v-if="loadingButton"></i>
                  {{ (loadingButton) ? 'Memuat..' : 'Submit' }}
                </button>
              </template>
            </div>
          </div>
        </div>
      </div>
      <penyaluran v-if="showPkp" :uuid="uuid" @trigger-modal="triggerModal"></penyaluran>
      <no-so v-if="showNoso" :uuid="uuid" @trigger-modal="triggerModal"></no-so>
    </div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
import RowKecamatan from './table/RowKecamatan.vue';
import RowPengecer from './table/RowPengecer.vue';
import Penyaluran from './modal/Penyaluran.vue';
import NoSo from './modal/NoSo.vue';
export default {
  props: ['access'],
  data: function() {
    return {
      heightCss: 70,
      loadingComponent: false,
      loadingButton: false,
      collapse:{
        kecamatan : [],
        pengecer: []
      },
      classObj: {},
      dataF5 : {},
      showPkp: false,
      showNoso: false,
      uuid: this.$route.params.uuid
    }
  },
  components: {
    FormLoader, RowKecamatan, RowPengecer, Penyaluran, NoSo
  },
  created() {
    this.getDataF5();
  },
  mounted() {
    var app = this;
    $("#mybody").scroll(function(event) {
      alert()
      app.fixscroll();
    });
  },
  methods: {
    numberFormat(value) {
      if(value < 0) {
        return value.toFixed(3).toString();
      } else {
        value = parseFloat(value).toFixed(3).toString();
        return this.numberEngine(value)
      }
    },

    numberEngine(angka, prefix){
			var number_string = angka.replace(/[^,\d]/g, ','),
			split   		= number_string.split(','),
			sisa     		= split[0].length % 3,
			numb     	  = split[0].substr(0, sisa),
			ribuan     	= split[0].substr(sisa).match(/\d{3}/gi);
 
			// tambahkan titik jika yang di input sudah menjadi angka ribuan
			if(ribuan){
				var separator = sisa ? '.' : '';
				numb += separator + ribuan.join('.');
			}
 
			numb = split[1] != undefined ? numb + ',' + split[1] : numb;
			return prefix == undefined ? numb : (numb ? 'Rp. ' + numb : '');
    },

    download() {
      event.preventDefault();
      let uuid = this.$route.params.uuid;
      this.axios({
        url: 'reportf5/download/'+uuid,
        method: 'GET',
        responseType: 'blob', // important
      })
      .then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', this.dataF5.header.number+'.pdf'); //or any other extension
         document.body.appendChild(link);
         link.click();
      })
      .catch((resp) => {
        toastr.error('Data F5 Items not Found');
      })
    },

    getDataF5() {
      this.loadingComponent = true;
      let uuid = this.$route.params.uuid;
      this.axios.get('detailreportf5/'+uuid)
      .then((resp) => {
				const datas = resp.data.data;
				if(datas && datas.produks.length > 0){
					datas.produks.forEach((prod, index_prod) => {
						if(prod.id === 'P51'){ prod.name = 'POC'; }
						if(prod.id === 'P54'){ prod.name = 'KAKAO'; }
					})
				}
        this.dataF5 = datas;
        this.loadingComponent = false;
        this.setCollapseShow();
        this.setDataF5(datas)
      })
      .catch((resp) => {
        this.loadingComponent = false;
      })
    },

    setDataF5(dataF5) {
      if(dataF5.total.akhir.length > 0){
        dataF5.total.akhir.map((dataAkhir, keyAkhir) => {
          this.classObj[`total_akhir_${dataAkhir.id}`] = dataAkhir.qty < 0 ? 'text-danger' : ''
        })
      }
    },

    save(status) {
      event.preventDefault();
      let isDanger = false;
      for (const [key, value] of Object.entries(this.classObj)) {
        if(value !== ''){
          isDanger = true;
        }
      }

      if((status === 'y' || status === 's') && isDanger === true){
        toastr.warning("Total Akhir Kurang Sesuai");
      } else {
        this.loadingButton = true;
        this.dataF5.posts.f5items.map(data => {
          data['status'] = status;
        });
        this.dataF5.posts = [this.dataF5.posts];
        this.axios.post('detailreportf5', this.dataF5.posts)
        .then((resp) => {
          toastr.success(resp.data.message);
          this.getDataF5();
          this.loadingButton = false;
        })
        .catch((resp) => {
          toastr.error(resp.response.data.message);
          toastr.error(resp.response.data.error);
          this.loadingButton = false;
        })
      }
    },

   fixscroll() {
      const thead = document.getElementById("myhead");
      const tfoot = document.getElementById("myfoot");
      const tbodyScroll = document.getElementById("mybody").scrollLeft;
      thead.scrollLeft = tbodyScroll;
      tfoot.scrollLeft = tbodyScroll;
      //document.getElementById("frozen").scrollLeft = 0;
    },

    reload() {
      this.getDataF5();
    },

    showNoPkp() {
      event.preventDefault();
      this.showPkp = true;
    },

    showNosoAct() {
      event.preventDefault();
      this.showNoso = true;
    },

    triggerModal() {
      this.showPkp = false
      this.showNoso = false
    },

    setCollapseShow(){
      this.dataF5.data.map((kecamatan) => {
        this.collapse.kecamatan.push(kecamatan.id)
        // kecamatan.data.map((pengecer) => {
        //   this.collapse.pengecer.push(pengecer.id)
        // })
      })
    },

    toggleCollapseKecamatan(id) {
      const index = this.collapse.kecamatan.indexOf(id);
      if (index > -1) {
      	this.collapse.kecamatan.splice(index, 1)
      } else {
      	this.collapse.kecamatan.push(id)
      }
    },

    toggleCollapsePengecer() {
      const index = this.collapse.pengecer.indexOf(id);
      if (index > -1) {
      	this.collapse.pengecer.splice(index, 1)
      } else {
      	this.collapse.pengecer.push(id)
      }
    }
  }

}
</script>

<style lang="css" scoped>
  .badge-primary {
      background-color: #1980F0 !important;
  }
  .box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex: 1 1 auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .red {
    background-color: red;
  }

  ol, ul, dl {
    margin-bottom: 0px !important;
  }

  .blue {
    background-color: #d9edf7;
    color: #777 !important;
  }

  .fix1.empty {
    color: #eee;
  }

</style>
