<template >
  <div class="modal fade" id="formF6" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form @submit="SaveHeaderF6">
          <div class="modal-header">
            <h4 class="modal-title">Entry Baru Penyaluran</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-3 label-control" >Distributor</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-control-sm" v-model="customer_name" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" >Tujuan</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-control-sm" v-model="inputTujuan" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" >Tujuan</label>
                  <div class="col-md-8">
                    <input type="date" v-model="dateSend" :min="dateF6.oneMonthAgo" :max="dateF6.now" class="form-control form-control-sm"
                    :class="{'is-invalid' : error && errors.distribution_date}"
                    >
                    <p class="text-danger" v-if="error && errors.distribution_date">{{errors.distribution_date[0]}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-primary square" :disabled="loadingButton">
              <i :class="(loadingButton) ? 'fa fa-spin fa-refresh' : '' "></i>
              {{ (loadingButton) ? 'Menyimpan' : 'Submit' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['initial_stock_id', 'uuid', 'sales_org_id', 'sales_group_id', 'sales_group_name', 'customer_id', 'customer_name'],
  data: function() {
    return {
      error: false,
      errors: {},
      inputTujuan: this.sales_group_id+' - '+this.sales_group_name,
      dateSend: null,
      dateF6: {
        now: null,
        oneMonthAgo: null
      },
      loadingButton: false
    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    var app = this
    $("#formF6").modal("show")
    $("#formF6").on("hidden.bs.modal", function(){
      app.closeModal()
    })
    this.getDateNowAndOneMonthAgo()
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal-form", 'RefreshTable');
    },
    getDateNowAndOneMonthAgo(){
      var n = new Date();
      var d = new Date();
      d.setMonth(d.getMonth() - 1);
      d.setHours(0, 0, 0);
      d.setMilliseconds(0);
      let oneMonthAgo = n.getFullYear()+'-'+('0' + (n.getMonth()+1)).slice(-2)+'-01';
      let now = n.getFullYear()+'-'+('0' + (n.getMonth()+1)).slice(-2)+'-'+('0' + n.getDate()).slice(-2);
      this.dateF6.now = now;
      this.dateF6.oneMonthAgo = oneMonthAgo;
    },
    SaveHeaderF6() {
      event.preventDefault();
      this.loadingButton = true;
      let data = {
        sales_org_id : this.sales_org_id,
        initial_stock_id : this.initial_stock_id,
        sales_group_id: this.sales_group_id,
        customer_id: this.customer_id,
        distribution_date: this.dateSend
      }
      this.axios.post('penyaluraninitialstockf6', data)
      .then((resp) => {
        toastr.success(resp.data.message)
        this.loadingButton = false
        let access = encodeURIComponent(this.$route.params.access)
        let uuid = resp.data.data.uuid
        $("#formF6").modal("hide")
        this.$router.push({path: '/'+access+'/laporan/initial-stok-f6/detail/'+uuid});
      })
      .catch((resp) => {
        if(typeof resp.response.data.message === 'object') {
          this.error = true
          this.errors = resp.response.data.message
        } else {
          toastr.error(resp.response.data.message)
        }
        this.loadingButton = false
      })
    }
  }

}
</script>

<style lang="css" scoped>
</style>
