<template>
  <div class="modal fade" id="F6Upload" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Unggah Initail Stok F6</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3 label-control" >File Upload</label>
                <div class="col-md-8">
                  <input type="file" ref="file" class="form-control"
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                  @change="handleFileUpload()">
                  <p class="help-block">File harus berformat xlsx/xls</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          <button type="button" @click="sendXhr()" class="btn btn-primary square" :disabled="loading">
            <i class="fa fa-spin fa-refresh" v-if="loading"></i>
            {{ (loading) ? 'Mengunggah..' : 'Unggah' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [],
  data: function() {
    return {
      excelFile: '',
      file: '',
      error: false,
      loading: false
    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    var app = this;
    $("#F6Upload").modal("show");
    $("#F6Upload").on("hidden.bs.modal", function(){
      app.closeModal()
    })
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal-upload")
    },
    handleFileUpload(){
      this.excelFile = this.$refs.file.files[0];
      this.file = this;
    },
    sendXhr() {
      event.preventDefault();
      this.loading = true;
      let app = this;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      this.axios.post('initialstockf6', formData, { headers : {'Content-Type' : 'multipart/form-data'} })
      .then((resp) => {
        toastr.success('Succes Uploaded', 'Import excel');
        $("#F6Upload").modal("hide");
        this.error = false;
        this.loading = false;
      })
      .catch((resp) => {
        if(resp.response.data.errors) {
          $.each(resp.response.data.errors,function(index,value){
             toastr.error(value, index);
          });
        }
        toastr.error(resp.response.data.message, 'Import excel');
        this.loading = false;
      })
    }
  }

}
</script>

<style lang="css" scoped>
</style>
