<template>
    <!-- Modal On Vue  -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- content -->
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Form Substitusi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <loading :view="loaderAnimate" v-if="loads=='s'"></loading> -->
                    <h4 class="form-section"><i class="ft-user"></i> Form Material Subtitusi  </h4>
                    <hr>
                    <div class="row" >
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >Produsen </label>
                                <div class="col-md-8 ">
                                    <multiselect
                                      @input="getGudang"
                                      v-model="form.sales_org_id"
                                      :options="m_produsen"
                                      track-by="id" :custom-label="ProdnameWithId"
                                      :searchable="true" :close-on-select="true"
                                      :show-labels="false"
                                      :disabled="isDisabled"
                                      :placeholder="(loading.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'"
                                       >
                                    </multiselect>
                                    <p class="text-danger" v-if="error && errors.sales_org_id">{{errors.sales_org_id[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >Valid From </label>
                                <div class="col-md-8">
                                    <!-- <input type="date" class="form-control" v-model="form.valid_from" placeholder="" :disabled="isDisabled"> -->
                                    <inputdate 
                                      v-if="datauuid === null"
                                      :type="'valid_from'" 
                                      @get-date="valid_from"
                                      v-model="form.valid_from"
                                      :getDated="form.valid_from"
                                      :disabled="isDisabled" />
                                    <input v-else type="text" class="form-control" v-model="form.valid_from" :disabled="isDisabled">
                                    <p class="text-danger" v-if="error && errors.valid_from">{{errors.valid_from[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >Valid Date</label>
                                <div class="col-md-8">
                                    <!-- <p class="text-danger" v-if="error && errors.valid_from">{{errors.valid_from[0]}}</p> -->
                                    <inputdate 
                                      v-if="datauuid === null"
                                      :type="'valid_to'" 
                                      @get-date="valid_to"
                                      v-model="form.valid_to"
                                      :getDated="form.valid_to"
                                      :disabled="isDisabled" />
                                    <input v-else type="text" class="form-control" v-model="form.valid_to" :disabled="isDisabled">
                                </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-4 label-control text-right" >Gudang</label>
                               <div class="col-md-8">
                                   <multiselect
                                     @input="getProduct"
                                     v-model="form.plant_id"
                                     :options="m_gudang"
                                     track-by="id" :custom-label="GudangnameWithId"
                                     :searchable="true" :close-on-select="true"
                                     :show-labels="false"
                                     :disabled="isDisabled"
                                     :placeholder="(loading.gudang === false) ? 'Pilih Gudang..' : 'Memuat ..'"
                                     >
                                   </multiselect>
                                   <p class="text-danger" v-if="error && errors.plant_id">{{errors.plant_id[0]}}</p>
                               </div>
                           </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >Product</label>
                                <div class="col-md-8">
                                    <multiselect
                                      @input="getMaterial"
                                      v-model="form.product_id"
                                      :options="m_product"
                                      track-by="product_id" :custom-label="ProductnameWithId"
                                      :searchable="true" :close-on-select="true"
                                      :show-labels="false"
                                      :disabled="isDisabled"
                                      :placeholder="(loading.product === false) ? 'Pilih Product..' : 'Memuat ..'" >
                                    </multiselect>
                                    <p class="text-danger" v-if="error && errors.product_id">{{errors.product_id[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >Material</label>
                                <div class="col-md-8">
                                    <multiselect
                                      @input="getMaterialSub"
                                      v-model="form.material_no"
                                      :options="m_material"
                                      track-by="id" :custom-label="MaterialnameWithId"
                                      :searchable="true" :close-on-select="true"
                                      :show-labels="false"
                                      :disabled="isDisabled"
                                      :placeholder="(loading.material === false) ? 'Pilih Gudang..' : 'Memuat ..'"
                                       >
                                    </multiselect>
                                    <p class="text-danger" v-if="error && errors.material_no">{{errors.material_no[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >Material Subtitusi</label>
                                <div class="col-md-8">
                                    <multiselect
                                      v-model="form.material_no_subtitution"
                                      :options="m_material_subtitusi"
                                      track-by="id" :custom-label="MaterialSubnameWithId"
                                      :searchable="true" :close-on-select="true"
                                      :show-labels="false"
                                      :disabled="isDisabledSub"
                                      :placeholder="(loading.materialSub === false) ? 'Pilih Material Substitusi..' : 'Memuat ..'" >
                                    </multiselect>
                                    <p class="text-danger" v-if="error && errors.material_no_subtitution">{{errors.material_no_subtitution[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >UOM</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" v-model="form.uom" placeholder="UOM" readonly :disabled="isDisabledUOM" >
                                    <p class="text-danger" v-if="error && errors.uom">{{errors.uom[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >Alasan</label>
                                    <div class="col-md-8">
                                    <textarea name="name" :class="{'is-invalid': error && errors.address}"  class="form-control" rows="3" cols="60" v-model="form.reason" :disabled="isDisabledReason"></textarea>
                                    <p class="text-danger" v-if="error && errors.reason">{{errors.reason[0]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary square" data-dismiss="modal">Close</button>
                    <div >
                      <button  type="button" class="btn btn-primary square" v-if="datauuid === null && access.C === true" @click="toSubmit"> <i class="fa fa-save"> </i>Submit</button>
                      <button  type="button" class="btn btn-primary square" v-if="datauuid !== null && access.U === true" @click="toSubmit"> <i class="fa fa-updates"> </i>Update</button>
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
    <!-- End Modal  -->
</template>

<script>
import Multiselect from 'vue-multiselect';
import Loading from './SubtitutionLoader';
import Inputdate from '../../global/InputDate';

export default {
    props:['adddata','loads','datauuid', 'access'],
    data:function(){
        return {
            coba:'',
            loading: {
              produsen: false,
              gudang: false,
              product: false,
              material: false,
              materialSub: false
            },
            modal: {
                formupdate:false,
                modalhide:false
            },
            statusSearch: [
                {name: 'Active', value: 'y'},
                {name: 'Inactive ', value: 'n'},
                {name: 'Suspend', value: 'p'},
                {name: 'Draft', value: 'd'},
                {name: 'Submitted', value: 's'}
            ],
            form: {
              product_id	: '',
              sales_org_id	: '',
              plant_id	: '',
              material_no	: '',
              material_no_subtitution	: '',
              uom	: 'TON',
              reason	: '',
              valid_from	: '',
              valid_to	: '',
            },
            sendDt: {
              product_id	: '',
              sales_org_id	: '',
              plant_id	: '',
              material_no	: '',
              material_no_subtitution	: '',
              uom	: 'TON',
              reason	: '',
              valid_from	: '',
              valid_to	: '',
            },
            error:false,
            errors:[],
            m_gudang:[],
            m_produsen: [],
            m_product: [],
            m_material: [],
            m_material_subtitusi: [],
            isDisabled: false,
            loaderAnimate: false,
            pageloder:true,
            isDisabledSub: false,
            isDisabledUOM: false,
            isDisabledReason: false,
        }
    },
    created() {
      // this.getProduct();
    },
    components:{
        Loading,
        Multiselect,
        Inputdate
    },
    mounted(){
        var app=this;
        $('#AddModal').modal('show');
        $('#AddModal').on('hidden.bs.modal', function () {
            app.closeModal();
        });
        app.getProdusen();
        if(app.datauuid !== null){
          app.getEditData(); 
        }
    },
    methods: {
        ProdnameWithId ({ id, name }){ return `${id} — ${name}` },
        GudangnameWithId ({ code, name }){ return `${code} — ${name}` },
        ProductnameWithId ({ product_id, name }){ return `${product_id} — ${name}` },
        MaterialnameWithId ({ material_no, name }){ return `${material_no} — ${name}` },
        MaterialSubnameWithId ({ material_no, name }){ return `${material_no} — ${name}` },
        valid_from(date = ''){
          if (date != '') {
            if (date != '') {
              this.form.valid_from = date;
            } else {
              this.form.valid_from = ''
            }
          }
        },
        valid_to(date = ''){
          if (date != '') {
            if (date != '') {
              this.form.valid_to = date;
            } else {
              this.form.valid_to = ''
            }
          }
        },
        closeModal(){
            // this.isDisabled = false;
            // this.modal.modalhide = true;
            // this.load='h';
            this.$emit("trigger-modal", 'RefreshTable');
            // this.form.product_id	= '';
            // this.form.sales_org_id	= '';
            // this.form.plant_id	= '';
            // this.form.material_no	= '';
            // this.form.material_no_subtitution	= '';
            // this.form.reason	= '';
            // this.form.valid_from	= '';
            // this.form.valid_to	= '';
        },
        onlyNumber(evt){
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)){
                evt.preventDefault();
                toastr.warning("Only Number or Decimal with (.)", "Type Input False");
            }else{
                return true;
            }
        },
        getProdusen(){
            this.loading.produsen = true
             this.axios.get("company/produsen")
            .then((resp)=>{
               this.m_produsen=resp.data.data;
               this.loading.produsen = false
            })
            .catch((resp)=>{
              this.loading.produsen = false
              toastr.error(resp.response.data.message)
            })
        },
        getGudang(produsen_id){
            this.loading.gudang = true
            this.form.plant_id = ''
            this.form.product_id = ''
            this.form.material_no = ''
            this.form.material_no_subtitution = ''

             this.axios.get("plant", {
               params: {
                 sales_org_id: produsen_id.id,
                 form : 'subtitution',
               }
             })
            .then((resp)=>{
               this.m_gudang=resp.data.data;
               this.loading.gudang = false
            })
            .catch((resp)=>{
              this.loading.gudang = false
              toastr.error(resp.response.data.message)
            })
        },
        getProduct(gudang_id){
            this.loading.product = true
            this.form.product_id = ''
            this.form.material_no = ''
            this.form.material_no_subtitution = ''
             this.axios.get("material/product")
            .then((resp)=>{
               this.m_product=resp.data.data;
               this.loading.product = false
            })
            .catch((resp)=>{
              this.loading.product = false
              toastr.error(resp.response.data.message)
            })
        },
        getMaterial(){
            this.loading.material = true
            this.form.material_no = ''
            this.form.material_no_subtitution = ''
             this.axios.get("material/list", {
               params: {
                 plant_id: this.form.plant_id.id,
                 product_id: this.form.product_id.product_id,
                 sales_org_id: this.form.sales_org_id.id,
               }
             })
            .then((resp)=>{
               this.m_material=resp.data.data;
               this.loading.material = false
            })
            .catch((resp)=>{
              this.loading.material = false
              toastr.error(resp.response.data.message)
            })
        },
        getMaterialSub(){
          this.loading.materialSub = true
          this.form.material_no_subtitution = ''
            this.axios.get("material/list", {
              params: {
                plant_id: this.form.plant_id.id,
                product_id: this.form.product_id.product_id,
                sales_org_id: this.form.sales_org_id.id,
              }
            })
           .then((resp)=>{
              this.m_material_subtitusi=resp.data.data;
              this.loading.materialSub = false
           })
           .catch((resp)=>{
             this.loading.materialSub = false
             toastr.error(resp.response.data.message)
           })
        },
        convertDate(){
            alert($(this).val());
        },
        getEditData(){
            this.isDisabled = true;
            this.axios.get("subtitution/id/"+this.datauuid)
            .then((resp)=>{
               this.error = false;
               this.errors = [];
               this.form.reason = resp.data.data[0].reason;
               this.form.valid_from = this.formatTgl(resp.data.data[0].valid_from);
               this.form.valid_to = this.formatTgl(resp.data.data[0].valid_to);
               this.form.sales_org_id = {id: resp.data.data[0].sales_org_id, name: resp.data.data[0].sales_org_name};
               this.getGudang(this.form.sales_org_id);
               this.form.plant_id = {id: resp.data.data[0].plant_id, name: resp.data.data[0].plant_name, code: resp.data.data[0].plant_code};
               this.getProduct(this.form.plant_id);
               this.form.product_id = {product_id: resp.data.data[0].product_id, name: resp.data.data[0].product_name};
               this.getMaterial();
               this.form.material_no = {id: resp.data.data[0].material_no, name: resp.data.data.material_name, name: resp.data.data[0].material_name, material_no: resp.data.data[0].material_no_code};
               this.getMaterialSub();
               this.form.material_no_subtitution = {id: resp.data.data[0].material_no_subtitution, name: resp.data.data[0].material_name_subtitusi, material_no: resp.data.data[0].material_no_subtitution_code};
            })
            .catch((resp)=>{

            })
            .then((resp)=>{

            });
        },
        toSubmit(){
          var app = this;
          app.loaderAnimate = true;
          app.pageloder = false;
          // app.supplypoint.status = 'y';
          if (app.datauuid === null) {
            app.insert();
          } else {
            app.update();
          }
        },
        insert(){
          event.preventDefault();
          this.sendDt.product_id = (this.form.product_id === null) ? null : this.form.product_id.product_id;
          this.sendDt.sales_org_id = (this.form.sales_org_id === null) ? null : this.form.sales_org_id.id;
          this.sendDt.plant_id = (this.form.plant_id === null) ? null : this.form.plant_id.id;
          this.sendDt.material_no = (this.form.material_no === null) ? null : this.form.material_no.id;
          this.sendDt.material_no_subtitution = (this.form.material_no_subtitution === null) ? null : this.form.material_no_subtitution.id;
          this.sendDt.uom	= this.form.uom;
          this.sendDt.reason	= this.form.reason;
          this.sendDt.valid_from = this.reverseformatTgl(this.form.valid_from);
          this.sendDt.valid_to = this.reverseformatTgl(this.form.valid_to);
          
          // (typeof this.form.product_id.id === 'undefined') ? this.form.product_id : this.form.product_id.id;
          // (typeof this.form.sales_org_id.id === 'undefined') ? this.form.sales_org_id : this.form.sales_org_id.id;
          // (typeof this.form.plant_id.id === 'undefined') ? this.form.plant_id : this.form.plant_id.id;
          // (typeof this.form.material_no.id === 'undefined') ? this.form.material_no : this.form.material_no.id;
          // (typeof this.form.material_no_subtitution.id === 'undefined') ? this.form.material_no_subtitution : this.form.material_no_subtitution.id;

          this.axios.post('subtitution', this.sendDt)
          .then((resp) => {
            toastr.success("Entry data berhasil", "Sukses");
            $("#AddModal").modal("hide");
            // this.closeModal();
          })
          .catch((resp) => {
            toastr.error("Entry data gagal", "Gagal");
            this.error = true;
            this.errors = resp.response.data.message;
          })
          .then((resp) => {
            this.loaderAnimate = false;
            this.pageloder = true;
          })
        },
        formatTgl(date){
          var formatter = new Intl.DateTimeFormat('id-ID', {day: '2-digit', month: 'short', year: 'numeric'})
          return formatter.format(new Date(date.split("-").reverse().join("-")));
          // return formatter.format(new Date(date));
        },
        reverseformatTgl(date){
          var d = new Date(date),
              month = '' + (d.getMonth() + 1),
              day = '' + d.getDate(),
              year = d.getFullYear();

          if (month.length < 2) 
              month = '0' + month;
          if (day.length < 2) 
              day = '0' + day;

          return [year, month, day].join('-');
        },
        update() {
          event.preventDefault();
          this.sendDt.product_id = (this.form.product_id === null) ? null : this.form.product_id.product_id;
          this.sendDt.sales_org_id = (this.form.sales_org_id === null) ? null : this.form.sales_org_id.id;
          this.sendDt.plant_id = (this.form.plant_id === null) ? null : this.form.plant_id.id;
          this.sendDt.material_no = (this.form.material_no === null) ? null : this.form.material_no.id;
          this.sendDt.material_no_subtitution = (this.form.material_no_subtitution === null) ? null : this.form.material_no_subtitution.id;

          this.sendDt.uom	= this.form.uom;
          this.sendDt.reason	= this.form.reason;
          this.sendDt.valid_from	= this.form.valid_from;
          this.sendDt.valid_to	= this.form.valid_to;
          // (typeof this.form.product_id.id === 'undefined') ? this.form.product_id : this.form.product_id.id;
          // (typeof this.form.sales_org_id.id === 'undefined') ? this.form.sales_org_id : this.form.sales_org_id.id;
          // (typeof this.form.plant_id.id === 'undefined') ? this.form.plant_id : this.form.plant_id.id;
          // (typeof this.form.material_no.id === 'undefined') ? this.form.material_no : this.form.material_no.id;
          // (typeof this.form.material_no_subtitution.id === 'undefined') ? this.form.material_no_subtitution : this.form.material_no_subtitution.id;

          this.axios.put("subtitution/"+this.datauuid, this.sendDt)
          .then((resp) => {
            toastr.success("Update data berhasil", "Sukses");
            $("#AddModal").modal("hide");
            // this.closeModal();
          })
          .catch((resp) => {
            toastr.error("Update data gagal", "Gagal");
            this.error = true;
            this.errors = resp.response.data.message;
          })
          .then((resp) => {
            this.loaderAnimate = false;
            this.pageloder = true;
          })
        },
    },
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">

</style>
