<template lang="html">
  <tr class="filter">
    <th></th>
    <th class="pricing-one">
      <input type="text" v-model="pricing.sales_org_name" class="form-control form-control-md pricing_oneVal" v-on:keyup="search()">
    </th>
    <th>
      <kabupaten :sales_office="pricing.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input type="text" v-model="pricing.sales_unit_name" class="form-control form-control-md" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" v-model="pricing.product_name" class="form-control form-control-md" v-on:keyup="search()">
    </th>
    <th>
      <list-filter
      :reset="reset"
      :checkedStatus="pricing.delivery_method_id"
      @get-check="searchIncoterm"
      :label="btnLabel"
      :list="inco"
      >
      </list-filter>
    </th>
    <th>
      <list-filter
      :reset="reset"
      :checkedStatus="pricing.condition_type"
      @get-check="searchConType"
      :label="btnLabel2"
      :list="conditionType"
      >
      </list-filter>
    </th>
    <th>
      <input type="text" v-model="pricing.amount" class="form-control form-control-md" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" v-model="pricing.current" class="form-control form-control-md" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" v-model="pricing.uom" class="form-control form-control-md" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" v-model="pricing.per_uom" class="form-control form-control-md" v-on:keyup="search()">
    </th>
    <th>
      <date-filter :reset="reset" @get-date="searchDateValidFrom" :type="type1"></date-filter>
    </th>
    <th>
      <date-filter :reset="reset" @get-date="searchDateValidTo" :type="type2"></date-filter>
    </th>
    <th>
      <list-filter
      :reset="reset"
      :checkedStatus="pricing.status"
      @get-check="searchStatus"
      :label="btnLabel3"
      :list="status"
      >
      </list-filter>
    </th>
  </tr>
</template>

<script>
import Date from '../../filter/Date';
import Checklist from '../../filter/Checklist';
import ChecklistJancuk from '../../filter/Checklist';
import Kabupaten from '../../filter/Kabupaten';

export default {
  props: ['inco', 'reset'],
  data: function(){
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      btnLabel: 'Cari Incoterm ',
      type1: 'validFrom',
      type2: 'validTo',
      incotermList: [],            
      btnLabel2: 'Cari Con Type',
      sales_office: {

      },
      conditionType: [
        {name: 'ZHET', value: 'ZHET'},
        {name: 'ZBKI', value: 'ZBKI'},
        {name: 'ZBDI', value: 'ZBDI'}
      ],
      btnLabel3: 'Cari Status',
      status : [
        {name: 'Actived', value: 'y'},
        {name: 'Inactived ', value: 'n'},
      ],
      pricing: {
        sales_org_name : null,
        sales_group_id : null,
        sales_group_name : null,
        sales_unit_name : null,
        product_name : null,
        delivery_method_id : null,
        condition_type : null,
        calculate_type : null,
        amount : null,
        current : null,
        uom : null,
        per_uom : null,
        valid_from : {},
        valid_to : {},
        status : null
      }      
    }    
  },
  components: {
    dateFilter: Date,
    listFilter: Checklist,
    listFilterTwo: ChecklistJancuk,
    Kabupaten
  },
  // created(){
  //   this.inco.map(data => {
  //     this.incotermList.push(
  //       {name: data}
  //     );
  //   })
  // },
  mounted() {
      var app = this;
      const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      // app.$refs.filterKabComponent.getKabupaten(app.sales_office);
      // app.getProv();
      
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.pricing = getLocalSearch;
              $(".pricing_oneVal").val(app.pricing.sales_org_name);
              app.$emit("search-table", app.pricing);
          }
      },1000)

      $(document).ready(function() {
          $(document).on('keyup','.pricing_oneVal',function(){
              app.pricing.sales_org_name=$(this).val();
              app.search();
          });
      });
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  methods: {

    // checklist
    searchIncoterm(obj) {      
      var inco = obj.join(';');      
      this.pricing.delivery_method_id = inco;
      this.search();
    },
    searchConType(obj) {
      var conType = obj.join(';');
      this.pricing.condition_type = conType;
      this.search();
    },
    searchStatus(obj) {
      var status = obj.join(';');
      this.pricing.status = status;
      this.search();
    },
    // end checklist

    // date
    searchDateValidFrom(date = '') {
      if (date != '') {
        if (date != '') {
          this.pricing.valid_from = {
            certain: (date.name === 'validFrom' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validFrom' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validFrom' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.pricing.valid_from = ''
        }
        this.search()
      }
    },
    searchDateValidTo(date = '') {
      if (date != '') {
        if (date != '') {
          this.pricing.valid_to = {
            certain: (date.name === 'validTo' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validTo' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validTo' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.pricing.valid_to = ''
        }
        this.search()
      }
    },
    // end date

    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.pricing));
      this.$emit("search-table", this.pricing);
    },

    range(size, startAt = 0){
      var str = '';
      return [...Array(size).keys()].map(i => str.concat('00', i + startAt) );
    },

    getProv(){
      var sales_office = this.range(100);
      // console.log();
      this.$refs.filterKabComponent.getKabupaten(sales_office.join(";"));
    },

    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.pricing.sales_group_id = sales_group;
      // this.$refs.filterKabComponent.getKabupaten(sales_group);
      this.search();
    },

    resetFilter(){
      this.clearFilter(this.$route.name, this.pricing);
      
      $( ".pricing-one" ).html( '<input type="text" class="form-control form-control-md pricing_oneVal" />' );
      $(".pricing_oneVal").val(this.pricing.sales_org_name);
      this.search();
    }
  }
}
</script>

<style lang="css">
</style>
