<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button v-if="access.C === true" type="button" @click="toType('upload')" class="btn btn-primary square"><i class="fa fa-upload"></i> Upload</button>
          <button v-if="access.C === true" type="button" @click="toType('entry')" class="btn btn-primary square"><i class="fa fa-plus"></i> Entry Baru</button>
          <button type="button" @click="showModalTemplate" class="btn btn-primary square"><i class="fa fa-download"></i> Download Template</button>
          <button type="button" @click="download" :disabled="loadBtnDownload" class="btn btn-primary square"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="tablePricing" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <pricing-filter :reset="resetStatus" ref="filterComponent" @search-table="searchTable" :inco="incotermList"></pricing-filter>
            <tr>
              <th>
                <fieldset>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input check_all_pricing" value="all">
                    <span class="custom-control-indicator"></span>
                  </label>
                </fieldset>
              </th>
              <th>Produsen</th>
              <th>Kabupaten</th>
              <th>Kecamatan</th>
              <th>Produk</th>
              <th>Incoterm</th>
              <th>Kondisi</th>
              <th>Amount</th>
              <th>Current</th>
              <th>UOM</th>
              <th>Per UOM</th>
              <th>Valid From</th>
              <th>Valid To</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="scroll-top" v-if="access.A === true">
      <div class="col-md-12">        
        <div class="btn-group mr-1 mb-1 pull-right dropup">
          <button type="button" :disabled="loadingChangeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i v-if="loadingChangeStatus" class="fa fa-spin fa-refresh"></i>
            Aksi
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" @click="action('y')" href="#">Active</a>
            <a class="dropdown-item" @click="action('n')" href="#">Inactive</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <upload v-if="modalUpload" @trigger-modal="triggerModal"></upload> -->
    <key-combination v-if="modalKeyCom" @trigger-modal="triggerModal" :dataButtonClick="dataButtonClick"></key-combination>
    <form-edit :access="access" v-if="modalEdit" :uuid="uuid" :level="level" @trigger-modal="triggerModal"></form-edit>
    <form-template v-if="modalTemplate" @triggerModal="triggerModal" ></form-template>
  </div>
</template>

<script>

import PricingFilter from './PricingFilter';
import KeyCombination from './modal/KeyCombination';
import FormEdit from './modal/FormEdit';
import Template from './modal/Template';
export default {
  props: ['access'],
  data: function(){
    return {
      loadBtnDownload: false,
      incotermList: [],
      dt: '',
      check: [],
      t: false,
      tableTrue: false,
      resetStatus: false,
      modalUpload: false,
      modalKeyCom: false,
      modalEdit: false,
      modalTemplate: false,
      uuid: null,
      level: null,
      pricing: {},
      loadingChangeStatus : false,
      dataButtonClick : null
    }
  },
  components:{
    KeyCombination, PricingFilter, FormEdit, FormTemplate: Template
  },
  created() {
    this.getInco();
  },
  mounted() {
    var app = this;
    $(document).ready(function() {
      app.dt = $("#tablePricing").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollY" : "50vh",
        "scrollCollapse" : true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        scrollX: "99.99%",
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadPricingExcel',
            text: "Download Pricing ke Excel",
            title:"",
            filename:"Download Pricing ke Excel",
            exportOptions: {
                columns: 'th:not(:first-child)'
            }
          }
        ],
        ajax: {
          url: '/api/pricing',
          type: 'GET',
          data: function(d) {
            d.sales_org_name = app.pricing.sales_org_name,
            d.sales_group_name = app.pricing.sales_group_name,
            d.sales_group_id = app.pricing.sales_group_id,
            d.sales_unit_name = app.pricing.sales_unit_name,
            d.product_name = app.pricing.product_name,
            d.delivery_method_id = app.pricing.delivery_method_id,
            d.condition_type = app.pricing.condition_type,
            d.calculate_type = app.pricing.calculate_type,
            d.amount = app.pricing.amount,
            d.current = app.pricing.current,
            d.uom = app.pricing.uom,
            d.per_uom = app.pricing.per_uom,
            d.valid_from = app.pricing.valid_from,
            d.valid_to = app.pricing.valid_to,
            d.status = app.pricing.status
          },
          beforeSend: function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
        },
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        columns: [
          {
            data: 'uuid',
            render: function(data, type, full){
              var check = '<fieldset>'+
                            '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" class="custom-control-input check_pricing" id="check_pricing" value="'+data+'">'+
                              '<span class="custom-control-indicator"></span>'+
                            '</label>'+
                          '</fieldset>';
              return check;
            }
          },
          {
            data: 'sales_org_name',
            name: 'sales_org_name',
            render: function(data, type, full){
              if(app.access.U){
                var link = '<a href="#" id="editPrice" data-uuid="'+full.uuid+'" data-level="'+full.level+'">'+data+'</a>';
              } else {
                var link = data;
              }
              return link;
            }
          },
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'sales_unit_name', name: 'sales_unit_name'},
          {data: 'product_name', name: 'product_name'},
          {data: 'delivery_method_name', name: 'delivery_method_name'},
          {data: 'condition_type', name: 'condition_type'},
          {data: 'amount', name: 'amount', render: function(data, type, full){
            // const uang = (data != null && data != '') ? data.split('.')[0] : '';
            return data;
          }},
          {data: 'current', name: 'current'},
          {data: 'uom', name: 'uom'},
          {data: 'per_uom', name: 'per_uom'},
          {data: 'valid_from', name: 'valid_from', render: function(data, type ,full){
            return app.convertDate(data)
          }},
          {data: 'valid_to', name: 'valid_to', render: function(data, type ,full){
            return app.convertDate(data)
          }},
          {data: 'status_name', name: 'status_name'},
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 3
      })
      $("div.dataTables_length").append(' <button id="resetFilterPricing" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    })
    
    
    $(document).on("click", "#resetFilterPricing", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterPricing').prop('disabled', true);
      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterPricing').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", ".check_all_pricing", function(e){
      $('.check_pricing').not(this).prop('checked', this.checked);
      $('.check_pricing').not(this).each(function(index, el) {
        var value = $(this).val();
        if(this.checked){
          if(value != 'all' && !app.check.includes(value)){
            app.check.push(value);
          }
        } else {
          app.check = [];
        }
      });
    })
    $(document).on("click", "#check_pricing", function(e){
      var value = $(this).val();
      if(this.checked){
        app.check.push(value);
      } else {
        app.removeA(app.check, value);
      }
    })
    $(document).on("click", "#editPrice", function(e) {
      e.preventDefault();
      app.uuid = $(this).data('uuid');
      app.level = $(this).data('level');
      app.modalEdit = true;
    })
    $("#downloadPricingExcel").on("click", function(e) {
      e.preventDefault();
      $(".downloadPricingExcel").trigger('click');
    })
  },
  methods: {
    removeA(arr) {
      var what, a = arguments, L = a.length, ax;
      while (L > 1 && arr.length) {
          what = a[--L];
          while ((ax= arr.indexOf(what)) !== -1) {
              arr.splice(ax, 1);
          }
      }
      return arr;
    },
    moneyFormat(value) {
      const finalValue = value.split('.')[0];
      return this.formatRupiah(finalValue, "Rp. ")
    },
    formatRupiah(angka, prefix) {
      var separator;
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split   		= number_string.split(','),
      sisa     		= split[0].length % 3,
      rupiah     		= split[0].substr(0, sisa),
      ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    },
    showModalTemplate() {
      this.modalTemplate = true;
    },
    toType(type) {
      if(type === 'entry') {
        this.dataButtonClick = 'entry'
      } else if (type === 'upload') {
        this.dataButtonClick = 'upload'
      }
      this.modalKeyCom = true;
    },
    triggerModal(refresh = false) {
      this.modalUpload = false;
      this.modalKeyCom = false;
      this.modalEdit = false;
      this.modalTemplate = false;
      if(refresh === true) {
        this.dt.draw();
      }
    },
    searchTable(obj) {
      this.pricing = obj;
      this.validFrom(obj);
      this.validTo(obj);
      this.dt.draw();
    },
    validFrom(obj) {
      if(obj.valid_from && obj.valid_from.from && obj.valid_from.to) {
        this.pricing.valid_from = obj.valid_from.from+';'+obj.valid_from.to;
      } else if (obj.valid_from && obj.valid_from.certain) {
        this.pricing.valid_from = obj.valid_from.certain;
      } else {
        this.pricing.valid_from = '';
      }
    },
    validTo(obj) {
      if(obj.valid_to && obj.valid_to.from && obj.valid_to.to) {
        this.pricing.valid_to = obj.valid_to.from+';'+obj.valid_to.to;
      } else if (obj.valid_to && obj.valid_to.certain) {
        this.pricing.valid_to = obj.valid_to.certain;
      } else {
        this.pricing.valid_to = '';
      }
    },
    action(type) {
      event.preventDefault();
      if(this.check.length != 0) {
        this.loadingChangeStatus = true;
        this.check = this.check.map(data => {
          return {uuid: data, status: type}
        })
        this.saveAction();
      } else {
        toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning") 
      }
    },
    saveAction(){
      this.axios.post('pricing/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.message, "Pesan")
      })
      .then((resp) => {
        this.loadingChangeStatus = false;
        this.check = [];
        $(".check_all_pricing").prop('checked', false);
      })
    },
    getInco() {
      this.axios.get('deliverymethod')
      .then((resp) => {
        this.incotermList = resp.data.data.map(data => {
          return {name: data.ident_name, value: data.id}
        });
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp.data);
      })
    },
    download(){
      this.loadBtnDownload = true;
      this.axios({
        url: 'pricing/download',
        params: {
            sales_org_name: this.pricing.sales_org_name,
            sales_group_name: this.pricing.sales_group_name,
            sales_group_id: this.pricing.sales_group_id,
            sales_unit_name: this.pricing.sales_unit_name,
            product_name: this.pricing.product_name,
            delivery_method_id: this.pricing.delivery_method_id,
            condition_type: this.pricing.condition_type,
            calculate_type: this.pricing.calculate_type,
            amount: this.pricing.amount,
            current: this.pricing.current,
            uom: this.pricing.uom,
            per_uom: this.pricing.per_uom,
            valid_from: this.pricing.valid_from,
            valid_to: this.pricing.valid_to,
            status: this.pricing.status
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Pricing.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    }
  }
}
</script>

<style media="screen">
div.dt-buttons {
  float: right !important;
  display: none;
}
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 999;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
}
</style>
