<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button v-if="access.C" type="button" @click="triggerOpenModalForm" class="btn btn-primary square" name="button"> Create Log Order</button>
          <button type="button" @click="downloadData" :disabled="loadBtnDownload" class="btn btn-primary square" name="button"><i class="fa fa-download"></i> Download</button>
					<a href="UserManualLogOrder.pdf" class="btn btn-primary square" target="_blank" ><i class="fa fa-book"></i> Download User Guide</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="LogOrder" class="table table-xs table-bordered table-striped display nowrap">
            <thead>
              <log-order-filter :reset="resetStatus" @search-table="searchTable"></log-order-filter>
              <tr>
                <th>Kode Order</th>
                <th>Distributor</th>
                <th>Status</th>
                <th>Message Error</th>
                <th>Date</th>
                <th>No SO</th>
                <th>No DP Req</th>
                <th>No Billing DP</th>
                <th>No Clearing</th>
                <th>Bank Payment</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <modal-form v-if="modalDetail.openForm" :uuid="modalDetail.uuid" @trigger-modal-form="triggerModalForm"></modal-form>
    <modal-confirm v-if="kirimUlang.confirm" :uuid="kirimUlang.uuid" :text="'Apakah anda yakin ?'" @is-delete="kirimUlangSo" @trigger-modal="triggerModal"></modal-confirm>
    <modal-detail v-if="modalDetail.open" :uuid="modalDetail.uuid" @trigger-modal="triggerModal"></modal-detail>
  </div>
</template>

<script>
import LogOrderFilter from './LogOrderFilter';
import ModalConfirm from '../../global/ModalConfirm';
import ModalDetail from './modal/Detail'
import ModalForm from './modal/Form'
export default {
  props: ['access'],
  data: function() {
    return {
      role_id: null,
      dt: null,
      resetStatus: false,
      loadBtnDownload: false,
      logOrderData: {},
      modalDetail: {
        open: false,
        openForm: false,
        uuid: null
      },
      kirimUlang : {
        confirm: false,
        uuid: null
      }
    }
  },
  components: {
    LogOrderFilter, ModalConfirm, ModalDetail, ModalForm
  },
  created() {

  },
  mounted() {
    let app = this;
    app.userProfile()
    app.LogOrder()
    $("div.dataTables_length").append(' <button id="resetFilterLogOrder" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    $(document).on("click", "#resetFilterLogOrder", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterLogOrder').prop('disabled', true);
        setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterLogOrder').prop('disabled', false);
        }, 1000)
    })
    $(document).on("click", ".detail", function(e){
      e.preventDefault()
      let uuid = $(this).data('uuid')
      app.modalDetail.open = true
      app.modalDetail.uuid = uuid
    })
    $(document).on("click", ".sendUlang", function(e) {
       e.preventDefault()
       let uuid = $(this).data('uuid')
       app.kirimUlang.confirm = true
       app.kirimUlang.uuid = uuid
    })
    $(document).on("click", ".editLogOrder", function(e) {
       e.preventDefault()
       let uuid = $(this).data('uuid')
       app.modalDetail.openForm = true
       app.modalDetail.uuid = uuid
    })
  },
  methods: {
    userProfile(){
      this.axios.get('user/profile')
      .then((resp) => {
        this.role_id = resp.data.data.role.role_id;
        // this.isDistributor = (resp.data.data.role.role_id === 4) ? false : this.accessComponent.C
      })
      .catch((resp) => {
        console.log(resp);
      })
      .then((resp) => {
        console.log(resp);
      })
    },
    kirimUlangSo(uuid) {
      var getId = uuid.split("-").join("_")
      $("."+getId).attr("disabled", true);
      $("."+getId+' i').removeClass('fa-send-o').addClass('fa-refresh fa-spin');
      // $(' <i class="fa fa-refresh fa-spin"></i>').appendTo("."+getId)
      this.axios.put('logorder/'+uuid)
      .then(resp => {
        let {message} = resp.data;
        toastr.success(message);
        this.dt.draw();
        $("."+getId).attr("disabled", false);
      })
      .catch(resp => {
        let {message} = resp.response.data;
        toastr.error(message);
        this.dt.draw();
        $("."+getId).attr("disabled", false);
      })

    },
    LogOrder() {
      let app = this;
      app.dt = $("#LogOrder").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollY : "50vh",
        scrollCollapse:true,
        scrollX : true,        
        "order": [[ 4, 'desc' ]],
        "dom": 'Bltrip',
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 DownloadLogOrder',
            text: "Download Log Order",
            title:"",
            filename:"Log-Order",
            exportOptions: {
                columns: 'th:not(:first-child)'
            }
          }
        ],
        ajax:{
          'url': 'api/logorder',
          'type': 'GET',
          'data': function(d){
            d.order_number = app.logOrderData.order_number,
            d.customer_name = app.logOrderData.customer_name,
            d.status = app.logOrderData.status,
            d.message = app.logOrderData.message,
            d.created_at = app.logOrderData.created_at
            d.so_number = app.logOrderData.so_number
            d.sap_booking_code = app.logOrderData.sap_booking_code
            d.sap_billing_dp_doc = app.logOrderData.sap_billing_dp_doc
            d.sap_clearing_doc = app.logOrderData.sap_clearing_doc
            d.bank_payment = app.logOrderData.bank_payment
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
        },
        columns: [
          {data: 'order_number' , name:'order_number'},
          {data: 'customer_name' , name:'customer_name'},
          {data: 'status' , name:'status'},
          {data: 'message' , name:'message'},
          {data: 'created_at' , name:'created_at', render: function(data, type, full){
            return app.convertDate(data);
          }},
          {data: 'so_number' , name:'so_number'},
          {data: 'sap_booking_code' , name:'sap_booking_code'},
          {data: 'sap_billing_dp_doc' , name:'sap_billing_dp_doc'},
          {data: 'sap_clearing_doc' , name:'no_clearing'},
          {data: 'bank_payment' , name:'bank_payment'},
          {data: 'uuid' , name:'uuid', render: function(data, type, full){
            let sendUlang
            let editLogOrder = ''
            if(app.role_id !== 4){
              sendUlang = '<button data-uuid="'+data+'" class="'+data.split("-").join("_")+' sendUlang btn btn-sm btn-primary square"><i class="fa fa-send-o"></i> Kirim Ulang </button>';
              if(full.kode === "3" || full.kode === "4" || full.kode === "6"){
                if(app.access.U){
                  editLogOrder = '<button data-uuid="'+data+'" class="'+data.split("-").join("_")+' editLogOrder btn btn-sm btn-success square"><i class="fa fa-edit"></i> Edit </button>';
                } else {
                  editLogOrder = '';
                }
              } else {
                editLogOrder = '';
              }
            } else {
              if(full.kode === "1" || full.kode === "2" || full.kode === "5"){
                sendUlang = '<button data-uuid="'+data+'" class="'+data.split("-").join("_")+' sendUlang btn btn-sm btn-primary square"><i class="fa fa-send-o"></i> Kirim Ulang </button>';
              } else {
                sendUlang = '';
              }
            }
            if (app.access.U) {
              return editLogOrder+' <button class="detail btn btn-sm btn-warning square" data-uuid="'+full.id+'">Detail</button> '+sendUlang;
              // return '<a href="#" data-uuid="'+data+'" id="sendUlang">Kirim Ulang</a>';
            } else {
              return '-';
            }
          }}
        ]
      });
      // role !== 3 && 
      // kode 3,4,6
      // kode 1,2,5
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 1,
      })

    },
    searchTable(obj) {
      this.logOrderData = obj
      this.DateLog(obj)
      this.dt.draw()
    },
    DateLog(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.logOrderData.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.logOrderData.created_at = obj.created_at.certain;
      } else {
        this.logOrderData.created_at = '';
      }
    },
    triggerModal() {
      this.modalDetail.open = false
      this.modalDetail.openForm = false
      this.modalDetail.uuid = null
      this.kirimUlang.confirm = false
      this.kirimUlang.uuid = null
    },
    triggerModalForm() {
      this.modalDetail.openForm = false
      this.modalDetail.uuid = null
      this.dt.draw()
    },
		triggerOpenModalForm(){
			this.modalDetail.openForm = true
			this.modalDetail.uuid = ''
		},
    downloadData() {
      // $(".DownloadLogOrder").trigger('click')
      this.loadBtnDownload = true;
      this.axios({
        url: 'logorder/download',
        params: {
          order_number : this.logOrderData.order_number,
          customer_name : this.logOrderData.customer_name,
          status : this.logOrderData.status,
          message : this.logOrderData.message,
          created_at : this.logOrderData.created_at
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Log Order.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    }
  }
}
</script>

<style media="screen">
  .DownloadLogOrder {
    display: none !important;
  }
</style>
