<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" v-if="access.U" @click="modalSync.show = !modalSync.show" class="btn btn-primary square"><i class="fa fa-refresh"></i> Sync SAP</button>
          <button type="button" @click="download()" :disabled="loadBtnDownload" class="btn btn-primary square"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="tableMonitoringDo" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <monitoring-do-filter :reset="resetStatus" @search-table="searchTable"></monitoring-do-filter>
            <tr>
              <th>No Penebusan</th>
              <th>Nama Produsen</th>
              <th>Distributor</th>
              <th>Kode Distributor</th>
              <th>Kode SO</th>
              <th>Tgl Order</th>
              <th>Total Kuantitas</th>
              <th>Nomor DO</th>
              <th>Nama Produk</th>
              <th>QTY</th>
              <th>Tanggal DO</th>
              <th>Dibuat Oleh</th>
              <th>Di buat pada</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <sync-sap v-if="modalSync.show" @trigger-modal="triggerModal"></sync-sap>
  </div>
</template>

<script>
import MonitoringDoFilter from './MonitoringDoFilter';
import SyncSap from './modal/SyncSap';
import numberFormat from '../../../helpers/numberFormat';
export default {
  props: ['access'],
  data: function() {
    return {
      dt : null,
      resetStatus: false,
      searchMonitoringDo : {},
      modalSync: {
        show: false
      },
      loadBtnDownload:false,
    }
  },
  components: {
    MonitoringDoFilter, SyncSap
  },
  created() {

  },
  mounted() {
    var app = this;
    app.tableMonitoringDo();
    $("div.dataTables_length").append(' <button id="resetFilterMonitoringDo" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterMonitoringDo", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterMonitoringDo').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterMonitoringDo').prop('disabled', false);
      }, 1000)
    })
  },
  methods: {
    tableMonitoringDo() {
      let app = this;
      app.dt = $("#tableMonitoringDo").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        "order": [[ 0, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadMonitoringDo',
            text: "Download Pengecer ke Excel"
          }
        ],
        ajax: {
          'url': 'api/monitoringdo',
          'type': 'GET',
          'data': function(d){
            d.number = app.searchMonitoringDo.number,
            d.sales_org_name = app.searchMonitoringDo.sales_org_name,
            d.customer_name = app.searchMonitoringDo.customer_name,
            d.customer_id = app.searchMonitoringDo.customer_id,
            d.code_so = app.searchMonitoringDo.code_so,
            d.order_date = app.searchMonitoringDo.order_date,
            d.delivery_qty = app.searchMonitoringDo.delivery_qty,
            d.no_doc = app.searchMonitoringDo.no_doc,
            d.product_name = app.searchMonitoringDo.product_name,
            d.quantity_qty = app.searchMonitoringDo.quantity_qty,
            d.delivery_date = app.searchMonitoringDo.delivery_date,
            d.created_by = app.searchMonitoringDo.created_by,
            d.created_at = app.searchMonitoringDo.created_at
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
           }
        },
        columns :[
          {data: 'number', name: 'number'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'customer_id', name: 'customer_id'},
          {data: 'code_so', name: 'code_so'},
          {data: 'order_date', name: 'order_date', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data: 'quantity_qty', name: 'quantity_qty', render: function(d, t, f) {
            return numberFormat(parseFloat(d).toFixed(2))
          }},
          {data: 'no_doc', name: 'no_doc'},
          {data: 'product_name', name: 'product_name'},
          {data: 'delivery_qty', name: 'delivery_qty', render: function(d, t, f) {
            return numberFormat(parseFloat(d).toFixed(2))
          }},
          {data: 'delivery_date', name: 'delivery_date', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data: 'created_by', name: 'created_by'},
          {data: 'created_at', name: 'created_at', render: function(data, type, full){
            return app.convertDate(data)
          }},
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      });
    },

    triggerModal() {
      this.modalSync.show = false
      this.dt.draw();
    },

    orderDate(obj) {
      if(obj.order_date && obj.order_date.from && obj.order_date.to) {
        this.searchMonitoringDo.order_date = obj.order_date.from+';'+obj.order_date.to;
      } else if (obj.order_date && obj.order_date.certain) {
        this.searchMonitoringDo.order_date = obj.order_date.certain;
      } else {
        this.searchMonitoringDo.order_date = '';
      }
    },

    deliveryDate(obj) {
      if(obj.delivery_date && obj.delivery_date.from && obj.delivery_date.to) {
        this.searchMonitoringDo.delivery_date = obj.delivery_date.from+';'+obj.delivery_date.to;
      } else if (obj.delivery_date && obj.delivery_date.certain) {
        this.searchMonitoringDo.delivery_date = obj.delivery_date.certain;
      } else {
        this.searchMonitoringDo.delivery_date = '';
      }
    },

    createdAt(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.searchMonitoringDo.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.searchMonitoringDo.created_at = obj.created_at.certain;
      } else {
        this.searchMonitoringDo.created_at = '';
      }
    },
    searchTable(obj) {
      this.searchMonitoringDo = obj;
      this.orderDate(obj)
      this.deliveryDate(obj)
      this.createdAt(obj)
      this.dt.draw();
    },

    download()
    {
      this.loadBtnDownload = true;
      this.axios({
        url: 'monitoringdo/download',
        params: {
            number : this.searchMonitoringDo.number,
            sales_org_name : this.searchMonitoringDo.sales_org_name,
            customer_name : this.searchMonitoringDo.customer_name,
            customer_id : this.searchMonitoringDo.customer_id,
            code_so : this.searchMonitoringDo.code_so,
            order_date : this.searchMonitoringDo.order_date,
            delivery_qty : this.searchMonitoringDo.delivery_qty,
            no_doc : this.searchMonitoringDo.no_doc,
            product_name : this.searchMonitoringDo.product_name,
            quantity_qty : this.searchMonitoringDo.quantity_qty,
            delivery_date : this.searchMonitoringDo.delivery_date,
            created_by : this.searchMonitoringDo.created_by,
            created_at : this.searchMonitoringDo.created_at
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Monitoring DO.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    }
  }
}
</script>

<style media="screen">
  .downloadMonitoringDo {
    display: none !important;
  }
</style>
