<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                      <button type="button" class="btn btn-primary square" id="downloadTableExcel" ><i class="fa fa-download"></i> Download</button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table id="dtTable" class="table table-xs table-bordered table-striped display nowrap" style="width:100%">
                      <thead>
                        <penyaluran-initial-stokf5-filter :reset="resetStatus" @search-table="searchTable"> </penyaluran-initial-stokf5-filter>
                        <tr>
                          <th>Produsen</th>
                          <th>No</th>
                          <th>Nama Distributor</th>
                          <th>Bulan</th>
                          <th>Tahun</th>
                          <th>Status</th>
                          <th>Nomor Laporan {{titleType}}</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <modal-confirm v-if="deleteList.confirm" :uuid="deleteList.uuid" :text="'Apa anda yakin ?'" @is-delete="isDelete" @trigger-modal="triggerModal"></modal-confirm>
  </div>
</template>

<script>
import PenyaluranInitialStokf5Filter from './PenyaluranInitialStokf5Filter';
import ModalConfirm from '../../../global/ModalConfirm';
export default {
  props: ['access', 'titleType'],
  data: function() {
    return {
      dt: '',
      title: 'Initial Stok F5',
      type: 'F5',
      modalUpload: false,
      resetStatus: false,
      modalForm: false,
      deleteList: {
        confirm: false,
        uuid: null
      },
      tempDt: {
        tableDt: {},
      },
      paramId: this.$route.params.id,
    }
  },
  components: {
    PenyaluranInitialStokf5Filter, ModalConfirm
  },
  mounted(){
    var app = this;
    var idx = (app.$route.params.id != undefined) ? '/'+app.$route.params.id : '';
    $(document).ready(function() {
      app.dt = $('#dtTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        "scrollCollapse":true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadTableExcel',
            text: "Download Pengecer ke Excel"
          }
        ],
        ajax:{
          'url': 'api/penyaluraninitialstockf5/id'+idx,
          'type': 'GET',
          'data': function(d){
            d.created_at = app.tempDt.created_at,
            d.created_by = app.tempDt.created_by,
            d.customer_id = app.tempDt.customer_id,
            d.customer_name = app.tempDt.customer_name,
            d.id = app.tempDt.id,
            d.month = app.tempDt.month,
            d.number = app.tempDt.number,
            d.report_f5_id = app.tempDt.report_f5_id,
            d.report_f5_number = app.tempDt.report_f5_number,
            d.sales_org_id = app.tempDt.sales_org_id,
            d.sales_org_name = app.tempDt.sales_org_name,
            d.status = app.tempDt.status,
            d.status_name = app.tempDt.status_name,
            d.updated_at = app.tempDt.updated_at,
            d.updated_by = app.tempDt.updated_by,
            d.uuid = app.tempDt.uuid,
            d.year = app.tempDt.year
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
           // { "orderable": false, "targets": 0 }
        ],
        columns: [
            {data: 'sales_org_name', name: 'sales_org_name'},
            {
              data: 'number',
              render : function(data, type, full){
                return '<u><a href="#" id="detailData" data-id="'+full.uuid+'">'+data+'</a></u>';
              }
            },
            {data: 'customer_name', name: 'customer_name'},
            {data: 'month_name', name: 'month'},
            {data: 'year', name: 'year'},
            {data: 'status_name', name: 'status_name'},
            {data: 'report_f5_number', name: 'report_f5_number'},
            {
              data: 'uuid',
              render : function(data, type, full){
                var buttonCetak = '<u><a href="#" id="detailData" data-id="'+full.uuid+'">BAST F6</a></u>';
                var buttonBatal = '';
                if(app.access.D && full.status === 'd') {
                  buttonBatal = '<button id="batal" data-uuid="'+data+'" class="btn btn-secondary square btn-sm" href="#">Batal</button>';
                }
                return buttonBatal;
              }
            },
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });

      $("div.dataTables_length").append(' <button id="resetFilterStokf5Detail" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
      $(document).on("click", "#resetFilterStokf5Detail", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterStokf5Detail').prop('disabled', true);

        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterStokf5Detail').prop('disabled', false);
        }, 1000)
      })

      $("#downloadTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadTableExcel").trigger('click');
      })
      $(document).on("click", "#detailData", function(e){
        e.preventDefault();
        var idx = $(this).data("id");
        app.openDetail(idx);
      })
      $(document).on("click", "#batal", function(e){
        e.preventDefault();
        let uuid = $(this).data('uuid');
        app.confirm = true;
        app.deleteList.uuid = uuid;
        app.deleteList.confirm = true;
      })

    })
  },
  methods: {
    yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.tempDt.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.tempDt.year = obj.year.certain;
      } else {
        this.tempDt.year = '';
      }
    },
    searchTable(obj){
      this.tempDt = obj;
      this.yearFrom(obj);
      this.dt.draw();
    },
    openDetail(idx){
      let access = encodeURIComponent(this.$route.params.access);
      this.$router.push({path: '/'+access+'/laporan/initial-stok-f5/detail/'+idx});
    },
    triggerModal() {
      this.deleteList.confirm = false;
      this.deleteList.uuid = null;
    },
    isDelete(uuid) {
      var app = this;
      app.axios.delete('penyaluraninitialstockf5/id/'+uuid+'?status=d')
      .then((resp) => {
        toastr.success(resp.data.message);
        app.dt.draw();
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
        toastr.error(resp.response.data.error)
      })
    },
  }
}
</script>

<style lang="css">
div.dt-buttons {
  float: right !important;
  display: none;
}
</style>
