<template lang="html">
  <tr class="filter">
    <th class="stokf5Det-number">
      <input type="text"
      v-model="filter.sales_org_name"
      class="form-control form-control-md stokf5Det_sales_org_nameVal">
    </th>
    <th class="stokf5Det-number">
      <input type="text"
      v-model="filter.number"
      class="form-control form-control-md stokf5Det_numberVal">
    </th>
    <th>
      <input type="text"
      v-model="filter.customer_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.month"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.year"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <filter-status :reset="reset" :checkedStatus="filter.status_name" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
    </th>
    <!-- <th>
      <input type="text"
      v-model="filter.status_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th> -->
    <th></th>
    <th></th>
  </tr>
</template>
<script>
import Checklist from '../../../filter/Checklist';
import Year from '../../../filter/Year';
import Month from '../../../filter/Month';
export default {
  props: ['reset'],
  data: function() {
    return {
      btnStatus: 'Filter Status', uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Suspend', value: 'p'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'}
      ],
      filter: {
        sales_org_name: '',
        number: '',
        customer_name: '',
        month: '',
        year: '',
        status_name: '',
      }
    }
  },
  components: {
    FilterStatus: Checklist, Year, Month
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    $(document).ready(function() {
      const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.filter = getLocalSearch;
              $(".stokf5Det_sales_org_nameVal").val(app.filter.sales_org_name);
              $(".stokf5Det_numberVal").val(app.filter.number);
              app.$emit("search-table", app.filter);
          }
      },1000)
    });
    $(document).on("keyup", ".stokf5Det_sales_org_nameVal", function(){
      app.filter.sales_org_name = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".stokf5Det_numberVal", function(){
      app.filter.number = $(this).val();
      app.search();
    })
  },
  methods: {
    searchTable(obj) {
      var status = obj.join(';');
      this.filter.status_name = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.filter));
      this.$emit("search-table", this.filter);
    },
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.filter.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.filter.year = ''
        }
        this.search()
      }
    },
    searchMonth(obj) {
      var month = obj.join(';')
      this.filter.month = month
      this.search()
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.filter);
      
      $( ".stokf5Det-sales-org-name" ).html( '<input type="text" class="form-control form-control-md stokf5Det_sales_org_nameVal" />' );
      $( ".stokf5Det-customer-name" ).html( '<input type="text" class="form-control form-control-md stokf5Det_numberVal" />' );
      $(".stokf5Det_sales_org_nameVal").val(this.filter.sales_org_name);
      $(".stokf5Det_numberVal").val(this.filter.number);
      this.search();
    }
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
