<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" :disabled="loadingButton" @click="create()" class="btn btn-primary square" name="button">
            <i class="fa fa-plus"></i> Entry Baru
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="DataTableSuratJalan" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <surat-jalan-filter :reset="resetStatus" @search-table="searchTable"></surat-jalan-filter>
            <tr>
              <th>No. Surat Jalan</th>
              <th>Tgl. Dibuat</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <surat-jalan-modal-form v-if="modalForm" :uuid="uuid" @trigger-modal="triggerModal"></surat-jalan-modal-form>
  </div>
</template>

<script>
import SuratJalanFilter from './SuratJalanFilter';
import SuratJalanModalForm from './modal/Form';
export default {
  props: ['access'],
  data: function() {
    return {
			uuid: null,
      distribution_date: '',
      dt: null,
      suratJalanFilter: {},
      modalForm: false,
      resetStatus: false,
      loadingButton: false,
      number: null
    }
  },
  components: {
    SuratJalanFilter, SuratJalanModalForm
  },
  created() {

  },
  mounted() {
    var app = this;
    app.DataTableSuratJalan();
    $("div.dataTables_length").append(' <button id="resetFilterSuratJalan" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterSuratJalan", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterSuratJalan').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterSuratJalan').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#create", function(e){
      e.preventDefault();
      // let number = $(this).data("number");
      // app.number = number;
      app.modalForm = true;
    })
    $(document).on("click", "#detailList", function(e) {
      e.preventDefault();
      let uuid = $(this).data("uuid");
      let access = encodeURIComponent(app.$route.params.access);
      app.$router.push({path: '/'+access+'/laporan/surat-jalan/detail/'+uuid});
    })
  },
  methods: {
    DataTableSuratJalan() {
      var app = this;
      app.dt = $("#DataTableSuratJalan").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        scrollCollapse: true,
        "order": [[ 1, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        // "dom": 'Bltrip',
        // "buttons": [
        //   {
        //     extend: 'excel',
        //     className: 'btn-danger square mb-1 DownloadSuratJalan',
        //     text: "Download Surat Jalan",
        //     title:"",
        //     filename:"Download Surat Jalan",
        //   }
        // ],
        ajax: {
          'url': '/api/certificate_release',
          'type': 'GET',
          'data': function(d) {
            d.uuid = app.suratJalanFilter.uuid,
						d.number = app.suratJalanFilter.number,
						d.id = app.suratJalanFilter.id,
						d.created_at = app.suratJalanFilter.created_at
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'number', name: 'number'},
          {data: 'created_at', name: 'created_at'},
					{
            data: 'uuid',
            name: 'uuid',
            render: function(data, type, full) {
              const button = `<button type="button" id="detailList" data-uuid="${full.uuid}" class="btn btn-primary btn-sm">Detail</button>`;
              return button;
            }
          },
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 1
      })
    },

    searchTable(obj) {
      this.suratJalanFilter = obj;
      this.dt.draw();
    },

		create(){
			this.modalForm = true;
		},

    download() {
      // $('.DownloadSuratJalan').trigger('click')
      this.loadingButton = true;
        this.axios({
          url: 'supply/download',
          params: {
            sales_org_name : this.suratJalanFilter.sales_org_name,
            so_number : this.suratJalanFilter.so_number,
            number : this.suratJalanFilter.number,
            customer_name : this.suratJalanFilter.customer_name,
            so_qty : this.suratJalanFilter.so_qty,
            do_qty : this.suratJalanFilter.do_qty,
            totals : this.suratJalanFilter.totals,
            sisa_qty_do : this.suratJalanFilter.sisa_qty_do,
            delivery_method_name : this.suratJalanFilter.delivery_method_name,
            sales_office_name : this.suratJalanFilter.sales_office_name,
            sales_office_id : this.suratJalanFilter.sales_office_id,
            sales_group_name : this.suratJalanFilter.sales_group_name,
            sales_group_id : this.suratJalanFilter.sales_group_id
          },
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
           const url = window.URL.createObjectURL(new Blob([response.data]));
           const link = document.createElement('a');
           link.href = url;
           link.setAttribute('download', 'Download Surat Jalan.xls'); //or any other extension
           document.body.appendChild(link);
           link.click();
           this.loadingButton = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadingButton = false;      
        })
    },

    triggerModal(params = false) {
      if(params === 'RefreshTable'){
        this.dt.draw();
      }
      this.modalForm = false;
      this.number = null;
    }

  }
}
</script>

<style media="screen">
  .DownloadSuratJalan {
    display: none !important;
  }
</style>
