<template>
  <tr class="filter">
    <th class="suratJalan-sales-org-name">
      <input type="text" class="form-control form-control-md suratJalan_sales_org_nameVal" >
    </th>
    <th class="suratJalan-so-number">
      <input type="text" class="form-control form-control-md suratJalan_so_numberVal" >
    </th>
		<th></th>
  </tr>
</template>

<script>
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      searchFilter : {
        sales_org_name : null,
        so_number : null,
        number : null,
        customer_name : null,
        so_qty : null,
        do_qty : null,
        totals : null,
        sisa_qty_do : null,
        delivery_method_name : null,
        sales_office_id: null,
        sales_group_id: null,
        sales_office_name : null,
        sales_group_name : null
      }
    }
  },
  components: {
    Provinsi,
    Kabupaten
  },
  created() {

  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.searchFilter = getLocalSearch;
            $(".suratJalan_sales_org_nameVal").val(app.searchFilter.sales_org_name);
            $(".suratJalan_so_numberVal").val(app.searchFilter.so_number);
            app.$emit("search-table", app.searchFilter);
        }
    },1000)
    $(document).on("keyup", ".suratJalan_sales_org_nameVal", function() {
      app.searchFilter.sales_org_name = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".suratJalan_so_numberVal", function() {
      app.searchFilter.so_number = $(this).val();
      app.search();
    })
  },
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.searchFilter.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.searchFilter.sales_group_id = sales_group;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.searchFilter));
      this.$emit("search-table", this.searchFilter);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.searchFilter);
      
      $( ".suratJalan-sales-org-name" ).html( '<input type="text" class="form-control form-control-md suratJalan_sales_org_nameVal" />' );
      $( ".suratJalan-so-number" ).html( '<input type="text" class="form-control form-control-md suratJalan_so_numberVal" />' );
      $(".suratJalan_sales_org_nameVal").val(this.searchFilter.sales_org_name);
      $(".suratJalan_so_numberVal").val(this.searchFilter.so_number);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
