<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button v-if="access.C === true" type="button"  @click="showFormUpload = !showFormUpload" class="btn btn-primary square" name="button">
            <i class="fa fa-upload"></i> Upload
          </button>
          <a href="/template-excel/spjb-asal/New_Template_SPJB_Asal.xlsx" target="_blank" class="btn btn-primary square" name="button">
            <i class="fa fa-download"></i> Download Template
          </a>
          <button type="button" @click="download()" :disabled="loadBtnDownload" class="btn btn-primary square" name="button">
            <i class="fa fa-download"></i> Download
          </button>
          <!-- <button type="button" @click="pocDownloadExcel()" class="btn btn-danger square" name="button">
            <i class="fa fa-download"></i> Mas Khafit
          </button> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table id="tableSpjbAsal" class="table table-xs table-bordered table-striped display nowrap" width="100%">
          <thead>
            <spjb-asal-filter :reset="resetStatus" @search-table="searchTable"></spjb-asal-filter>
            <tr>
              <th>
                <fieldset>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input check_all" value="all">
                    <span class="custom-control-indicator"></span>
                  </label>
                </fieldset>
              </th>
              <th>NO. SPJB</th>
              <th>Tahun</th>
              <th>Distributor</th>
              <th>Produsen</th>
              <th>Tanggal Buat</th>
              <th>Tanggal Ganti</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div  v-if="accessComponent.A" class="row scroll-top">
         <div class="col-md-12">
          <div class="btn-group mr-1 mb-1 pull-right dropup">
            <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
              Aksi
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" @click="action('y')" href="#">Actived</a>
              <a class="dropdown-item" @click="action('n')" href="#">Inactived</a>
            </div>
          </div>
        </div>
    </div>
    <spjb-asal-upload v-if="showFormUpload" @trigger-modal="triggerModal()"></spjb-asal-upload>
  </div>
</template>

<script>
import SpjbAsalUpload from './SpjbAsalUpload';
import SpjbAsalFilter from './SpjbAsalFilter';
export default {
  props: ['access'],
  data: function() {
    return {
      check: [],
      loading:{
        changeStatus: false
      },
      accessComponent: (this.access != undefined) ? this.access : {},
      resetStatus: false,
      showFormUpload: false,
      dt: null,
      spjbAsal: {},
      loadBtnDownload:false
    }
  },
  components: {
    SpjbAsalUpload, SpjbAsalFilter
  },
  created() {
    if(this.access === undefined) {
      const encodeAccess = decodeURIComponent(this.$route.params.access);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const arrAccess = decodeAccess.split(",");
      console.log(this.access);
      if(arrAccess) {
        arrAccess.map((data) => {
          if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.accessComponent[data] = true
          } else {
            this.$router.push({path: '/home'});
            toastr.error('Tidak mempunyai akses halaman ini', 'Error');
          }
        })
      } else {
        this.$router.push({path: '/home'});
        toastr.error('Tidak mempunyai akses halaman ini', 'Error');
      }
    }
  },
  mounted() {
    var app = this;
    app.getData();
    $("div.dataTables_length").append(' <button id="resetFilterSpjbAsal" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterSpjbAsal", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterSpjbAsal').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterSpjbAsal').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#toDetail", function(e){
      e.preventDefault()
      const uuid = encodeURIComponent($(this).data("uuid"))
      const id = encodeURIComponent($(this).data("id"))
      var access = app.$route.params.access;
      app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/spjb/asal/detail/'+uuid+'/'+id});
    })
    $(document).on("click", ".check_all", function(e){
      $('.check_box_table').not(this).prop('checked', this.checked);
      $('.check_box_table').not(this).each(function(index, el) {
        var value = {id: $(this).val()};
        if(this.checked){
          if(value != 'all' && !app.check.includes(value)){
            app.check.push(value);
          }
        } else {
          app.check = [];
        }
      });
    })

    $(document).on("click", "#check", function(e){
      var value = {id: $(this).val()};
      if(this.checked){
        app.check.push(value);
      } else {
        app.removeA(app.check, value.id);
      }
    })
  },
  methods: {
    validDateCreate(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.spjbAsal.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.spjbAsal.created_at = obj.created_at.certain;
      } else {
        this.spjbAsal.created_at = '';
      }
    },
    validDateUpdated(obj) {
      if(obj.updated_at && obj.updated_at.from && obj.updated_at.to) {
        this.spjbAsal.updated_at = obj.updated_at.from+';'+obj.updated_at.to;
      } else if (obj.updated_at && obj.updated_at.certain) {
        this.spjbAsal.updated_at = obj.updated_at.certain;
      } else {
        this.spjbAsal.updated_at = '';
      }
    },
    action(type) {
      event.preventDefault();
      if(this.check.length != 0) {
        this.loading.changeStatus = true;
        this.check = this.check.map(data => {
          return {uuid: data.id, status: type}
        })
        this.saveAction();
      } else {
        toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
      }
    },
    actionExist(){
      this.check.map((dt, ind) => {
        var exist = this.check[ind].id.includes(dt.id);
        if(exist){
          this.removeA(this.check, dt.id);
        }
      })
    },
    saveAction(){
      // this.actionExist();
      this.axios.put('spjb/statusbulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        this.loading.changeStatus = false;
        toastr.warning("Status gagal di ubah", "Gagal");
        $.each(resp.response.data.errors, function( index, value ) {
          toastr.error(value, index)
        });
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
        this.dt.draw();
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.spjbAsal.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.spjbAsal.year = obj.year.certain;
      } else {
        this.spjbAsal.year = '';
      }
    },
    triggerModal() {
      this.showFormUpload = false;
      this.dt.draw();
    },
    downloadExcel(){
      $(".downloadSpjbAsal").trigger('click');
    },
    download(){
      this.loadBtnDownload = true;
      this.axios({
        url: 'spjb/download',
        params: {
          no_doc : this.spjbAsal.number,
          year : this.spjbAsal.year,
          customer_name : this.spjbAsal.customer_name,
          sales_org_name : this.spjbAsal.sales_org_name,
          status : this.spjbAsal.status_name,
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download SPJB Asal.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    },
    // pocDownloadExcel() {
    //   this.axios({
    //     url: 'spjbopr/download/E15B3520-E3D7-485D-8328-2F056A8D2F69',
    //     method: 'GET',
    //     responseType: 'blob', // important
    //   }).then((response) => {
    //      const url = window.URL.createObjectURL(new Blob([response.data]));
    //      const link = document.createElement('a');
    //      link.href = url;
    //      link.setAttribute('download', 'masKhafit.xlsx'); //or any other extension
    //      document.body.appendChild(link);
    //      link.click();
    //   })
    // },
    getData() {
      var app = this;
      // return true;
      this.dt = $("#tableSpjbAsal").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        "scrollX":true,
        // order: [[ 1, 'desc' ]],
        "columnDefs": [
            { "orderable": false, "targets": 0 }
        ],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadSpjbAsal',
            text: "Download SPJB Asal",
            title:"",
            filename:"SPJB-ASAL"
          }
        ],
        ajax : {
          'url': '/api/spjb',
          'type': 'GET',
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
          data: function(d){
            d.no_doc = app.spjbAsal.number
            d.year = app.spjbAsal.year
            d.customer_name = app.spjbAsal.customer_name
            d.sales_org_name = app.spjbAsal.sales_org_name
            d.status = app.spjbAsal.status_name
            d.created_at = app.spjbAsal.created_at
            d.updated_at = app.spjbAsal.updated_at
          }
        },
        columns :[
          {
            data: 'uuid',
            render:function(data,t,f) {
              const check = '<fieldset>'+
                              '<label class="custom-control custom-checkbox">'+
                                '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                '<span class="custom-control-indicator"></span>'+
                              '</label>'+
                            '</fieldset>';
              return check;
            }
          },
          {
            data: 'no_doc',name:'no_doc',
            render: function(data, type, full) {
              var access = encodeURIComponent(app.$route.params.access);
              const link = `<a href="/#/${access}/alokasi/spjb/asal/detail/${full.uuid}/${full.id}">${data}</a>`
              return link;
            }
          },
          {data: 'year', name: 'year'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'created_at', name: 'created_at'},
          {data: 'updated_at', name: 'updated_at'},
          {data: 'status_name', name: 'status_name'}
        ]
      })
      app.dt.order( [ 1, 'desc' ] ).draw();
    },
    searchTable(obj) {
      this.spjbAsal = obj;
      this.yearFrom(obj);
      this.validDateUpdated(obj);
      this.validDateCreate(obj);
      this.dt.draw();
    }
  }
}
</script>

<style media="screen">
  div.dt-buttons {
    float: right !important;
    display: none;
  }
  .scroll-top {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
  }
</style>
