<template>
  <div>
    <header-template v-if="$auth.check()" :datacollapse="collapse"></header-template>
    <sidebar v-if="$auth.check()"></sidebar>
    <div v-bind:class="[{'app-content' : $auth.check()}, {'content' :  $auth.check()}]">
        <div :class="{'openloading' :  !$root.loadingWayang && $auth.ready()}">
          <!-- <loading-wayang></loading-wayang> -->
        </div>
        <router-view v-if="!$root.loadingWayang"></router-view>
        <vue-progress-bar></vue-progress-bar>
    </div>
  </div>
</template>
<script>
  import Header from './Header.vue';
  import Sidebar from './Sidebar.vue';
  import ExampleVue from '../ExampleVue.vue';
  import Login from '../Login.vue';
  import Loading from './Loading';
  export default {
    mounted () {
      this.$Progress.finish()
      console.clear()
      // console.log(this.$root.loadingWayang, "loading wayang");
    },
    created () {
      this.$Progress.start()
      this.$router.beforeEach((to, from, next) => {
        if (to.meta.progress !== undefined) {
          let meta = to.meta.progress
          this.$Progress.parseMeta(meta)
        }
        this.$Progress.start()
        next()
      })
      this.$router.afterEach((to, from) => {
        this.$Progress.finish()
      })
    },
    data() {
      return {
        collapse: false
      }
    },
    components: {
      Sidebar,
      headerTemplate : Header,
      exampleContent: ExampleVue,
      loadingWayang: Loading
    }
  }
</script>
<style>
  .loading {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 10000;
  }
</style>
