<template>
  <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark bg-gradient-x-primary navbar-shadow">
    <div class="navbar-wrapper">
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item mobile-menu d-md-none mr-auto">
            <a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs" v-bind:class="{'is-active' : datacollapse}"><i class="ft-menu font-large-1"></i></a>
          </li>
          <li class="nav-item">
            <a href="#" class="navbar-brand" style="display: flex;">
              <h2 class="brand-logo">WCM</h2>
              <h2 class="brand-text">PIHC</h2>
            </a>
          </li>
          <li class="nav-item d-md-none"><a @click="collapse = !collapse" data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="fa fa-ellipsis-v"></i></a></li>
        </ul>
      </div>
      <div class="navbar-container content">
        <div id="navbar-mobile" class="collapse navbar-collapse" :class="(collapse) && 'show'">
          <ul class="nav navbar-nav mr-auto float-left">
            <li class="nav-item d-none d-md-block"><a id="hamburger" href="#" class="nav-link nav-menu-main menu-toggle hidden-xs is-active"><i class="ft-menu"></i></a></li>
          </ul>
          <ul class="nav navbar-nav float-right">
            <li class="dropdown dropdown-user nav-item" style="padding-top: 10px;">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                <span style="display:none;" class="avatar avatar-online">
                  <img src="/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></span>
                <span class="user-name" >{{user.name}}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <router-link :to="{ name: 'user_profile' }" class="dropdown-item">
                  <i class="ft-user"></i>  Profile
                </router-link>
                <div class="dropdown-divider"></div><a href="#" class="dropdown-item" @click.prevent="$auth.logout()"><i class="ft-power"></i> {{ $ml.get('header.dropdownItemLogout') }}</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
  export default {
    data(){
      return {
        user : {},
        collapse: false
      }
    },
    props: ['datacollapse'],

    mounted() {
      if(this.$auth.ready()){
        // console.log(this.datacollapse);
        $("body").css("background-color", "#F5F7FA");
        $("body").css("background-image", "none");
        this.user = this.$auth.user();
        $(document).on("click", "#hamburger", function(e) {
          e.preventDefault()
          if($("body").hasClass('menu-collapsed')){
            $("body").removeClass('menu-collapsed').addClass('menu-expanded');
            $(".main-menu-header").fadeIn(1000);
          } else {
            $("body").removeClass('menu-expanded').addClass('menu-collapsed');
            $(".main-menu-header").fadeOut('fast');
          }
        })
      }
    },
    methods: {
      changeLang(lang) {
        this.$ml.change(lang);
        localStorage.setItem('app-lang', lang);
      }
    }
  };
</script>
