
<template>
  <div data-scroll-to-active="true" class="main-menu menu-fixed menu-light menu-accordion menu-shadow">
    <div class="main-menu-content">
      <ul data-menu="menu-navigation" class="navigation navigation-main">
        <li class="nav-item">
          <div class="main-menu-header">
            <center>
              <img src="/images/logo/pihc-logo.png" style="width: auto;height: 50px;">
            </center>
          </div>
          <hr class="line-for-logo">
        </li>
        <router-link tag="li" :class="{'active' : $route.name === 'home'}" :to="{ name: 'home' }" active-class="active" class="nav-item">
          <a href="#"><i class="fa fa-home"></i><span data-i18n="" class="menu-title">Home</span></a>
        </router-link>
         <div v-if="loading" class="demo"></div>
         <template v-else-if="loading === false" v-for="menu, index in allMenu">
            <router-link v-if="menu.children.length==0" :class="{'active' : $route.name === menu.url}" tag="li" exact-active-class="exact-active" :to="{ name: menu.url, params: { access: encodeURIComponent(encrypt(menu.access.join())) } }" class="nav-item">
              <a href="#"><i class="ft-file-text"></i><span data-i18n="" class="menu-title">{{menu.name}}</span></a>
            </router-link>
            <li v-else class="nav-item has-sub" :class="{'open' : collapseData.includes(menu.id) } ">
              <a v-if="menu.children" @click="toggleCollapseMenu(menu.id)" href="#" onclick="event.preventDefault()">
                <i :class="(menu.icon === null || menu.icon == '0') ? 'ft-zap' : menu.icon"></i>
                <span data-i18n="" class="menu-title">{{ menu.name }}</span>
              </a>
              <ul class="menu-content">
                 <li class="navigation-divider"></li>
                 <router-link v-for="(itemc, indexc) in menu.children"
                  :class="{'active' : $route.name === itemc.url}" :key="indexc" tag="li"
                  :to="{ name: itemc.url, params: { access: encodeURIComponent(encrypt(itemc.access.join())) } }" >
                    <a href="#"  class="menu-item"> {{itemc.name}} </a>
                  </router-link>
              </ul>
            </li>
         </template>
      </ul>
    </div>
  </div>
</template>

<script>
import { EventBus } from '../../event-bus.js';
  export default {
    data: function() {
      return {
        allMenu: [],
        loading: false,
        collapseData : []
      }
    },
    async created() {
      await this.getDataMenu();
    },
    mounted(){
      var app = this;
      app.collapseMenu();
      $(document).ready(function() {
        $('.navigation').find('li').has('ul').addClass('has-sub');
      });
      EventBus.$on('refresh-menu', oke => {
        app.getDataMenu();
      })
      // $(document).on("click", ".has-sub a", function(e){
      //   e.preventDefault();
      //   // $(this).closest('li').addClass('open');
      // })
    },
    methods: {
      toggleCollapseMenu(id) {
        event.preventDefault();
        let tot = this.collapseData.count;
        if(this.collapseData.includes(id)){
          this.removeA(this.collapseData, id);
        } else {
          this.collapseData = [];
          this.collapseData.push(id);
        }
      },
      removeA(arr) {
        var what, a = arguments, L = a.length, ax;
        while (L > 1 && arr.length) {
            what = a[--L];
            while ((ax= arr.indexOf(what)) !== -1) {
                arr.splice(ax, 1);
            }
        }
        return arr;
      },
      getDataMenu(){
        this.loading = true;
        this.axios.get('sidebar')
        .then((resp) => {
          this.allMenu = resp.data.data
          this.loading = false;
        })
        .catch((resp) => {
          console.log('failed load sidebar');
        })
      },
      collapseMenu() {
        setTimeout(function () {
          $(".active").closest('li.has-sub').addClass('open');
        }, 1000);
      },
    }
  };
</script>

<style media="screen">
  .main-menu.menu-light .navigation > li ul .active > a {
    background-color: #1980F0;
    color: #fff;
    font-weight: 500;
  }

	.demo:empty {
    margin: auto;
    margin-top: 25px;
		width: 500px;
		height: 150px; /* change height to see repeat-y behavior */

		background-image:
			radial-gradient( lightgray 0%, transparent 0 ),
			linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
			linear-gradient( lightgray 15px, transparent 0 ),
			linear-gradient( lightgray 15px, transparent 0 ),
			linear-gradient( lightgray 15px, transparent 0 ),
			linear-gradient( lightgray 15px, transparent 0 );

		background-repeat: no-repeat;

		background-size:
			100px 200px, /* circle */
			100px 200px, /* highlight */
			180px 200px,
			160px 200px,
			160px 200px,
			160px 200px;

		background-position:
			0 0, /* circle */
			0 0, /* highlight */
			20px 0,
			40px 40px,
			40px 80px,
			40px 120px;

		animation: shine 1s infinite;
	}

	@keyframes shine {
		to {
			background-position:
				0 0,
				100% 0, /* move highlight to right */
				20px 0,
				40px 40px,
        40px 80px,
  			40px 120px;
		}
	}

</style>
