<template lang="html">
  <div class="">
    <div class="row">
        <div class="col-2">
          No <br>
          Produsen <br>
          Periode Tahun
        </div>
        <div class="col-4">
          {{ dataDetailPermentan.permentan_no }} <br>
          {{ dataDetailPermentan.sales_org_name }} <br>
          {{ dataDetailPermentan.tahun }} <br>
        </div>
        <div class="col-md-6">
        <div class="form-group pull-right">
          <button type="button" class="btn btn-danger square" @click="goBack()" ><i class="fa fa-chevron-circle-left"></i> Kembali</button>
          <button v-if="access.U === true" type="button" @click="toEdit" class="btn btn-primary square">
            <i class="fa fa-pencil"></i>
            Edit Permentan
          </button>
          <a id="dlink"  style="display:none;"></a>
          <button type="button" @click="renderExcel()" class="btn btn-primary square" :disabled="loadingSpin" name="button">
            <i v-if="loadingSpin" class="fa fa-spin fa-refresh"></i>
            <i v-else class="fa fa-download"> </i>
            Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="permentanDetailTable" class="table table-xs table-bordered display nowrap">
            <thead>
              <tr>
                <th>#</th>
                <th>Provinsi/Produk</th>
                <th v-for="(data, i) in dateYear"> {{ data }} </th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(prov, i) in dataDetailPermentan.provinsi">
                <prov-row :prov="prov"
                @toggle-collapse-prod="toggleCollapseProd"
                :icon="(collapse.prod.includes(prov.id)) ? true : false"
                ></prov-row>
                <template v-if="collapse.prod.includes(prov.id)"  v-for="(prod, i) in prov.product">
                  <prod-row :prod="prod"></prod-row>
                </template>
              </template>
              <tr>
                <th>
                  <i @click="toggleCollapseTot(1)" class="buttonCollapse fa" :class="(collapse.tot.includes(1)) ? 'fa-minus' : 'fa-plus'"></i>
                </th>
                <th colspan="14">TOTAL PRODUK SEMUA PROVINSI</th>
              </tr>
              <template v-if="collapse.tot.includes(1)" v-for="(tot, i) in dataDetailPermentan.totals">
                <tot-row :tot="tot"></tot-row>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="mr-1 mb-1 pull-left">
          <b>Legend : &nbsp; </b> 
          <div class="badge round" style="background-color:black;"> &nbsp;&nbsp; </div> Active &nbsp;
          <div class="badge round" style="background-color:red"> &nbsp;&nbsp; </div> Not Active &nbsp;
        </div>
      </div>
    </div>

    <table-permentan v-if="showModalTable" @trigger-modal="triggerModal"></table-permentan>
  </div>
</template>

<script>

import Table from './modal/Table';
import ProvRow from './table-setting/ProvRow';
import ProdRow from './table-setting/ProdRow';
import TotRow from './table-setting/TotRow';
export default {
  props: ['access'],
  data: function() {
    return {
        loadingSpin: false,
        showModalTable: false,
        dateYear: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
        dataDetailPermentan: {},
        dataProvinsi: {},
        permentan: {},
        collapse:{
          prod : [],
          tot: []
        }
    }
  },
  components: {
    tablePermentan: Table,
    ProvRow, ProdRow, TotRow
  },
  created() {
    this.getData();
  },
  mounted() {

  },
  methods: {
    toEdit(){
      var app = this
      var access = app.$route.params.access;
      app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/alokasi-provinsi/detail/edit-table/'+app.$route.params.uuid+'/'+app.$route.params.year});
    },
    renderExcel() {
      this.loadingSpin = true;
      event.preventDefault();
      this.axios({
        url: 'permentan/export?uuid='+this.$route.params.uuid,
        method: 'GET',
        responseType: 'blob'
      })
      .then((response) => {
         this.loadingSpin = false;
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'PERMENTAN-ITEM-.xls');
         document.body.appendChild(link);
         link.click();
      })
      .catch((resp) => {
        this.loadingSpin = false;
        toastr.error('Data Permentan Items not Found');
      })
    },
    triggerModal(refresh = false) {
      this.showModalTable = false
      if(refresh === true){
        this.getData()
      }
    },
    setCollapseShow(){
      this.dataDetailPermentan.provinsi.map((prov) => {
        this.collapse.prod.push(prov.id)
      })
      this.collapse.tot.push(1)
    },
    getData() {
      this.axios.get('permentan/detail/'+this.$route.params.uuid)
      .then((resp) => {
        this.dataDetailPermentan = resp.data.data
        this.setCollapseShow();
        this.dataProvinsi = {
          id: resp.data.data.provinsi[0].id,
          name: resp.data.data.provinsi[0].name
        }
      })
      .catch((resp) => {
        toastr.error(resp.response.data, 'error');
      })
    },
    toggleCollapseProd(id) {
      const index = this.collapse.prod.indexOf(id);
      if (index > -1) {
      	this.collapse.prod.splice(index, 1)
      } else {
      	this.collapse.prod.push(id)
      }
    },
    toggleCollapseTot(id) {
      const index = this.collapse.tot.indexOf(id);
      if (index > -1) {
      	this.collapse.tot.splice(index, 1)
      } else {
      	this.collapse.tot.push(id)
      }
    },
    tableToExcel(table, name, filename) {
      // alert('cuk'); return;
      let uri = 'data:application/vnd.ms-excel;base64,',
      template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><title></title><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
      base64 = function(s) { return window.btoa(decodeURIComponent(encodeURIComponent(s))) },         format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; })}

      if (!table.nodeType) table = document.getElementById(table)
      var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}

      var link = document.createElement('a');
      link.download = filename;
      link.href = uri + base64(format(template, ctx));
      link.click();
    },
    goBack(){
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/alokasi-provinsi'});
    }
  },
}
</script>

<style lang="css" scoped>
.buttonCollapse{
  cursor: pointer;
}
</style>
