<template>
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form @submit="saveData" class="form form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" >Produsen </label>
                                    <div class="col-md-9">
                                        <select class="form-control" disabled="disabled">
                                            <option :value="paramsEdit.id">{{paramsEdit.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" >Status </label>
                                    <div class="col-md-9">
                                        <select v-model="status" class="form-control">
                                            <option value="">Pilih Status</option>
                                            <option value="true">true</option>
                                            <option value="false">false</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary square" data-dismiss="modal">Batal</button>
                        <button :disabled="loadingButton" type="submit" class="btn btn-primary square">
                            <i v-if="loadingButton" class="fa fa-spin fa-refresh"></i> 
                            Simpan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
    props: ['paramsEdit'],
    data: () => {
        return {
            status: false,
            loadingButton: false
        }
    },
    components: {
        Multiselect
    },
    mounted() {
        const app = this;
        
        app.status = this.paramsEdit.status
        
        $("#modalEdit").modal("show")
        $("#modalEdit").on("hidden.bs.modal", function() {
            app.closeModal()
        })
    },
    methods: {
        closeModal() {
            this.$emit('trigger-modal');
        },
        convertStringToBool(string) {
            if(string == 'true') return '1';
            if(string == 'false') return '0';
        },
        saveData(e) {
            e.preventDefault();
            const status = this.convertStringToBool(this.status);
            this.loadingButton = true;
            this.axios.put(`salesorg/${this.paramsEdit.id}`, {status})
            .then(res => {
                toastr.success(res.data.message);
                this.loadingButton = false;
                $("#modalEdit").modal("hide")
            })
            .catch(res => {
                toastr.error(res.response.data.message), {status: status};
                if(res.response.data.message.status) {
                    toastr.error(res.response.data.message.status[0]);   
                }
                this.loadingButton = false;
            })
            
        }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>

</style>
