<template lang="html">
  <div class="modal fade" id="openformModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form id="formmodal"  >
          <div class="modal-header">
            <h4 v-if="getid != null" class="modal-title" id="">{{ $ml.get("global.form.labelEdit") }}  </h4>
            <h4 v-else class="modal-title" id="">{{ $ml.get("global.form.labelAdd") }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <form-loader :view="loaderAnimate"></form-loader>
            <div class="row" v-if="pageloder">
              <div class="col-md-12">

                <div class="form-body">
                  <div class="">
                    <h4 class="form-section"><i class="ft-user"></i> Supply Point</h4>
                    <div class="row">
                      <div class="col-md-12">
                          <div class="form-group row">
                              <label class="text-right text-right col-md-4 label-control" >Produsen </label>
                              <div class="col-md-8">
                                <multiselect
                                  @input=""
                                  v-model="supplypoint.sales_org_id"
                                  :options="m_produsen"
                                  track-by="id" :custom-label="ProdnameWithId"
                                  :searchable="true" :close-on-select="true"
                                  :show-labels="false" placeholder="Pilih .."
                                  :disabled="isDisabled"
                                >
                                </multiselect>
                                <p class="text-danger" v-if="error && errors.sales_org_id">{{errors.sales_org_id[0]}}</p>
                              </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Provinsi</label>
                            <div class="col-md-8">
                              <multiselect
                                @input="getKabupaten"
                                v-model="supplypoint.sales_office_id"
                                :options="m_provinces"
                                track-by="id" :custom-label="ProvnameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" placeholder="Pilih .."
                                :disabled="isDisabled"
                              >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.sales_office_id">{{errors.sales_office_id[0]}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Kabupaten</label>
                            <div class="col-md-8">
                              <multiselect
                                @input="getGudang"
                                v-model="supplypoint.sales_group_id"
                                :options="m_kabupaten"
                                track-by="id" :custom-label="KabnameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" :placeholder="(loadingElement.kabupaten === false) ? 'Pilih ..' : 'Memuat ..'"
                                :disabled="isDisabled"
                              >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.sales_group_id">{{errors.sales_group_id[0]}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Gudang</label>
                            <div class="col-md-8">
                              <multiselect
                                @input=""
                                v-model="supplypoint.plant_id"
                                :options="m_gudang"
                                track-by="id" :custom-label="GudangnameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" :placeholder="(loadingElement.gudang === false) ? 'Pilih ..' : 'Memuat ..'"
                                :disabled="isDisabled"
                              >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.plant_id">{{errors.plant_id[0]}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Sales Group</label>
                            <div class="col-md-8">
                              <multiselect
                                @input=""
                                v-model="supplypoint.scnd_sales_group_id"
                                :options="m_sales_group"
                                track-by="id" :custom-label="SalesgrpnameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" :placeholder="(loadingElement.kabupaten === false) ? 'Pilih ..' : 'Memuat ..'"
                                :disabled="isDisabled"
                              >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.scnd_sales_group_id">{{errors.scnd_sales_group_id[0]}}</p>
                            </div>
                          </div>
                        </div>
                        <!-- form  -->
                  </div>
                 </div>
                </div>
                </div>
               </div>
              </div>
              <div class="modal-footer" v-if="pageloder">
                <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal" >
                  <i class="ft-x"></i> Cancel
                </button>
                <div>
                  <button type="button" class="btn btn-primary" @click="toSubmit"  >
                    <i class="fa fa-check-square-o"></i> Submit
                  </button>
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import FormLoader from '../../../main/FormLoader';

export default {
  props: ['getid', 'getdata', 'access'],
  data: function() {
    return {
      error: false,
      errors: {},
      isDisabled: false,
      loaderAnimate: false,
      pageloder:true,
      loadingElement: {
        kabupaten: false,
        kecamatan: false,
        gudang: false,
      },
      m_produsen: [],
      m_provinces: [],
      m_kabupaten: [],
      m_gudang: [],
      m_sales_group: [],
      idnya: this.getid,
      sendDt: {},
      supplypoint : {
        sales_org_id: '',
        sales_office_id: '',
        sales_group_id: '',
        plant_id: '',
        scnd_sales_group_id: '',
        status: ''
      }
    }
  },
  components: {
    Multiselect,
    FormLoader
  },
  watch: {
    getid: function(){
      this.error = false;
      this.errors = {};
      this.idnya = this.getid;
      if (this.idnya !== null) {
        this.getDatabyuuid(this.idnya);
      } else {
        this.setDefault();
      }
    }
  },
  mounted(){
    var app = this;
    app.getProdusen();
    app.getProvinsi();
    app.getSalesgroup();
    $('#openformModal').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  methods:{
    ProdnameWithId ({ id, name }){ return `${id} — ${name}` },
    ProvnameWithId ({ id, name }){ return `${id} — ${name}` },
    KabnameWithId ({ id, name }){ return `${id} — ${name}` },
    GudangnameWithId ({ code, name }){ return `${code} — ${name}` },
    SalesgrpnameWithId ({ id, name }){ return `${id} — ${name}` },
    getProdusen(id_distributor){
      this.axios.get('company/produsen')
      .then((resp) => {
        this.m_produsen = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => { console.log(resp) })
    },
    getProvinsi(){
      this.axios.get('region/provinsi')
      .then((resp) => {
        this.m_provinces = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
    },
    getKabupaten(provinsi){
      this.m_kabupaten = [];
      this.m_kecamatan = [];
      // this.m_sales_group = [];
      this.loadingElement.kabupaten = true
      // this.supplypoint.sales_office_id = provinsi.id;
      this.axios.get('region/kabupaten', {
        params: {
          provinsi: provinsi.id
        }
      })
      .then((resp) => {
        this.m_kabupaten = resp.data.data;
        // this.m_sales_group = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false})
    },
    getGudang(kabupaten_id){
      this.axios.get('plant/distinct', {
        params: {
          sales_group_id: kabupaten_id.id,
          sales_org_id: this.supplypoint.sales_org_id.id,
        }
      })
      .then((resp) => {
        this.m_gudang = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {console.log(resp)})
    },
    getSalesgroup(id){
      this.axios.get('region/kabupaten')
      .then((resp) => {
        this.m_sales_group = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {console.log(resp)})
    },
    toDraft() {
      var app = this;
      app.loaderAnimate = true;
      app.pageloder = false;
      app.supplypoint.status = 'n';
      if (app.getid === null) {
        app.insert();
      } else {
        app.update();
      }
    },
    toSubmit() {
      var app = this;
      app.loaderAnimate = true;
      app.pageloder = false;
      app.sendDt.status = 'y';
      if (app.getid === null) {
        app.insert();
      } else {
        app.update();
      }
    },
    insert(){
      event.preventDefault();
      this.sendDt.plant_id = this.supplypoint.plant_id.id;
      this.sendDt.sales_group_id = this.supplypoint.sales_group_id.id;
      this.sendDt.sales_office_id = this.supplypoint.sales_office_id.id;
      this.sendDt.sales_org_id = this.supplypoint.sales_org_id.id;
      this.sendDt.scnd_sales_group_id = this.supplypoint.scnd_sales_group_id.id;
      this.axios.post('supplypoint', this.sendDt)
      .then((resp) => {
        toastr.success("Entry data berhasil", "Sukses");
        $("#openformModal").modal("hide");
        this.closeModal();
      })
      .catch((resp) => {
        toastr.error("Entry data gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;

        let msg = resp.response.data.message.active_check;
        if(msg[0]){
          toastr.error('<ul>'+msg[0]+'</ul>')
        }
      })
      .then((resp) => {
        this.loaderAnimate = false;
        this.pageloder = true;
      })
    },
    update() {
      event.preventDefault();
      this.sendDt.plant_id = this.supplypoint.plant_id.id;
      this.sendDt.sales_group_id = this.supplypoint.sales_group_id.id;
      this.sendDt.sales_office_id = this.supplypoint.sales_office_id.id;
      this.sendDt.sales_org_id = this.supplypoint.sales_org_id.id;
      this.sendDt.scnd_sales_group_id = this.supplypoint.scnd_sales_group_id.id;
      this.axios.put("supplypoint/"+this.getid, this.sendDt)
      .then((resp) => {
        toastr.success("Update data berhasil", "Sukses");
        $("#openformModal").modal("hide");
        this.closeModal();
      })
      .catch((resp) => {
        toastr.error("Update data gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
      })
      .then((resp) => {
        this.loaderAnimate = false;
        this.pageloder = true;
      })
    },
    closeModal(){
      this.setDefault();
      this.$emit("trigger-modal", 'RefreshTable');
    },
    getDatabyuuid(id){
      this.loaderAnimate = true;
      this.pageloder = false;
      this.axios.get('supplypoint/id/'+id)
      .then((resp) => {
        this.supplypoint.sales_org_id = {id: resp.data.data[0].sales_org_id, name: resp.data.data[0].sales_org_name};
        this.supplypoint.sales_office_id = {id: resp.data.data[0].sales_office_id, name: resp.data.data[0].sales_office_name};
        this.getKabupaten(this.supplypoint.sales_office_id);
        this.supplypoint.sales_group_id = {id: resp.data.data[0].sales_group_id, name: resp.data.data[0].sales_group_name};
        this.getGudang(this.supplypoint.sales_group_id);
        this.supplypoint.plant_id = {id: resp.data.data[0].plant_id, code:resp.data.data[0].plant_code,  name: resp.data.data[0].plant_name};
        this.supplypoint.scnd_sales_group_id = {id: resp.data.data[0].scnd_sales_group_id, name: resp.data.data[0].scnd_sales_group_name};
        this.supplypoint.status = resp.data.data[0].status;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {
        // if(this.supplypoint.status === 'y' || this.supplypoint.status === 's' || !this.access.U){
        //   this.isDisabled = true;
        // } else {
        //   this.isDisabled = false;
        // }
        this.isDisabled = false;
        this.loaderAnimate = false;
        this.pageloder = true;
      })
    },
    setDefault(){
      this.supplypoint.sales_org_id = '';
      this.supplypoint.sales_office_id = '';
      this.supplypoint.sales_group_id = '';
      this.supplypoint.plant_id = '';
      this.supplypoint.scnd_sales_group_id = '';
      this.supplypoint.status = '';
      this.isDisabled = false;
    }
  },


}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
</style>
