<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">Pengelola HAK Akses Router API</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">DATA MASTER</a>
              </li>
              <li class="breadcrumb-item active">HAK AKSES ROUTER API
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div  class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-xs table-bordered table-striped display nowrap" id="tableRoutePrivilege">
                      <thead>
                        <tr>
                          <th>Nama Role/Bagian</th>
                          <th>#</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                    <modal-assign-router v-if="showModal" @trigger="trigger" :roleId="roleId"></modal-assign-router>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
import ModalAssignRouter from '../ModalAssignRouter';
export default {
  props: [],
  data: function() {
    return {
      dt: '',
      roleId: null,
      showModal: false,
      access: {}
    }
  },
  components: {
    ModalAssignRouter
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        console.log(data);
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          // this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      // this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    var app = this;
    this.getDataRole();
    $(document).on("click", "#managePrivelegeRouter", function(e){
      e.preventDefault();
      var id = $(this).data("id");
      app.showModal = true;
      app.roleId = id;
    })
  },
  methods: {
    getDataRole() {
      let app = this;
      app.dt = $("#tableRoutePrivilege").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        ajax: {
          'url': 'api/role',
          'type': 'GET',
          'data': function(d){

           },
           'beforeSend': function (request) {
               var token = localStorage.getItem("default_auth_token");
               request.setRequestHeader("Authorization", "Bearer "+token);
               request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
           },
        },
        columns: [
          {data: 'name', name: 'name'},
          {
            data: 'id',
            render: function(data, type, full){
              const buttonEditOrCreate = (app.access.C === true || app.access.U === true) ? '<button class="btn btn-icon btn-primary btn-sm" id="managePrivelegeRouter" data-id="'+data+'"> <i class="fa fa-pencil"></i></button>' : '';
              return '<div class="btn-group" role="group" aria-label="Basic example">'+buttonEditOrCreate+'</div>';
            }
          }
        ]
      })
    },
    trigger() {
      var app = this;
      app.showModal = false;
    }
  }


}
</script>

<style lang="css" scoped>
</style>
