<template>
    <tr>
        <th>Nomor Sales Order</th>
        <th>SO Item</th>
        <th>Sales Organization</th>
        <th>Distribution Chanel</th>
        <th>Division</th>
        <th>Sales Office</th>
        <th>Deskripsi Sales Office</th>
        <th>Sales Group</th>
        <th>Deskripsi Sales Group</th>
        <th>SO Legacy</th>
        <th>Kecamatan SO</th>
        <th>Kecamatan SO Desk</th>
        <th>Provinsi Distributor</th>
        <th>Kabupaten Distributor</th>
        <th>Distributor</th>
        <th>Nama Distributor</th>
        <th>End User / Pengecer</th>
        <th>Provinsi Tujuan</th>
        <th>Deskripsi Provinsi Tujuan</th>
        <th>Negara Tujuan</th>
        <th>Deskripsi Negara Tujuan</th>
        <th>Nomor Kontrak</th>
        <th>Tanggal Mulai Kontrak</th>
        <th>Tanggal Berakhir Kontrak</th>
        <th>Tanggal SO Dibuat</th>
        <th>Tanggal Dokumen</th>
        <th>Tanggal SO Realese</th>
        <th>Payment Term</th>
        <th>Payment Method</th>
        <th>Nomor Material</th>
        <th>Deskripsi Material</th>
        <th>Material Group</th>
        <th>Alokasi Asal</th>
        <th>Alokasi Operasional</th>
        <th>Quantity SO</th>
        <th>Unit of meassure</th>
        <th>Mata Uang</th>
        <th>Harga Jual</th>
        <th>PPN</th>
        <th>Total</th>
        <th>Harga/ton (incl PPN)</th>
        <th>Harag Total (incl PPN)</th>
        <th>Nomor DO</th>
        <th>Tanggal PGI</th>
        <th>Plant SO</th>
        <th>Gudang SO</th>
        <th>Gudang SO Deksripsi</th>
        <th>Kode Gudang</th>
        <th>Gudang Pengambilan</th>
        <th>Quantity DO</th>
        <th>Quantity SO - DO</th>
        <th>Status SO</th>
        <th>Remarks</th>
        <th>BL Number</th>
        <th>Nomor SPE</th>
        <th>Sisa SPE</th>
        <th>PGI Qty</th>
        <th>Total Harga tonase PGI</th>
        <th>Outstanding SO</th>
        <th>SO Type</th>
        <th>SO Type Description</th>
        <th>Provinsi Gudang</th>
        <th>Kabupatenf Gudang</th>
        <th>Payment Term</th>
        <th>Payment Method</th>
        <th>Batas Akhir Pengambilan</th>
        <th>NO PO</th>
        <th>Tanggal PO</th>
        <th>SO Created By</th>
        <th>Ext. Financial Doc. No</th>
        <th>Opening Date</th>
        <th>Latest Shipment Date</th>
        <th>Expiry Date</th>
        <th>Opening Bank Key</th>
        <th>Description</th>
        <th>Sektor</th>
        <th>No. Billing</th>
        <th>Billing Date</th>
        <th>Incoterm 1</th>
        <th>Incoterm 2</th>
        <th>Billing Quantity</th>
        <th>Billing Net</th>
        <th>Billing Taks</th>
        <th>POD Status</th>
        <th>POD Status Desc</th>
        <th>Finance Doc. Number</th>
        <th>Port of Discharge</th>
        <th>Port of Loading</th>
    </tr>
</template>

<script>
export default {
    props: [],
    data: function() {
        return {}
    },
    components: {
        
    },
    created() {
        
    },
    mounted() {
        
    },
    methods: {
        
    }
}
</script>
