<template>
  <div class="modal fade" id="change-status-order" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ubah Status Order</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3 label-control" >No Order </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" v-model="number" disabled>
                  <p v-if="error && errors.number" class="text-danger">{{ errors.number[0] }}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" >Bank </label>
                <div class="col-md-9">
                  <multiselect
                    :disabled="isDisabled"
                    v-model="tempData.bank_payment"
                    :options="getData.bank"
                    track-by="id"
                    :custom-label="bankWithNameId"
                    :searchable="true" :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(loading.bank === false) ? 'Pilih Bank..' : 'Memuat ..'"
                    >
                  </multiselect>
                  <p v-if="error && errors.bank_payment" class="text-danger">{{ errors.bank_payment[0] }}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" >Billing Date </label>
                <div class="col-md-9">
                  <input type="date" class="form-control" v-model="sendData.billing_date">
                  <p v-if="error && errors.billing_date" class="text-danger">{{ errors.billing_date[0] }}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" >Amount </label>
                <div class="col-md-9">
                  <input type="text" @keyup="moneyFormat" v-model="tempData.amount" class="form-control">
                  <p v-if="error && errors.amount" class="text-danger">{{ errors.amount[0] }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          <button type="button" @click="save" class="btn btn-primary square" :disabled="loading.button">
             <i v-if="loading.button" class="fa fa-spin fa-refresh"></i> Submit
           </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import Multiselect from 'vue-multiselect';
  export default {
    props: ['uuid', 'number'],
    data: function() {
      return {
        isDisabled: false,
        error: false,
        errors: {},
        sendData: {
          number: this.number,
          bank_payment: null,
          billing_date: null,
          amount: null,
        },
        tempData: {
          bank: null,
          amount: null
        },
        getData: {
          bank: []
        },
        loading: {
          bank: false,
          button: false
        }
      }
    },
    components: {
      Multiselect
    },
    created() {
      this.getDataBank()
    },
    mounted() {
      let app = this
      $("#change-status-order").modal("show");
      $("#change-status-order").on("hidden.bs.modal", function(){
        app.closeModal()
      })
    },
    methods: {

      save() {
				var r = confirm(`Apakah Anda Yakin Melakukan Perubahan Status Order ${this.number}?`);
				if (r == true) {
					this.loading.button = true
					this.sendData.bank_payment = (this.tempData.bank_payment != null) ? this.tempData.bank_payment.id : '';
					
					this.axios.put(`monitoringorder/change-status/${this.uuid}`, this.sendData)
					.then((resp) => {
						let data = resp.data;
						toastr.success(data.message)
						$("#change-status-order").modal("hide")
						this.loading.button = false
						if(data.hasOwnProperty('amount')) {
							toastr.warning(data.amount)
						}
					})
					.catch((resp) => {
						let data = resp.response.data;
	
						let msg = '<ul>';
						$.each(resp.response.data.message, function(key, value) {
							msg += '<li>'+value+'</li>';
						});
						msg += '</ul>';
						toastr.error(msg, 'Gagal');
	
						this.error = true
						this.errors = data.message
						this.loading.button = false
					})
				} 
      },

      bankWithNameId({ id,  name}) {
        return `${id} — ${name}`
      },
      getDataBank() {
        this.loading.bank = true
        this.axios.get('bank')
        .then((resp) => {
          this.getData.bank = resp.data.data
          this.loading.bank = false
        })
        .catch((resp) => {
          toastr.error(resp.response.data.message)
          this.loading.bank = false
        })
      },

      moneyFormat() {
        this.sendData.amount = event.target.value.replace(/\D/g, "")
        this.tempData.amount = this.formatRupiah(this.tempData.amount, "Rp. ")
      },

      formatRupiah(angka, prefix) {

        var separator;
      	var number_string = angka.replace(/[^,\d]/g, '').toString(),
      	split   		= number_string.split(','),
      	sisa     		= split[0].length % 3,
      	rupiah     		= split[0].substr(0, sisa),
      	ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
      	if(ribuan){
      		separator = sisa ? '.' : '';
      		rupiah += separator + ribuan.join('.');
      	}
      	rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      	return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
      },

      closeModal() {
        this.$emit("trigger-modal");
      }
    }
  }

  Vue.directive('restrict', {
    bind (el, binding) {
      el.addEventListener('keydown', (e) => {
        // delete, backpsace, tab, escape, enter,
        let special = [46, 8, 9, 27, 13]
        if (binding.modifiers['decimal']) {
          // decimal(numpad), period
          special.push(110, 190)
        }
        // special from above
        if (special.indexOf(e.keyCode) !== -1 ||
          // Ctrl+A
          (e.keyCode === 65 && e.ctrlKey === true) ||
          // Ctrl+C
          (e.keyCode === 67 && e.ctrlKey === true) ||
          // Ctrl+X
          (e.keyCode === 88 && e.ctrlKey === true) ||
          // home, end, left, right
          (e.keyCode >= 35 && e.keyCode <= 39)) {
          return // allow
        }
        if ((binding.modifiers['alpha']) &&
          // a-z/A-Z
          (e.keyCode >= 65 && e.keyCode <= 90)) {
          return // allow
        }
        if ((binding.modifiers['number']) &&
          // number keys without shift
          ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
          // numpad number keys
          (e.keyCode >= 96 && e.keyCode <= 105))) {
          return // allow
        }
        // otherwise stop the keystroke
        e.preventDefault() // prevent
      }) // end addEventListener
    } // end bind
  }) // end directive

</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css" scoped>
</style>
]]