<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    <a href="template-excel/initialf6/Initial_Stok_F6.xlsx" class="btn btn-primary square"><i class="fa fa-download"></i> Download Template</a>
                    <button @click="modalUpload.show = !modalUpload.show" v-if="access.C === true" type="button" class="btn btn-primary square"><i class="fa fa-upload"></i> Upload</button>
                    <button type="button" class="btn btn-primary square" @click="download" :disabled="loadBtnDownload" ><i class="fa fa-download"></i> Download</button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table id="dtTable" class="table table-xs table-bordered table-striped display nowrap" style="width:100%">
                      <thead>
                        <initial-stokf6-filter :reset="resetStatus" @search-table="searchTable"></initial-stokf6-filter>
                        <!-- <permintaan-filter @search-table="searchTable"> </permintaan-filter> -->
                        <tr>
                          <th class="text-center" rowspan="2">Produsen</th>
                          <th class="text-center" rowspan="2">Nama Distributor</th>
                          <th class="text-center" rowspan="2">dok</th>
                          <!-- <th class="text-center" rowspan="2">#</th> -->
                          <th class="text-center" rowspan="2">Provinsi</th>
                          <th class="text-center" rowspan="2">Kabupaten</th>
                          <th class="text-center" rowspan="2">Kode Pengecer</th>
                          <th class="text-center" rowspan="2">Nama Pengecer</th>
                          <th class="text-center" rowspan="2">Bulan</th>
                          <th class="text-center" rowspan="2">Tahun</th>
                          <th class="text-center thcolorblue" colspan="2">UREA</th>
                          <th class="text-center thcolorblue" colspan="2">NPK</th>
                          <th class="text-center thcolorblue" colspan="2">ORGANIK</th>
                          <th class="text-center thcolorblue" colspan="2">ZA</th>
                          <th class="text-center thcolorblue" colspan="2">SP-36</th>
                          <th class="text-center thcolorblue" colspan="2">ORGANIK CAIR</th>
                          <th class="text-center thcolorblue" colspan="2">NPK KAKAO</th>
                        </tr>
                        <tr>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <form-f6 v-if="modalForm.show" @trigger-modal-form="triggerModalForm"
      :initial_stock_id="modalForm.initial_stock_id"
      :uuid="modalForm.uuid"
      :sales_org_id="modalForm.sales_org_id"
      :sales_group_id="modalForm.sales_group_id"
      :sales_group_name="modalForm.sales_group_name"
      :customer_id="modalForm.customer_id"
      :customer_name="modalForm.customer_name"
      ></form-f6>
      <upload-f6 v-if="modalUpload.show" @trigger-modal-upload="triggerModalUpload"></upload-f6>
    </section>
  </div>
</template>

<script>
import Upload from '../initial-stok-f5/modal/Upload';
import FormF6 from './modal/FormF6';
import UploadF6 from './modal/UploadF6';
import InitialStokf6Filter from './InitialStokf6Filter';
export default {
  props: ['access'],
  data: function() {
    return {
      dt: null,
      resetStatus: false,
      title: 'Initial Stok F6',
      type: 'F6',
      f6Filter: {},
      modalUpload: {
        show: false
      },
      modalForm: {
        show : false,
        uuid: null,
        initial_stock_id: null,
        sales_org_id: null,
        sales_group_id: null,
        customer_id: null,
        customer_name: null,
      },
      loadBtnDownload:false
    }
  },
  components: {
    InitialStokf6Filter, FormF6, UploadF6
  },
  mounted() {
    let app = this;
    this.getDataInitialF6();
    $("div.dataTables_length").append(' <button id="resetFilterStokf6" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterStokf6", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterStokf6').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterStokf6').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#entry", function(e){
      e.preventDefault()
      let id = $(this).data("id")
      let uuid = $(this).data("uuid")
      let sales_org_id = $(this).data("sales_org_id")
      let sales_group_id = $(this).data("sales_group_id")
      let sales_group_name = $(this).data("sales_group_name")
      let customer_id = $(this).data("customer_id")
      let customer_name = $(this).data("customer_name")
      app.modalForm.show = true;
      app.modalForm.initial_stock_id = id;
      app.modalForm.uuid = uuid;
      app.modalForm.sales_org_id = sales_org_id;
      app.modalForm.sales_group_id = sales_group_id;
      app.modalForm.sales_group_name = sales_group_name;
      app.modalForm.customer_id = customer_id;
      app.modalForm.customer_name = customer_name;
    })
    $("#downloadTableExcel").on("click", function(e){
      e.preventDefault();
      $(".downloadInitialStokF6").trigger('click');
    })
    $(document).on("click", "#lihat", function(e){
      e.preventDefault();
      let uuid = $(this).data("uuid")
      let access = encodeURIComponent(app.$route.params.access);
      app.$router.push({path: '/'+access+'/laporan/initial-stok-f6/item/'+uuid});
    })
  },
  methods: {
    yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.f6Filter.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.f6Filter.year = obj.year.certain;
      } else {
        this.f6Filter.year = '';
      }
    },
    searchTable(obj) {
      this.f6Filter = obj;
      this.yearFrom(obj);
      this.dt.draw();
    },
    getDataInitialF6() {
      let app = this;
      app.dt = $("#dtTable").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        "scrollCollapse":true,
        "order": [[ 8, 'desc' ],[ 9, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadInitialStokF6',
            text: "Download",
            title:"",
            filename:"Download-inital-stok-f6",
            exportOptions: {
                columns: 'th:not(:first-child)'
            }
          }
        ],
        ajax: {
          'url': 'api/initialstockf6',
          'type': 'GET',
          'data': function(d) {
              d.produsen_name = app.f6Filter.sales_org_name,
              d.distributor_name = app.f6Filter.customer_name,
              d.provinsi_name = app.f6Filter.sales_office_name,
              d.sales_office_id = app.f6Filter.sales_office_id,
              d.kabupaten_name = app.f6Filter.sales_group_name,
              d.sales_group_id = app.f6Filter.sales_group_id,
              d.retail_code = app.f6Filter.retail_code,
              d.retail_name = app.f6Filter.retail_name,
              d.month = app.f6Filter.month,
              d.year = app.f6Filter.year
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'uuid', name: 'uuid', render: function(data, type, full){
            let totalDraft = '';
            let totalSubmit = '';

            if ((full.status_draft > 0) && (full.status_draft != null)) {
              totalDraft += '<span style="color:red;"> '+full.status_draft+' Draft </span>';
            }

            if ((full.status_submit > 0) && (full.status_submit != null)) {
              totalSubmit += ' <span style="color:blue;"> '+full.status_submit+' Submited </span>';
            }
            let lihatPenyaluran = "<a href='#' data-uuid='"+data+"' id='lihat'>Lihat Penyaluran ("+totalDraft+" ; "+totalSubmit+")</a>";
            return '';
          }},
          // {data: 'id', name: 'id', render: function(data, type, full){
          //   let buatPenyaluran = "<a href='#' "+
          //                         "class='btn btn-primary btn-sm square'"+
          //                         "data-id='"+data+"' "+
          //                         "data-uuid='"+full.uuid+"' "+
          //                         "data-sales_org_id='"+full.sales_org_id+"' "+
          //                         "data-sales_group_id='"+full.sales_group_id+"' "+
          //                         "data-sales_group_name='"+full.sales_group_name+"' "+
          //                         "data-customer_id='"+full.customer_id+"' "+
          //                         "data-customer_name='"+full.customer_name+"' "+
          //                         "id='entry'>Penyaluran Baru</a>";
          //   return buatPenyaluran;
          // }},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'retail_code', name: 'retail_code'},
          {data: 'retail_name', name: 'retail_name'},
          {data:'month_name', name:'month'},
          {data:'year', name:'year'},
          { data: 'p01_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
          {
            data: 'p01_reduce',
            render : function(data, type, full){
              var val = parseFloat(full.p01_qty)-parseFloat(full.p01_reduce);
              return val.toFixed(3)
            }
          },
          { data: 'p02_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
          {
            data: 'p02_reduce',
            render : function(data, type, full){
              var val = parseFloat(full.p02_qty)-parseFloat(full.p02_reduce);
              return val.toFixed(3)
            }
          },
          { data: 'p03_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
          {
            data: 'p03_reduce',
            render : function(data, type, full){
              var val = parseFloat(full.p03_qty)-parseFloat(full.p03_reduce);
              return val.toFixed(3)
            }
          },
          { data: 'p04_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
          {
            data: 'p04_reduce',
            render : function(data, type, full){
              var val = parseFloat(full.p04_qty)-parseFloat(full.p04_reduce);
              return val.toFixed(3)
            }
          },
          { data: 'p05_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
          {
            data: 'p05_reduce',
            render : function(data, type, full){
              var val = parseFloat(full.p05_qty)-parseFloat(full.p05_reduce);
              return val.toFixed(3)
            }
          },
          { data: 'p51_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
          {
            data: 'p51_reduce',
            render : function(data, type, full){
              var val = parseFloat(full.p51_qty)-parseFloat(full.p51_reduce);
              return val.toFixed(3)
            }
          },
          { data: 'p54_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
          {
            data: 'p54_reduce',
            render : function(data, type, full){
              var val = parseFloat(full.p54_qty)-parseFloat(full.p54_reduce);
              return val.toFixed(3)
            }
          },
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      })
    },
    triggerModalForm(){
      this.modalForm.show = false;
      this.modalForm.initial_stock_id = null;
      this.modalForm.uuid = null;
      this.modalForm.sales_org_id = null;
      this.modalForm.sales_group_id = null;
      this.modalForm.sales_group_name = null;
      this.modalForm.customer_id = null;
      this.modalForm.customer_name = null;
    },
    triggerModalUpload() {
      this.modalUpload.show = false
      this.dt.draw()
    },
     download() {
      // $(".downloadF5").trigger('click');
       this.loadingButton = true;
        this.axios({
          url: 'initialstockf6/export',
          params: {
            produsen_name : this.f6Filter.sales_org_name,
            distributor_name : this.f6Filter.customer_name,
            provinsi_name : this.f6Filter.sales_office_name,
            sales_office_id : this.f6Filter.sales_office_id,
            kabupaten_name : this.f6Filter.sales_group_name,
            sales_group_id : this.f6Filter.sales_group_id,
            retail_code : this.f6Filter.retail_code,
            retail_name : this.f6Filter.retail_name,
            month : this.f6Filter.month,
            year : this.f6Filter.year
          },
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
           const url = window.URL.createObjectURL(new Blob([response.data]));
           const link = document.createElement('a');
           link.href = url;
           link.setAttribute('download', 'Download Initial Stock F6.xls'); //or any other extension
           document.body.appendChild(link);
           link.click();
           this.loadingButton = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadingButton = false;      
        })
    },
  }
}
</script>

<style lang="css">
.downloadInitialStokF6{
  display: none !important;
}
.thcolorblue{
  background-color: #3bcaff;
}
</style>
