<template>
  <tr class="filter">
    <th></th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="search.number" v-on:keyup="searchPenyaluranDo()">
    </th>
    <th></th>
    <th>
      <year :reset="reset" @get-year="searchYear" :type="type"></year>
    </th>
    <th>
      <month :reset="reset" @get-month="searchMonth" :checkedMonth="search.month" :type="typeMonth"></month>
    </th>
    <th>
      <date-penyaluran :reset="reset" @get-date="getDateTanggalPenyaluran" :type="'tanggal-penyaluran'"></date-penyaluran>
    </th>
    <th colspan="3"></th>
  </tr>
</template>

<script>
import Date from '../../../filter/Date';
import Year from '../../../filter/Year';
import Month from '../../../filter/Month';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+this.$route.name,
      type: 'validYear',
      typeMonth: 'validMonth',
      search : {
        number : null,
        distribution_date : null,
        year: null,
        month: null,
      }
    }
  },
  components: {
    DatePenyaluran: Date,
    Year, Month
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
  },
  created() {

  },
  mounted() {
    var app = this;
    $(document).ready(function() {
      const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.search = getLocalSearch;
              app.$emit("search-table", app.search);
          }
      },1000)
    });
  },
  methods: {
    getDateTanggalPenyaluran(date = ''){
      if (date != '') {
        this.search.distribution_date = {
          certain: (date.name === 'tanggal-penyaluran' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'tanggal-penyaluran' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'tanggal-penyaluran' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.search.distribution_date = ''
      }
      this.searchPenyaluranDo();
    },
    searchPenyaluranDo() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.search));
      this.$emit("search-table", this.search);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.search);
      this.searchPenyaluranDo();
    },
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.search.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.search.year = ''
        }
        this.searchPenyaluranDo()
      }
    },
    searchMonth(obj) {
      var month = obj.join(';')
      this.search.month = month
      this.searchPenyaluranDo()
    },
  }
}
</script>

<style lang="css" scoped>
</style>
