<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h4>List Penyaluran Order - <b>{{numberOrder}}</b></h4>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <button type="button" @click="goBack()" class="btn btn-danger btn-square"> Kembali </button>
          <button type="button" @click="download()" class="btn btn-primary square" name="button">
            download
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table style="margin-top:10px;" id="tableDetailPenyaluranDo" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <list-detail-do-filter :reset="resetStatus" @search-table="searchTable"></list-detail-do-filter>
            <tr>
              <th>Produsen</th>
              <th>NO. PKP</th>
              <th>Nama Distributor</th>
              <th>Tahun</th>
              <th>Bulan</th>
              <th>Tgl. Penyaluran</th>
              <th>Status</th>
              <th>No. Laporan</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <modal-confirm v-if="deleteList.confirm" :uuid="deleteList.uuid" :text="'Apa anda yakin ?'" @is-delete="isDelete" @trigger-modal="triggerModal"></modal-confirm>
    <modal-confirm v-if="downloadPdf.confirm" :uuid="downloadPdf.data" :text="'Download PDF'" @is-delete="downloadList" @trigger-modal="triggerModal"></modal-confirm>
  </div>
</template>

<script>
import ListDetailDoFilter from './ListDetailDoFilter';
import ModalConfirm from '../../../global/ModalConfirm';
export default {
  props: ['access'],
  data: function() {
    return {
      dt: null,
      resetStatus: false,
      numberOrder: this.$route.params.number_order,
      listPenyaluran: {},
      downloadPdf: {
        confirm: false,
        data: {
          uuid: null,
          number: null,
        }
      },
      deleteList: {
        confirm: false,
        uuid: null
      }
    }
  },
  components: {
    ListDetailDoFilter, ModalConfirm
  },
  created() {

  },
  mounted() {
    var app = this;
    this.tableDetailPenyaluranDo();
    $("div.dataTables_length").append(' <button id="resetFilterDetailDo" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterDetailDo", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterDetailDo').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterDetailDo').prop('disabled', false);
      }, 1000)
    })

    $(document).on("click", "#toFormHirarki", function(e){
      e.preventDefault();
      let uuid = $(this).data("uuid");
      let access = encodeURIComponent(app.$route.params.access);
      app.$router.push({path: '/'+access+'/laporan/penyaluran-do/detail/'+uuid});
    });

    $(document).on("click", "#linkF5", function(e){
      e.preventDefault();
      let access = encodeURIComponent(app.$route.params.access);
      let uuid = $(this).data('uuid');
      app.$router.push({path: '/'+access+'/laporan/laporan-bulanan-distributor/detail/'+uuid});
    })

    $(document).on("click", "#cetakBast", function(e){
      e.preventDefault();
      let uuid = $(this).data('uuid');
      let number = $(this).data('number');
      app.downloadPdf.confirm = true;
      app.downloadPdf.data.uuid = uuid;
      app.downloadPdf.data.number = number;
    })

    $(document).on("click", "#batal", function(e){
      e.preventDefault();
      let uuid = $(this).data('uuid');
      app.confirm = true;
      app.deleteList.uuid = uuid;
      app.deleteList.confirm = true;

    })
  },
  methods: {
    goBack() {
      window.history.back();
    },
    triggerModal() {
      this.deleteList.confirm = false;
      this.deleteList.uuid = null;
      this.downloadPdf.confirm = false;
      this.downloadPdf.data.uuid = null;
      this.downloadPdf.data.number = null;
    },
    isDelete(uuid) {
      var app = this;
      app.axios.delete('supplydo/'+uuid)
      .then((resp) => {
        toastr.success(resp.data.message);
        app.dt.draw();
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
        toastr.error(resp.response.data.error)
      })
    },
    downloadList(data) {
      const {uuid, number} = data;
      this.axios({
        url: 'supplydo/download/'+uuid,
        method: 'GET',
        responseType: 'blob', // important
      })
      .then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'BAST-'+number+'.pdf'); //or any other extension
         document.body.appendChild(link);
         link.click();
      })
      .catch((resp) => {
        toastr.error('Data DO Items not Found');
      })
    },
    tableDetailPenyaluranDo() {
      var app = this;
      app.dt = $("#tableDetailPenyaluranDo").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        scrollCollapse:true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 DownloadDetailPenyaluranDo',
            text: "Download"
          }
        ],
        ajax: {
          'url': '/api/supplydo/'+app.$route.params.uuid,
          'type': 'GET',
          'data': function(d) {
            d.number = app.listPenyaluran.number,
            d.distribution_date = app.listPenyaluran.distribution_date,
            d.year = app.listPenyaluran.year,
            d.month = app.listPenyaluran.month
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'number', name: 'number', render: function(data, type, full){
            let access = encodeURIComponent(app.$route.params.access);
            const link = `<a href="/#/${access}/laporan/penyaluran-do/detail/${full.uuid}">${data}</a>`;
            return link;
          }},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'year', name: 'year'},
          {data: 'month_name', name: 'month'},
          {data: 'distribution_date', name: 'distribution_date'},
          {data: 'status_name', name: 'status_name'},
          {data: 'f5_uuid', name: 'f5_uuid', render: function(data, type, full){
            const access = encodeURIComponent(app.$route.params.access);
            const link = `<a href="/#/${access}/laporan/laporan-bulanan-distributor/detail/${data}">Lihat F5</a>`;
            return link;
          }},
          {data: 'uuid', name: 'uuid', render: function(data, type, full){
            var buttonCetak = '<button id="cetakBast" data-number="'+full.number+'" data-uuid="'+data+'" class="btn btn-primary square btn-sm" href="#">Cetak BAST</button>';
            var buttonBatal = '';
            if(app.access.U && full.status === 'd') {
              buttonBatal = '<button id="batal" data-uuid="'+data+'" class="btn btn-secondary square btn-sm" href="#">Batal</button>';
            }
            return buttonCetak+' - '+buttonBatal;
          }},
        ]
      })
    },

    searchTable(obj) {
      this.listPenyaluran = obj;
      this.validateDatePenyaluran(obj);
      this.yearFrom(obj);
      this.dt.draw();
    },

    validateDatePenyaluran(obj) {
      if(obj.distribution_date && obj.distribution_date.from && obj.distribution_date.to) {
        this.listPenyaluran.distribution_date = obj.distribution_date.from+';'+obj.distribution_date.to;
      } else if (obj.distribution_date && obj.distribution_date.certain) {
        this.listPenyaluran.distribution_date = obj.distribution_date.certain;
      } else {
        this.listPenyaluran.distribution_date = '';
      }
    },

    yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.listPenyaluran.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.listPenyaluran.year = obj.year.certain;
      } else {
        this.listPenyaluran.year = '';
      }
    },

    download() {
      $(".DownloadDetailPenyaluranDo").trigger('click');
    }
  }
}
</script>

<style media="screen">
.DownloadDetailPenyaluranDo {
  display: none !important;
}
</style>
