<template>
  <tr class="filter">
    <th></th>
    <th>
      <input type="text" v-model="spjbOp.number" v-on:keyup="search()" class="form-control form-control-md" >
    </th>
    <th>
      <year :reset="reset" @get-year="searchYear" :type="type"></year>
    </th>
    <th>
      <input type="text" v-model="spjbOp.customer_name" v-on:keyup="search()" class="form-control form-control-md" >
    </th>
    <th>
      <input type="text" v-model="spjbOp.sales_org_name" v-on:keyup="search()" class="form-control form-control-md" >
    </th>
    <th>
      <date-filter :reset="reset" @get-date="getDate" :type="type1"></date-filter>
    </th>
    <th>
      <date-filter :reset="reset" @get-date="getDateUpdated" :type="type2"></date-filter>
    </th>
    <th>
      <status-filter :reset="reset" :checkedStatus="spjbOp.status_name" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></status-filter>
    </th>
    <th></th>
  </tr>
</template>

<script>
import Checklist from '../../../filter/Checklist';
import Year from '../../../filter/Year';
import Date from '../../../filter/Date';

export default {
  props: ['reset'],
  data: function() {
    return {
      type1: 'date_spjb_opr',
      type2: 'date_spjb_oprUpdated',
      btnStatus : 'Cari Status', uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      type: 'validYear',
      statusSearch: [
        {name: 'Actived', value: 'y'},
        {name: 'Inactived', value: 'n'},
        {name: 'Partial Actived', value: 'z'},
      ],
      spjbOp: {
        number: null,
        year: null,
        customer_name: null,
        sales_org_name: null,
        status_name: null,
        created_at: null,
        updated_at: null,
      }
    }
  },
  components: {
    dateFilter: Date,
    StatusFilter: Checklist, Year, 
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
  },
  mounted() {
    var app = this;
    
    $(document).ready(function() {
      const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.spjbOp = getLocalSearch;
              app.$emit("search-table", app.spjbOp);
          }
      },1000)
    });
  },
  methods: {
    getDate(date = '') {
      if (date != '') {
        if(date != '') {
          this.spjbOp.created_at = {
            certain: (date.name === 'date_spjb_opr' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'date_spjb_opr' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'date_spjb_opr' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.spjbOp.created_at = ''
        }
        this.search()
      }
    },
    getDateUpdated(date = '') {
      if (date != '') {
        if(date != '') {
          this.spjbOp.updated_at = {
            certain: (date.name === 'date_spjb_oprUpdated' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'date_spjb_oprUpdated' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'date_spjb_oprUpdated' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.spjbOp.updated_at = ''
        }
        this.search()
      }
    },
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.spjbOp.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.spjbOp.year = ''
        }
        this.search()
      }
    },
    searchTable(obj) {
      var status = obj.join(';')
      this.spjbOp.status_name = status
      this.search()
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.spjbOp));
      this.$emit("search-table", this.spjbOp);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.spjbOp);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
