<template>
  <div>
    <div class="modal fade" id="spjbOperasionalUpload" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload SPJB Operasional</label>
              <input type="file" ref="file" class="form-control"
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" @click="sendXhr()" class="btn btn-primary" :disabled="loading">
              <i class="fa fa-spin fa-refresh" v-if="loading"></i>
              {{ (loading) ? 'Mengunggah..' : 'Unggah' }}
            </button>
           </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      excelFile: '',
      file: '',
      error: false,
      loading: false
    }
  },
  mounted() {
    var app = this;
    $("#spjbOperasionalUpload").modal("show");
    $("#spjbOperasionalUpload").on("hidden.bs.modal", function() {
      app.closeModal();
    })
  },
  methods:{
    closeModal() {
      this.$emit("trigger-modal");
    },
    handleFileUpload(){
      this.excelFile = this.$refs.file.files[0];
      this.file = this;
    },
    sendXhr() {
      event.preventDefault();
      this.loading = true;
      let app = this;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      this.axios.post('spjbopr/upload', formData, { headers : {'Content-Type' : 'multipart/form-data'} })
      .then((resp) => {
        toastr.success('Succes Uploaded', 'Import excel');
        $("#spjbOperasionalUpload").modal("hide");
        this.error = false;
      })
      .catch((resp) => {
        if (resp.response.data.message.file) {
          toastr.error(resp.response.data.message.file[0], 'Gagal');
        }
        if (resp.response.data.errors) {
          const msg = resp.response.data.message;
          let result;
          if(typeof(msg) === 'object' ) {
            const contract_gov_id = (msg.contract_gov_id) ? '<li>'+msg.contract_gov_id[0]+'</li>' : '';
            const initial_qty = (msg.initial_qty) ? '<li>'+msg.initial_qty[0]+'</li>' : '';
            const month = (msg.month) ? '<li>'+msg.month[0]+'</li>' : '';
            const product_id = (msg.product_id) ? '<li>'+msg.product_id[0]+'</li>' : '';
            const sales_group_id = (msg.sales_group_id) ? '<li>'+msg.sales_group_id[0]+'</li>' : '';
            const sales_office_id = (msg.sales_office_id) ? '<li>'+msg.sales_office_id[0]+'</li>' : '';
            const sales_unit_id = (msg.sales_unit_id) ? '<li>'+msg.sales_unit_id[0]+'</li>' : '';
            const number = (msg.number) ? '<li>'+msg.number[0]+'</li>' : '';
            const contract_type = (msg.contract_type) ? '<li>'+msg.contract_type[0]+'</li>' : '';
            const sales_org_id = (msg.sales_org_id) ? '<li>'+msg.sales_org_id[0]+'</li>' : '';
            const year = (msg.year) ? '<li>'+msg.year[0]+'</li>' : '';
            const rayonisasi = (msg.rayonisasi) ? '<li>'+msg.rayonisasi[0]+'</li>' : '';
            result = '<ul>'+contract_gov_id+initial_qty+month+product_id+sales_group_id+sales_office_id+sales_unit_id+year+number+contract_type+sales_org_id+year+rayonisasi+'</ul>';
          } else {
            result = msg
          }
          if(resp.response.data.errors) {
            toastr.error(resp.response.data.errors);  
          }
          toastr.error(result);
        }
        // toastr.error(resp.response.data.message, resp.response.data.exception);
        this.error = true;
      })
      .then((resp) => {
        this.loading = false;
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
