<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    <button v-if="access.C === true" type="button" class="btn btn-primary square" v-on:click="uploadFile"> <i class="fa fa-upload"></i>
                      Upload Data
                    </button>
                    <a href="template-excel/pergub/Template_SK_Dinas_Provinsi.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a> 
                  <button type="button"class="btn btn-primary square" @click="download()" :disabled="loadBtnDownload" name="button"> <i class="fa fa-download"></i> Download</button>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table id="pergubTable" class="table table-xs table-bordered table-striped display nowrap" style="width:100%">
                      <thead>
                        <pergub-filter :reset="resetStatus" @search-table="searchTable"> </pergub-filter>
                        <tr>
                          <th>
                            <fieldset>
                              <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input check_all" value="all">
                                <span class="custom-control-indicator"></span>
                              </label>
                            </fieldset>
                          </th>
                          <th>No SK Dinas Prov</th>
                          <th>Provinsi</th>
                          <th>Produsen</th>
                          <th>Tahun</th>
                          <th>Tanggal Buat</th>
                          <th>Tanggal Ganti</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div v-if="accessComponent.A" class="row scroll-top">
         <div class="col-md-12">
          <div class="btn-group mr-1 mb-1 pull-right dropup">
            <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
              Aksi
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" @click="action('y')" href="#">Actived</a>
              <a class="dropdown-item" @click="action('n')" href="#">Inactived</a>
            </div>
          </div>
        </div>
      </div>
      <pergub-upload v-if="modalUpload" @trigger-modal="triggerModal"></pergub-upload>
    </section>
  </div>
</template>

<script>
import PergubFilter from './PergubFilter.vue';
import PergubUpload from './PergubForm.vue';

export default {
  props: ['access'],
  data: function(){
    return {
      modalUpload : false,
      resetStatus : false,
      dt: '',
      check: [],
      accessComponent: (this.access != undefined) ? this.access : {},
      loading:{
        changeStatus: false
      },
      pergubdt: {},
      loadBtnDownload : false,
    }
  },
  components:{
    PergubUpload,
    PergubFilter,
    // PergubForm,
  },
  created() {
    if(this.access === undefined) {
      const encodeAccess = decodeURIComponent(this.$route.params.access);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const arrAccess = decodeAccess.split(",");
      console.log(this.access);
      if(arrAccess) {
        arrAccess.map((data) => {
          if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.accessComponent[data] = true
          } else {
            this.$router.push({path: '/home'});
            toastr.error('Tidak mempunyai akses halaman ini', 'Error');
          }
        })
      } else {
        this.$router.push({path: '/home'});
        toastr.error('Tidak mempunyai akses halaman ini', 'Error');
      }
    }
  },
  mounted(){
    var app = this;
    $(document).ready(function() {
      app.dt = $('#pergubTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY: '50vh',
        "scrollCollapse" : "350px",
        order: [[ 4, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-primary square mb-1 downloadTableExcel',
            text: "Download Pergub ke Excel",
            title:"",
            filename:"Download Pergub ke Excel",
          }
        ],
        ajax:{
          'url': 'api/pergub',
          'type': 'GET',
          'data': function(d){
            d.pergub = app.pergubdt.pergub,
            d.provinsi_name = app.pergubdt.provinsi_name,
            d.produsen_name = app.pergubdt.produsen_name,
            d.provinsi_id = app.pergubdt.provinsi_id,
            d.year = app.pergubdt.year,
            d.created_at = app.pergubdt.created_at,
            d.updated_at = app.pergubdt.updated_at,
            d.status = app.pergubdt.status
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
           { "orderable": false, "targets": 0 }
        ],
        columns: [
            {
              data: 'uuid',
              render:function(data,t,f) {
                const check = '<fieldset>'+
                                '<label class="custom-control custom-checkbox">'+
                                  '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                  '<span class="custom-control-indicator"></span>'+
                                '</label>'+
                              '</fieldset>';
                return check;
              }
            },
            {
              data: 'pergub', name: 'pergub',
              render : function(data, type, full){
                const access = encodeURIComponent(app.$route.params.access);
                const link = `<a href="/#/${access}/alokasi/alokasi-kabupaten/${full.uuid}">${data}</a>`
                return link
              }
            },
            {data: 'provinsi_name', name: 'provinsi_name'},
            {data: 'produsen_name', name: 'produsen_name'},
            {data: 'year', name: 'year'},
            {data: 'created_at', name: 'created_at', render: function(data, type, full){
              return app.convertDate(data)
            }},
            {data: 'updated_at', name: 'updated_at', render: function(data, type, full){
              return app.convertDate(data)
            }},
            {data: 'status_name', name: 'status_name'},
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $("div.dataTables_length").append(' <button id="resetFilterPergub" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

      $(document).on("click", "#resetFilterPergub", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterPergub').prop('disabled', true);
        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterPergub').prop('disabled', false);
        }, 1000)
      })

      $("#downloadTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadTableExcel").trigger('click');
      })

      $(document).on("click", "#detailData", function(e){
        e.preventDefault()
        var id = $(this).data("id");
        var no_pergub = $(this).data("no");
        var access = app.$route.params.access;
        app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/alokasi-kabupaten/'+id});
      })

      $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })

    $(document).on("click", "#check", function(e){
      var value = {id: $(this).val()};
      if(this.checked){
        app.check.push(value);
      } else {
        app.removeA(app.check, value.id);
      }
    })

    })
  },
  methods: {
    action(type) {
      event.preventDefault();
      if(this.check.length != 0) {
        this.loading.changeStatus = true;
        this.check = this.check.map(data => {
          return data.id
        })
        this.check = {'status': type,'uuid': this.check};
        this.saveAction();
      } else {
        toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
      }
    },
    actionExist(){
      this.check.map((dt, ind) => {
        var exist = this.check[ind].id.includes(dt.id);
        if(exist){
          this.removeA(this.check, dt.id);
        }
      })
    },
    saveAction(){
      // this.actionExist();
      this.axios.put('pergub/status/update', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {

        var errors="<ul>"; var err=false;
        $.each(resp.response.data.message,function(index,value){
            err=true;
            errors+="<li>"+value[0]+"</li>";
        });
        errors+="</ul>";

        if(err)
        {
          toastr.error(errors, "Update Status Gagal");
        }

        this.loading.changeStatus = false;
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
        this.dt.draw();
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    searchTable(obj){
      this.pergubdt = obj;
      this.validFrom(obj);
      this.validFromUpdated(obj);
      this.yearFrom(obj);
      this.dt.draw();
    },
    uploadFile (){
        this.modalUpload = !this.modalUpload;
    },
    triggerModal(params = false){
      if(params === 'RefreshTable'){
        this.dt.draw();
      }
      this.modalUpload = false;
    },
    validFrom(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.pergubdt.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.pergubdt.created_at = obj.created_at.certain;
      } else {
        this.pergubdt.created_at = '';
      }
    },
    validFromUpdated(obj) {
      if(obj.updated_at && obj.updated_at.from && obj.updated_at.to) {
        this.pergubdt.updated_at = obj.updated_at.from+';'+obj.updated_at.to;
      } else if (obj.updated_at && obj.updated_at.certain) {
        this.pergubdt.updated_at = obj.updated_at.certain;
      } else {
        this.pergubdt.updated_at = '';
      }
    },
    yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.pergubdt.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.pergubdt.year = obj.year.certain;
      } else {
        this.pergubdt.year = '';
      }
    },
    download() {
      // $(".DownloadItemPenyaluran").trigger('click');
      this.loadBtnDownload = true;
      this.axios({
        url: 'pergub/download',
        params: {
            pergub : this.pergubdt.pergub,
            provinsi_name : this.pergubdt.provinsi_name,
            produsen_name : this.pergubdt.produsen_name,
            provinsi_id : this.pergubdt.provinsi_id,
            year : this.pergubdt.year,
            created_at : this.pergubdt.created_at,
            status : this.pergubdt.status
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download SK Dinas Provinsi.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    }
  }
}
</script>

<style lang="css">
div.dt-buttons {
  float: right !important;
  display: none;
}
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 999;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
}
</style>
