<template>
  <div>
    <div class="modal fade" id="uploadExcelModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload Data Alokasi Kabupaten</label>
              <input type="file" ref="file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" v-if="checktype == true" class="btn btn-outline-primary" :disabled="loading" @click="uploadSave()">
              <i v-if="loading" class="fa fa-spin fa-refresh"></i>
              Start Upload
            </button>
           </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
// import formUpload from './PergubForm';
export default {
  data: function(){
    return {
      showFormUpload: false,
      excelFile: '',
      file: '',
      loading: false,
      checktype: true,
      dataUpload: [],
      error: false,
      errors: {},
      modalType: null
    }
  },
  created() {
    axios.interceptors.request.use((config) => {
      this.loading = true;
      return config;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });

    axios.interceptors.response.use((response) => {
      this.loading = false;
      return response;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });
  },
  mounted(){
    var app = this;
    $("#uploadExcelModal").modal("show");
    $('#uploadExcelModal').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  components:{
    // formUpload
  },
  methods:{
    closeModal() {
      this.$emit("trigger-modal", 'RefreshTable');
    },
    uploadSave() {
      event.preventDefault();
      let app = this;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      // console.log(formData);
      axios.post("pergub/upload", formData, {headers : {'Content-Type' : 'multipart/form-data'}})
      .then((resp) => {
        var warning="<ul>"; var flag_warning=false;
        $.each(resp.data.warning,function(index,value){
            flag_warning=true;
            warning+="<li>"+value[0]+"</li>";
        });
        warning+="</ul>";
        if(flag_warning)
        {
          toastr.warning(warning, 'Warning Jumlah Ammount Melebihi Permentan');
        }

        toastr.success('Succes Uploaded', 'Import excel');
        $("#uploadExcelModal").modal("hide");
        this.error = false;
      })
      .catch((resp) => {
        var errors="<ul>"; var err=false;
        $.each(resp.response.data.message,function(index,value){
            err=true;
            errors+="<li>"+value[0]+"</li>";
        });
        errors+="</ul>";

        if(err)
        {
          toastr.error(errors, resp.response.data.errors);
        }

        // toastr.error(resp.response.data.errors, 'Gagal Upload Data');

        this.dataUpload = resp.response.data.data;
        this.showFormUpload = true;
        this.error = true;
        this.errors = resp.response.data.message;
        // toastr.error(resp.response.data.errors, 'Import excel');
      })
    },
    triggerModal() {
      this.showFormUpload = false;
      $("#uploadExcelModal").modal("hide");
    },
    handleFileUpload(){
      if (this.$refs.file.files[0] != '') {
        this.checkfile(this.$refs.file.files[0]);
        // console.log(this.$refs.file.files[0]);
        this.excelFile = this.$refs.file.files[0];
        this.file = this;
      }
    },
    checkfile(sender) {
        var validExts = new Array(".xlsx", ".xls");
        var fileExt = sender.name;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
          alert("Invalid file selected, valid files are of " +
                   validExts.toString() + " types.");
          this.checktype = false;
        }
        else this.checktype = true;
    }
  }
}
</script>

<style lang="css">
</style>
