<template>
  <div>
    <div class="modal fade" id="permentanUpload" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload Alokasi Provinsi</label>
              <input type="file" ref="file" class="form-control"
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" @click="sendXhr()" class="btn btn-primary" :disabled="loading">
              <i class="fa fa-spin fa-refresh" v-if="loading"></i>
              {{ (loading) ? 'Mengunggah..' : 'Unggah' }}
            </button>
           </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
  export default {
    data: function() {
      return {
        excelFile: '',
        file: '',
        error: false,
        loading: false
      }
    },
    mounted() {
      var app = this;
      $("#permentanUpload").modal("show");
      $("#permentanUpload").on("hidden.bs.modal", function() {
        app.closeModal();
      })
    },
    updated: function () {
      this.$nextTick(function () {
        console.log('updated');
      })
    },
    methods:{
      closeModal() {
        this.$emit("trigger-modal");
      },
      handleFileUpload(){
        this.excelFile = this.$refs.file.files[0];
        this.file = this;
      },
      sendXhr() {
        event.preventDefault();
        this.loading = true;
        let app = this;
        let formData = new FormData();
        formData.append('file', this.excelFile);
        this.axios.post('permentan/upload', formData, { headers : {'Content-Type' : 'multipart/form-data'} })
        .then((resp) => {
          toastr.success('Succes Uploaded', 'Import excel');
          $("#permentanUpload").modal("hide");
          this.error = false;
        })
        .catch((resp) => {
          if (resp.response.data.message.file) {
            toastr.error(resp.response.data.message.file[0], 'Gagal');
          }
          if (typeof(resp.response.data.message) === 'object') {
            const msg = resp.response.data.message;
            const sales_org_id = (msg.sales_org_id) ? '<li>'+msg.sales_org_id[0]+'</li>' : '';
            const product_id = (msg.product_id) ? '<li>'+msg.product_id[0]+'</li>' : '';
            const sales_office_id = (msg.sales_office_id) ? '<li>'+msg.sales_office_id[0]+'</li>' : '';
            const year = (msg.year) ? '<li>'+msg.year[0]+'</li>' : '';
            const month = (msg.month) ? '<li>'+msg.month[0]+'</li>' : '';
            const amount = (msg.amount) ? '<li>'+msg.amount[0]+'</li>' : '';
            const rayonisasi = (msg.rayonisasi) ? '<li>'+msg.rayonisasi[0]+'</li>' : '';
            const permentan = (msg.permentan) ? '<li>'+msg.permentan[0]+'</li>' : '';
            const result = '<ul>'+sales_org_id+product_id+sales_office_id+year+month+amount+rayonisasi+permentan+'</ul>';
            toastr.error(result);
          }
          toastr.error(resp.response.data.line);
          this.error = true;
        })
        .then((resp) => {
          this.loading = false;
        })
      }
    }
  }
</script>

<style lang="css" scoped>
</style>
