<template>
  <div class="modal fade" id="suratJalanForm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form @submit="save()">
          <div class="modal-header">
            <h4 class="modal-title">Tambah Surat Jalan</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" :disabled="loadingButton">&times;</button>
          </div>
          <div class="modal-body">
            <form-loader :view="loadingForm"></form-loader>
            <div v-if="!loadingForm" class="row">
              <div class="col-md-12">
                <table id="suratJalanFormTable" class="table table-xs table-bordered table-striped display nowrap">
									<thead>
										<filter-form :checked_all="checklistAll" @search-table="searchTable" @checklist-all="handleChecklistAll"></filter-form>
										<tr>
											<th>Aksi</th>
											<th>No PKP</th>
											<th>No SO</th>
											<th>Tanggal Order</th>
											<th>Kode Distributor</th>
											<th>Distributor</th>
											<th>Kode Provinsi</th>
											<th>Provinsi</th>
											<th>Kode Produsen</th>
											<th>Produsen</th>
											<th>Bulan</th>
											<th>Tahun</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal" :disabled="loadingButton">Batal</button>
            <button type="submit" class="btn btn-primary" :disabled="loadingButton">
              <i :class="(loadingButton) ? 'fa fa-spin fa-refresh' : '' "></i>
              {{ (loadingButton) ? 'Menyimpan' : 'Submit' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
import FilterForm from './FilterForm'
export default {
  props: ['uuid'],
  data: function() {
    return {
			checklistAll: false,
      dataForm: {},
      loadingForm: false,
      loadingButton: false,
      error: false,
      errors: {},
      suratJalanFormFilter: {},
    }
  },
  components: {
    FormLoader,
		FilterForm
  },
  created() {

  },
  mounted() {
    var app = this;
    $("#suratJalanForm").modal("show");
    $('#suratJalanForm').on('hidden.bs.modal', function () {
      app.closeModal();
    })
		console.log("this.uuid", this.uuid);
		this.suratJalanFormTable()
  },
  methods: {

    closeModal(){
      this.$emit("trigger-modal", 'RefreshTable');
    },

		suratJalanFormTable() {
      var app = this;
      app.dt = $("#suratJalanFormTable").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        scrollCollapse: true,
        "order": [[ 1, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        // "dom": 'Bltrip',
        // "buttons": [
        //   {
        //     extend: 'excel',
        //     className: 'btn-danger square mb-1 DownloadSuratJalan',
        //     text: "Download Penyaluran DO",
        //     title:"",
        //     filename:"Download Penyaluran DO",
        //   }
        // ],
        ajax: {
          'url': '/api/list_create_certificate_release',
          'type': 'GET',
          'data': function(d) {
						d.uuid = app.suratJalanFormFilter.uuid,
						d.number = app.suratJalanFormFilter.number,
						d.so_number = app.suratJalanFormFilter.so_number,
						d.order_date = app.suratJalanFormFilter.order_date,
						d.customer_id = app.suratJalanFormFilter.customer_id,
						d.customer_name = app.suratJalanFormFilter.customer_name,
						d.sales_group_id = app.suratJalanFormFilter.sales_group_id,
						d.sales_group_name = app.suratJalanFormFilter.sales_group_name,
						d.sales_org_id = app.suratJalanFormFilter.sales_org_id,
						d.sales_org_name = app.suratJalanFormFilter.sales_org_name,
						d.month = app.suratJalanFormFilter.month,
						d.year = app.suratJalanFormFilter.year
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {
            data: 'uuid',
            name: 'uuid',
            render: function(data, type, full) {
              const input = `<input type="checkbox" id="form-check-input" value="${full.uuid}">`;
              return input;
            }
          },
					{ data: 'number', name: 'number' },
					{ data: 'so_number', name: 'so_number' },
					{ data: 'order_date', name: 'order_date' },
					{ data: 'customer_id', name: 'customer_id' },
					{ data: 'customer_name', name: 'customer_name' },
					{ data: 'sales_group_id', name: 'sales_group_id' },
					{ data: 'sales_group_name', name: 'sales_group_name' },
					{ data: 'sales_org_id', name: 'sales_org_id' },
					{ data: 'sales_org_name', name: 'sales_org_name' },
					{ data: 'month', name: 'month' },
					{ data: 'year', name: 'year' },
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      })
			app.dt.on('page.dt', function(){
				setTimeout(() => {
					$("#checkAll-sj").attr("checked", false);
					$("#checkAll-sj").prop("checked", false);
				}, 1000)
			});

    },

    searchTable(obj) {
      this.suratJalanFormFilter = obj;
      this.dt.draw();
    },

		handleChecklistAll(){
			this.checklistAll = !this.checklistAll;
			console.log("this.checked_all", this.isCheckedAll)
		},

		store(sendData){
			this.axios.post('certificate_release', sendData)
      .then((resp) => {
        this.loadingButton = false;
        toastr.success(resp.data.message);
        // let access = encodeURIComponent(this.$route.params.access);
        $("#suratJalanForm").modal("hide");
        // this.$router.push({path: '/'+access+'/laporan/surat-jalan/detail/'+resp.data.data.uuid});
        // this.$router.push({path: '/'+access+'/laporan/surat-jalan'});
      })
      .catch((resp) => {
        this.error = true;
        if(typeof resp.response.data.message === 'object') {
          this.errors = resp.response.data.message;
          toastr.error(resp.response.data.message.data[0])
        } else {
          toastr.error("Gagal Mengubah Data")
				}
        this.loadingButton = false;
      })
		},

		update(sendData){
			this.axios.put(`certificate_release/${this.uuid}`, sendData)
      .then((resp) => {
        this.loadingButton = false;
        toastr.success(resp.data.message);
        let access = encodeURIComponent(this.$route.params.access);
        $("#suratJalanForm").modal("hide");
        // this.$router.push({path: '/'+access+'/laporan/surat-jalan/detail/'+resp.data.data.uuid});
        this.$router.push({path: '/'+access+'/laporan/surat-jalan/detail/'+this.uuid});
      })
      .catch((resp) => {
        this.error = true;
        if(typeof resp.response.data.message === 'object') {
          this.errors = resp.response.data.message;
        } else {
          toastr.error(resp.response.data.message)
        }
        this.loadingButton = false;
      })
		},

    save() {
      event.preventDefault();
      this.loadingButton = true;
			const sendData = {
				data: []
			}
			$('#form-check-input:checked').map(function() { sendData.data.push(this.value); })
			if(this.uuid !== null){
				this.update(sendData)
			} else {
				if(sendData.data.length > 0){
					this.store(sendData)
				} else {
					this.loadingButton = false;
					toastr.error('Item terpilih tidak boleh kosong!', 'error');
				}
			}
      
    }

  }
}
</script>

<style lang="css" scoped>
</style>
