<template>
  <div class="modal fade" id="modalFormBankAccount" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Form Akun Bank</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <form-loader :view="selectLoading.edit"></form-loader>
          <div v-if="!selectLoading.edit" class="row">
            <div class="col-md-12">
              <div class="form-group row">
                  <label class="col-md-4 label-control" >Produsen </label>
                  <div class="col-md-8 " >
                    <multiselect
                      v-model="temp.produsen"
                      :options="get.produsen"
                      track-by="uuid" :custom-label="produsenNameWithId"
                      :searchable="true" :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'"
                      :disabled="isDisabled"
                      >
                    </multiselect>
                    <p v-if="error && errors.sales_org_id" class="text-danger">{{ errors.sales_org_id[0] }}</p>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-4 label-control" >Bank </label>
                  <div class="col-md-8 " >
                    <multiselect
                      v-model="temp.bank"
                      :options="get.bank"
                      track-by="id" :custom-label="bankNameWithId"
                      :searchable="true" :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.bank === false) ? 'Pilih Bank..' : 'Memuat ..'"
                      :disabled="isDisabled"
                      >
                    </multiselect>
                    <p v-if="error && errors.bank_id" class="text-danger">{{ errors.bank_id[0] }}</p>
                  </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 label-control">Bank Account</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" v-model="send.bank_account" :disabled="isDisabled">
                  <p v-if="error && errors.bank_account" class="text-danger">{{ errors.bank_account[0] }}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 label-control">Bank GL Account</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" v-model="send.bank_gl_account" :disabled="isDisabled">
                  <p v-if="error && errors.bank_gl_account" class="text-danger">{{ errors.bank_gl_account[0] }}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 label-control">Bank Clearing Account</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" v-model="send.bank_clearing_acct" :disabled="isDisabled">
                  <p v-if="error && errors.bank_clearing_acct" class="text-danger">{{ errors.bank_clearing_acct[0] }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          <button v-if="!isDisabled" type="button" class="btn btn-primary square" @click="saveData" :disabled="selectLoading.button">
            <i v-if="selectLoading.button" class="fa fa-spin fa-refresh"></i> Simpan
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import FormLoader from '../../../main/FormLoader';
export default {
  props: ['access', 'uuid'],
  data: function() {
    return {
      isDisabled: false,
      error: false,
      errors: {},
      temp: {
        produsen: null,
        bank: null
      },
      get: {
        produsen: [],
        bank: []
      },
      selectLoading: {
        produsen: false,
        bank: false,
        button: false,
        edit: false
      },
      send: {
        sales_org_id: null,
        bank_id: null,
        bank_account: null,
        bank_gl_account: null,
        bank_clearing_acct: null
      }
    }
  },
  components: {
    Multiselect, FormLoader
  },
  created() {
    this.getDataProdusen();
    this.getDataBank();
  },
  mounted() {
    let app = this;
    $("#modalFormBankAccount").modal("show");
    $("#modalFormBankAccount").on("hidden.bs.modal", function(){
      app.closeModal()
    })
    if(app.uuid != null) {
      this.getDataBankEdit();
    }
  },
  methods: {

    getDataBankEdit() {
      this.selectLoading.edit = true
      this.axios.get('bankaccounts/'+this.uuid)
      .then((resp) => {
        let bankData = resp.data.data
        this.send.sales_org_id = bankData.sales_org_id
        this.send.bank_id = bankData.bank_id
        this.send.bank_account = bankData.bank_account
        this.send.bank_gl_account = bankData.bank_gl_account
        this.send.bank_clearing_acct = bankData.bank_clearing_acct
        this.temp.bank = { id: bankData.bank_id, name: bankData.bank_id }
        this.temp.produsen = { id: bankData.sales_org_id, name: bankData.sales_org_name }
        this.isDisabled = (bankData.status === 'y') ? false : true
        this.selectLoading.edit = false
      })
      .catch((resp) => {
        tostr.error(resp.response.data.message)
      })
    },

    prepareData() {
      this.send.sales_org_id = (this.temp.produsen != null) ? this.temp.produsen.id : '';
      this.send.bank_id = (this.temp.bank != null) ? this.temp.bank.id : '';
    },

    saveData() {
      this.selectLoading.button = true;
      this.prepareData();
      if(this.uuid === null) {
        this.insert()
      } else {
        this.update()
      }
    },

    insert() {
      this.axios.post('bankaccounts', this.send)
      .then((resp) => {
        toastr.success(resp.data.message)
        this.selectLoading.button = false
        $("#modalFormBankAccount").modal("hide")
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        toastr.error(resp.response.data.message)
        this.selectLoading.button = false
      })
    },

    update() {
      this.axios.put('bankaccounts/'+this.uuid, this.send)
      .then((resp) => {
        toastr.success(resp.data.message)
        this.selectLoading.button = false
        $("#modalFormBankAccount").modal("hide")
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        toastr.error(resp.response.data.message)
        this.selectLoading.button = false
      })
    },

    closeModal() {
      this.$emit("trigger-modal-form")
    },

    getDataProdusen() {
      this.selectLoading.produsen = true;
      this.axios.get('company/produsen', {
        params: {length: -1}
      })
      .then((resp) => {
        this.get.produsen = resp.data.data
        this.selectLoading.produsen = false
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
        this.selectLoading.produsen = false
      })
    },
    produsenNameWithId({ id,  name}) {
      return `${id} — ${name}`
    },

    getDataBank() {
      this.selectLoading.bank = true
      this.axios.get('bank')
      .then((resp) => {
        this.get.bank = resp.data.data
        this.selectLoading.bank = false
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
        this.selectLoading.bank = false
      })
    },
    bankNameWithId({id, name}) {
      return `${id} — ${name}`
    }
  }


}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
  div.invalid .multiselect__tags {
    border: 1px solid #ff8080;
  }
</style>
