<template>
  <tr class="filter">
    <th class="gudang-sales-group-name">
      <input type="text" class="form-control form-control-md gudang_sales_group_nameVal" >
    </th>
    <th class="gudang-customer-name">
      <input type="text" class="form-control form-control-md gudang_customer_nameVal" >
    </th>
    <th>
      <input type="text" v-on:keyup="search()" v-model="datafilter.kode" class="form-control form-control-md" >
    </th>
    <th>
      <input type="text" v-on:keyup="search()" v-model="datafilter.nama" class="form-control form-control-md" >
    </th>
    <th>
      <input type="text" v-on:keyup="search()" v-model="datafilter.alamat" class="form-control form-control-md" >
    </th>
     <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="datafilter.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input type="text" v-on:keyup="search()" v-model="datafilter.kecamatan" class="form-control form-control-md" >
    </th>
    <th>
      <input type="text" v-on:keyup="search()" v-model="datafilter.telp" class="form-control form-control-md" >
    </th>
    <th>
      <input type="text" v-on:keyup="search()" v-model="datafilter.fax" class="form-control form-control-md" >
    </th>
  </tr>
</template>

<script>
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
export default {
  props: ['reset'],
  data:function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      datafilter:{
        sales_office_id: '',
        sales_group_id: '',
        sales_group_name:'',
        customer_name:'',
        kode:'',
        nama:'',
        alamat:'',
        provinsi:'',
        kabupaten:'',
        kecamatan:'',
        telp:'',
        fax:''
      }
    }
  },
  components: {
    Provinsi,
    Kabupaten
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  methods: {
    search(){
        event.preventDefault();
        localStorage.setItem(this.uriName, JSON.stringify(this.datafilter));
        $(".gudang_sales_group_nameVal").val(this.datafilter.sales_group_name)
        $(".gudang_customer_nameVal").val(this.datafilter.customer_name)
        this.$emit('search-filter', this.datafilter);
    },
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.datafilter.sales_office_id = sales_office;
      // this.$refs.filterKabComponent.getKabupaten(sales_office);
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.datafilter.sales_group_id = sales_group;
      // this.$refs.filterKabComponent.getKabupaten(sales_group);
      this.search();
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.datafilter);

      $( ".gudang-sales-group_name" ).html( '<input type="text" class="form-control form-control-md gudang_sales_group_nameVal" />' );
      $( ".gudang-customer-name" ).html( '<input type="text" class="form-control form-control-md gudang_customer_nameVal" />' );
      $(".gudang_sales_group_nameVal").val(this.datafilter.sales_group_name);
      $(".gudang_customer_nameVal").val(this.datafilter.customer_name);
      this.search();
    }
  },
  mounted() {
        var app = this;
        const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
        setTimeout(() => {
            if (getLocalSearch !== null) {
                app.datafilter = getLocalSearch;
                $(".gudang_sales_group_nameVal").val(app.datafilter.sales_group_name);
                $(".gudang_customer_nameVal").val(app.datafilter.customer_name);
                app.$emit("search-filter", app.datafilter);
            }
        },1000)

        $(document).ready(function() {
          
        });

        $(document).on("keyup", ".gudang_sales_group_nameVal", function(){
          app.datafilter.sales_group_name = $(this).val();
          app.search();
        })
        $(document).on("keyup", ".gudang_customer_nameVal", function(){
          app.datafilter.customer_name = $(this).val();
          app.search();
        })
    }
}

</script>

<style lang="css">
</style>
