<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" id="downloadGudang" :disabled="loadBtnDownload" @click="download()" class="btn btn-primary square"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="tableGudang" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <warehouse-filter :reset="resetStatus" ref="filterComponent" @search-filter="searchTable"></warehouse-filter>
            <tr>
              <th>Produsen</th>
              <th>Distributor</th>
              <th>Kode</th>
              <th>Nama</th>
              <th>Alamat</th>
              <th>Provinsi</th>
              <th>Kota/Kabupaten</th>
              <th>Kecamatan</th>
              <th>Telp</th>
              <th>Fax</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import WarehouseFilter from './WarehouseFilter';
export default {
  props: ['access'],
  data: function(){
    return {
      loadBtnDownload: false,
      dt: '',
      tempDt: {
        customer_id: null,
        sales_org_id: '',
      },
      resetStatus: false,
      datafilter:{
        sales_office_id: '',
        sales_group_id: '',
        sales_group_name:'',
        customer_name:'',
        pph22:'',
        owner:'',
        address:'',
        sales_office_name:'',
        sales_group_name:'',
        sales_unit_name:'',
        tlp_no:'',
        fax_no:''
      }
    }
  },
  components:{
    WarehouseFilter
  },
  async mounted() {
    var app = this;
    if (app.$route.params.id !== undefined) {
      app.tempDt.customer_id = await app.axios.get('distributor/id/'+app.$route.params.id).then((resp) => { return resp.data.data.id; }).catch((resp) => { return null; });
    }

    var idx = '';
    if (app.tempDt.customer_id !== null) {
      idx = '?id_customer='+app.tempDt.customer_id+'&sub_distributor=true';
    }

    // var idx = (app.$route.params.id != undefined) ? 'customer_id=1000002654': '';

    $(document).ready(function() {
      app.dt = $("#tableGudang").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        order: [[ 2, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadDtGudang',
            title:"",
            filename:"Download Gudang ke Excel",
            exportOptions: {
                columns: 'th:not(:first-child)'
            }
          }
        ],
        ajax: {
          'url' : 'api/gudang'+idx,
          'type' : 'GET',
          'data' : function(d) {
            d.sales_org_id =app.datafilter.sales_group_name,
            d.customer_name =app.datafilter.customer_name,
            d.customer_id =app.datafilter.kode,
            d.owner =app.datafilter.nama,
            d.address =app.datafilter.alamat,
            d.sales_office_name =app.datafilter.provinsi,
            d.sales_group_name =app.datafilter.kabupaten,
            d.sales_unit_name =app.datafilter.kecamatan,
            d.tlp_no =app.datafilter.telp,
            d.sales_office_id = app.datafilter.sales_office_id,
            d.sales_group_id = app.datafilter.sales_group_id,
            d.fax_no =app.datafilter.fax
          },
          beforeSend: function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
        },
        columns: [
          {data: 'sales_org_id', name: 'sales_org_id'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'customer_id', name: 'customer_id'},
          {data: 'owner', name: 'owner'},
          {data: 'address', name: 'address'},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'sales_unit_name', name: 'sales_unit_name'},
          {data: 'tlp_no', name: 'tlp_no'},
          {data: 'fax_no', name: 'fax_no'}
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      })
      $("div.dataTables_length").append(' <button id="resetFilterGudang" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    })
    $(document).on("click", "#resetFilterGudang", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterGudang').prop('disabled', true);
      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterGudang').prop('disabled', false);
      }, 1000)
    })
  },

  methods: {
    download() {
      // $(".downloadDtGudang").trigger('click')
      var idx = '';
      if (this.tempDt.customer_id !== null) {
        idx = '?id_customer='+this.tempDt.customer_id+'&sub_distributor=true';
      }
      this.loadBtnDownload = true;
      this.axios({
        url: 'gudang/download'+idx,
        params: {
            sales_org_id: this.datafilter.sales_group_name,
            customer_name: this.datafilter.customer_name,
            customer_id: this.datafilter.kode,
            owner: this.datafilter.nama,
            address: this.datafilter.alamat,
            sales_office_name: this.datafilter.provinsi,
            sales_group_name: this.datafilter.kabupaten,
            sales_unit_name: this.datafilter.kecamatan,
            tlp_no: this.datafilter.telp,
            sales_office_id: this.datafilter.sales_office_id,
            sales_group_id: this.datafilter.sales_group_id,
            fax_no: this.datafilter.fax
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'Download Gudang.xls'); //or any other extension
        document.body.appendChild(link);
        link.click();
        this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    },
    searchTable(obj){
      this.datafilter=obj;
      this.dt.draw();
    },
    getDistributor(){
      this.axios.get('distributor/id/'+this.$route.params.id)
      .then((resp) => {
        // this.tempDt.customer_id = resp.data.data.id;
        return resp.data.data.id;
      })
      .catch((resp) => {
        // toastr.error('Failed load detail distributor', 'Error');
        return null;
      });
    },
  }

}
</script>

<style media="screen">
  .downloadDtGudang {
    display: none !important;
  }
</style>
