<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button type="button" v-if="accessComponent.C && (role_id!=4 || role_id == 4)" @click="openFormRetailAdm" data-status="administratif" class="btn btn-primary square"><i class="fa fa-plus"></i> Pengecer Administratif</button>
          <button type="button" v-if="accessComponent.C && (role_id!=4 || role_id == 4)" @click="modalUpload = !modalUpload" class="btn btn-primary square"><i class="fa fa-upload"></i> Upload</button>
          <button type="button" v-if="accessComponent.C && (role_id!=4 || role_id == 4)" @click="openForm" class="btn btn-primary square"><i class="fa fa-plus"></i> Entry Baru</button>

          <a href="template-excel/pengecer/Template_Pengecer.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
          <a href="template-excel/Daftar_Kode_Wilayah.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Kode Wilayah</a>
          <button type="button" :disabled="loadBtnDownload" class="btn btn-primary square" @click="download" id="downloadPengecerExcel" name="button"> <i class="fa fa-download"></i> Download</button>
          <router-link v-if="accessComponent.C && $route.params.id != undefined" :to="{ name: 'form_retail_distributor_relation_customer' }" class="btn btn-primary square">
            <i class="fa fa-plus"></i> Relasi Distributor
          </router-link>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table  id="tableRetail" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <retail-filter :reset="resetStatus" ref="filterComponent" @search-table="searchTable" :distributor_id="distributor_id" ></retail-filter>
            <tr v-if="distributor_id === undefined">
              <th>
                <fieldset>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input check_all" value="all">
                    <span class="custom-control-indicator"></span>
                  </label>
                </fieldset>
              </th>
              <th>Kode</th>
              <th>Nama</th>
              <th>Pemilik</th>
              <th>Status</th>
              <th>Provinsi</th>
              <th>Kota/Kabupaten</th>
              <th>Kecamatan</th>
              <th>Kode Kecamatan</th>
              <th>Kelurahan</th>
              <th> Alamat </th>
              <th>No. Telp</th>
              <th>No. Fax Kantor</th>
              <th>No. Telp Genggam</th>
              <th>Email</th>
              <th>NPWP</th>
              <th>Tanggal Terdaftar NPWP</th>
              <th>SIUP</th>
              <th>SIUP Berlaku Hingga</th>
              <th>SITU</th>
              <th>SITU Berlaku Hingga</th>
              <th>TDP</th>
              <th>TDP Berlaku Hingga</th>
              <th>Dibuat pada</th>
              <th>Diperbarui pada</th>
            </tr>
            <tr v-else>
               <th>
                <fieldset>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input check_all" value="all">
                    <span class="custom-control-indicator"></span>
                  </label>
                </fieldset>
              </th>
              <th>Kode Distributor</th>
              <th> Nama Distributor </th>
              <th> Produsen </th>
              <th> Provinsi </th>
              <th> Kota </th>
              <th> Kecamatan </th>
              <th> Alamat </th>
              <th> Kode Pengecer </th>
              <th>Nama Pengecer</th>
              <th>Status</th>
            </tr>  
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div  v-if="accessComponent.A" class="row scroll-top">
         <div class="col-md-12">
          <div class="btn-group mr-1 mb-1 pull-right dropup">
            <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
              Aksi
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" @click="action('s')" href="#">Submit</a>
              <a class="dropdown-item" @click="action('d')" href="#">Unsubmit</a>
              <a v-if="role_id !== 4" class="dropdown-item" @click="action('y')" href="#">Approve</a>
              <a v-if="role_id !== 4" class="dropdown-item" @click="action('n')" href="#">Unapprove</a>
              <a v-if="role_id !== 4" class="dropdown-item" @click="action('p')" href="#">Suspend</a>
              <a v-if="role_id !== 4" class="dropdown-item" @click="action('y')" href="#">Unsuspend</a>
            </div>
          </div>
        </div>
    </div>
    
    <upload v-if="modalUpload" @trigger-modal="triggerModal"></upload>
    <form-retail v-if="modalForm" :customer_uuid="$route.params.id" :access="accessComponent" :isSubDistributor="false" @trigger-modal="triggerModal" :isRetailAdm="isRetailAdm" :id="idPickup"></form-retail>
  </div>
</template>

<script>
import RetailFilter from './RetailFilter';
import Upload from './modal/Upload';
import Form from './modal/Form';
export default {
  props: ['access'],
  data: function(){
    return {
      isDistributor: null,
      role_id: null,
      isRetailAdm: false,
      resetStatus: false,
      distributor_id: this.$route.params.id,
      dt: '',
      modalUpload: false,
      modalForm:false,
      idPickup: null,
      loading:{
        changeStatus: false
      },
      accessComponent: (this.access != undefined) ? this.access : {},
      check: [],
      retails: {},
      loadBtnDownload : false,
      isCheckAll: false
    }
  },
  created() {
    if(this.access === undefined) {
      const encodeAccess = decodeURIComponent(this.$route.params.access);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const arrAccess = decodeAccess.split(",");
      console.log(this.access);
      if(arrAccess) {
        arrAccess.map((data) => {
          if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.accessComponent[data] = true
          } else {
            this.$router.push({path: '/home'});
            toastr.error('Tidak mempunyai akses halaman ini', 'Error');
          }
        })
      } else {
        this.$router.push({path: '/home'});
        toastr.error('Tidak mempunyai akses halaman ini', 'Error');
      }
    }
  },
  components: {
    RetailFilter,
    Upload,
    formRetail: Form
  },
  mounted() {
    var app = this;
    var id = (app.$route.params.id != undefined) ? '/cust_id/'+app.$route.params.id : '';
    var columns = [];
    var orderNo = 0;
    app.userProfile();
    

    $(document).ready(function() {
      if(app.$route.params.id != undefined) {
        orderNo = 1;
        columns = [
          {
            data: 'uuid',
            render: function(data, type, full) {
              const check = '<fieldset>'+
                              '<label class="custom-control custom-checkbox">'+
                                '<input type="checkbox" id="check" class="custom-control-input check_box_retail" value="'+data+'">'+
                                '<span class="custom-control-indicator"></span>'+
                              '</label>'+
                            '</fieldset>';
              return check;
            },
            name: 'uuid'
          },
          {data: 'customer_id', name: 'customer_id'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'sales_unit_name', name: 'sales_unit_name'},
          {data: 'address' , name:'address'},
          {data: 'code', name: 'code'},
          {data: 'name', name: 'name'},
          {data: 'status', name: 'status'},
        ];
      } else {
        orderNo = 23;
        columns = [
                    {
                      data: 'uuid',
                      render: function(data, type, full) {
                        const check = '<fieldset>'+
                                        '<label class="custom-control custom-checkbox">'+
                                          '<input type="checkbox" id="check" class="custom-control-input check_box_retail" value="'+data+'">'+
                                          '<span class="custom-control-indicator"></span>'+
                                        '</label>'+
                                      '</fieldset>';
                        return check;
                      },
                      name: 'uuid'
                    },
                    {
                      data: 'code',
                      render : function(data, type, full){
                        return '<a href="#" id="toDetailPengecer" data-id="'+full.uuid+'">'+data+'</a>';
                      },
                      name: 'code'
                    },
                    {data: 'name', name: 'name'},
                    {data: 'owner', name: 'owner'},
                    {data: 'status', name: 'status'},
                    {data: 'sales_office_name', name: 'sales_office_name'},
                    {data: 'sales_group_name' , name:'sales_group_name'},
                    {data: 'sales_unit_name' , name:'sales_unit_name'},
                    {data: 'sales_unit_id' , name:'sales_unit_id'},
                    {data: 'village' , name:'village'},
                    {data: 'address' , name:'address'},
                    {data: 'tlp_no' , name:'tlp_no'},
                    {data: 'fax_no' , name:'fax_no'},
                    {data: 'hp_no' , name:'hp_no'},
                    {data: 'email' , name:'email'},
                    {data: 'npwp_no' , name:'npwp_no'},
                    {data: 'npwp_register' , name:'npwp_register', render: function(data, type, full){
                      return app.convertDate(data)
                    }},
                    {data: 'siup_no' , name:'siup_no'},
                    {data: 'valid_date_siup' , name:'valid_date_siup', render: function(data, type, full){
                      return app.convertDate(data)
                    }},
                    {data: 'situ_no' , name:'situ_no'},
                    {data: 'valid_date_situ' , name:'valid_date_situ', render: function(data, type, full){
                      return app.convertDate(data)
                    }},
                    {data: 'tdp_no' , name:'tdp_no'},
                    {data: 'valid_date_tdp' , name:'valid_date_tdp', render: function(data, type, full){
                      return app.convertDate(data)
                    }},
                    {data: 'created_at' , name:'created_at', render: function(data, type, full){
                      return app.convertDate(data)
                    }},
                    {data: 'updated_at' , name:'updated_at', render: function(data, type, full){
                      return app.convertDate(data)
                    }}
                ]   
      }
      app.dt = $("#tableRetail").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        "order": [[ orderNo, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadPengecerExcel',
            text: "Download Pengecer ke Excel",
            title:"",
            filename:"Download Pengecer ke Excel",
            exportOptions: {
                columns: 'th:not(:first-child)'
            }
          }
        ],
        ajax: {
          'url': 'api/retail'+id,
          'type': 'GET',
          'data': function(d){
            // d.type = app.$route.params.id === undefined ? 'retail' : null,
            d.customer_id = app.retails.customer_id,
            d.customer_name = app.retails.customer_name,
            d.sales_org_name = app.retails.sales_org_name,
            d.code = app.retails.code,
            d.name = app.retails.name,
            d.owner = app.retails.owner,
            d.status = app.retails.status,
            d.sales_office_name = app.retails.sales_office_name,
            d.sales_office_id = app.retails.sales_office_id,
            d.sales_group_id = app.retails.sales_group_id,
            d.sales_group_name = app.retails.sales_group_name,
            d.sales_unit_name = app.retails.sales_unit_name,
            d.address = app.retails.address,
            d.sales_unit_id = app.retails.sales_unit_id,
            d.village = app.retails.village,
            d.tlp_no = app.retails.tlp_no,
            d.fax_no = app.retails.fax_no,
            d.hp_no = app.retails.hp_no,
            d.email = app.retails.email,
            d.npwp_no = app.retails.npwp_no,
            d.npwp_register = app.retails.npwp_register,
            d.siup_no = app.retails.siup_no,
            d.valid_date_siup = app.retails.valid_date_siup,
            d.situ_no = app.retails.situ_no,
            d.valid_date_situ = app.retails.valid_date_situ,
            d.tdp_no = app.retails.tdp_no,
            d.valid_date_tdp = app.retails.valid_date_tdp,
            d.created_at = app.retails.created_at,
            d.updated_at = app.retails.updated_at
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        columns : columns
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      });
      $("div.dataTables_length").append(' <button id="resetFilterRetail" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

      $(document).on("click", "#resetFilterRetail", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterRetail').prop('disabled', true);
        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterRetail').prop('disabled', false);
        }, 1000)
      })


      $(document).on("click", ".check_all", function(e){
        var isChecked = [];
        var isUnique = [];
        $('.check_box_retail').not(this).prop('checked', this.checked);
        $('.check_box_retail').not(this).each(function(index, el) {
          var value = $(el).val();
          isChecked.push(value);
          $.each(isChecked, function(i, el){
              if($.inArray(el, isUnique) === -1) isUnique.push(el);
          });
          console.log(isUnique);
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.isCheckAll = true;
            }
          } else {
            app.check = [];
            app.isCheckAll = false;
          }
        });
        if(app.isCheckAll){
          $.each(isUnique, function(i, el){
            var valuex = {id: el};
            app.check.push(valuex);
            console.log(app.check);
          });
        }
      })

      $(document).on("click", "#check", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })

      $(document).on("click", "#toDetailPengecer", function(e) {
        e.preventDefault();
        var id = $(this).data("id");
        app.isRetailAdm = false
        app.idPickup = id;
        app.modalForm = !app.modalForm;
      })

      // $("#downloadPengecerExcel").on("click", function(e){
      //   e.preventDefault();
      //   // $(".downloadPengecerExcel").trigger('click');
      //   // retail/export
      // })

    });


  },
  methods:{
    userProfile(){
      this.axios.get('user/profile')
      .then((resp) => {
        this.role_id = resp.data.data.role.role_id;
        // this.isDistributor = (resp.data.data.role.role_id === 4) ? false : this.accessComponent.C
      })
      .catch((resp) => {
        console.log(resp);
      })
      .then((resp) => {
        console.log(resp);
      })
    },
    openForm(){
      this.isRetailAdm = false;
      this.modalForm = !this.modalForm;
    },
    openFormRetailAdm(){
      this.isRetailAdm = true;
      this.modalForm = !this.modalForm;
    },
    action(type) {
      event.preventDefault();
      if(this.check.length != 0) {
        this.loading.changeStatus = true;
        this.check = this.check.map(data => {
          return {id: data.id, status: type}
        })
        this.saveAction();
      } else {
        toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
      }
    },
    actionExist(){
      this.check.map((dt, ind) => {
        var exist = this.check[ind].id.includes(dt.id);
        if(exist){
          this.removeA(this.check, dt.id);
        }
      })
    },
    saveAction(){
      // this.actionExist();
      this.axios.post('retail/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.response.data.message, "Pesan")
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
        this.dt.draw();
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    triggerModal(params = false){
      if(params === 'RefreshTable'){
        this.dt.draw();
      }
      this.modalUpload = false
      this.modalForm = false
      this.idPickup = null
    },
    searchTable(obj) {
      this.retails = obj;
      this.validateDateNpwp(obj);
      this.validateDateSiup(obj);
      this.validateDateSitu(obj);
      this.validateDateTdp(obj);
      this.validateDateCreate(obj);
      this.validateDateUpdate(obj);
      this.dt.draw();
    },
    validateDateNpwp(obj) {
      if(obj.npwp_register && obj.npwp_register.from && obj.npwp_register.to) {
        this.retails.npwp_register = obj.npwp_register.from+';'+obj.npwp_register.to;
      } else if (obj.npwp_register && obj.npwp_register.certain) {
        this.retails.npwp_register = obj.npwp_register.certain;
      } else {
        this.retails.npwp_register = '';
      }
    },
    validateDateSiup(obj) {
      if(obj.valid_date_siup && obj.valid_date_siup.from && obj.valid_date_siup.to) {
        this.retails.valid_date_siup = obj.valid_date_siup.from+';'+obj.valid_date_siup.to;
      } else if (obj.valid_date_siup && obj.valid_date_siup.certain) {
        this.retails.valid_date_siup = obj.valid_date_siup.certain;
      } else {
        this.retails.valid_date_siup = '';
      }
    },
    validateDateSitu(obj) {
      if(obj.valid_date_situ && obj.valid_date_situ.from && obj.valid_date_situ.to) {
        this.retails.valid_date_situ = obj.valid_date_situ.from+';'+obj.valid_date_situ.to;
      } else if (obj.valid_date_situ && obj.valid_date_situ.certain) {
        this.retails.valid_date_situ = obj.valid_date_situ.certain;
      } else {
        this.retails.valid_date_situ = '';
      }
    },
    validateDateTdp(obj) {
      if(obj.valid_date_tdp && obj.valid_date_tdp.from && obj.valid_date_tdp.to) {
        this.retails.valid_date_tdp = obj.valid_date_tdp.from+';'+obj.valid_date_tdp.to;
      } else if (obj.valid_date_tdp && obj.valid_date_tdp.certain) {
        this.retails.valid_date_tdp = obj.valid_date_tdp.certain;
      } else {
        this.retails.valid_date_tdp = '';
      }
    },
    validateDateCreate(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.retails.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.retails.created_at = obj.created_at.certain;
      } else {
        this.retails.created_at = '';
      }
    },
    validateDateUpdate(obj) {
      if(obj.updated_at && obj.updated_at.from && obj.updated_at.to) {
        this.retails.updated_at = obj.updated_at.from+';'+obj.updated_at.to;
      } else if (obj.updated_at && obj.updated_at.certain) {
        this.retails.updated_at = obj.updated_at.certain;
      } else {
        this.retails.updated_at = '';
      }
    },
    download() {
      // $(".DownloadItemPenyaluran").trigger('click');
      this.loadBtnDownload = true;
      var id = (this.$route.params.id != undefined) ? '/cust_id/'+this.$route.params.id : '';
      this.axios({
        url: 'retail/export'+id,
        params: {
            customer_id : this.retails.customer_id,
            customer_name : this.retails.customer_name,
            sales_org_name : this.retails.sales_org_name,
            code : this.retails.code,
            name : this.retails.name,
            owner : this.retails.owner,
            status : this.retails.status,
            sales_office_name : this.retails.sales_office_name,
            sales_office_id : this.retails.sales_office_id,
            sales_group_id : this.retails.sales_group_id,
            sales_group_name : this.retails.sales_group_name,
            sales_unit_name : this.retails.sales_unit_name,
            address : this.retails.address,
            sales_unit_id : this.retails.sales_unit_id,
            village : this.retails.village,
            tlp_no : this.retails.tlp_no,
            fax_no : this.retails.fax_no,
            hp_no : this.retails.hp_no,
            email : this.retails.email,
            npwp_no : this.retails.npwp_no,
            npwp_register : this.retails.npwp_register,
            siup_no : this.retails.siup_no,
            valid_date_siup : this.retails.valid_date_siup,
            situ_no : this.retails.situ_no,
            valid_date_situ : this.retails.valid_date_situ,
            tdp_no : this.retails.tdp_no,
            valid_date_tdp : this.retails.valid_date_tdp,
            created_at : this.retails.created_at,
            updated_at : this.retails.updated_at
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Pengecer.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    },
  }
}
</script>

<style media="screen">
  div.dt-buttons {
    float: right !important;
    display: none;
  }
  .scroll-top {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
  }
</style>
