<template lang="html">
  <div class="modal fade" id="openformModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form id="formmodal"  >
          <div class="modal-header">
            <h4 v-if="getid != null" class="modal-title" id=""> Detail Data Desa</h4>
            <h4 v-else class="modal-title" id="">Entri Baru</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <form-loader :view="loaderAnimate"></form-loader>
            <div class="row" v-if="pageloder">
              <div class="col-md-12">

                <div class="form-body">
                  <div class="">
                    <h4 class="form-section"><i class="ft-user"></i> Data Desa</h4>
                    <div class="row">
                      <div class="col-md-12">
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Provinsi</label>
                            <div class="col-md-8">
                              <multiselect
                                @input="getKabupaten"
                                v-model="tempDt.sales_office_id"
                                :options="m_provinces"
                                track-by="id" :custom-label="ProvnameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" placeholder="Pilih .."
                                :disabled="isDisabled"
                              >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.sales_office_id">{{errors.sales_office_id[0]}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Kabupaten</label>
                            <div class="col-md-8">
                              <multiselect
                                @input="getKecamatan"
                                v-model="tempDt.sales_group_id"
                                :options="m_kabupaten"
                                track-by="id" :custom-label="KabnameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" :placeholder="(loadingElement.kabupaten === false) ? 'Pilih ..' : 'Memuat ..'"
                                :disabled="isDisabled"
                              >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.sales_group_id">{{errors.sales_group_id[0]}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Kecamatan</label>
                            <div class="col-md-8">
                              <multiselect
                                @input=""
                                v-model="tempDt.sales_unit_id"
                                :options="m_kecamatan"
                                track-by="id" :custom-label="KecamatannameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" :placeholder="(loadingElement.kecamatan === false) ? 'Pilih ..' : 'Memuat ..'"
                                :disabled="isDisabled"
                              >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.sales_unit_id">{{errors.sales_unit_id[0]}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-4 text-right">Kode Desa</label>
                            <div class="col-sm-8">
                              <input v-model="tempDt.village_code" type="text" class="form-control" placeholder="" :disabled="isDisabled" >
                              <p class="text-danger" v-if="error && errors.code">{{errors.code[0]}}</p>
                              <p class="text-danger" v-if="error && errors.village"><i>* {{errors.village[0]}}</i></p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-4 text-right">Nama Desa</label>
                            <div class="col-sm-8">
                              <input v-model="tempDt.village_name" type="text" class="form-control" placeholder="" :disabled="isDisabled" >
                              <p class="text-danger" v-if="error && errors.name">{{errors.name[0]}}</p>
                            </div>
                          </div>
                        </div>
                        <!-- form  -->
                  </div>
                 </div>
                </div>
                </div>
               </div>
              </div>
              <div class="modal-footer" v-if="pageloder">
                <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal" >
                  <i class="ft-x"></i> Cancel
                </button>
                <div v-if="access.U === true">
                  <button :disabled="isDisabled" type="button" class="btn btn-primary" @click="toSubmit"  >
                    <i class="fa fa-check-square-o"></i> Submit
                  </button>
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import FormLoader from '../../../main/FormLoader';

export default {
  props: ['getid', 'getdata', 'access'],
  data: function() {
    return {
      error: false,
      errors: {},
      isDisabled: false,
      loaderAnimate: false,
      pageloder:true,
      loadingElement: {
        kabupaten: false,
        kecamatan: false,
      },
      m_produsen: [],
      m_provinces: [],
      m_kabupaten: [],
      m_kecamatan: [],
      idnya: this.getid,
      tempDt : {},
      desaDt : {
        sales_office_id: '',
        sales_group_id: '',
        sales_unit_id: '',
        village_code: '',
        village_name: ''
      }
    }
  },
  components: {
    Multiselect,
    FormLoader
  },
  watch: {
    getid: function(){
      this.error = false;
      this.errors = {};
      this.idnya = this.getid;
      if (this.idnya !== null) {
        this.getDatabyuuid(this.idnya);
      } else {
        this.setDefault();
      }
    }
  },
  mounted(){
    var app = this;
    app.getProvinsi();
    $('#openformModal').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  methods:{
    ProvnameWithId ({ id, name }){ return `${id} — ${name}` },
    KabnameWithId ({ id, name }){ return `${id} — ${name}` },
    KecamatannameWithId ({ id, name }){ return `${id} — ${name}` },
    getProvinsi(){
      this.axios.get('region/provinsi')
      .then((resp) => {
        this.m_provinces = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
    },
    getKabupaten(provinsi){
      this.m_kabupaten = [];
      this.m_kecamatan = [];
      this.loadingElement.kabupaten = true
      this.axios.get('region/kabupaten', {
        params: {
          provinsi: provinsi.id
        }
      })
      .then((resp) => {
        this.m_kabupaten = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false})
    },
    getKecamatan(kabupaten_id){
      this.loadingElement.kecamatan = true
      this.axios.get('region/kecamatan', {
        params: {
          kabupaten: kabupaten_id.id
        }
      })
      .then((resp) => {
        this.m_kecamatan = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {this.loadingElement.kecamatan = false})
    },
    toDraft() {
      var app = this;
      app.loaderAnimate = true;
      app.pageloder = false;
      app.desaDt.status = 'n';
      if (app.getid === null) {
        app.insert();
      } else {
        app.update();
      }
    },
    toSubmit() {
      var app = this;
      app.loaderAnimate = true;
      app.pageloder = false;
      app.desaDt.status = 'y';
      if (app.getid === null) {
        app.insert();
      } else {
        app.update();
      }
    },
    insert(){
      event.preventDefault();
      this.setData()
      this.axios.post('village', this.desaDt)
      .then((resp) => {
        toastr.success("Entry data berhasil", "Sukses");
        $("#openformModal").modal("hide");
        this.closeModal();
      })
      .catch((resp) => {
        toastr.error("Entry data gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
      })
      .then((resp) => {
        this.loaderAnimate = false;
        this.pageloder = true;
      })
    },
    update() {
      event.preventDefault();
      this.setData();
      this.axios.put("village/"+this.getid, this.desaDt)
      .then((resp) => {
        toastr.success("Update data berhasil", "Sukses");
        $("#openformModal").modal("hide");
        this.closeModal();
      })
      .catch((resp) => {
        toastr.error("Update data gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
      })
      .then((resp) => {
        this.loaderAnimate = false;
        this.pageloder = true;
      })
    },
    closeModal(){
      this.setDefault();
      this.$emit("trigger-modal", 'RefreshTable');
    },
    getDatabyuuid(id){
      this.loaderAnimate = true;
      this.pageloder = false;
      this.axios.get('village/'+id)
      .then((resp) => {
        this.tempDt.sales_office_id = {id: resp.data.data.sales_office_id, name: resp.data.data.sales_office_name}
        this.tempDt.sales_group_id = {id: resp.data.data.sales_group_id, name: resp.data.data.sales_group_name}
        this.tempDt.sales_unit_id = {id: resp.data.data.sales_unit_id, name: resp.data.data.sales_unit_name}
        this.tempDt.village_code = resp.data.data.code
        this.tempDt.village_name = resp.data.data.name
        this.tempDt.status = resp.data.data.status
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {
        if (!this.access.U) {
          this.isDisabled = true;
        } else {
          if(this.tempDt.status === 'y'){
            this.isDisabled = true;
          } else {
            this.isDisabled = false;
          }
        }
        this.loaderAnimate = false;
        this.pageloder = true;
      })
    },
    setData(){
      this.desaDt.sales_office_id = (this.tempDt.sales_office_id) ? this.tempDt.sales_office_id.id : '';
      this.desaDt.sales_group_id = (this.tempDt.sales_group_id) ? this.tempDt.sales_group_id.id : '';
      this.desaDt.sales_unit_id = (this.tempDt.sales_unit_id) ? this.tempDt.sales_unit_id.id : '';
      this.desaDt.code = this.tempDt.village_code;
      this.desaDt.name = this.tempDt.village_name;
      this.desaDt.status = this.tempDt.status;
    },
    setDefault(){
      this.tempDt.sales_office_id = '';
      this.tempDt.sales_group_id = '';
      this.tempDt.sales_unit_id = '';
      this.tempDt.village_code = '';
      this.tempDt.village_name = '';
      this.tempDt.status = '';
      this.isDisabled = false;
    }
  },
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
</style>
