<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" :disabled="loadingButton" @click="download()" class="btn btn-primary square" name="button">
            <i class="fa fa-download"></i> {{ loadingButton ? 'Memuat..' : 'Download' }}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="DataTableItemPenyaluran" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <item-penyaluran-filter :reset="resetStatus" @search-table="searchTable"></item-penyaluran-filter>
            <tr>
              <th>No. PKP</th>
              <th>Produsen</th>
              <th>Distributor</th>
              <th>Kode Distributor</th>
              <th>Tipe Penyaluran</th>
              <th>No. Penebusan</th>
              <th>Kode SO</th>
              <th>Tahun</th>
              <th>Bulan</th>
              <th>Tgl. Penyaluran</th>
              <th>Provinsi</th>
              <th>Kabupaten</th>
              <th>Kecamatan</th>
              <th>Kode Pengecer</th>
              <th>Pengecer</th>
              <th>Produk</th>
              <th>QTY</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import ItemPenyaluranFilter from './ItemPenyaluranFilter';
export default {
  props: ['access'],
  data: function() {
    return {
      dt: null,
      downloadFilter: {},
      loadingButton: false,
      resetStatus: false,
      itemPenyaluranFilter: {},
      redirect: false
    }
  },
  components: {
    ItemPenyaluranFilter
  },
  watch: {
		redirect: function(val){
			if(val === true) {
				this.redirectFalse();
			}
		},
	},
  created() {

  },
  mounted() {
    var app = this;
    this.DataTableItemPenyaluran();
    $("div.dataTables_length").append(' <button id="resetFilterItemPenyaluran" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterItemPenyaluran", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterItemPenyaluran').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterItemPenyaluran').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#number_pkp", function(e){
      e.preventDefault();
      let uuid = $(this).data("uuid");
      let access = encodeURIComponent(app.$route.params.access);
      app.$router.push({path: '/'+access+'/laporan/penyaluran-do/detail/'+uuid});
    })
    $(document).on("click", "#redirectFalse", function(e){
      e.preventDefault();
      app.redirect = true;
      setTimeout(() => {
        app.redirect = false;
      }, 1)
    })
  },
  methods: {
    download() {
      // $(".DownloadItemPenyaluran").trigger('click');
      this.loadingButton = true
      this.axios({
        url: 'distribitem/download',
        params: {
          number_pkp : this.itemPenyaluranFilter.number_pkp,
          produsen_name : this.itemPenyaluranFilter.produsen_name,
          customer_name : this.itemPenyaluranFilter.customer_name,
          customer_id : this.itemPenyaluranFilter.customer_id,
          distrib_type : this.itemPenyaluranFilter.distrib_type,
          order_number : this.itemPenyaluranFilter.order_number,
          so_number : this.itemPenyaluranFilter.so_number,
          year : this.itemPenyaluranFilter.year,
          month : this.itemPenyaluranFilter.month,
          distribution_date : this.itemPenyaluranFilter.distribution_date,
          sales_office_name : this.itemPenyaluranFilter.sales_office_name,
          sales_group_name : this.itemPenyaluranFilter.sales_group_name,
          sales_unit_name : this.itemPenyaluranFilter.sales_unit_name,
          retail_code : this.itemPenyaluranFilter.retail_code,
          retail_name : this.itemPenyaluranFilter.retail_name,
          product_name : this.itemPenyaluranFilter.product_name,
          qty : this.itemPenyaluranFilter.qty,
          status : this.itemPenyaluranFilter.status_name
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Laporan Item Penyaluran DO.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadingButton = false
      })
    },
    validateDateDistribution(obj) {
      if(obj.distribution_date && obj.distribution_date.from && obj.distribution_date.to) {
        this.itemPenyaluranFilter.distribution_date = obj.distribution_date.from+';'+obj.distribution_date.to;
      } else if (obj.distribution_date && obj.distribution_date.certain) {
        this.itemPenyaluranFilter.distribution_date = obj.distribution_date.certain;
      } else {
        this.itemPenyaluranFilter.distribution_date = '';
      }
    },
    searchTable(obj) {
      this.itemPenyaluranFilter = obj;
      this.validateDateDistribution(obj);
      this.yearFrom(obj);
      this.dt.draw();
    },
    yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.itemPenyaluranFilter.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.itemPenyaluranFilter.year = obj.year.certain;
      } else {
        this.itemPenyaluranFilter.year = '';
      }
    },
    DataTableItemPenyaluran() {
      var app = this;
      app.dt = $("#DataTableItemPenyaluran").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        scrollCollapse:true,
        "order": [[ 0, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 DownloadItemPenyaluran',
            text: "Download"
          }
        ],
        ajax: {
          'url': '/api/distribitem',
          'type': 'GET',
          'data': function(d) {
            d.number_pkp = app.itemPenyaluranFilter.number_pkp,
            d.produsen_name = app.itemPenyaluranFilter.produsen_name,
            d.customer_name = app.itemPenyaluranFilter.customer_name,
            d.customer_id = app.itemPenyaluranFilter.customer_id,
            d.distrib_type = app.itemPenyaluranFilter.distrib_type,
            d.order_number = app.itemPenyaluranFilter.order_number,
            d.so_number = app.itemPenyaluranFilter.so_number,
            d.year = app.itemPenyaluranFilter.year,
            d.month = app.itemPenyaluranFilter.month,
            d.distribution_date = app.itemPenyaluranFilter.distribution_date,
            d.sales_office_name = app.itemPenyaluranFilter.sales_office_name,
            d.sales_group_name = app.itemPenyaluranFilter.sales_group_name,
            d.sales_unit_name = app.itemPenyaluranFilter.sales_unit_name,
            d.retail_code = app.itemPenyaluranFilter.retail_code,
            d.retail_name = app.itemPenyaluranFilter.retail_name,
            d.product_name = app.itemPenyaluranFilter.product_name,
            d.qty = app.itemPenyaluranFilter.qty,
            d.status = app.itemPenyaluranFilter.status_name
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'number_pkp', name: 'number_pkp', render: function(data, type, full) {
            const access = encodeURIComponent(app.$route.params.access);
            var link = '';
            if(full.distrib_type === 'InitialStockF5') {
              link = `<a href="/#/${access}/laporan/initial-stok-f5/detail/${full.uuid}">${data}</a>`;
            } else if (full.distrib_type === 'order') {
              link = `<a href="/#/${access}/laporan/penyaluran-do/detail/${full.uuid}">${data}</a>`;
            } else {
              link = `<a href="#" id="redirectFalse">${data}</a>`;
            }
            return link
          }},
          {data: 'produsen_name', name: 'produsen_name'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'customer_id', name: 'customer_id'},
          {data: 'distrib_type', name: 'distrib_type'},
          {data: 'order_number', name: 'order_number'},
          {data: 'so_number', name: 'so_number'},
          {data: 'year', name: 'year'},
          {data: 'month_name', name: 'month'},
          {data: 'distribution_date', name: 'distribution_date', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'sales_unit_name', name: 'sales_unit_name'},
          {data: 'retail_code', name: 'retail_code'},
          {data: 'retail_name', name: 'retail_name'},
          {data: 'product_name', name: 'product_name'},
          {data: 'qty', name: 'qty'},
          {data: 'status_name', name: 'status_name'}
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 3
      })
      app.dt.on( 'xhr', function () {
          app.downloadFilter = app.dt.ajax.params();
      });
    },
    redirectFalse(){
      toastr.warning('Hanya bisa menampilkan detail PKP tipe penyaluran Order dan IntialstokF5');
    }
  }
}
</script>

<style media="screen">
  .DownloadItemPenyaluran {
    display: none !important;
  }
</style>
