<template>
  <tr class="filter">
    <!-- fixed -->
    <th class="itmPenyaluran-number-pkp-filter">
      <input type="text" class="form-control form-control-md itmPenyaluran_number_pkp_filterVal" >
    </th>
    <th class="itmPenyaluran-produsen-name">
      <input type="text" class="form-control form-control-md itmPenyaluran_produsen_nameVal" >
    </th>
    <th class="itmPenyaluran-customer-name">
      <input type="text" class="form-control form-control-md itmPenyaluran_customer_nameVal" >
    </th>
    <!-- end fixed -->
    <th>
      <input type="text" class="form-control form-control-md" v-model="itemPenyaluranFilter.customer_id" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="itemPenyaluranFilter.distrib_type" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="itemPenyaluranFilter.order_number" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="itemPenyaluranFilter.so_number" v-on:keyup="search()">
    </th>
    <th>
      <year :reset="reset" @get-year="searchYear" :type="type"></year>
    </th>
    <th>
      <month :reset="reset" :checkedMonth="itemPenyaluranFilter.month" @get-month="searchMonth"></month>
    </th>
    <th>
      <distribution-date :reset="reset" @get-date="getDateDistribution" :type="'distribution'"></distribution-date>
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="itemPenyaluranFilter.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="itemPenyaluranFilter.sales_unit_name" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="itemPenyaluranFilter.retail_code" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="itemPenyaluranFilter.retail_name" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="itemPenyaluranFilter.product_name" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="itemPenyaluranFilter.qty" v-on:keyup="search()">
    </th>
    <th>
      <checklist :reset="reset" :checkedStatus="itemPenyaluranFilter.status_name" @get-check="searchStatus" :label="'Cari Status'" :list="statusPenyaluran"></checklist>
    </th>
  </tr>
</template>

<script>
import Date from '../../filter/Date';
import Year from '../../filter/Year';
import Month from '../../filter/Month';
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      type: 'validYear',
      statusPenyaluran : [
        {name: 'Approve / Active', value: 'y'},
        {name: 'Submited', value: 's'},
        {name: 'Draft', value: 'd'}
      ],
      itemPenyaluranFilter : {
        number_pkp : null,
        produsen_name : null,
        customer_name : null,
        customer_id : null,
        distrib_type : null,
        order_number : null,
        so_number : null,
        year : null,
        month : null,
        distribution_date : null,
        sales_office_name : null,
        sales_office_id : null,
        sales_group_name : null,
        sales_group_id : null,
        sales_unit_name : null,
        retail_code : null,
        retail_name : null,
        product_name : null,
        qty : null,
        status_name : null
      }
    }
  },
  components: {
    DistributionDate: Date,
    Checklist,
    Provinsi,
    Kabupaten,
    Year, Month
  },
  created() {

  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.itemPenyaluranFilter = getLocalSearch;
            $(".itmPenyaluran_number_pkp_filterVal").val(app.itemPenyaluranFilter.number_pkp);
            $(".itmPenyaluran_produsen_nameVal").val(app.itemPenyaluranFilter.produsen_name);
            $(".itmPenyaluran_customer_nameVal").val(app.itemPenyaluranFilter.customer_name);
            app.$emit("search-table", app.itemPenyaluranFilter);
        }
    },1000)
    $(document).on("keyup", ".itmPenyaluran_number_pkp_filterVal", function(){
      app.itemPenyaluranFilter.number_pkp = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".itmPenyaluran_produsen_nameVal", function(){
      app.itemPenyaluranFilter.produsen_name = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".itmPenyaluran_customer_nameVal", function(){
      app.itemPenyaluranFilter.customer_name = $(this).val();
      app.search();
    })
  },
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.itemPenyaluranFilter.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.itemPenyaluranFilter.sales_group_id = sales_group;
      this.search();
    },
    searchStatus(obj) {
      var status = obj.join(';');
      this.itemPenyaluranFilter.status_name = status;
      this.search();
    },

    getDateDistribution(date = '') {
      if (date != '') {
        this.itemPenyaluranFilter.distribution_date = {
          certain: (date.name === 'distribution' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'distribution' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'distribution' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.itemPenyaluranFilter.distribution_date = ''
      }
      this.search();
    },

    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.itemPenyaluranFilter.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.itemPenyaluranFilter.year = ''
        }
        this.search()
      }
    },

    searchMonth(obj) {
      var month = obj.join(';')
      this.itemPenyaluranFilter.month = month
      this.search()
    },

    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.itemPenyaluranFilter));
      this.$emit("search-table", this.itemPenyaluranFilter);
    },

    resetFilter(){
      this.clearFilter(this.$route.name, this.itemPenyaluranFilter);
      
      $( ".itmPenyaluran-number-pkp-filter" ).html( '<input type="text" class="form-control form-control-md itmPenyaluran_number_pkp_filterVal" />' );
      $( ".itmPenyaluran-produsen-name" ).html( '<input type="text" class="form-control form-control-md itmPenyaluran_produsen_nameVal" />' );
      $( ".itmPenyaluran-customer-name" ).html( '<input type="text" class="form-control form-control-md itmPenyaluran_customer_nameVal" />' );
      $(".itmPenyaluran_number_pkp_filterVal").val(this.itemPenyaluranFilter.number_pkp);
      $(".itmPenyaluran_produsen_nameVal").val(this.itemPenyaluranFilter.produsen_name);
      $(".itmPenyaluran_customer_nameVal").val(this.itemPenyaluranFilter.customer_name);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
