<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr >
      <td></td>
      <td class="pinned head"> {{ prod.name }} </td>
      <td :class="(prod.status_qty[0] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[0])}} </td>
      <td :class="(prod.status_qty[1] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[1])}} </td>
      <td :class="(prod.status_qty[2] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[2])}} </td>
      <td :class="(prod.status_qty[3] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[3])}} </td>
      <td :class="(prod.status_qty[4] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[4])}} </td>
      <td :class="(prod.status_qty[5] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[5])}} </td>
      <td :class="(prod.status_qty[6] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[6])}} </td>
      <td :class="(prod.status_qty[7] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[7])}} </td>
      <td :class="(prod.status_qty[8] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[8])}} </td>
      <td :class="(prod.status_qty[9] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[9])}} </td>
      <td :class="(prod.status_qty[10] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[10])}} </td>
      <td :class="(prod.status_qty[11] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[11])}} </td>
      <td> {{ numberFormat(prod.total) }} </td>
    </tr>
  </transition>
</template>

<script>
export default {
  props: ['prod'],
  data: function() {
    return {

    }
  },
  methods: {
    numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
  }

}
</script>

<style lang="css" scoped>
  td.head {
    padding-left: 4rem !important;
  }
  .inactive {
    font-weight: bold;
    color: red;
  }
</style>
