<template lang="html">
  <div class="modal fade" id="openformModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form id="formmodal"  >
          <div class="modal-header">
            <h4 v-if="getid != null" class="modal-title" id="">{{ $ml.get("global.form.labelEdit") }}  </h4>
            <h4 v-else class="modal-title" id="">{{ $ml.get("global.form.labelAdd") }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <form-loader :view="loaderAnimate"></form-loader>
            <div class="row" v-if="pageloder">
              <div class="col-md-12">

                <div class="form-body">
                  <div class="">
                    <h4 class="form-section"><i class="ft-user"></i> Matrix Rdkk</h4>
                    <div class="row">
                      <div class="col-md-12">
                          <div class="form-group row">
                              <label class="text-right text-right col-md-4 label-control" >Produsen </label>
                              <div class="col-md-8">
                                <multiselect
                                  @input=""
                                  v-model="matrixrdkk.sales_org_id"
                                  :options="m_produsen"
                                  track-by="id" :custom-label="ProdnameWithId"
                                  :searchable="true" :close-on-select="true"
                                  :show-labels="false" placeholder="Pilih .."
                                  :disabled="isDisabled"
                                >
                                </multiselect>
                                <p class="text-danger" v-if="error && errors.sales_org_id">{{errors.sales_org_id[0]}}</p>
                              </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Provinsi</label>
                            <div class="col-md-8">
                              <multiselect
                                @input="getKabupaten"
                                v-model="matrixrdkk.sales_office_id"
                                :options="m_provinces"
                                track-by="id" :custom-label="ProvnameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" placeholder="Pilih .."
                                :disabled="isDisabled"
                              >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.sales_office_id">{{errors.sales_office_id[0]}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Kabupaten</label>
                            <div class="col-md-8">
                              <multiselect
                                v-model="matrixrdkk.sales_group_id"
                                :options="m_kabupaten"
                                track-by="id" :custom-label="KabnameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" :placeholder="(loadingElement.kabupaten === false) ? 'Pilih ..' : 'Memuat ..'"
                                :disabled="isDisabled"
                              >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.sales_group_id">{{errors.sales_group_id[0]}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Produk</label>
                            <div class="col-md-8">
                              <multiselect
                                @input=""
                                :multiple="setMultiple"
                                v-model="matrixrdkk.product_id"
                                :options="m_produk"
                                track-by="id" :custom-label="ProduknameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" :placeholder="(loadingElement.product === false) ? 'Pilih ..' : 'Memuat ..'"
                                :disabled="isDisabled"
                              >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.products">{{errors.products[0]}}</p>
                            </div>
                          </div>
                        </div>
                        <!-- form  -->
                  </div>
                 </div>
                </div>
                </div>
               </div>
              </div>
              <div class="modal-footer" v-if="pageloder">
                <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal" >
                  <i class="ft-x"></i> Cancel
                </button>
                <div>
                  <button type="button" class="btn btn-primary" @click="toSubmit"  >
                    <i class="fa fa-check-square-o"></i> Submit
                  </button>
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import FormLoader from '../../../main/FormLoader';

export default {
  props: ['getid', 'getdata', 'access'],
  data: function() {
    return {
      error: false,
      errors: {},
      setMultiple: true,
      isDisabled: false,
      loaderAnimate: false,
      pageloder:true,
      loadingElement: {
        kabupaten: false,
        kecamatan: false,
        product: false,
      },
      m_produsen: [],
      m_provinces: [],
      m_kabupaten: [],
      m_produk: [],
      m_sales_group: [],
      idnya: this.getid,
      sendDt : {},
      matrixrdkk : {
        sales_org_id: null,
        sales_office_id: null,
        sales_group_id: null,
        product_id: null
      }
    }
  },
  components: {
    Multiselect,
    FormLoader
  },
  watch: {
    getid: function(){
      this.error = false;
      this.errors = {};
      this.idnya = this.getid;
      if (this.idnya !== null) {
        this.setMultiple = false;
        this.getDatabyuuid(this.idnya);
      } else {
        this.setDefault();
      }
    }
  },
  mounted(){
    var app = this;
    app.setDefault();
    app.getProdusen();
    app.getProvinsi();
    app.getSalesgroup();
    app.getProduk();
    $('#openformModal').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  methods:{
    ProdnameWithId ({ id, name }){ return `${id} — ${name}` },
    ProvnameWithId ({ id, name }){ return `${id} — ${name}` },
    KabnameWithId ({ id, name }){ return `${id} — ${name}` },
    ProduknameWithId ({ id, name }){ return `${id} — ${name}` },
    SalesgrpnameWithId ({ id, name }){ return `${id} — ${name}` },
    getProdusen(id_distributor){
      this.axios.get('company/produsen')
      .then((resp) => {
        this.m_produsen = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {  })
    },
    getProvinsi(){
      this.axios.get('region/provinsi')
      .then((resp) => {
        this.m_provinces = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
    },
    getKabupaten(provinsi){
      this.m_kabupaten = [];
      this.m_kecamatan = [];
      // this.m_sales_group = [];
      this.loadingElement.kabupaten = true
      // this.matrixrdkk.sales_office_id = provinsi.id;
      this.axios.get('region/kabupaten', {
        params: {
          provinsi: provinsi.id
        }
      })
      .then((resp) => {
        this.m_kabupaten = resp.data.data;
        // this.m_sales_group = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false})
    },
    getProduk(kabupaten_id){
      this.loadingElement.product = true;
      this.axios.get('product')
      .then((resp) => {
        this.m_produk = resp.data.data;
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        // console.log(resp);
      })
      .then((resp) => {
        this.loadingElement.product = false;
      })
    },
    getSalesgroup(id){
      this.axios.get('region/kabupaten')
      .then((resp) => {
        this.m_sales_group = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {  })
    },
    toDraft() {
      var app = this;
      app.loaderAnimate = true;
      app.pageloder = false;
      // app.matrixrdkk.status = 'n';
      if (app.getid === null) {
        app.insert();
      } else {
        app.update();
      }
    },
    toSubmit() {
      var app = this;
      app.loaderAnimate = true;
      app.pageloder = false;
      // app.matrixrdkk.status = 'y';
      if (app.getid === null) {
        app.insert();
      } else {
        app.update();
      }
    },
    insert(){
      event.preventDefault();
      this.setSelectOpt()

      this.axios.post('matrix-rdkk', this.sendDt)
      .then((resp) => {
        toastr.success("Entry data berhasil", "Sukses");
        $("#openformModal").modal("hide");
        this.closeModal();
      })
      .catch((resp) => {
        toastr.error("Entry data gagal");
        toastr.error("Gagal", resp.response.data.message);
        this.error = true;
        this.errors = resp.response.data.message;
      })
      .then((resp) => {
        this.loaderAnimate = false;
        this.pageloder = true;
      })
    },
    update() {
      event.preventDefault();
      this.setSelectOpt()
      delete this.sendDt.products;
      this.sendDt.product_id = this.matrixrdkk.product_id.id;
      this.axios.put("matrix-rdkk/"+this.getid, this.sendDt)
      .then((resp) => {
        toastr.success("Update data berhasil", "Sukses");
        $("#openformModal").modal("hide");
        this.closeModal();
      })
      .catch((resp) => {
        toastr.error("Update data gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
        if (resp.response.data.message) {
          toastr.error(resp.response.data.message, resp.response.data.status_txt);
        }
      })
      .then((resp) => {
        this.loaderAnimate = false;
        this.pageloder = true;
      })
    },
    closeModal(){
      this.setDefault();
      this.$emit("trigger-modal", 'RefreshTable');
    },
    getDatabyuuid(id){
      this.loaderAnimate = true;
      this.pageloder = false;
      this.axios.get('matrix-rdkk/'+id)
      .then((resp) => {
        this.matrixrdkk.sales_org_id = {id: resp.data.data.sales_org_id, name: resp.data.data.sales_org_name};
        this.matrixrdkk.sales_office_id = {id: resp.data.data.sales_office_id, name: resp.data.data.sales_office_name};
        this.getKabupaten(this.matrixrdkk.sales_office_id);
        this.matrixrdkk.sales_group_id = {id: resp.data.data.sales_group_id, name: resp.data.data.sales_group_name};
        // this.getProduk(this.matrixrdkk.sales_group_id);
        this.matrixrdkk.product_id = {id: resp.data.data.product_id, name: resp.data.data.product_name};

        // this.matrixrdkk.status = resp.data.data.status;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {
        this.loaderAnimate = false;
        this.pageloder = true;
      })
    },
    setDefault(){
      this.sendDt.sales_org_id = null
      this.sendDt.sales_office_id = null
      this.sendDt.sales_group_id = null
      this.sendDt.products = []
      this.matrixrdkk.sales_org_id = null
      this.matrixrdkk.sales_office_id = null
      this.matrixrdkk.sales_group_id = null
      this.matrixrdkk.product_id = null
      this.errors = {}
      this.isDisabled = false
      this.setMultiple = true
    },
    setSelectOpt(){
      this.sendDt.sales_group_id = (this.matrixrdkk.sales_group_id === null) ? null : this.matrixrdkk.sales_group_id.id;
      this.sendDt.sales_office_id = (this.matrixrdkk.sales_office_id === null) ? null : this.matrixrdkk.sales_office_id.id;
      this.sendDt.sales_org_id = (this.matrixrdkk.sales_org_id === null) ? null : this.matrixrdkk.sales_org_id.id;
      // this.sendDt.products = this.matrixrdkk.product_id.join(";").id;
      // console.log(this.sendDt.products.length);
      if(this.setMultiple){
        if(typeof this.sendDt.products !== 'undefined'){
          if(this.matrixrdkk.product_id !== null) {
            this.sendDt.products = this.matrixrdkk.product_id.map(prod => {
              return prod.id;
            })
          }
        }
        
      }
    },
  },


}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
</style>
