<template>
  <div>
    <div class="modal fade" id="uploadExcelModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload Data Matrix Rdkk</label>
              <input type="file" ref="file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" v-if="checktype == true" class="btn btn-outline-primary" :disabled="loading" @click="uploadSave()">
              <i v-if="loading" class="fa fa-spin fa-refresh"></i>
              Start Upload
            </button>
           </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
// import formUpload from './PergubForm';
export default {
  data: function(){
    return {
      showFormUpload: false,
      excelFile: '',
      file: '',
      loading: false,
      checktype: true,
      dataUpload: [],
      error: false,
      errors: {},
      modalType: null
    }
  },
  created() {
    axios.interceptors.request.use((config) => {
      this.loading = true;
      return config;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });

    axios.interceptors.response.use((response) => {
      this.loading = false;
      return response;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });
  },
  mounted(){
    var app = this;
    $("#uploadExcelModal").modal("show");
    $('#uploadExcelModal').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  components:{
    // formUpload
  },
  methods:{
    closeModal() {
      this.$emit("trigger-modal", 'RefreshTable');
    },
    uploadSave() {
      event.preventDefault();
      let app = this;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      // console.log(formData);
      axios.post("matrix-rdkk/import", formData, {headers : {'Content-Type' : 'multipart/form-data'}})
      .then((resp) => {
        toastr.success('Succes Uploaded', 'Import excel');
        $("#uploadExcelModal").modal("hide");
        this.error = false;
      })
      .catch((resp) => {
        let msg = resp.response.data.errors;
        let msgs = resp.response.data.data.errors;
        let line = resp.response.data.line;
        let errDt = resp.response.data.data;
        // console.log(errDt);
        // if(errDt){
        //   toastr.error(
        //     errDt.errors+errDt.line
        //   )
        // }
        if(msg){
          const sales_org_id = (msg.kode_produsen) ? '<li>'+msg.kode_produsen[0]+'</li>' : '';
          const sales_office_id = (msg.kode_provinsi) ? '<li>'+msg.kode_provinsi[0]+'</li>' : '';
          const sales_group_id = (msg.kode_kabupaten) ? '<li>'+msg.kode_kabupaten[0]+'</li>' : '';
          const product_id = (msg.kode_produk) ? '<li>'+msg.kode_produk[0]+'</li>' : '';

          toastr.error(
            '<ul>'+
              sales_org_id+
              sales_office_id+
              sales_group_id+
              product_id+
            '</ul>',
            'Error di Baris Ke '+line
          )
        }
        if(msgs){
          const sales_org_id = (msgs.kode_produsen) ? '<li>'+msgs.kode_produsen[0]+'</li>' : '';
          const sales_office_id = (msgs.kode_provinsi) ? '<li>'+msgs.kode_provinsi[0]+'</li>' : '';
          const sales_group_id = (msgs.kode_kabupaten) ? '<li>'+msgs.kode_kabupaten[0]+'</li>' : '';
          const product_id = (msgs.kode_produk) ? '<li>'+msgs.kode_produk[0]+'</li>' : '';

          toastr.error(
            '<ul>'+
              sales_org_id+
              sales_office_id+
              sales_group_id+
              product_id+
            '</ul>',
            'Error di Baris Ke '+errDt.line
          )
        }
      })
      .then((resp) => {  })
    },
    triggerModal() {
      this.showFormUpload = false;
      $("#uploadExcelModal").modal("hide");
    },
    handleFileUpload(){
      if (this.$refs.file.files[0] != '') {
        this.checkfile(this.$refs.file.files[0]);
        // console.log(this.$refs.file.files[0]);
        this.excelFile = this.$refs.file.files[0];
        this.file = this;
      }
    },
    checkfile(sender) {
        var validExts = new Array(".xlsx", ".xls");
        var fileExt = sender.name;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
          alert("Invalid file selected, valid files are of " +
                   validExts.toString() + " types.");
          this.checktype = false;
        }
        else this.checktype = true;
    }
  }
}
</script>

<style lang="css">
</style>
