<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button v-if="access.C === true" type="button" @click="showFormUpload = !showFormUpload" class="btn btn-primary square" name="button">
            <i class="fa fa-upload"></i> Upload
          </button>
          <button type="button" @click="downloadDt()" class="btn btn-primary square" name="button">
            <i class="fa fa-download"></i> Download
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table id="tableSpjbOp" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <spjb-op-filter @search-table="searchTable"></spjb-op-filter>
            <tr>
              <th>NO. SPJB</th>
              <th>Tahun</th>
              <th>Distributor</th>
              <th>Produsen</th>
              <th>Status</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <spjb-op-upload v-if="showFormUpload" @trigger-modal="triggerModal()"></spjb-op-upload>
    <modal-confirm v-if="confirm.show" :uuid="confirm.uuid" :text="confirm.text" @trigger-modal="triggerModal()" @is-delete="downloadPdf"></modal-confirm>
  </div>
</template>

<script>
import ModalConfirm from '../../../global/ModalConfirm';
import SpjbOpUpload from './SpjbOpUpload';
import SpjbOpFilter from './SpjbOpFilter';
export default {
  props: ['access'],
  data: function() {
    return {
      showFormUpload: false,
      dt: null,
      spjbOp: {},
      confirm: {
        show: false,
        uuid: null,
        text: null,
        no_doc: null
      }
    }
  },
  components: {
    SpjbOpUpload, SpjbOpFilter, ModalConfirm
  },
  mounted() {
    var app = this;
    app.getData();
    $(document).on("click", "#downloadSpjbOpr", function(e){
      e.preventDefault();
      let uuid = $(this).data("uuid");
      app.openModal(uuid);
      app.confirm.no_doc = $(this).data("no_doc")
    });

    $(document).on("click", "#toDetail", function(e){
      e.preventDefault();
      let id = $(this).data("id")
      let uuid = $(this).data("uuid")
      var access = app.$route.params.access;
      app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/spjb/operasional/detail/'+uuid+'/'+id});
    })

  },
  methods: {
    downloadDt() {
      $(".downloadSpjbOprExcel").trigger('click')
    },
    triggerModal() {
      this.showFormUpload = false;
      this.confirm.show = false;
      this.confirm.uuid = null;
      this.confirm.text = null;
    },
    openModal(uuid) {
      this.confirm.show = true;
      this.confirm.uuid = uuid;
      this.confirm.text = 'Download Excel';
    },
    downloadPdf(uuid){
      const {no_doc} = this.confirm;
      this.axios({
        url: 'spjbopr/download/'+uuid,
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'SPJB-'+no_doc+'.xlsx'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.confirm.no_doc = null;
      })
      // this.confirm.show = false;
      // this.confirm.uuid = null;
      // this.confirm.text = null;
    },
    getData() {
      var app = this;
      this.dt = $("#tableSpjbOp").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "order": [[ 1, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadSpjbOprExcel',
            text: "Download SOJB Operasional",
            title:"",
            filename:"SPJB Operasional",
            exportOptions: {
                columns: 'th:not(:first-child)'
            }
          }
        ],
        ajax : {
          'url': 'api/spjbopr',
          'type': 'GET',
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
          data: function(d){
            d.no_doc = app.spjbOp.number
            d.year = app.spjbOp.year
            d.customer_name = app.spjbOp.customer_name
            d.sales_org_name = app.spjbOp.sales_org_name
            d.status = app.spjbOp.status_name
          }
        },
        columns :[
          {
            data: 'no_doc',
            render: function(data, type, full) {
              var access = encodeURIComponent(app.$route.params.access);
              const link = `<a href="/#/${access}/alokasi/spjb/operasional/detail/${full.uuid}/${full.id}">${data}</a>`
              return link;
            }
          },
          {data: 'year', name: 'year'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'status_name', name: 'status_name'},
          {
            data: 'uuid',
            render: function(data, type, full) {
              const link = '<a href="#" id="downloadSpjbOpr" data-no_doc="'+full.no_doc+'" data-uuid="'+data+'">Download</a>'
              return link;
            }
          },
        ]
      })
    },
    searchTable(obj) {
      this.spjbOp = obj;
      this.dt.draw();
    }
  }
}
</script>

<style media="screen">
  .downloadSpjbOprExcel {
    display: none !important;
  }
</style>
