<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" @click="download()" class="btn btn-primary square"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table style="margin-top:10px;" id="tableItem" class="table table-xs table-bordered table-striped nowrap">
          <thead>
            <item-initial-f6-filter :reset="resetStatus" @search-table="searchTable"></item-initial-f6-filter>
            <tr>
              <th>Produsen</th>
              <th>NO</th>
              <th>Nama Distributor</th>
              <th>Bulan</th>
              <th>Tahun</th>
              <th>Status</th>
              <th>No. Laporan F5</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <modal-confirm v-if="deleteList.confirm" :uuid="deleteList.uuid" :text="'Apa anda yakin ?'" @is-delete="isDelete" @trigger-modal="triggerModal"></modal-confirm>
  </div>
</template>

<script>
import ItemInitialF6Filter from './ItemInitialF6Filter';
import ModalConfirm from '../../../global/ModalConfirm';
export default {
  props: [],
  data: function() {
    return {
      dt : null,
      resetStatus: false,
      searchItem: {},
      deleteList: {
        confirm: false,
        uuid: null
      },
      access: {},
    }
  },
  components: {
    ItemInitialF6Filter, ModalConfirm
  },
  created() {

  },
  mounted() {
    let app = this;
    this.getItem()
    $("div.dataTables_length").append(' <button id="resetFilterStokf6Detail" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    $(document).on("click", "#resetFilterStokf6Detail", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterStokf6Detail').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterStokf6Detail').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#downloadBast", function(e){
      e.preventDefault()
      let uuid = $(this).data('uuid')
      toastr.warning("masih belom", uuid)
    })
    $(document).on("click", "#redirectDetail", function(e){
      e.preventDefault();
      let uuid = $(this).data("uuid");
      let access = encodeURIComponent(app.$route.params.access);
      this.access = access;
      app.$router.push({path: '/'+access+'/laporan/initial-stok-f6/detail/'+uuid});
    })

    $(document).on("click", "#batal", function(e){
      e.preventDefault();
      let uuid = $(this).data('uuid');
      app.confirm = true;
      app.deleteList.uuid = uuid;
      app.deleteList.confirm = true;
    })

  },
  methods: {
    getItem() {
      var app = this
      app.dt = $("#tableItem").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollY : "50vh",
        "scrollCollapse":true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 DownloadDetailPenyaluranDo',
            text: "Download",
            title:"",
            filename:"item-inital-stok-f6",
            exportOptions: {
                columns: 'th:not(:first-child)'
            }
          }
        ],
        ajax: {
          'url': '/api/penyaluraninitialstockf6/id/'+app.$route.params.uuid,
          'type': 'GET',
          'data': function(d) {
            d.sales_org_name = app.searchItem.sales_org_name,
            d.number = app.searchItem.number,
            d.customer_name = app.searchItem.customer_name,
            d.month = app.searchItem.month,
            d.year = app.searchItem.year,
            d.status = app.searchItem.status_name
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'number', name: 'number', render: function(data, type, full){
            let button = '<a href="#" id="redirectDetail" data-uuid="'+full.uuid+'">'+data+'</a>';
            return button;
          }},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'month_name', name: 'month'},
          {data: 'year', name: 'year'},
          {data: 'status_name', name: 'status_name'},
          {data: 'report_f5_number', name: 'report_f5_number'},
          {data: 'id', name: 'id', render: function(data, type, full){
            if(full.status === 'd') {
              return '<button id="batal" data-uuid="'+data+'" class="btn btn-secondary square btn-sm">Batal</button>';
            } else {
              return '-';
            }

          }},
        ]
      })
    },
    yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.searchItem.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.searchItem.year = obj.year.certain;
      } else {
        this.searchItem.year = '';
      }
    },
    isDelete(uuid) {
      var app = this;
      app.axios.delete('penyaluraninitialstockf6/'+uuid)
      .then((resp) => {
        toastr.success(resp.data.message);
        app.dt.draw();
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
        toastr.error(resp.response.data.error)
      })
    },
    triggerModal() {
      this.deleteList.confirm = false;
      this.deleteList.uuid = null;
    },
    searchTable(obj) {
      this.searchItem = obj;
      this.yearFrom(obj)
      this.dt.draw();
    },
    download() {
      $(".DownloadDetailPenyaluranDo").trigger('click')
    }
  }
}
</script>

<style media="screen">
  .DownloadDetailPenyaluranDo {
    display: none !important;
  }
</style>
