<template lang="html">
  <tr class="filter">
    <th class="matrix-sales-org-id">
      <input type="text"
      v-on:keyup="search()"
      v-model="matrixrdkk.sales_org_id"
      class="form-control form-control-md matrix_sales_org_idVal">
    </th>
    <th class="matrix-sales-org-name">
      <input type="text"
      v-on:keyup="search()"
      v-model="matrixrdkk.sales_org_name"
      class="form-control form-control-md matrix_sales_org_nameVal">
    </th>
    <th>
      <input type="text"
      v-on:keyup="search()"
      v-model="matrixrdkk.sales_office_id"
      class="form-control form-control-md">
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <input type="text"
      v-model="matrixrdkk.sales_group_id"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <kabupaten :sales_office="matrixrdkk.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input type="text"
      v-model="matrixrdkk.product_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th></th>
  </tr>
</template>
<script>
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      btnStatus: 'Filter Status',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'}
      ],
      matrixrdkk: {
        product_name : '',
        sales_group_id : '',
        sales_group_name : '',
        sales_office_id : '',
        sales_office_name : '',
        sales_org_id : '',
        sales_org_name : '',
      }
    }
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.matrixrdkk = getLocalSearch;
            $(".matrix_sales_org_idVal").val(app.matrixrdkk.sales_org_id);
            $(".matrix_sales_org_nameVal").val(app.matrixrdkk.sales_org_name);
            app.$emit("search-table", app.matrixrdkk);
        }
    },1000)
    $(document).on("keyup", ".matrix_sales_org_idVal", function(){
      app.matrixrdkk.sales_org_id = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".matrix_sales_org_nameVal", function(){
      app.matrixrdkk.sales_org_name = $(this).val();
      app.search();
    })
  },
  components: {
    FilterStatus: Checklist,
    Provinsi, Kabupaten,
  },
  methods: {
    searchTable(obj) {
      var status = obj.join(';');
      this.matrixrdkk.status = status;
      // console.log(this.matrixrdkk.status);
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.matrixrdkk));
      this.$emit("search-table", this.matrixrdkk);
    },
    searchProv(dataProv) {
            var arr = dataProv.map(data => {
                return data.id;
            })
            var sales_office = arr.join(";");
            this.matrixrdkk.sales_office_id = sales_office;
            // this.$refs.filterKabComponent.getKabupaten(sales_office);
            this.search();
        },
        searchKab(dataKab) {
            var arr = dataKab.map(data => {
                return data.id;
            })
            var sales_group = arr.join(";");
            this.matrixrdkk.sales_group_id = sales_group;
            // this.$refs.filterKabComponent.getKabupaten(sales_group);
            this.search();
        },
        resetFilter(){
            this.clearFilter(this.$route.name, this.matrixrdkk);
            $( ".matrix-sales-org-id" ).html( '<input type="text"  class="form-control form-control-md matrix_sales_org_idVal" />' );
            $( ".matrix-sales-org-name" ).html( '<input type="text"  class="form-control form-control-md matrix_sales_org_nameVal" />' );
            $(".matrix_sales_org_idVal").val(this.matrixrdkk.sales_org_id);
            $(".matrix_sales_org_nameVal").val(this.matrixrdkk.sales_org_name);
            this.search();
      }
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
