<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr class="filter">
      <td class="head side-left" >
        <span data-toggle="tooltip" data-placement="top" title="" :data-original-title="pengecer.retail_code+' - '+pengecer.name">{{ pengecer.name }}</span>
      </td>
      <template v-for="(totalPengecer, i) in pengecer.data.awal">
        <template v-for="(prod, i) in product">
          <td v-if="totalPengecer.id === prod.id" class="">{{ parseFloat(totalPengecer.qty).toFixed(3) }}</td>
        </template>
      </template>
      <template v-for="(totalPengecer, i) in pengecer.data.penebusan">
        <template v-for="(prod, i) in product">
          <td v-if="totalPengecer.id === prod.id" class="">{{ parseFloat(totalPengecer.qty).toFixed(3) }}</td>
        </template>
      </template>
      <template v-for="(totalPengecer, i) in pengecer.data.penyaluran">
        <template v-for="(prod, i) in product">
          <!-- <template v-if="isDisabled"> -->
            <!-- <td> {{ totalPengecer.qty }} </td> -->
          <!-- </template> -->
          <!-- <template v-else> -->
            <td v-if="totalPengecer.id === prod.id" class="blue">
              {{ (isDisabled) ?  parseFloat(totalPengecer.qty).toFixed(3) : '' }}
              <input v-if="!isDisabled" type="text" v-restrict.number.decimal
              decimals="3"
              class="form-control form-control-sm validate-decimals"
              v-model="totalPengecer.qty"
              v-on:keyup="onChange(totalPengecer.id, totalPengecer.sales_unit_id, totalPengecer.retail_id)"
              v-on:change="validateNumber(i, totalPengecer.qty, totalPengecer.sales_unit_id, totalPengecer.retail_id)"
              >
            </td>
          <!-- </template> -->
        </template>
      </template>
      <template v-for="(totalPengecer, i) in pengecer.data.akhir">
        <template v-for="(prod, i) in product">
          <td v-if="totalPengecer.id === prod.id" :style="(totalPengecer.qty < 0) && 'color:red'">{{ parseFloat(totalPengecer.qty).toFixed(3) }}</td>
        </template>
      </template>
    </tr>
  </transition>
</template>

<script>
import Vue from 'vue';
export default {
  props: ['pengecer', 'status', 'product', 'access'],
  data: function() {
    return {
      isDisabled: (this.status != 'd' || (!this.access.C && !this.access.U)) ? true: false
    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    $('[data-toggle="tooltip"]').tooltip();
    var myInputs = document.querySelectorAll('.validate-decimals');
    myInputs.forEach(function(elem) {
      elem.addEventListener("keyup", function() {
        var dec = elem.getAttribute('decimals');
        var regex = new RegExp("(\\.\\d{" + dec + "})\\d+", "g");
        elem.value = elem.value.replace(regex, '$1');
      });
    });
  },
  methods: {
    setCollapse(id) {
      this.$emit('toggle-collapse-pengecer', id);
    },
    onChange(product_id, sales_unit_id, retail_id) {
      // console.log(product_id, sales_unit_id, retail_id);
      let val = event.target.value;
      this.$emit('when-change', val, sales_unit_id, retail_id, product_id);
    },
    validateNumber(i, id, sales_unit_id, retail_id) {
      let val = this.pengecer.data.penyaluran[i].qty;
      let arrNumber = val.split('.');
      if(arrNumber.length > 2 || val === '') {
        this.pengecer.data.penyaluran[i].qty = 0;
        this.$emit('when-change', this.pengecer.data.penyaluran[i].qty, sales_unit_id, retail_id, id);
      }
    },
    numberFormat(value) {
      value = parseFloat(value).toFixed(3).toString();
      return this.numberEngine(value)
    },
    numberEngine(angka, prefix){
			var number_string = angka.replace(/[^,\d]/g, ','),
			split   		= number_string.split(','),
			sisa     		= split[0].length % 3,
			numb     	  = split[0].substr(0, sisa),
			ribuan     	= split[0].substr(sisa).match(/\d{3}/gi);
 
			// tambahkan titik jika yang di input sudah menjadi angka ribuan
			if(ribuan){
				var separator = sisa ? '.' : '';
				numb += separator + ribuan.join('.');
			}
 
			numb = split[1] != undefined ? numb + ',' + split[1] : numb;
			return prefix == undefined ? numb : (numb ? 'Rp. ' + numb : '');
		}
  }

}

Vue.directive('restrict', {
  bind (el, binding) {
    el.addEventListener('keydown', (e) => {
      // delete, backpsace, tab, escape, enter,
      let special = [46, 8, 9, 27, 13]
      if (binding.modifiers['decimal']) {
        // decimal(numpad), period
        special.push(110, 190)
      }
      // special from above
      if (special.indexOf(e.keyCode) !== -1 ||
        // Ctrl+A
        (e.keyCode === 65 && e.ctrlKey === true) ||
        // Ctrl+C
        (e.keyCode === 67 && e.ctrlKey === true) ||
        // Ctrl+X
        (e.keyCode === 88 && e.ctrlKey === true) ||
        // home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        return // allow
      }
      if ((binding.modifiers['alpha']) &&
        // a-z/A-Z
        (e.keyCode >= 65 && e.keyCode <= 90)) {
        return // allow
      }
      if ((binding.modifiers['number']) &&
        // number keys without shift
        ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
        // numpad number keys
        (e.keyCode >= 96 && e.keyCode <= 105))) {
        return // allow
      }
      // otherwise stop the keystroke
      e.preventDefault() // prevent
    }) // end addEventListener
  } // end bind
}) // end directive
</script>

<style lang="css" scoped>
.blue {
  background-color: #d9edf7;
  color: #777 !important;
}
.fix1.empty {
  color: #eee;
}
</style>
