<template lang="html">
  <transition name="custum-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">{{ distributor.full_name }}</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                {{ $ml.get("distributorMasterPage.breadcrumbFirst") }}
              </li>
              <li class="breadcrumb-item">
                {{ $ml.get("distributorMasterPage.breadcrumbSec") }}
              </li>
              <li class="breadcrumb-item active">{{ distributor.full_name }}</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header"  id="theHeader">
                <div class="row" >
                  <div class="col-sm-12">
                      <h2 class="pi-distributor-name">{{ distributor.full_name }}</h2>
                      <p> Kode Distributor : <span class="pi-distributor-code">{{ distributor.id }}</span> </p>
                      <ul class="nav nav-pills nav-pill-toolbar">
                        <li class="nav-item">
                          <router-link :to="{name:'detail_distributor'}" class="nav-link">Profile</router-link>
                        </li>
                        <li class="nav-item">
                          <router-link :to="{name:'detail_distributor_sales_area'}" class="nav-link">Sales Area</router-link>
                        </li>
                        <li class="nav-item">
                          <router-link :to="{ name: 'detail_distributor_bank_df' }" class="nav-link">Bank DF</router-link>
                        </li>
                        <li class="nav-item">
                          <router-link :to="{ name: 'detail_distributor_warehouse' }" class="nav-link">Gudang</router-link>
                        </li>
                        <li class="nav-item">
                          <router-link :to="{name:'detail_distributor_retail'}" class="nav-link">Pengecer</router-link>
                        </li>
                        <!-- <li class="nav-item">
                          <router-link :to="{name:'detail_farmergroup_component'}" class="nav-link">Kelompok Tani</router-link>
                        </li>
                        <li class="nav-item">
                          <router-link :to="{name:'detail_farmer_component'}" class="nav-link">Petani</router-link>
                        </li> -->
                      </ul>
                      <hr>
                  </div>
                </div>
              </div>
              <div class="card-content collapse show">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="tab-content pt-1">
                        <router-view :cust_id="customer_id"></router-view>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>

export default {
  // props: ['access'],
  data: function(){
    return {
      paramId: this.$route.params.id,
      access: {},
      customer_id: null,
      // paramAccess: encodeURIComponent(this.$route.params.access),
      distributor: {}
    }
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    this.getDistributor();
    var header = document.getElementById("theHeader");
    var sticky = header.offsetTop;
    var app = this;
    window.onscroll = function() {app.scrollTop(header, sticky)};
  },

  methods: {
    
    getDistributor(){
      this.axios.get('distributor/id/'+this.paramId)
      .then((resp) => {
        this.distributor = resp.data.data;
        this.customer_id = resp.data.data.id;
      })
      .catch((resp) => {
        toastr.error('Failed load detail distributor', 'Error');
        app.$router.go(-1);
      });
    },
    scrollTop(header, sticky) {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
  }
}
</script>

<style lang="css">
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      color: #1980F0;
      background-color: #fff;
  }

  .card .card-title {
    font-size: 13px;
  }

  .card-header {
    padding: 8px 8px !important;
  }

  /* .sticky {
    position: fixed;
    top: 3.5rem;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    padding: 1rem 2rem !important;
    z-index: 2000;
    transition: all 0.6s ease-out;
  } */
</style>
