<template>
    <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">DISTRIBUTOR</h3>
          </div>
          <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Master Data
                </li>
                <li class="breadcrumb-item active">Distributor
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="content-body">
          <section class="row">
            <div class="col-sm-12">
              <div id="kick-start" class="card">
                <div class="card-content collapse show">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12">
                          <div class="pull-right">
                            <button @click="download" :disabled="loadBtnDownload" class="btn btn-primary square">
                              <i class="fa fa-download"></i> Download</button> 
                          </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="table-responsive">
                          <table id="distributorTable" class="table table-xs table-bordered table-striped display nowrap">
                            <thead>
                              <distributor-filter :reset="resetStatus" ref="filterComponent" @search-table="searchTable"> </distributor-filter>
                              <tr>
                                <th>{{ $ml.get("distributorMasterPage.table.one") }}</th>
                                <th>{{ $ml.get("distributorMasterPage.table.two") }}</th>
                                <th>{{ $ml.get("distributorMasterPage.table.three") }}</th>
                                <th>{{ $ml.get("distributorMasterPage.table.four") }}</th>
                                <th>{{ $ml.get("distributorMasterPage.table.five") }}</th>
                                <th>{{ $ml.get("distributorMasterPage.table.six") }}</th>
                                <th>{{ $ml.get("distributorMasterPage.table.seven") }}</th>
                                <th>{{ $ml.get("distributorMasterPage.table.eight") }}</th>
                                <th>{{ $ml.get("distributorMasterPage.table.nine") }}</th>
                                <th>{{ $ml.get("distributorMasterPage.table.ten") }}</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
       </div>
    </transition>
</template>

<script>
import DistributorFilter from './DistributorFilter';
import FormLoader from '../../main/FormLoader';

export default {
  data: function(){
    return {
      loadBtnDownload: false,
      componentKey: 0,
      dt: "",
      resetStatus: false,
      loading: false,
      access: {},
      linkDetail: '#',
      distributor: {
        id : '',
        full_name : '',
        owner : '',
        status : '',
        address : '',
        office_name : '',
        group_name : '',
        unit_name : '',
        tlp_no : '',
        fax_no : '',
        sales_office_id: '',
        sales_group_id: '',
      }
    }
  },
  components: {
    DistributorFilter,
    FormLoader
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    var app = this;
    $(document).ready(function() {
      app.forceRerender()
      app.setLinkDetail()
      app.dt = $('#distributorTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "300px",
        "order": [[ 0, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn btn-primary square mb-1 downloadDistributor',
            text: "Download Distributor ke Excel",
            title:"",
            filename:"Download Distributor ke Excel"
          }
        ],
        ajax:{
          'url': 'api/distributor',
          'type': 'GET',
          'data': function(d){
            d.id = app.distributor.id,
            d.full_name = app.distributor.full_name,
            d.owner = app.distributor.owner,
            d.status = app.distributor.status,
            d.address = app.distributor.address,
            d.sales_office_name = app.distributor.sales_office_name,
            d.sales_office_id = app.distributor.sales_office_id,
            d.sales_group_name = app.distributor.sales_group_name,
            d.sales_group_id = app.distributor.sales_group_id,
            d.sales_unit_name = app.distributor.sales_unit_name,
            d.tlp_no = app.distributor.tlp_no,
            d.fax_no = app.distributor.fax_no
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
        },
        columns: [
            {data: 'id', name: 'id'},
            {
              data: 'full_name',
              name: 'full_name',
              render : function(data, type, full){
                return '<a href="/#'+app.linkDetail+full.uuid+'" id="toDetail" data-id="'+full.uuid+'">'+data+'</a>';
              }
            },
            {data: 'owner', name: 'owner'},
            {data: 'status', name: 'status'},
            {data: 'address', name: 'address'},
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'sales_unit_name', name: 'sales_unit_name'},
            {data: 'tlp_no', name: 'tlp_no'},
            {data: 'fax_no', name: 'fax_no'}
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $("div.dataTables_length").append(' <button id="resetFilterDistributor" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    });

    $(document).on("click", "#resetFilterDistributor", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterDistributor').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterDistributor').prop('disabled', false);
      }, 1000)
    })

    $(document).on("click", "#toDetail", function(e){
      e.preventDefault()
      var id = $(this).data("id");
      var access = app.$route.params.access;
      app.$router.push({path: '/'+encodeURIComponent(access)+'/master-distributor/detail/'+id});
    })
  },
  methods: {
    searchTable(obj) {
      this.distributor = obj;
      this.dt.draw();
    },
    download() {
      // $(".downloadDistributor").trigger("click")
      this.loadBtnDownload = true;
      this.axios({
        url: 'distributor/download',
        params: {
            id : this.distributor.id,
            full_name : this.distributor.full_name,
            owner : this.distributor.owner,
            status : this.distributor.status,
            address : this.distributor.address,
            sales_office_name : this.distributor.sales_office_name,
            sales_office_id : this.distributor.sales_office_id,
            sales_group_name : this.distributor.sales_group_name,
            sales_group_id : this.distributor.sales_group_id,
            sales_unit_name : this.distributor.sales_unit_name,
            tlp_no : this.distributor.tlp_no,
            fax_no : this.distributor.fax_no
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Distributor.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    },
    forceRerender() {
      this.componentKey += 1;  
    },
    setLinkDetail(){
      var app = this;
      var access = app.$route.params.access;
      app.linkDetail = '/'+encodeURIComponent(access)+'/master-distributor/detail/';
    }
  }
}
</script>

<style lang="css">
  .downloadDistributor {
    display: none !important;
  }
  div.dt-buttons {
    float: right !important;
  }

</style>
