<template lang="html">
  <tr class="filter">
    <th class="distributor-id">
      <input type="text" class="form-control form-control-md distributor_idVal" />
    </th>
    <th class="distributor-full-name">
      <input type="text" class="form-control form-control-md distributor_full_nameVal" />
    </th>
    <th><input type="text"
      v-model="distributor.owner"
      v-on:keyup="search()"
      v-bind:placeholder="$ml.get('distributorMasterPage.table.three')"
      class="form-control form-control-md"></th>
    <th>
      <filter-status :reset="reset" :checkedStatus="distributor.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
    </th>
    <th><input type="text"
      v-model="distributor.address"
      v-on:keyup="search()"
      v-bind:placeholder="$ml.get('distributorMasterPage.table.five')"
      class="form-control form-control-md"></th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :reset="reset" :sales_office="distributor.sales_office_id" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th><input type="text"
      v-model="distributor.sales_unit_name"
      v-on:keyup="search()"
      v-bind:placeholder="$ml.get('distributorMasterPage.table.eight')"
      class="form-control form-control-md"></th>
    <th><input type="text"
      v-model="distributor.tlp_no"
      v-on:keyup="search()"
      v-bind:placeholder="$ml.get('distributorMasterPage.table.nine')"
      class="form-control form-control-md"></th>
    <th><input type="text"
      v-model="distributor.fax_no"
      v-on:keyup="search()"
      v-bind:placeholder="$ml.get('distributorMasterPage.table.ten')"
      class="form-control form-control-md"></th>
  </tr>
</template>

<script>
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      btnStatus: 'Cari Status',
      statusSearch: [
        {name: 'Actived', value: 'y'},
        {name: 'Inactived ', value: 'n'},
        // {name: 'Suspended', value: 'p'},
        // {name: 'Draft', value: 'd'},
        // {name: 'Submitted', value: 's'}
      ],
      distributor: {
        id: '',
        full_name: '',
        owner: '',
        status: '',
        address: '',
        sales_office_id: '',
        sales_group_id: '',
        sales_unit_name: '',
        tlp_no: '',
        fax_no: ''
      }
    }
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    
    $(document).ready(function() {
      const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.distributor = getLocalSearch;
              $(".distributor_idVal").val(app.distributor.id);
              $(".distributor_full_nameVal").val(app.distributor.full_name);
              app.$emit("search-table", app.distributor);
          }
      },1000)
    });
    $(document).on("keyup", ".distributor_idVal", function(){
      app.distributor.id = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".distributor_full_nameVal", function(){
      app.distributor.full_name = $(this).val();
      app.search();
    })
  },
  components: {
    FilterStatus: Checklist,
    Provinsi, Kabupaten
  },
  methods: {
    searchTable(obj) {
      var status = obj.join(';');
      this.distributor.status = status;
      this.search();
    },
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.distributor.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.distributor.sales_group_id = sales_group;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.distributor));
      this.$emit("search-table", this.distributor);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.distributor);
      
      $( ".distributor-id" ).html( '<input type="text" class="form-control form-control-md distributor_idVal" />' );
      $( ".distributor-full-name" ).html( '<input type="text" class="form-control form-control-md distributor_full_nameVal" />' );
      $(".distributor_idVal").val(this.distributor.id);
      $(".distributor_full_nameVal").val(this.distributor.full_name);
      this.search();
    }
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
