/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import url('https://fonts.googleapis.com/css?family=Roboto');

.margin-left {
  margin-left: 10px !important;
}

.btn-group .dropdown-filter {
  width: 400px;
  padding:10px;
}

.select2 {
  width:100%!important;
}

@media (max-width: 767px) {
  .btn-group .dropdown-filter {
    width: 0px;
    padding: 0px;
  }

  .btn-group .dropdown-filter.form {
    width: 0px;
    padding: 10px;
  }

  .dropdown-filter form input.form-control {
    height: 10px;
  }

  .dropdown-filter form button {
    height: 25px;
    font-size: 5px;
    margin-top: 8px;
    font-size: 10px;
    padding: 5px;
  }


  /* .dropdown-filter form select.form-control {
    height: 10px !important;
    width:100px !important;
  } */
}

.loading-bar {
  position:absolute;
  width:100%;
  height:350px;
  background-color:#fff;
  z-index:99;
  float:left;

}

.loading-glob {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.loading-glob > div {
  background-color: rgba(0, 165, 166, 1);
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loading-glob .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loading-glob .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loading-glob .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loading-glob .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@media (max-width: 991px) {

}

/* fixed table */

.fix1 {
  position: absolute;
  width: 23em;
  margin-left: -23em;
  background-color: #eee;
}

.fix2 {
  position: absolute;
  width: 18.5em;
  padding: 0.4rem 2rem;
  margin-left: -18.5em;
  background-color: #eee;
}


.table-wrapper {
  overflow-x: scroll;
  padding-left: 23em;
  /* width: 600px; */
  margin: 0 auto;
}


/* fixed table */

table.magic-table {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  overflow: hidden;
  /* Use this to create a "dead" area color if table is too wide for cells */
  background-color: #fff;
}

table.magic-table thead {
  /*
  Grow thead automatically to fit content, don't shrink it
  proportionately to the body.
  */
  flex: 1 0 auto;
  display: block;
  /* x-scrolling will be managed via JS */
  overflow-x: hidden;
  /*
  Keep header columns aligned with useless scrollbar.
  For IE11, use "dead area" color to hide scrollbar functions
  */
  /* overflow-y: scroll; */
  scrollbar-base-color: #ccc;
  scrollbar-face-color: #ccc;
  scrollbar-highlight-color: #ccc;
  scrollbar-track-color: #ccc;
  scrollbar-arrow-color: #ccc;
  scrollbar-shadow-color: #ccc;
  scrollbar-dark-shadow-color: #ccc;
}

/*
For Webkit, use "dead area" color to hide scrollbar functions
TODO: on Chrome/Safari for Mac, scrollbars are not shown anyway and
this creates an extra block. No impact on iOS Safari.
*/
table.magic-table thead::-webkit-scrollbar { display: block; background-color: #ccc; }
table.magic-table thead::-webkit-scrollbar-track { background-color: #ccc; }

table.magic-table tfoot {
  /*
  Grow thead automatically to fit content, don't shrink it
  proportionately to the body.
  */
  flex: 1 0 auto;
  display: block;
  /* x-scrolling will be managed via JS */
  overflow-x: hidden;
  /*
  Keep header columns aligned with useless scrollbar.
  For IE11, use "dead area" color to hide scrollbar functions
  */
  /* overflow-y: scroll; */
  scrollbar-base-color: #ccc;
  scrollbar-face-color: #ccc;
  scrollbar-highlight-color: #ccc;
  scrollbar-track-color: #ccc;
  scrollbar-arrow-color: #ccc;
  scrollbar-shadow-color: #ccc;
  scrollbar-dark-shadow-color: #ccc;
}

/*
For Webkit, use "dead area" color to hide scrollbar functions
TODO: on Chrome/Safari for Mac, scrollbars are not shown anyway and
this creates an extra block. No impact on iOS Safari.
*/
table.magic-table tfoot::-webkit-scrollbar { display: block; background-color: #ccc; }
table.magic-table tfoot::-webkit-scrollbar-track { background-color: #ccc; }

/* Scroll the actual tbody (second child on all browsers) */
table.magic-table tbody {
    display: block;
    overflow: scroll;
  }

/* IE11 adds an extra tbody, have to hide it */
table.magic-table tbody:nth-child(3) { display: none; }

/* The one caveat, a hard-set width is required. */
table.magic-table td, table.magic-table th {
    width: auto;
    min-width: 9em;
    padding: 0.3em;
    border: 1px solid #ddd;
    background-color: white;
  }

  table.magic-table td.side-left, table.magic-table th.side-left {
    min-width: 22em;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }

  table.magic-table th {
    background-color: #f7f7f7;
  }

  table.magic-table td:first-child,
  table.magic-table th:first-child {
    position: sticky;
    position: -webkit-sticky;
    left:0;
  }


  .btn-primary:active {
    border-color: #1980F0 !important;
    background-color: #0971e2 !important;
    color: #FFFFFF;
  }
  .btn-primary:focus {
    border-color: #1980F0 !important;
    background-color: #0971e2 !important;
    color: #FFFFFF;
  }

  body.vertical-layout.vertical-menu.menu-expanded .main-menu {
    overflow: scroll;
  }

  
