<template>
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
            <button v-if="access.C" @click="modalForm.show = !modalForm.show" type="button" class="btn btn-primary square"> <i class="fa fa-plus"></i> Tambah </button>
            <button type="button" @click="download" :disabled="loadBtnDownload" class="btn btn-primary square"><i class="fa fa-download"></i> Download </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="DataTablePeriodeTanam" class="table table-xs table-bordered table-striped display nowrap" style="width: 100%;">
                    <thead>
                        <periode-tanam-filter :reset="resetStatus" @search-table="searchTable"></periode-tanam-filter>
                        <tr>
                            <th>
                                <fieldset>
                                    <div class="custom-control custom-checkbox">
                                        <label class="custom-control custom-checkbox">
                                        <input type="checkbox"  class="checks check custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        </label>
                                    </div>
                                </fieldset>
                            </th>
                            <th>Kode</th>
                            <th>Deskripsi</th>
                            <th>Status</th>
                            <th>Form Date</th>
                            <th>Thru Date</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="row scroll-top" v-if="access.A === true">
       <div class="col-md-12">
           <div class="btn-group mr-1 mb-1 pull-right dropup">
           <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
               Aksi
               <span class="sr-only">Toggle Dropdown</span>
           </button>
           <div class="dropdown-menu">
               <a class="dropdown-item" @click="action('y')" href="#">Active</a>
               <a class="dropdown-item" @click="action('n')" href="#">Inactive</a>
           </div>
           </div>
       </div>
   </div>
   <form-periode v-if="modalForm.show" :uuid="modalForm.uuid" @trigger-modal="triggerModal"></form-periode>
</div>
</template>

<script>
import PeriodeTanamFilter from './PeriodeTanamFilter'
import Form from './modal/Form'
export default {
    props: ['access'],
    data: function() {
        return{
            resetStatus: false,
            loadBtnDownload: false,
            modalForm: {
                show: false,
                uuid: null
            },
            loading: {
                changeStatus: false
            },
            dt: null,
            checkeds:[],
            periodeTanam: {}
        }
    },
    components: {
      PeriodeTanamFilter, FormPeriode: Form
    },
    created() {

    },
    mounted() {
        const app = this;
        app.DataTablePeriodeTanam()
        $("div.dataTables_length").append(' <button id="resetFilterPeriode" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
        $(document).on("click", "#resetFilterPeriode", function(e){
            e.preventDefault()
            app.resetStatus = true;
            $('#resetFilterPeriode').prop('disabled', true);
            setTimeout(() => {
            app.resetStatus = false;
            $('#resetFilterPeriode').prop('disabled', false);
            }, 1000)
        })
        $(document).on('change','.checks',function(){
            app.checkAll()
        });
        $(document).on('change','#checkByOne',function(){
            app.checkByOne($(this))
        });
        $(document).on('click', '.edit', function(e){
            e.preventDefault()
            let uuid = $(this).data('uuid')
            app.modalForm.show = true
            app.modalForm.uuid = uuid
        })
    },
    methods: {
        download() {
            // $(".DownloadPeriodeTanam").trigger("click")
            this.loadBtnDownload = true;
            this.axios({
                url: 'plantingperiode/download',
                params: {
                    code : this.periodeTanam.code,
                    desc : this.periodeTanam.desc,
                    status : this.periodeTanam.status,
                    from_date : this.periodeTanam.from_date,
                    thru_date : this.periodeTanam.thru_date
                },
                method: 'POST',
                responseType: 'blob', // important
            }).then((response) => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'Download Periode Tanam.xls'); //or any other extension
                document.body.appendChild(link);
                link.click();
                this.loadBtnDownload = false;
            })
            .catch((resp) => {
                toastr.error("Gagal Download File", "Gagal") ;
                this.loadBtnDownload = false;      
            })
        },
        triggerModal() {
            this.modalForm.show = false,
            this.modalForm.uuid = null
            this.dt.draw()
        },
        action(type){
            event.preventDefault();
            if(this.checkeds.length!=0){
                this.checkeds = this.checkeds.map(data => {
                    return {id: data, status: type}
                })
                this.saveAction();
            }else{
                toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
            }
        },
        saveAction(){
            this.loading.changeStatus = true;
            this.axios.post('plantingperiode/bulk', this.checkeds)
            .then((resp) => {
                toastr.success("Status berhasil di ubah", "Sukses")
                this.dt.draw();
                this.loading.changeStatus = false;
                this.checkeds = [];
                $(".check").prop('checked', false);
            })
            .catch((resp) => {
                toastr.warning("Status gagal di ubah", "Gagal")
                this.loading.changeStatus = false;
            });
        },
        searchTable(obj) {
            this.periodeTanam = obj
            console.log(obj);
            this.DateForm(obj)
            this.DateThrue(obj)
            this.dt.draw()
        },
        DateForm(obj) {
            if(obj.from_date && obj.from_date.from && obj.from_date.to) {
                this.periodeTanam.from_date = obj.from_date.from+';'+obj.from_date.to;
            } else if (obj.from_date && obj.from_date.certain) {
                this.periodeTanam.from_date = obj.from_date.certain;
            } else {
                this.periodeTanam.from_date = '';
            }
        },
        DateThrue(obj) {
            if(obj.thru_date && obj.thru_date.from && obj.thru_date.to) {
                this.periodeTanam.thru_date = obj.thru_date.from+';'+obj.thru_date.to;
            } else if (obj.thru_date && obj.thru_date.certain) {
                this.periodeTanam.thru_date = obj.thru_date.certain;
            } else {
                this.periodeTanam.thru_date = '';
            }
        },
        checkAll() {
            var app = this;
            if($('.checks').is( ":checked" )===true){
                $('.checkselect').prop('checked',true);
                $('.checkselect:checkbox:checked').each(function(i){
                    app.checkeds.push($(this).val());
                });
            }else{
                $('.checkselect').prop('checked',false);
                app.checkeds=[];
            }
        },
        checkByOne(ini) {
            var app = this;
            $('.checks').prop('checked',false);
            var uuids=ini.val();
            if(ini.is( ":checked" )===true){
                app.checkeds.push(uuids);
            }else{
                app.removeA(app.checkeds, uuids);
            }
        },
        removeA(array, id) {
            var index = array.indexOf(id);
            console.log(index);
            array.splice(index, 1);
        },
        DataTablePeriodeTanam() {
            var app = this;
            app.dt = $("#DataTablePeriodeTanam").DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                "scrollX" : true,
                "scrollY" : "50vh",
                scrollCollapse: true,
                "order": [[ 0, 'desc' ]],
                "dom": 'Bltrip',
                lengthMenu: [
                    [ 20, 50, 100, -1 ],
                    [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
                ],
                "buttons": [
                    {
                        extend: 'excel',
                        className: 'btn-danger square mb-1 DownloadPeriodeTanam',
                        text: "Download Periode Tanam",
                        title:"",
                        filename:"periode-tanam",
                        exportOptions: {
                            columns: 'th:not(:first-child)'
                        }
                    },
                ],
                ajax: {
                    url: 'api/plantingperiode',
                    type: 'GET',
                    data: function(d) {
                        d.code = app.periodeTanam.code,
                        d.desc = app.periodeTanam.desc,
                        d.status = app.periodeTanam.status,
                        d.from_date = app.periodeTanam.from_date,
                        d.thru_date = app.periodeTanam.thru_date
                    },
                    'beforeSend': function (request) {
                        var token = localStorage.getItem("default_auth_token");
                        request.setRequestHeader("Authorization", "Bearer "+token);
                        request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
                    },

                },
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ],
                columns: [
                    {
                        data: 'uuid',
                        render:function(data,t,f) {
                            const check =    '<fieldset>'+
                                                '<label class="custom-control custom-checkbox">'+
                                                '<input type="checkbox" id="checkByOne" class="checkselect check custom-control-input" value="'+data+'"  >'+
                                                '<span class="custom-control-indicator" style="margin-left: 1.5rem;"></span>'+
                                                '</label>'+
                                            '</fieldset>';
                            return check;
                        }
                    },
                    { data: 'code', name: 'code', render:function(d,t,f){
                        var button = '';
                        if(app.access.U) {
                            if(f.status === 'Active') {
                                button = '<a href="" data-uuid="'+f.uuid+'" class="edit">'+d+'</a>';
                            } else {
                                button = d
                            }
                        } else {
                            button = d
                        }
                        return button
                    } },
                    { data: 'desc', name: 'desc' },
                    { data: 'status', name: 'status' },
                    {
                        data: 'from_date', name: 'from_date',
                        render : function(data, type, full){
                            return app.convertDate(data);
                        }
                    },
                    {
                        data: 'thru_date', name: 'thru_date',
                        render : function(data, type, full){
                            return app.convertDate(data);
                        }
                    }
                ]
            })
        }
    }
}
</script>

<style>
    .DownloadPeriodeTanam {
        display: none !important;
    }
    .scroll-top {
        position: fixed;
        right: 30px;
        bottom: 20px;
        z-index: 999;
        font-size: 22px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 30px;
    }
</style>
