<template>
  <tr class="filter">
    <th></th>
    <th class="relasi-customer-id">
      <input type="text" class="form-control form-control-md relasi_customer_idVal">
    </th>
    <th class="relasi-customer-name">
      <input type="text" class="form-control form-control-md relasi_customer_nameVal">
    </th>
    <th>
      <input v-model="relasi.customer_owner" v-on:keyup="search()" type="text" class="form-control form-control-md">
    </th>
    <th>
      <input v-model="relasi.sales_org_name" v-on:keyup="search()" type="text" class="form-control form-control-md">
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="relasi.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input v-model="relasi.sales_unit_name" v-on:keyup="search()" type="text" class="form-control form-control-md">
    </th>
    <th>
      <input v-model="relasi.address" v-on:keyup="search()" type="text" class="form-control form-control-md">
    </th>
    <th>
      <input  v-model="relasi.retail_id" v-on:keyup="search()" type="text" class="form-control form-control-md">
    </th>
    <th>
      <input v-model="relasi.retail_name" v-on:keyup="search()" type="text" class="form-control form-control-md">
    </th>
    <th>
      <input v-model="relasi.retail_owner" v-on:keyup="search()" type="text" class="form-control form-control-md">
    </th>
    <th>
      <status-filter :reset="reset" :checkedStatus="relasi.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></status-filter>
    </th>
  </tr>
</template>

<script>
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      relasi : {
        customer_id: '',
        customer_name: '',
        customer_owner: '',
        sales_org_name: '',
        sales_office_name: '',
        sales_office_id: '',
        sales_group_id: '',
        sales_group_name: '',
        sales_unit_name: '',
        address: '',
        retail_id: '',
        retail_name: '',
        retail_owner: '',
        status: ''
      },
      btnStatus: 'Cari Status Relasi',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Suspend', value: 'p'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'}
      ],
    }
  },
  components: {
    StatusFilter: Checklist,
    Provinsi,
    Kabupaten
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.relasi = getLocalSearch;
            $(".relasi_customer_idVal").val(app.relasi.customer_id);
            app.$emit("search-table", app.relasi);
        }
    },1000)

    $(document).on("keyup", ".relasi_customer_idVal", function() {
      app.relasi.customer_id = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".relasi_customer_nameVal", function() {
      app.relasi.customer_name = $(this).val();
      app.search();
    })
  },
  methods: {
    searchTable(obj) {
      var status = obj.join(';');
      this.relasi.status = status;
      this.search();
    },
    search() {
      event.preventDefault()
      localStorage.setItem(this.uriName, JSON.stringify(this.relasi));
      this.$emit("search-table", this.relasi);
    },
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.relasi.sales_office_id = sales_office;
      // this.$refs.filterKabComponent.getKabupaten(sales_office);
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.relasi.sales_group_id = sales_group;
      // this.$refs.filterKabComponent.getKabupaten(sales_group);
      this.search();
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.relasi);
      $( ".relasi-customer-id" ).html( '<input type="text" class="form-control form-control-md relasi_customer_idVal" />' );
      $(".relasi_customer_idVal").val(this.relasi.customer_id);
      $( ".relasi-customer-name" ).html( '<input type="text" class="form-control form-control-md relasi_customer_nameVal" />' );
      $(".relasi_customer_nameVal").val(this.relasi.customer_id);
      this.search();
    }
  }
}
</script>

<style lang="css">
</style>
