<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr class="lastChild">
      <td class="fix1"> - </td>
      <td class="fix2 head"> {{ prod.name }} </td>
      <template v-for="(month, i) in prod.month">
        <td style="border-left: 2px solid #404E67;">
          <span :class="(prod.status[i] === 'n') ? 'inactive' : ''" > {{ numberFormat(month.alokasi) }} </span>
        </td>
        <td :class="(prod.status[i] === 'n') ? 'inactive' : ''" > <span>{{ numberFormat(month.so) }} </span> </td>
        <td :class="(prod.status[i] === 'n') ? 'inactive' : ''" > <span>{{ numberFormat(month.approved) }} </span> </td>
        <td :class="(prod.status[i] === 'n') ? 'inactive' : ''" > <span>{{ numberFormat(month.sisa) }} </span> </td>
      </template>
      <td style="border-left: 2px solid #404E67;">{{ numberFormat(prod.total_alokasi) }}</td>
      <td>{{ numberFormat(prod.total_so) }}</td>
      <td>{{ numberFormat(prod.total_approved) }}</td>
      <td>{{ numberFormat(prod.total_sisa) }}</td>
    </tr>
  </transition>
</template>

<script>
export default {
  props: ['prod'],
  data: function() {
    return {

    }
  },

  methods: {
    numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
  }

}
</script>

<style lang="css" scoped>
  td.head {
    padding-left: 8rem !important;
  }
  tr.lastChild {
    background-color: #eee;
  }
  tr.lastChild td:not(:nth-child(2)) {
    text-align: right;
  }
  .inactive {
    font-weight: bold;
    color: red;
  }
</style>
