<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">Form Relasi Distributor</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">master data</a>
              </li>
              <li class="breadcrumb-item"><a href="#">Relasi Distributor Pengecer</a>
              </li>
              <li class="breadcrumb-item active">Tambah Relasi
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <!-- <form-relasi-component></form-relasi-component> -->
                  <form-relasi-table></form-relasi-table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
     </div>
  </transition>
</template>

<script>
// import FormRelasiComponent from './FormRelasiComponent'
import FormRelasiTable from './FormRelasiTable'
export default {
  data: function(){
    return{
      access: {}
    }
  },
  components:{
    FormRelasiTable
  },
  mounted(){

  }
}
</script>

<style lang="css">
</style>
