<template lang="html">
  <div>
    <form-loader :view="loading"></form-loader>
    <div v-if="!loading" class="row">
      <div class="col-sm-6 rata">
        <div class="card-distributor box-shadow-0 border-blue">
          <div class="card-header card-head-inverse bg-blue">
            <h4 class="card-title">Informasi Umum</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          </div>
          <div class="card-content collapse show">
            <div class="card-body box-detail-distributor">
              <dl class="row">
                <dt class="col-sm-4 text-right">Kode Distributor</dt>
                <dd class="col-sm-8">{{ distributor.id }}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">Nama Distributor</dt>
                <dd class="col-sm-8">{{ distributor.full_name }}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">Nama Pemilik</dt>
                <dd class="col-sm-8">{{ distributor.owner }}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">Tgl. Registrasi</dt>
                <dd class="col-sm-8"> {{ distributor.register_date }}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">Status</dt>
                <dd class="col-sm-8"> {{ distributor.status }}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 rata">
        <div class="card-distributor box-shadow-0 border-blue">
          <div class="card-header card-head-inverse bg-blue">
            <h4 class="card-title">Penghubung (Contact Person)</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          </div>
          <div class="card-content collapse show">
            <div class="card-body box-detail-distributor">
              <template v-for="(data, i) in distributor.contact" >
                <dl class="row">
                  <dt class="col-sm-4 text-right">Nama Kontak</dt>
                  <dd class="col-sm-8">{{ data.name }}</dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-4 text-right">No. Telp Penghubung</dt>
                  <dd class="col-sm-8">{{ data.tlp_no }}</dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-4 text-right">No. Hp Penghubung</dt>
                  <dd class="col-sm-8">{{ data.hp_no }}</dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-4 text-right">Email Penghubung</dt>
                  <dd class="col-sm-8">{{ data.email }}</dd>
                </dl>
                <hr>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!loading" class="row">
      <div class="col-sm-6 rata">
        <div class="card-distributor box-shadow-0 border-blue">
          <div class="card-header card-head-inverse bg-blue">
            <h4 class="card-title">Alamat Kantor</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          </div>
          <div class="card-content collapse show">
            <div class="card-body box-detail-distributor">
              <dl class="row">
                <dt class="col-sm-4 text-right">Alamat</dt>
                <dd class="col-sm-8">{{distributor.address[0]['address']}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">Kecamatan</dt>
                <dd class="col-sm-8">{{distributor.address[0]['sales_unit_name']}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">Kota/Kabupaten</dt>
                <dd class="col-sm-8">{{distributor.address[0]['sales_group_name']}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">Provinsi</dt>
                <dd class="col-sm-8">{{distributor.address[0]['sales_office_name']}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">No. Telp. Kantor</dt>
                <dd class="col-sm-8">{{distributor.address[0]['tlp_no']}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">No. Fax Kantor</dt>
                <dd class="col-sm-8">{{distributor.address[0]['fax_no']}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 rata">
        <div class="card-distributor box-shadow-0 border-blue">
          <div class="card-header card-head-inverse bg-blue">
            <h4 class="card-title">Alamat Penagihan</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          </div>
          <div class="card-content collapse show">
            <div class="card-body box-detail-distributor">
              <dl class="row">
                <dt class="col-sm-4 text-right">Alamat</dt>
                <dd class="col-sm-8">{{distributor.address[1]['address']}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">Kecamatan</dt>
                <dd class="col-sm-8">{{distributor.address[1]['sales_unit_name']}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">Kota/Kabupaten</dt>
                <dd class="col-sm-8">{{distributor.address[1]['sales_group_name']}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">Provinsi</dt>
                <dd class="col-sm-8">{{distributor.address[1]['sales_office_name']}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">No. Telp. Kantor</dt>
                <dd class="col-sm-8">{{distributor.address[1]['tlp_no']}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-4 text-right">No. Fax Kantor</dt>
                <dd class="col-sm-8">{{distributor.address[1]['fax_no']}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!loading" class="row">
      <div class="col-md-12 rata">
        <div class="card-distributor box-shadow-0 border-blue">
          <div class="card-header card-head-inverse bg-blue">
            <h4 class="card-title">Dokumen & Perizinan</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          </div>
          <div class="card-content collapse show">
            <div class="card-body box-detail-distributor">
              <div class="row">
                <div class="col-md-6">
                  <dl class="row">
                    <dt class="col-sm-5 text-right">NPWP</dt>
                    <dd class="col-sm-7">{{ distributor.npwp_no }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-5 text-right">Tanggal Terdaftar NPWP</dt>
                    <dd class="col-sm-7">{{ distributor.npwp_register }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-5 text-right">SIUP</dt>
                    <dd class="col-sm-7">{{ distributor.siup_no }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-5 text-right">SIUP Berlaku Hingga</dt>
                    <dd class="col-sm-7">{{ distributor.valid_date_siup }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-5 text-right">Surat Rekomendasi</dt>
                    <dd class="col-sm-7">{{ distributor.recomd_letter }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-5 text-right">Tanggal Pengesahan Surat Rekomendasi</dt>
                    <dd class="col-sm-7">{{ distributor.recomd_letter_date }}</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="row">
                    <dt class="col-sm-5 text-right">SITU</dt>
                    <dd class="col-sm-7">{{ distributor.situ_no }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-5 text-right">SITU Berlaku Hingga</dt>
                    <dd class="col-sm-7">{{ distributor.valid_date_situ }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-5 text-right">TDP</dt>
                    <dd class="col-sm-7">{{ distributor.tdp_no }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-5 text-right">TDP Berlaku Hingga</dt>
                    <dd class="col-sm-7">{{ distributor.valid_date_tdp }}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!loading" class="row">
      <div class="col-md-12 rata">
        <div class="card-distributor box-shadow-0 border-blue">
          <div class="card-header card-head-inverse bg-blue">
            <h4 class="card-title">Keuangan</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          </div>
          <div class="card-content collapse show">
            <div class="card-body box-detail-distributor">
              <dl class="row">
                <dt class="col-sm-2 text-right">Asset</dt>
                <dd class="col-sm-10">{{keuangan.asset}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-2 text-right">Revenue</dt>
                <dd class="col-sm-10">{{keuangan.revenue}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-2 text-right">Tahun Keuangan</dt>
                <dd class="col-sm-10">{{keuangan.account_year}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
export default {
  data: function(){
    return {
      paramId: this.$route.params.id,
      access: {},
      distributor: {},
      addressOffice: [],
      addressBilling: [],
      keuangan: {},
      loading: false
    }
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
    this.getDistributor();
  },
  mounted() {

  },
  components: {
    FormLoader
  },
  methods: {
    moneyFormat(value) {
      return this.formatRupiah(value, "Rp. ")
    },
    formatRupiah(angka, prefix) {
      var separator;
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split   		= number_string.split(','),
      sisa     		= split[0].length % 3,
      rupiah     		= split[0].substr(0, sisa),
      ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    },
    getDistributor(){
      this.loading = true;
      this.axios.get('distributor/id/'+this.paramId)
      .then((resp) => {
        this.distributor = resp.data.data;
        this.distributor.register_date = this.convertDate(resp.data.data.register_date);
        this.distributor.npwp_register = this.convertDate(resp.data.data.npwp_register);
        this.distributor.valid_date_siup = this.convertDate(resp.data.data.valid_date_siup);
        this.distributor.recomd_letter_date = this.convertDate(resp.data.data.recomd_letter_date);
        this.distributor.valid_date_situ = this.convertDate(resp.data.data.valid_date_situ);
        this.distributor.valid_date_tdp = this.convertDate(resp.data.data.valid_date_tdp);
        this.addressOffice = resp.data.data.address.map(data => { return(data.address_type === 'office') && data });
        this.addressBilling = resp.data.data.address.map(data => { return(data.address_type === 'bill') && data });
        this.keuangan.asset = (resp.data.data.asset != null && resp.data.data.asset != '') ? this.moneyFormat(resp.data.data.asset.replace('.', '')) : '';
        this.keuangan.revenue = (resp.data.data.revenue != null && resp.data.data.revenue != '') ? this.moneyFormat(resp.data.data.revenue.replace('.', '')) : '';
        this.keuangan.account_year = resp.data.data.account_year;
        
        this.loading = false;
      })
      .catch((resp) => {
        toastr.error('Failed load detail distributor', 'Error');
        this.loading = false;
        this.$router.go(-1);
      });
    }
  }
}
</script>

<style lang="css">
  .card-header {
    padding: 1rem 1rem;
  }
  .bg-blue {
    background-color: #1980F0 !important;
  }
  .no-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .box-detail-distributor {
    min-height: 250px;
  }
  .rata {
    padding-bottom: 1.875rem !important;
  }
  .card-distributor {
    height: 100% !important;
  }
</style>
