<template>
  <div>
    <div class="modal fade" id="uploadExcelModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload Data Batas Ambil</label>
              <input type="file" ref="file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" v-if="checktype == true" class="btn btn-outline-primary" :disabled="loading" @click="uploadSave()">
              <i v-if="loading" class="fa fa-spin fa-refresh"></i>
              Start Upload
            </button>
           </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
// import formUpload from './PergubForm';
export default {
  data: function(){
    return {
      showFormUpload: false,
      excelFile: '',
      file: '',
      loading: false,
      checktype: true,
      dataUpload: [],
      error: false,
      errors: {},
      modalType: null
    }
  },
  created() {
    axios.interceptors.request.use((config) => {
      this.loading = true;
      return config;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });

    axios.interceptors.response.use((response) => {
      this.loading = false;
      return response;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });
  },
  mounted(){
    var app = this;
    $("#uploadExcelModal").modal("show");
    $('#uploadExcelModal').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  components:{
    // formUpload
  },
  methods:{
    closeModal() {
      this.$emit("trigger-modal", 'RefreshTable');
    },
    uploadSave() {
      event.preventDefault();
      let app = this;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      // console.log(formData);
      axios.post("limit/upload", formData, {headers : {'Content-Type' : 'multipart/form-data'}})
      .then((resp) => {
        toastr.success('Succes Uploaded', 'Import excel');
        $("#uploadExcelModal").modal("hide");
        this.error = false;
      })
      .catch((resp) => {
        let msg = resp.response.data.message;
        let data = resp.response.data.data;
        let showErrorMessage = '';
        let showErrorList  = '';
        showErrorMessage += msg;
        if(data){
          const sales_org_id = (data[0].validate.message.sales_org_id) ? '<li>'+data[0].validate.message.sales_org_id+'</li>' : '';
          const sales_office_id = (data[0].validate.message.sales_office_id) ? '<li>'+data[0].validate.message.sales_office_id+'</li>' : '';
          const product_id = (data[0].validate.message.product_id) ? '<li>'+data[0].validate.message.product_id+'</li>' : '';
          const incoterm = (data[0].validate.message.incoterm) ? '<li>'+data[0].validate.message.incoterm+'</li>' : '';
          const min_qty = (data[0].validate.message.min_qty) ? '<li>'+data[0].validate.message.min_qty+'</li>' : '';
          const max_qty = (data[0].validate.message.max_qty) ? '<li>'+data[0].validate.message.max_qty+'</li>' : '';
          const duration_date = (data[0].validate.message.duration_date) ? '<li>'+data[0].validate.message.duration_date+'</li>' : '';
          
          toastr.error(
            '<ul>'+
              sales_org_id+
              sales_office_id+
              product_id+
              incoterm+
              min_qty+
              max_qty+
              duration_date+
            '</ul>',
            'Error di Baris ....'
          )
        }
        toastr.error(showErrorMessage, "Gagal");
        if(resp.response.data.errors){
          $.each(resp.response.data.errors,function(index,value){
             toastr.error(value, index);
          });
        }
      })
      .then((resp) => {  })
    },
    triggerModal() {
      this.showFormUpload = false;
      $("#uploadExcelModal").modal("hide");
    },
    handleFileUpload(){
      if (this.$refs.file.files[0] != '') {
        this.checkfile(this.$refs.file.files[0]);
        // console.log(this.$refs.file.files[0]);
        this.excelFile = this.$refs.file.files[0];
        this.file = this;
      }
    },
    checkfile(sender) {
        var validExts = new Array(".xlsx", ".xls");
        var fileExt = sender.name;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
          alert("Invalid file selected, valid files are of " +
                   validExts.toString() + " types.");
          this.checktype = false;
        }
        else this.checktype = true;
    }
  }
}
</script>

<style lang="css">
</style>
