<template lang="html">
  <tr class="filter">
    <th class="permintaan-number">
      <input type="text"
      v-model="permintaan.number"
      class="form-control form-control-md permintaan_numberVal">
    </th>
    <th class="permintaan-reference-code">
      <input type="text"
      v-model="permintaan.reference_code"
      class="form-control form-control-md permintaan_reference_codeVal">
    </th>
    <th>
      <input type="text"
      v-model="permintaan.customer_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="permintaan.sales_org_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <!-- <input type="text"
      v-model="permintaan.order_date"
      v-on:keyup="search()"
      class="form-control form-control-md"> -->
      <date-filter :reset="reset" @get-date="searchDateValidFrom" :type="type1"></date-filter>
    </th>
    <th>
      <filter-status :reset="reset" :checkedStatus="permintaan.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
    </th>
    <th>
      <input type="text"
      v-model="permintaan.delivery_method_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="permintaan.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input type="text"
      v-model="permintaan.payment_method_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th></th>
    <th>
      <input type="text"
      v-model="permintaan.total_price"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th></th>
    <th></th>
    <th>
      <input type="text"
      v-model="permintaan.upfront_payment"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th></th>
    <th></th>
    <th>
      <date-filter :reset="reset" @get-date="searchDateValidTo" :type="type2"></date-filter>
    </th>
    <th></th>
  </tr>
</template>
<script>
import Checklist from '../../filter/Checklist';
import Date from '../../filter/Date';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';

export default {
  props: ['reset'],
  data: function() {
    return {
      type1: 'validFrom',
      type2: 'validTo',
      btnStatus: 'Filter Status',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Suspend', value: 'p'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'}
      ],
      permintaan: {
        number: '',
        reference_code: '',
        customer_name: '',
        sales_org_name: '',
        order_date: '',
        status: '',
        delivery_method_name: '',
        sales_office_name: '',
        sales_group_name: '',
        payment_method_name: '',
        total_price: '',
        ppn: '',
        total_price_before_ppn: '',
        upfront_payment: '',
        pickup_due_date: '',
        created_at: '',
      }
    }
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    $(document).ready(function() {
      const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.permintaan = getLocalSearch;
              $(".permintaan_numberVal").val(app.permintaan.number);
              $(".permintaan_reference_codeVal").val(app.permintaan.reference_code);
              app.$emit("search-table", app.permintaan);
          }
      },1000)
    });
    $(document).on("keyup", ".permintaan_numberVal", function(){
      app.permintaan.number = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".permintaan_reference_codeVal", function(){
      app.permintaan.reference_code = $(this).val();
      app.search();
    })
  },
  components: {
    FilterStatus: Checklist,
    Provinsi,
    Kabupaten,
    dateFilter: Date,
  },
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.permintaan.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.permintaan.sales_group_id = sales_group;
      this.search();
    },
    // date
    searchDateValidFrom(date = '') {
      if (date != '') {
        if (date != '') {
          this.permintaan.order_date = {
            certain: (date.name === 'validFrom' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validFrom' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validFrom' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.permintaan.order_date = ''
        }
        this.search()
      }
    },
    searchDateValidTo(date = '') {
      if (date != '') {
        if (date != '') {
          this.permintaan.created_at = {
            certain: (date.name === 'validTo' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validTo' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validTo' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.permintaan.created_at = ''
        }
        this.search()
      }
    },
    // end date
    searchTable(obj) {
      var status = obj.join(';');
      this.permintaan.status = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.permintaan));
      this.$emit("search-table", this.permintaan);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.permintaan);
      
      $( ".permintaan-number" ).html( '<input type="text" class="form-control form-control-md permintaan_numberVal" />' );
      $( ".permintaan-reference-code" ).html( '<input type="text" class="form-control form-control-md permintaan_reference_codeVal" />' );
      $(".permintaan_numberVal").val(this.permintaan.number);
      $(".permintaan_reference_codeVal").val(this.permintaan.reference_code);
      this.search();
    }
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
