<template>
  <div class="modal fade" id="noso" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nomor SO</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <form-loader :view="loadingComponent"></form-loader>
          <div v-if="!loadingComponent" class="row">
            <div class="col-md-12">
              <table class="table table-xs table-bordered display nowrap">
                <thead>
                  <tr>
                    <th class="text-center">No. SO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(noso, i) in dataNoso">
                    <td class="text-center">
                      <router-link target="_blank" :to="{path: '/'+access+'/transaksi/order/detail/'+noso.uuid+'/step-3'}" >{{ noso.so_number }}</router-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormLoader from '../../../../main/FormLoader';
export default {
  props: ['uuid'],
  data: function() {
    return {
      loadingComponent: false,
      dataNoso: [],
      access: encodeURIComponent(this.$route.params.access)
    }
  },
  components: {
    FormLoader
  },
  created() {
    this.getData();
  },
  mounted() {
    var app = this;
    $("#noso").modal("show");
    $("#noso").on("hidden.bs.modal", function(){
      app.closeModal();
    })
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal");
    },
    sorry(){
      event.preventDefault()
      toastr.warning('Masih belum ketemu url nya', 'Sorry to say..');
    },
    getData() {
      this.loadingComponent = true;
      this.axios.get('reportf6/sonumber/'+this.uuid)
      .then((resp) => {
        this.dataNoso = resp.data.data;
        this.loadingComponent = false;
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message);
        toastr.error(resp.response.data.error);
        this.loadingComponent = false;
      })
    }
  }

}
</script>

<style lang="css" scoped>
</style>
