<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" v-if="accessComponent.C" @click="modalUpload = !modalUpload" class="btn btn-primary square" name="button"><i class="fa fa-upload"></i> Upload</button>
          <button type="button" v-if="accessComponent.C" @click="form.create = !form.create" class="btn btn-primary square" name="button"><i class="fa fa-plus"></i> Entry</button>
          <a href="template-excel/farmergroup/Template_Kelompok_Tani.xlsx" class="btn btn-primary square" target="_blank" > <i class="fa fa-download"></i> Download Template</a>
          <button type="button" :disabled="loadBtnDownload" @click="download()" class="btn btn-primary square" name="button"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <table id="DatatableKelompokTani" class="table table-xs table-bordered table-striped display nowrap">
            <thead>
              <filter-kelompok-tani :reset="resetStatus" ref="filterComponent" @filter-table ="searchTable"></filter-kelompok-tani>
              <tr>
                <th>
                    <fieldset>
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control custom-checkbox">
                            <input type="checkbox"  class="checks check custom-control-input check_box_retail">
                            <span class="custom-control-indicator"></span>
                            </label>
                        </div>
                    </fieldset>
                </th>
                <th>Produsen</th>
                <th>Kode</th>
                <th>Nama</th>
                <th>Kode Pengecer</th>
                <th>Nama Pengecer</th>
                <th>Status</th>
                <th>Alamat</th>
                <th>Provinsi</th>
                <th>Kota/Kab</th>
                <th>Kecamatan</th>
                <th>Kelurahan/Desa</th>
                <th>Subsektor</th>
                <th>Komoditas</th>
                <th>Total Anggota</th>
                <th>Luas Lahan</th>
                <th>Di buat</th>
                <th>Di perbarui</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        
      </div>
    </div>
    <div class="row scroll-top" v-if="accessComponent.A === true">
       <div class="col-md-12">
           <hr>
           <div class="btn-group mr-1 mb-1 pull-right dropup">
           <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
               Aksi
               <span class="sr-only">Toggle Dropdown</span>
           </button>
           <div class="dropdown-menu">
               <a class="dropdown-item" @click="action('s')" href="#">Submit</a>
               <a class="dropdown-item" @click="action('d')" href="#">Unsubmit</a>
               <a class="dropdown-item" @click="action('y')" href="#">Approve</a>
               <a class="dropdown-item" @click="action('n')" href="#">Unapprove</a>
           </div>
           </div>
       </div>
   </div>
   <form-create v-if="form.create" :access="accessComponent" :uuid="uuid" @trigger-modal="triggerModal"></form-create>
   <komoditas-modal v-if="show.komoditas" :id="show.id" @trigger-modal="triggerModalShow" ></komoditas-modal>
   <sub-sektor-modal v-if="show.subsektor" :id="show.id" @trigger-modal="triggerModalShow" ></sub-sektor-modal>
   <farmergroup-upload v-if="modalUpload" @trigger-modal="triggerModal" ></farmergroup-upload>
  </div>
</template>

<script>
import FilterKelompokTani from './FilterKelompokTani';
import FormCreate from './modal/FormCreate';
import KomoditasModal from './modal/KomoditasModal';
import FarmergroupUpload from './modal/FarmergroupUpload';
import SubSektorModal from './modal/SubSektorModal';
export default {
  props: ['access'],
  data: function() {
    return {
      dt: null,
      searchField: {},
      checkeds:[],
      modalUpload: false,
      resetStatus: false,
      loadBtnDownload: false,
      show: {
        komoditas: false,
        subsektor: false,
        id: null
      },
      loading:{
          changeStatus: false
      },
      accessComponent: (this.access != undefined) ? this.access : {},
      form: {
        create: false,
        edit: false
      },
      uuid: null,
    }
  },
  components: {
    FilterKelompokTani, FormCreate, KomoditasModal, SubSektorModal, FarmergroupUpload
  },
  created() {
    if(this.access === undefined) {
      const encodeAccess = decodeURIComponent(this.$route.params.access);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const arrAccess = decodeAccess.split(",");
      console.log(arrAccess);
      if(arrAccess) {
        arrAccess.map((data) => {
          if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.accessComponent[data] = true
          } else {
            this.$router.push({path: '/home'});
            toastr.error('Tidak mempunyai akses halaman ini', 'Error');
          }
        })
      } else {
        this.$router.push({path: '/home'});
        toastr.error('Tidak mempunyai akses halaman ini', 'Error');
      }
    }
  },
  mounted() {
    var app = this;
    $(document).ready(function(){
      app.DatatableKelompokTani();
      $("div.dataTables_length").append(' <button id="resetFilterKeltani" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    })

    $(document).on('change','.checks',function(){
      app.checkAll()
    });
    $(document).on('change','#checkByOne',function(){
      app.checkByOne($(this))
    });
    $(document).on("click", "#lihatKelompokTani", function(e){
      e.preventDefault();
      let uuid = $(this).data('uuid');
      app.uuid = uuid;
      app.form.create = !app.form.create
    });
    $(document).on("click", "#showCommodity", function(e){
      e.preventDefault()
      let id = $(this).data("id")
      app.show.komoditas = true;
      app.show.id = id;
    })
    $(document).on("click", "#showSubsector", function(e){
      e.preventDefault()
      let id = $(this).data("id")
      app.show.subsektor = true;
      app.show.id = id;
    })
    
    $(document).on("click", "#resetFilterKeltani", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterKeltani').prop('disabled', true);
      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterKeltani').prop('disabled', false);
      }, 1000)
    })
  },
  methods: {
    DatatableKelompokTani() {
      var app = this;
      var idx = (app.$route.params.id != undefined) ? '/cust_id/'+app.$route.params.id : '';
      app.dt = $("#DatatableKelompokTani").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        "order": [[ 2, 'desc' ]],
        "dom": 'Bltrip',
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 DownloadKelompokTani',
            text: "Download Kel. Tani",
            title:"",
            filename:"Kelompok-tani",
            exportOptions: {
                columns: 'th:not(:first-child)'
            }
          }
        ],
        ajax:{
            'url': 'api/farmergroup'+idx,
            'type': 'GET',
            'data': function(d){
              d.sales_org_name=app.searchField.sales_org_name,
              d.code=app.searchField.sales_org_id,
              d.name=app.searchField.name,
              d.retail_code=app.searchField.retail_id,
              d.retail_name=app.searchField.retail_name,
              d.status=app.searchField.status,
              d.address=app.searchField.address,
              d.sales_office_name=app.searchField.sales_office_name,
              d.sales_office_id=app.searchField.sales_office_id,
              d.sales_group_name=app.searchField.sales_group_name,
              d.sales_group_id=app.searchField.sales_group_id,
              d.sales_unit_name=app.searchField.sales_unit_name,
              d.village=app.searchField.village,
              d.sub_sector_id=app.searchField.sub_sector_id,
              d.commodity_id=app.searchField.commodity_id,
              d.qty_group=app.searchField.qty_group,
              d.longitude=app.searchField.longitude,
              d.created_at=app.searchField.created_at,
              d.updated_at=app.searchField.updated_at
            },
            'beforeSend': function (request) {
                var token = localStorage.getItem("default_auth_token");
                request.setRequestHeader("Authorization", "Bearer "+token);
                request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
            },
        },
         "columnDefs": [
            { "orderable": false, "targets": 0 }
         ],
         columns :[

             {
                 data: 'uuid',
                 render:function(data,t,f) {
                    const check =    '<fieldset>'+
                                         '<label class="custom-control custom-checkbox">'+
                                         '<input type="checkbox" id="checkByOne" class="checkselect check custom-control-input check_box_retail" value="'+data+'"  >'+
                                         '<span class="custom-control-indicator" style="margin-left: 1.5rem;"></span>'+
                                         '</label>'+
                                     '</fieldset>';
                     return check;
                 }
             },
             {data: 'sales_org_name' , name:'sales_org_name'},
             {data: 'code' , name:'code'},
             {   data: 'name',
                 name: 'name',
                 render:function(d,t,f){
                     return '<a href="#" class="openformModal" id="lihatKelompokTani" data-uuid="'+f.uuid+'">'+d+'</a>'
                 }
             },
             {data: 'retail_code' , name:'retail_code'},
             {data: 'retail_name' , name:'retail_name'},
             {data: 'status' , name:'status'},
             {data: 'address' , name:'address'},
             {data: 'sales_office_name' , name:'sales_office_name'},
             {data: 'sales_group_name' , name:'sales_group_name'},
             {data: 'sales_unit_name' , name:'sales_unit_name'},
             {data: 'village' , name:'village'},
             {   data: 'sub_sector_id' ,
                 render:function(data,t,f){
                     return '<a href="#" class="detail" id="showSubsector" data-id="'+data+'" data-names="Sub Sector">Lihat</a>'
                 }
             },
             {   data: 'commodity_id' ,
                 render:function(data,t,f){
                     return '<a href="#" class="detail" id="showCommodity" data-id="'+data+'" data-names="Komoditas">Lihat</a>'
                 }
             },
             {data: 'qty_group' , name:'qty_group', render: function(data, type, full){
               // return (data != null || data != '') ? data.toFixed(2) : data;
               return data;
             }},
             {data: 'land_area' , name:'land_area', render: function(data, type, full){
               return Math.round(data * 100) / 100
             }},
             {data: 'created_at', render : function(data, type, full){
                 return app.convertDate(data);
             }},
             {data: 'updated_at', render : function(data, type, full){
                 return app.convertDate(data);
             }},
         ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
           leftColumns: 4,
           heightMatch: 'auto'
      });
    },

    searchTable(obj) {
        this.searchField = obj;
        this.validateDateDibuat(obj);
        this.validateDateDiperbarui(obj);
        this.dt.draw();
    },

    checkAll() {
      var app = this;
      if($('.checks').is( ":checked" )===true){
          $('.checkselect').prop('checked',true);
          $('.checkselect:checkbox:checked').each(function(i){
              app.checkeds.push($(this).val());
          });
      }else{
          $('.checkselect').prop('checked',false);
          app.checkeds=[];
      }
    },

    checkByOne(ini) {
      var app = this;
      $('.checks').prop('checked',false);
      var uuids=ini.val();
      if(ini.is( ":checked" )===true){
          app.checkeds.push(uuids);
      }else{
          app.removeA(app.checkeds, uuids);
      }
    },

    removeA(array, id) {
         var index = array.indexOf(id);
         console.log(index);
         array.splice(index, 1);
     },

    action(type){
       event.preventDefault();
       if(this.checkeds.length!=0){
           this.checkeds = this.checkeds.map(data => {
               return {uuid: data, status: type}
           })
           this.saveAction();
       }else{
           toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
       }
    },

    saveAction(){
      this.loading.changeStatus = true;
       this.axios.post('farmergroup/update/bulk', this.checkeds)
       .then((resp) => {
           toastr.success("Status berhasil di ubah", "Sukses")
           this.dt.draw();
           this.loading.changeStatus = false;
       })
       .catch((resp) => {
           toastr.warning("Status gagal di ubah", "Gagal")
           this.loading.changeStatus = false;
       })
       .then((resp) => {
           this.checkeds = [];
           $(".check").prop('checked', false);
       });
    },

    triggerModal(){
      this.form.create = false;
      this.form.update = false;
      this.uuid = null;
      this.modalUpload = false;
      this.dt.draw();
    },

    triggerModalShow() {
      this.show.komoditas = false;
      this.show.subsektor = false;
      this.show.id = null;
    },

    download() {
      // $(".DownloadKelompokTani").trigger('click');
      this.loadBtnDownload = true;
      this.axios({
        url: 'farmergroup/download',
        params: {
          customer_uuid: (this.$route.params.id != undefined) ? this.$route.params.id : '',
          sales_org_name: this.searchField.sales_org_name,
          code: this.searchField.sales_org_id,
          name: this.searchField.name,
          retail_code: this.searchField.retail_id,
          retail_name: this.searchField.retail_name,
          status: this.searchField.status,
          address: this.searchField.address,
          sales_office_name: this.searchField.sales_office_name,
          sales_office_id: this.searchField.sales_office_id,
          sales_group_name: this.searchField.sales_group_name,
          sales_group_id: this.searchField.sales_group_id,
          sales_unit_name: this.searchField.sales_unit_name,
          village: this.searchField.village,
          sub_sector_id: this.searchField.sub_sector_id,
          commodity_id: this.searchField.commodity_id,
          qty_group: this.searchField.qty_group,
          longitude: this.searchField.longitude,
          created_at: this.searchField.created_at,
          updated_at: this.searchField.updated_at
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Kelompok Tani.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    },

    validateDateDibuat(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.searchField.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.searchField.created_at = obj.created_at.certain;
      } else {
        this.searchField.created_at = '';
      }
    },

    validateDateDiperbarui(obj) {
      if(obj.updated_at && obj.updated_at.from && obj.updated_at.to) {
        this.searchField.updated_at = obj.updated_at.from+';'+obj.updated_at.to;
      } else if (obj.updated_at && obj.updated_at.certain) {
        this.searchField.updated_at = obj.updated_at.certain;
      } else {
        this.searchField.updated_at = '';
      }
    },
  }
}
</script>

<style media="screen">
  .DownloadKelompokTani {
    display: none !important;
  }
  .scroll-top {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
  }
</style>
