<template>
  <div class="modal fade" id="retailForm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Form Pengecer</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <form-loader :view="loadingElement.content"></form-loader>
            <div v-if="!loadingElement.content"  class="form-body">
              <h4 class="form-section"><i class="ft-user"></i> Informasi Umum</h4>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >Kode Pengecer</label>
                    <div class="col-md-8">
                      <multiselect
                        v-if="isRetailAdm"
                        @input="fillForm"
                        @search-change="searchChange"
                        v-model="retailTemps.code"
                        :loading="loadingElement.code"
                        :options="codes"
                        track-by="id" :custom-label="CodenameWithId"
                        :searchable="true" :close-on-select="true"
                        :show-labels="false" :placeholder="(loadingElement.code === false) ? 'Pilih ..' : 'Memuat ..'"
                      >
                      </multiselect>
                      <input v-else type="text" readonly class="form-control" placeholder="xxxxxxx" v-model="retails.code">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >Nama Pengecer</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" placeholder="Nama Pengecer"
                      v-model="retails.name" :class="{'is-invalid' : error && errors.name}"
                      :disabled="isDisabled"
                      >
                      <p class="text-danger" v-if="error && errors.name">{{errors.name[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >Nama Pemilik</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" placeholder="Nama Pemilik"
                      v-model="retails.owner" :class="{'is-invalid' : error && errors.owner}"
                      :disabled="isDisabledx.nama_pemilik"
                      >
                      <p class="text-danger" v-if="error && errors.owner">{{errors.owner[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >Status</label>
                    <div class="col-md-8">
                      <input v-if="id" type="text" class="form-control" placeholder="" disabled v-model="retails.status">
                      <input v-else type="text" class="form-control" placeholder="" disabled v-model="tempDt.status_name">
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <h4 class="form-section"><i class="icon-clipboard4"></i> Alamat Kantor</h4>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >Alamat Pengecer</label>
                    <div class="col-md-8">
                      <textarea name="name" class="form-control" rows="3" cols="60"
                      v-model="retails.address" :class="{'is-invalid' : error && errors.address}"
                      :disabled="isDisabledx.alamat"
                      ></textarea>
                      <p class="text-danger" v-if="error && errors.address">{{errors.address[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >Provinsi</label>
                    <div class="col-md-8">
                      <multiselect
                        @input="getKabupaten"
                        v-model="retailTemps.provinsi"
                        :options="provinces"
                        track-by="id" :custom-label="ProvnameWithId"
                        :searchable="true" :close-on-select="true"
                        :show-labels="false" :placeholder="(loadingElement.provinsi === false) ? 'Pilih ..' : 'Memuat ..'"
                        :disabled="isDisabledx.provinsi"
                      >
                      </multiselect>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >Kabupaten</label>
                    <div class="col-md-8">
                      <multiselect
                        @input="getKecamatan"
                        v-model="retailTemps.kabupaten"
                        :options="kabupaten"
                        track-by="id" :custom-label="KabnameWithId"
                        :searchable="true" :close-on-select="true"
                        :show-labels="false" :placeholder="(loadingElement.kabupaten === false) ? 'Pilih ..' : 'Memuat ..'"
                        :disabled="isDisabledx.kabupaten"
                      >
                      </multiselect>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >Kecamatan</label>
                    <div class="col-md-8">
                      <multiselect
                        :class="{'is-invalid' : error && errors.sales_unit_id}"
                        v-model="retailTemps.kecamatan"
                        :options="kecamatan"
                        track-by="id" :custom-label="KecnameWithId"
                        :searchable="true" :close-on-select="true"
                        :show-labels="false" :placeholder="(loadingElement.kecamatan === false) ? 'Pilih ..' : 'Memuat ..'"
                        :disabled="isDisabledx.kecamatan"
                      >
                      </multiselect>
                      <p class="text-danger" v-if="error && errors.sales_unit_id">{{errors.sales_unit_id[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >Kelurahan</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control"
                      v-model="retails.village" :class="{'is-invalid' : error && errors.village}"
                      :disabled="isDisabled"
                      >
                      <p class="text-danger" v-if="error && errors.village">{{errors.village[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >No Telp</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control"
                      v-model="retails.tlp_no" :class="{'is-invalid' : error && errors.tlp_no}"
                      :disabled="isDisabled"
                      >
                      <p class="text-danger" v-if="error && errors.tlp_no">{{errors.tlp_no[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >No Handphone</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control"
                       v-model="retails.hp_no" :class="{'is-invalid' : error && errors.hp_no}"
                       placeholder="No Handphone"
                       :disabled="isDisabledx.no_hp"
                       >
                       <p class="text-danger" v-if="error && errors.hp_no">{{errors.hp_no[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >No Fax Kantor</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control"
                      v-model="retails.fax_no" :class="{'is-invalid' : error && errors.fax_no}"
                      :disabled="isDisabled"
                      >
                      <p class="text-danger" v-if="error && errors.fax_no">{{errors.fax_no[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >Email</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control"
                      v-model="retails.email" :class="{'is-invalid' : error && errors.email}"
                      :disabled="isDisabled"
                      >
                      <p class="text-danger" v-if="error && errors.email">{{errors.email[0]}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <h4 class="form-section"><i class="icon-clipboard4"></i> Dokumen & Perizinan</h4>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >No NPWP</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control"
                      v-model="retails.npwp_no" :class="{'is-invalid' : error && errors.npwp_no}"
                      :disabled="isDisabled"
                      >
                      <p class="text-danger" v-if="error && errors.npwp_no">{{errors.npwp_no[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >Tanggal NPWP</label>
                    <div class="col-md-8">
                      <inputdate 
                      :type="'npwp_register'" 
                      @get-date="npwp_register"
                      v-model="retails.npwp_register"
                      :getDated="retails.npwp_register"
                      :class="{'is-invalid' : error && errors.npwp_register}" 
                      :disabled="isDisabled" />
                      <p class="text-danger" v-if="error && errors.npwp_register">{{errors.npwp_register[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >SIUP</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control"
                      v-model="retails.siup_no" :class="{'is-invalid' : error && errors.siup_no}"
                      :disabled="isDisabled"
                      >
                      <p class="text-danger" v-if="error && errors.siup_no">{{errors.siup_no[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >SIUP Berlaku</label>
                    <div class="col-md-8">
                      <inputdate 
                      :type="'valid_date_siup'" 
                      @get-date="valid_date_siup"
                      v-model="retails.valid_date_siup"
                      :getDated="retails.valid_date_siup"
                      :class="{'is-invalid' : error && errors.valid_date_siup}" 
                      :disabled="isDisabled" />
                      <p class="text-danger" v-if="error && errors.valid_date_siup">{{errors.valid_date_siup[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >TDP</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control"
                      v-model="retails.tdp_no" :class="{'is-invalid' : error && errors.tdp_no}"
                      :disabled="isDisabled"
                      >
                      <p class="text-danger" v-if="error && errors.tdp_no">{{errors.tdp_no[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >TDP Berlaku</label>
                    <div class="col-md-8">
                      <inputdate 
                      :type="'valid_date_tdp'" 
                      @get-date="valid_date_tdp"
                      v-model="retails.valid_date_tdp"
                      :getDated="retails.valid_date_tdp"
                      :class="{'is-invalid' : error && errors.valid_date_tdp}" 
                      :disabled="isDisabled" />
                      <p class="text-danger" v-if="error && errors.valid_date_tdp">{{errors.valid_date_tdp[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >SITU</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control"
                      v-model="retails.situ_no" :class="{'is-invalid' : error && errors.situ_no}"
                      :disabled="isDisabled"
                      >
                      <p class="text-danger" v-if="error && errors.situ_no">{{errors.situ_no[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" >SITU Berlaku</label>
                    <div class="col-md-8">
                      <inputdate 
                      :type="'valid_date_situ'" 
                      @get-date="valid_date_situ"
                      v-model="retails.valid_date_situ"
                      :getDated="retails.valid_date_situ"
                      :class="{'is-invalid' : error && errors.valid_date_situ}" 
                      :disabled="isDisabled" />
                      <p class="text-danger" v-if="error && errors.valid_date_situ">{{errors.valid_date_situ[0]}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
            <div class="form-actions pull-right">
              <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">
                <i class="ft-x"></i> Cancel
              </button>
              <button v-if="!isDisabledx.button" type="button" class="btn btn-primary"  @click="toSubmit" :disabled="loadingElement.button">
                <i v-if="loadingElement.button" class="fa fa-spin fa-refresh"></i> Submit
              </button>
              <button v-if="!isDisabledx.button" type="button" class="btn btn-success" @click="toDraft" :disabled="loadingElement.button">
                <i v-if="loadingElement.button" class="fa fa-spin fa-refresh"></i> Simpan
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import FormLoader from '../../../main/FormLoader';
import Inputdate from '../../../global/InputDate';


export default {
  props: ['id', 'access', 'isRetailAdm', 'isSubDistributor', 'customer_uuid'],
  data: function(){
    return {
      retailTemps : {
        provinsi: '',
        kabupaten: '',
        kecamatan: '',
        code: ''
      },
      role_id: null,
      error: false,
      isDisabledx: {
        provinsi: false,
        kabupaten: false,
        kecamatan: false,
        valid_date_tdp: false,
        valid_date_siup: false,
        npwp_register: false,
        valid_date_situ: false,
        nama_pemilik: false,
        alamat: false,
        no_hp: false,
        button: false
      },
      errors: {},
      provinces: [],
      codes: [],
      kabupaten: [],
      kecamatan: [],
      districts: [],
      subDistricts: [],
      isDisabled: false,
      loadingElement: {
        kabupaten: false,
        kecamatan: false,
        button : false,
        provinsi : false,
        code : false,
        content: false
      },
      tempDt: {
        status_name: ''
      },
      retails: {
        code: '',
        status: '',
        name: '',
        owner: '',
        address: '',
        sales_unit_id: '',
        village: '',
        tlp_no: '',
        hp_no: '',
        fax_no: '',
        email: '',
        npwp_no: '',
        npwp_register: '',
        siup_no: '',
        valid_date_siup: '',
        tdp_no: '',
        valid_date_tdp: '',
        situ_no: '',
        valid_date_situ: '',
        retail_administratif: ''
      }
    }
  },
  components:{
    Multiselect, FormLoader, Inputdate
  },
  created() {
    
  },
  mounted(){
    var app = this;
    $("#retailForm").modal("show");
    $('#retailForm').on('hidden.bs.modal', function () {
      app.closeModal();
    })
    app.userProfile();
    app.getProvinsi();
    if(app.id != null){
      app.getRetailByUuid();
    } else {
      if(app.isRetailAdm){
        app.isDisabled = true;
        app.enableInput();
        app.getPengecer();
      }
      
      var name_distributor = document.getElementsByClassName("pi-distributor-name");
      if(name_distributor.length != 0){
        var code_distributor = document.getElementsByClassName("pi-distributor-code");
        // this.temp.distributor = {id: code_distributor[0].innerText, full_name: name_distributor[0].innerText};
        // console.log(this.temp.distributor.id);
        app.getDistributorByid(code_distributor[0].innerText)
      }
    }
  },
  methods:{
    CodenameWithId ({ code, name }){ return `${code} — ${name}` },
    ProvnameWithId ({ id, name }){ return `${id} — ${name}` },
    KabnameWithId ({ id, name }){ return `${id} — ${name}` },
    KecnameWithId ({ id, name }){ return `${id} — ${name}` },
    changeDateFormat(date) {
      if(date === '' || date === ' ' || date === '00-00-0000' || date === null) {
        return '';
      } else {
        let arr = date.split('-');
        return arr[2]+'-'+arr[1]+'-'+arr[0];
      }
    },

    userProfile(){
      this.axios.get('user/profile')
      .then((resp) => {
        this.role_id = resp.data.data.role.role_id;
      })
      .catch((resp) => {
        console.log(resp);
      })
      .then((resp) => {
        console.log(resp);
      })
    },

    getRetailByUuid() {
      this.loadingElement.content = true;
      this.axios.get('retail/id/'+this.id)
      .then((resp) => {
        this.retails = resp.data.data[0];
        this.retailTemps.provinsi = {id: resp.data.data[0].sales_office_id, name: resp.data.data[0].sales_office_name};
        this.getKabupaten(this.retailTemps.provinsi);
        this.retailTemps.kabupaten = {id: resp.data.data[0].sales_group_id, name: resp.data.data[0].sales_group_name};
        this.getKecamatan(this.retailTemps.kabupaten);
        this.retailTemps.kecamatan = {id: resp.data.data[0].sales_unit_id, name: resp.data.data[0].sales_unit_name}
        // this.retails.npwp_register = this.formatDate(resp.data.data[0].npwp_register).split("-").join(" ");
        // this.retails.valid_date_tdp = resp.data.data[0].valid_date_tdp.split("-").join(" ");
        // this.retails.valid_date_siup = resp.data.data[0].valid_date_siup.split("-").join(" ");
        // this.retails.valid_date_situ = resp.data.data[0].valid_date_situ.split("-").join(" ");
        this.loadingElement.content = false;
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
        this.loadingElement.content = false;
      })
      .then((resp) => {
        if(this.retails.status === 'Active' || this.retails.status === 'Submited'){
          this.disabledInput()
          this.isDisabled = true;
          this.isDisabledx.button = true;
        } else {
          if(!this.access.U) {
            this.disabledInput()
            this.isDisabled = true;
            this.isDisabledx.button = true;
          } else { 
            var isAdm = this.retails.retail_administratif;
            if(parseInt(isAdm) === 1) {
              this.isDisabledx.provinsi = true;
              this.isDisabledx.kabupaten = true;
              this.isDisabledx.kecamatan = false;
              this.isDisabledx.nama_pemilik = false;
              this.isDisabledx.alamat = false;
              this.isDisabledx.no_hp = false;
              this.isDisabled = true;
              this.isDisabledx.button = false;
              // if(this.role_id === 2){ 
              //   this.isDisabledx.provinsi = true;
              //   this.isDisabledx.kabupaten = true;
              //   this.isDisabledx.kecamatan = false;
              //   this.isDisabledx.nama_pemilik = false;
              //   this.isDisabledx.alamat = false;
              //   this.isDisabledx.no_hp = false;
              //   this.isDisabled = true;
              //   this.isDisabledx.button = false;
              // } else if(this.role_id === 4){ 
              //   this.isDisabledx.provinsi = true;
              //   this.isDisabledx.kabupaten = true;
              //   this.isDisabledx.kecamatan = true;
              //   this.isDisabledx.nama_pemilik = false;
              //   this.isDisabledx.alamat = false;
              //   this.isDisabledx.no_hp = false;
              //   this.isDisabled = true;
              //   this.isDisabledx.button = false;
              // } 
            } else {
              this.isDisabledx.provinsi = false;
              this.isDisabledx.kabupaten = false;
              this.isDisabledx.kecamatan = false;
              this.isDisabledx.nama_pemilik = false;
              this.isDisabledx.alamat = false;
              this.isDisabledx.no_hp = false;
              this.isDisabled = false;
              this.isDisabledx.button = false;
            }
          } 
        }
      })
    },

    disabledInput(){
      this.isDisabledx.provinsi = true;
      this.isDisabledx.kabupaten = true;
      this.isDisabledx.kecamatan = true;
      this.isDisabledx.nama_pemilik = true;
      this.isDisabledx.alamat = true;
      this.isDisabledx.no_hp = true;
    },

    enableInput(){
      this.isDisabledx.provinsi = true;
      this.isDisabledx.kabupaten = true;
      this.isDisabledx.kecamatan = false;
    },

    fillForm(){
      console.log("heheheh");
      this.retails = this.retailTemps.code;
      this.retailTemps.provinsi = {id: this.retailTemps.code.sales_office_id, name: this.retailTemps.code.sales_office_name};
      this.getKabupaten(this.retailTemps.provinsi);
      this.retailTemps.kabupaten = {id: this.retailTemps.code.sales_group_id, name: this.retailTemps.code.sales_group_name};
      this.getKecamatan(this.retailTemps.kabupaten);
      this.retailTemps.kecamatan = {id: this.retailTemps.code.sales_unit_id, name: this.retailTemps.code.sales_unit_name}
    },

    searchChange(value, id){
      // console.log(value);
      // console.log(id);
      this.codes = [];
      this.getPengecer(value)
    },

    getPengecer(keyword = null){
      this.loadingElement.code = true
      var url = (this.isSubDistributor) ? 'retail/cust_id/'+this.customer_uuid : 'retail?retail_administratif=-1'
      this.axios.get(url, {
        params: {
          start: 0,
          length: 20,
          code: (keyword !== null) ? keyword : ''
        }
      })
      .then((resp) => {
        this.codes = resp.data.data;
        this.loadingElement.code = false
      })
      .catch((resp) => {
        toastr.error("Failed Load Retails", "Load data");
        this.loadingElement.code = false
      })
      
    },

    getProvinsi(){
      this.axios.get('region/provinsi')
      .then((resp) => {
        this.provinces = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Province", "Load data");
      })
    },

    getKabupaten(provinsi){
      this.retailTemps.kabupaten = '';
      this.retailTemps.kecamatan = '';
      this.kabupaten = [];
      this.kecamatan = [];
      this.loadingElement.kabupaten = true
      this.axios.get('region/kabupaten', {
        params: {
          provinsi: provinsi.id
        }
      })
      .then((resp) => {
        this.kabupaten = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Province", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false})
    },

    getKecamatan(kabupaten){
      this.loadingElement.kecamatan = true;
      this.axios.get('region/kecamatan', {
        params: {
          kabupaten: kabupaten.id
        }
      })
      .then((resp) => {
        this.kecamatan = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Province", "Load data");
      })
      .then((resp) => {this.loadingElement.kecamatan = false})
    },

    closeModal(){
      this.$emit("trigger-modal", 'RefreshTable');
    },

    engineKecamatan() {
      this.retails.sales_unit_id = this.retailTemps.kecamatan.id;
    },

    toDraft() {
      this.engineKecamatan();
      this.retails.status = 'd';
      this.tempDt.status_name = 'Draft';
      if(this.id === null) {
        this.insert();
      } else {
        this.update();
      }
    },

    toSubmit() {
      this.engineKecamatan();
      this.retails.status = 's';
      this.tempDt.status_name = 'Submited';
      if(this.id === null) {
        this.insert();
      } else {
        this.update();
      }
    },

    handleCustomer() {
      let customer_uuid = this.$route.params.id
      if(customer_uuid != undefined) {
        this.retails.customer_uuid = customer_uuid
      }

    },

    insert() {
      event.preventDefault();
      this.loadingElement.button = true;
      // this.retails.valid_date_tdp = this.formatDate(this.retails.valid_date_tdp).split("-").reverse().join("-");
      // this.retails.valid_date_siup = this.formatDate(this.retails.valid_date_siup).split("-").reverse().join("-");
      // this.retails.npwp_register = this.formatDate(this.retails.npwp_register).split("-").reverse().join("-");
      // this.retails.valid_date_situ = this.formatDate(this.retails.valid_date_situ).split("-").reverse().join("-");
      this.handleCustomer()
      var url = '';
      (this.isRetailAdm ? url = 'retailadministratif' : url = 'retail')

      this.axios.post(url, this.retails)
      .then((resp) => {
        toastr.success("Entry data pengecer berhasil", "Sukses");
        $("#retailForm").modal("hide");
        this.loadingElement.button = false;
      })
      .catch((resp) => {
        let msg = resp.response.data.message;
        this.error = true;
        this.errors = resp.response.data.message;
        this.loadingElement.button = false;
        if(typeof msg === 'string') {
          toastr.error(msg, resp.response.data.errors);
        } else {
          toastr.error('Gagal menambakan data', 'Gagal');
        }
      })
    },

    update() {
      this.loadingElement.button = true;
      // this.retails.valid_date_tdp = this.retails.valid_date_tdp.split(" ").reverse().join("-");
      // this.retails.valid_date_siup = this.retails.valid_date_siup.split(" ").reverse().join("-");
      // this.retails.npwp_register = this.retails.npwp_register.split(" ").reverse().join("-");
      // this.retails.valid_date_situ = this.retails.valid_date_situ.split(" ").reverse().join("-");
      this.handleCustomer()
      event.preventDefault();
      var url = '';
      (this.isRetailAdm ? url = 'retailadministratif' : url = 'retail')

      this.axios.put(url+"/"+this.id, this.retails)
      .then((resp) => {
        toastr.success("Update data pengecer berhasil", "Sukses");
        $("#retailForm").modal("hide");
        this.loadingElement.button = false;
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        // toastr.error(this.errors);
        toastr.error('Gagal mengubah data', 'Gagal');
        this.loadingElement.button = false;
      })
    },

    getDistributorByid(id_distributor){
      this.loadingElement.provinsi = true;
      axios.get("distributor", {
        params: {
          id: id_distributor
        }
      })
      .then((resp)=>{
        if (resp.data.data[0].sales_office_id === null) {
          this.retailTemps.provinsi = "";
          this.retailTemps.kabupaten = "";
          this.retailTemps.kecamatan = "";
          this.isDisabledx.provinsi = false;
        } else {
          this.retailTemps.provinsi = {id: resp.data.data[0].sales_office_id, name: resp.data.data[0].sales_office_name};
          this.getKabupaten(this.retailTemps.provinsi);
          this.loadingElement.provinsi = false;
        }

      })
      .catch((resp)=>{
        console.log(resp);
      })
    },

    formatTgl(date){
      var formatter = new Intl.DateTimeFormat('id-ID', {day: '2-digit', month: 'short', year: 'numeric'})
      return formatter.format(new Date(date.split("-").reverse().join("-")));
      // return formatter.format(new Date(date));
    },
    formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [day, month, year].join('-');
    },
    npwp_register(date = ''){
      if (date != '') {
        if (date != '') {
          this.retails.npwp_register = date;
        } else {
          this.retails.npwp_register = ''
        }
      }
    },
    valid_date_siup(date = ''){
      if (date != '') {
        if (date != '') {
          this.retails.valid_date_siup = date;
        } else {
          this.retails.valid_date_siup = ''
        }
      }
    },
    valid_date_tdp(date = ''){
      if (date != '') {
        if (date != '') {
          this.retails.valid_date_tdp = date;
        } else {
          this.retails.valid_date_tdp = ''
        }
      }
    },
    valid_date_situ(date = ''){
      if (date != '') {
        if (date != '') {
          this.retails.valid_date_situ = date;
        } else {
          this.retails.valid_date_situ = ''
        }
      }
    },

  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
.vdp-datepicker__calendar {
  width: 230px !important;
}
</style>
