<template>
  <div class="modal fade" id="formUpload" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" :class="(type === 'form') ? 'modal-xl' : 'modal-md'">
        <div class="modal-content">
         <form @submit="saveRetails()">
          <div class="modal-header">
            <h4 class="modal-title">Validasi data upload</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <!-- <form-loader :view="isProcessing"></form-loader> -->
          <div class="modal-body table-responsive">
            <table v-if="type === 'form'" class="table table-xs table-bordered table-striped display nowrap">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Distributor</th>
                  <th>Sales Org</th>
                  <th>Kode Pengecer</th>
                  <th>Nama Pengecer</th>
                  <th>Nama Pemilik</th>
                  <th>Alamat</th>
                  <th>Kode Kecamatan</th>
                  <th>Kecamatan</th>
                  <th>Desa</th>
                  <th>No. Telpon</th>
                  <th>No. Fax</th>
                  <th>No. Handphone</th>
                  <th>Email</th>
                  <th>NPWP</th>
                  <th>Masa Berlaku NPWP</th>
                  <th>SIUP</th>
                  <th>Masa Berlaku SIUP</th>
                  <th>SITU</th>
                  <th>Masa Berlaku SITU</th>
                  <th>TDP</th>
                  <th>Masa Berlaku TDP</th>
                  <th>Surat Rekomendasi Dinas</th>
                  <th>Masa Berlaku Surat Rekomendasi Dinas</th>
                  <!-- <th>Status</th> -->
                </tr>
              </thead>
              <tbody>
                <tr v-for="data, i in dataUpload" class="filter">
                  <td>{{ i+1 }}</td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.customer_id"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.distributor) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.distributor) : ''">{{data.validate.message.distributor[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.sales_org_id"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.sales_org) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.sales_org) : ''">{{data.validate.message.sales_org[0]}}</p>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control form-control-sm form-upload" v-model="data.id"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.id) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.id) : ''">{{data.validate.message.id[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.name"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.name) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.name) : ''">{{data.validate.message.name[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.owner"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.owner) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.owner) : ''">{{data.validate.message.owner[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.address"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.address) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.address) : ''">{{data.validate.message.address[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.sales_unit_id"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.sales_unit_id || data.validate.message.sales_office) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.sales_unit_id) : ''">{{data.validate.message.sales_unit_id[0]}}</p>
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.sales_office) : ''"> {{data.validate.message.sales_office[0]}}</p>
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.sales_unit_id_spjb) : ''">{{data.validate.message.sales_unit_id_spjb[0]}}</p>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control form-control-sm form-upload" v-model="data.sales_unit_name"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.sales_unit_name) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.sales_unit_name) : ''">{{data.validate.message.sales_unit_name[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.village"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.village) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.village) : ''">{{data.validate.message.village[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.tlp_no"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.tlp_no) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.tlp_no) : ''">{{data.validate.message.tlp_no[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.fax_no"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.fax_no) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.fax_no) : ''">{{data.validate.message.fax_no[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.hp_no"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.no_handphone ||data.validate.message.hp_no ) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.no_handphone) : ''">{{data.validate.message.no_handphone[0]}}</p>
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.hp_no) : ''">{{data.validate.message.hp_no[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.email"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.email) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.email) : ''">{{data.validate.message.email[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.npwp_no"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.npwp_no) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.npwp_no) : ''">{{data.validate.message.npwp_no[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.npwp_register"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.npwp_register) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.npwp_register) : ''">{{data.validate.message.npwp_register[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.siup_no"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.siup_no) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.siup_no) : ''">{{data.validate.message.siup_no[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.valid_date_siup"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.valid_date_siup) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.valid_date_siup) : ''">{{data.validate.message.valid_date_siup[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.situ_no"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.situ_no) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.situ_no) : ''">{{data.validate.message.situ_no[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.valid_date_situ"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.valid_date_situ) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.valid_date_situ) : ''">{{data.validate.message.valid_date_situ[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.tdp_no"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.tdp_no) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.tdp_no) : ''">{{data.validate.message.tdp_no[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.valid_date_tdp"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.valid_date_tdp) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.valid_date_tdp) : ''">{{data.validate.message.valid_date_tdp[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.recomd_letter"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.recomd_letter) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.recomd_letter) : ''">{{data.validate.message.recomd_letter[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.recomd_letter_date"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.recomd_letter_date) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.recomd_letter_date) : ''">{{data.validate.message.recomd_letter_date[0]}}</p>
                  </td>
                  <!-- <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.status"
                    :class="{'is-invalid' : (typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.status) : '' }"
                    >
                    <p class="text-danger" v-if="(typeof data.validate !== 'undefined') ? (data.validate.status === 0) && (data.validate.message.status) : ''">{{data.validate.message.status[0]}}</p>
                  </td> -->
                </tr>
              </tbody>
            </table>
            <div v-else-if="type === 'validate'" v-for="(dataError, i) in retails" class="alert bg-danger alert-dismissible mb-2" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong> Baris ke {{ dataError.validate.sheet_no }} </strong>
              <br>
              <ul>
                <li v-if="dataError.validate.message.distributor">{{ dataError.validate.message.distributor[0] }}</li>
                <li v-if="dataError.validate.message.npwp_no">{{ dataError.validate.message.npwp_no[0] }}</li>
                <li v-if="dataError.validate.message.sales_unit_id">{{ dataError.validate.message.sales_unit_id[0] }}</li>
                <li v-if="dataError.validate.message.siup_no">{{ dataError.validate.message.siup_no[0] }}</li>
                <!-- <li v-if="dataError.validate.message.status">{{ dataError.validate.message.status[0] }}</li> -->
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button :disabled="isProcessing" type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button :disabled="isProcessing" type="submit" class="btn btn-primary">
              <i v-if="isProcessing" class="fa fa-spin fa-refresh"></i>Submit</button>
          </div>
        </form>
        </div>
    </div>
  </div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';

export default {
  props: ['retails', 'type'],
  data: function(){
    return {
      dataUpload: this.retails,
      isProcessing: false,
    }
  },
  mounted() {
    var app = this;
    $("#formUpload").modal("show");
    $('#formUpload').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  components:{
    FormLoader
  },
  methods:{
    closeModal() {
      this.$emit("trigger-modal", "RefreshTable");
    },
    saveRetails() {
      event.preventDefault();
      this.isProcessing = true;
      this.axios.post('retail/json/bulk', this.dataUpload)
      .then((resp) => {
        this.isProcessing = false;
        $("#formUpload").modal("hide");
        toastr.success('Data disimpan ke database');
      })
      .catch((resp) => {
        this.isProcessing = false;
        if(resp.response.data.data) {
          this.dataUpload = resp.response.data.data
        }
        // toastr.success(resp.response);
        toastr.error(resp.response.data.message, 'Error');
      })
    }
  }
}
</script>

<style lang="css">
  .form-upload {
    width: 200px !important;
  }
</style>
