<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                      <button v-if="access.C === true" type="button" class="btn btn-primary square" v-on:click="uploadFile"> <i class="fa fa-upload"></i>
                          {{ $ml.get("global.form.labelUpload") }}
                      </button>
                      <button v-if="access.C === true" @click="openformModal" type="button" class="btn btn-primary square" > <i class="fa fa-plus"></i>
                          {{ $ml.get("global.form.labelAdd") }}
                      </button>
                    <a href="template-excel/desa/Template-Maste-Desa.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
                    <button  type="button" class="btn btn-primary square" id="downloadTableExcel" > <i class="fa fa-download"></i>
                      Download
                    </button>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table id="desa-datatable" class="table table-xs table-bordered table-striped display nowrap" style="width:100%">
                    <thead>
                      <desa-filter @search-table="searchTable"> </desa-filter>
                      <tr>
                        <th>Kode Provinsi</th>
                        <th>Nama Provinsi</th>
                        <th>Kode Kabupaten</th>
                        <th>Nama Kabupaten</th>
                        <th>Kode Kecamatan</th>
                        <th>Nama Kecamatan</th>
                        <th>Kode Desa</th>
                        <th>Nama Desa</th>
                        <th>Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- <div class="row" v-if="access.A === true">
                <div class="col-md-12">
                  <hr>
                  <div class="btn-group mr-1 mb-1 pull-right dropup">
                    <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                      Aksi
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" @click="action('y')" href="#">Active</a>
                      <a class="dropdown-item" @click="action('n')" href="#">Inactive</a>
                    </div>
                  </div>
                </div>
              </div> -->

            </div>
          </div>
        </div>
      </div>
      <desa-form :access="access" :getid="dataid" @trigger-modal="triggerModal" :getdata="array_desa" ></desa-form>
      <desa-upload v-if="modalUpload" @trigger-modal="triggerModal"></desa-upload>
    </section>
  </div>
</template>

<script>
import DesaFilter from './DesaFilter.vue';
import DesaForm from './modal/Form.vue';
import DesaUpload from './modal/Upload.vue';

export default {
  data: function(){
    return {
      modalForm : false,
      modalUpload : false,
      dt: '',
      dataid: null,
      dataarr: '',
      access: {},
      loading:{
        changeStatus: false
      },
      desa: {},
      array_desa: {},
      datafilter: {},
    }
  },
  components:{
    DesaFilter,
    DesaForm,
    DesaUpload
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted(){
    var app = this;
    $(document).ready(function() {
      app.dt = $('#desa-datatable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-primary square mb-1 downloadTableExcel',
            text: "Download Master Desa ke Excel",
            title:"",
            filename:"Download Master Desa ke Excel",
          }
        ],
        ajax:{
          'url': 'api/village',
          'type': 'GET',
          'data': function(d){
            d.uuid = app.desa.uuid,
            d.sales_office_id = app.desa.sales_office_id,
            d.sales_group_id = app.desa.sales_group_id,
            d.sales_unit_id = app.desa.sales_unit_id,
            d.village_code = app.desa.village_code,
            d.village_name = app.desa.village_name,
            d.sales_office_name = app.desa.sales_office_name,
            d.sales_group_name = app.desa.sales_group_name
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
           { "orderable": false, "targets": 0 }
        ],
        columns: [
            {data: 'sales_office_id', name: 'sales_office_id'},
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_id', name: 'sales_group_id'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'sales_unit_id', name: 'sales_unit_id'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'village_code', name: 'village_code'},
            {data: 'village_name', name: 'village_name'},
            {
              data: 'uuid',
              render : function(data, type, full){
                if (!app.access.D) {
                  var aksi = '';
                } else {
                  if (full.status === 'y') {
                    var aksi = '-';
                  } else {
                    var aksi = '<a href="#" id="detailData" data-id="'+full.village_id+'">Edit</a> | <a href="#" id="hapusData" data-id="'+full.village_id+'">Hapus</a>';
                  }
                }

                return aksi;
              }
            },
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $("#downloadTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadTableExcel").trigger('click');
      })
      $(document).on("click", "#detailData", function(e){
        e.preventDefault();
        var idx = $(this).data("id");
        app.detailData(idx);
      })
      $(document).off("click", "#hapusData").on("click", "#hapusData", function(e){
        e.preventDefault();
        if (confirm("Yakin ingin menghapus data desa ?") == true) {
          var idx = $(this).data("id");
          app.hapusData(idx);
        }
      })


    })
  },
  methods: {
    action(type) {
      event.preventDefault();
      if(this.check.length != 0) {
        this.loading.changeStatus = true;
        this.check = this.check.map(data => {
          return {uuid: data.id, status: type}
        })
        this.saveAction();
      } else {
        toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
      }
    },
    saveAction(){
      this.axios.post('desa/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.message, "Pesan")
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
      })
    },
    openformModal(){
      $("#openformModal").modal("show");
      this.dataid = null;
    },
    searchTable(obj){
      this.desa = obj;
      this.dt.draw();
    },
    addModal(){
      var app = this;
    },
    uploadFile (){
      this.modalUpload = true;
      $('#uploadExcelModal').modal('show');
    },
    hapusData(desa_id){
      this.axios.delete("village/"+desa_id)
      .then((resp) => {
        toastr.success("Delete data berhasil", "Sukses");
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.error("Delete data gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
      })
    },
    detailData(id){
      this.dataid = id;
      $("#openformModal").modal("show");
    },
    triggerModal(params = false){
      if(params === 'RefreshTable'){
        this.dt.draw();
      }
      this.modalUpload = false;
      this.modalForm = false
      this.dataid = null;
    },

  }
}
</script>

<style lang="css">
div.dt-buttons {
  float: right !important;
  display: none;
}
</style>
