<template lang="html">
  <tr class="filter">
    <th>
      <input type="text"
      id="sales_office_id"
      v-on:keyup="search()"
      v-model="village.sales_office_id"
      class="form-control form-control-sm">
    </th>
    <th>
      <input type="text"
      id="sales_office_name"
      v-on:keyup="search()"
      v-model="village.sales_office_name"
      class="form-control form-control-sm">
    </th>
    <th>
      <input type="text"
      id="sales_group_name"
      v-on:keyup="search()"
      v-model="village.sales_group_id"
      class="form-control form-control-sm">
    </th>
    <th>
      <input type="text"
      v-model="village.sales_group_name"
      v-on:keyup="search()"
      class="form-control form-control-sm">
    </th>
    <th>
      <input type="text"
      v-model="village.sales_unit_id"
      v-on:keyup="search()"
      class="form-control form-control-sm">
    </th>
    <th>
      <input type="text"
      v-model="village.sales_group_name"
      v-on:keyup="search()"
      class="form-control form-control-sm">
    </th>
    <th>
      <input type="text"
      v-model="village.village_code"
      v-on:keyup="search()"
      class="form-control form-control-sm">
    </th>
    <th>
      <input type="text"
      v-model="village.village_name"
      v-on:keyup="search()"
      class="form-control form-control-sm">
    </th>
    <th></th>
  </tr>
</template>
<script>
import Checklist from '../../filter/Checklist';
export default {
  data: function() {
    return {
      btnStatus: 'Filter Status',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'}
      ],
      village: {
        sales_office_id : '',
        sales_group_id : '',
        sales_unit_id : '',
        village_code : '',
        village_name : '',
        sales_office_name : '',
        sales_group_name : '',
      }
    }
  },
  mounted() {
    var app = this;
    $(document).on("keyup", "#sales_office_id", function(){
      app.village.sales_office_id = $(this).val();
      app.search();
    })
    $(document).on("keyup", "#sales_office_name", function(){
      app.village.sales_office_name = $(this).val();
      app.search();
    })
  },
  components: {
    FilterStatus: Checklist
  },
  methods: {
    searchTable(obj) {
      var status = obj.join(';');
      this.village.status = status;
      console.log(this.village.status);
      this.search();
    },
    search() {
      event.preventDefault();
      this.$emit("search-table", this.village);
    }
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
