<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">Desa</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Master Data</a>
              </li>
              <li class="breadcrumb-item active">Desa
              </li>
            </ol>
          </div>
        </div>
      </div>
      <desa-table>
      </desa-table>
    </div>
  </transition>
</template>

<script>
import DesaTable from './DesaComponent.vue';
export default {
  components: {
    DesaTable
  }
}
</script>

<style lang="css">
</style>
