<template lang="html">
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="horz-layout-colored-controls">Checkout </h4>
      </div>
      <form-loader :view="loaderAnimate"></form-loader>
      <div v-if="pageloder" class="card-content collpase show">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="card-text">
                    <div class="row">
                      <div class="col-sm-6 text-left">Produsen</div>
                      <div class="col-sm-6">{{ master_data.sales_org_name }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">Kode Referensi</div>
                      <div class="col-sm-6">{{ master_data.reference_code }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">SPJB</div>
                      <div class="col-sm-6">{{ master_data.contract_number }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">Tanggal</div>
                      <div class="col-sm-6">{{ convertDate(master_data.order_date) }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">No</div>
                      <div class="col-sm-6">{{ master_data.number }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">Pembeli</div>
                      <div class="col-sm-6">{{ master_data.customer_id }} - {{ master_data.customer_name }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">Diterima Oleh</div>
                      <div class="col-sm-6">{{ master_data.partner_id }} - {{ master_data.partner_name }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">Status</div>
                      <div class="col-sm-6">{{ master_data.status_name }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">Syarat Penebusan</div>
                      <div class="col-sm-6">{{ master_data.delivery_method_name }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">Tipe Pembayaran</div>
                      <div class="col-sm-6">{{ master_data.payment_method }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">Tanggal Request mulai pengambilan</div>
                      <div class="col-sm-6">{{ convertDate(master_data.order_date) }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">Provinsi</div>
                      <div class="col-sm-6">{{ master_data.sales_office_name }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">Kabupaten</div>
                      <div class="col-sm-6">{{ master_data.sales_group_name }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-left">Jenis Kendaraan</div>
                      <div class="col-sm-6">{{ master_data.desc }}</div>
                    </div>
                    <!-- <br/>
                    <div v-if="!loading">
                      <button v-if="access.U && status_order && role === 2 && disable_plant && parseInt(so_upload) === 0" type="button" class="btn btn-success mr-1 pull-left" @click="changePlant" :disabled="loading">
                        <i class="fa fa-pencil-square-o"></i>
                        Ubah Plant
                      </button>
                      <button v-if="access.U && status_order && role === 2 && !disable_plant && parseInt(so_upload) === 0" type="button" class="btn btn-danger mr-1 pull-left" @click="changePlant" :disabled="loading">
                        <i class="fa fa-times"></i>
                        Batal
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="card-text">
                    <div class="row">
                      <div class="col-sm-6 text-right">Jumlah Sebelum Pajak</div>
                      <div class="col-sm-6 text-right" v-if="parseInt(so_upload) === 1">Rp. {{ formatPrice(isSoUpload.total_price_before_ppn) }}</div>
                      <div class="col-sm-6 text-right" v-else>Rp. {{ formatPrice(tempDt.ZHTR_grand_total) }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-right">Jumlah Pajak (PPN)</div>
                      <div class="col-sm-6 text-right" v-if="parseInt(so_upload) === 1">Rp. {{ formatPrice(isSoUpload.ppn) }}</div>
                      <div class="col-sm-6 text-right" v-else>Rp. {{ formatPrice(tempDt.YMWS_grand_total) }}</div>
                    </div>
                    <div v-if="wapuState.trimStatus === 3 && (wapuState.status === 'WAPU' || wapuState.status === 'NON_WAPU' || wapuState.status === '-')" class="row">
                      <div class="col-sm-6 text-right text-danger">Jumlah Pajak (PPH22) </div>
                      <div class="col-sm-6 text-right text-danger" v-if="parseInt(so_upload) === 1">Rp. {{ formatPrice(isSoUpload.pph22) }}</div>
                      <div class="col-sm-6 text-right text-danger" v-else>Rp. {{ formatPrice(master_data.pph22) }}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 text-right">Jumlah Setelah Pajak</div>
                      <div class="col-sm-6 text-right" v-if="parseInt(so_upload) === 1">Rp. {{ formatPrice(isSoUpload.total_price) }}</div>
                      <div class="col-sm-6 text-right" v-else>Rp. {{ formatPrice(tempDt.ZHTN_grand_total) }}</div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="card" style="background-color: #7fb0ff;">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="card-text">
                            <div class="row">
                              <div class="col-sm-6 text-right">Uang Muka</div>
                              <div class="col-sm-6 text-right" v-if="parseInt(so_upload) === 1">Rp. {{ formatPrice(isSoUpload.upfront_payment) }}</div>
                              <div class="col-sm-6 text-right" v-else>Rp. {{ formatPrice(master_data.uang_muka) }}</div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6 text-right">Sisa Pembayaran <br> (Untuk Transaksi DF) </div>
                              <div class="col-sm-6 text-right">Rp. {{ formatPrice(master_data.sisa_pembayaran) }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form class="form form-horizontal">
          <div class="card-body">
              <div class="form-body">
                <!-- <h1>STEP 2 {{ paramId }}</h1> -->
              </div>
              <form class="form form-horizontal">
                <div class="form-body">
                  <table-penebusan :disable_plant="disable_plant" :disable_all="disable_all" @trigger-item-change-checkout="triggerItemChangeCheckout" @trigger-checkout="triggerItem" :order_id="m_order_id" :data_item="m_item_penebusan" :data_product="m_item_prod" :data_gudang="m_gudang_plant" :loading_plant="loading_plant" :type="formType" ref="child"></table-penebusan>
                </div>
              </form>
              <div class="form-actions top clearfix">
                <div v-if="master_data.status === 'd'" class="buttons-group float-left">
                  <button type="button" class="btn btn-danger mr-1" @click="toCancel" :disabled="loading">
                    <i class="ft-x"></i> Sebelumnya
                  </button>
                </div>
                <div v-else class="buttons-group float-left">
                  <button type="button" class="btn btn-danger square" @click="goBack()" :disabled="loading" ><i class="fa fa-chevron-circle-left"></i> Kembali</button>
                </div>
                <div v-if="(access.C === true || access.U === true) && master_data.status === 'd'" class="buttons-group float-right">
                  <button type="button" class="btn btn-success mr-1" @click="toDraft" :disabled="loading">
                    <i v-if="loading" class="fa fa-spin fa-refresh"></i>
                    Submit
                  </button>
                </div>
                <div v-if="access.C && access.U && status_order && role != 4 && parseInt(so_upload) === 0" class="buttons-group float-right">
                  <button type="button" class="btn btn-primary" @click="handleChangeCheckut" :disabled="loading">
                    <i v-if="loading" class="fa fa-spin fa-refresh"></i>
                    Submit
                  </button>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
import TablePenebusan from '../step-2/TablePenebusan';

export default {
  data: function(){
    return {
      errors: {},
      error: false,
      next_step: false,
      status_order: false,
      disable_plant: true,
      loaderAnimate: true,
      loading_plant: false,
      pageloder:false,
      loading:true,
      loading_change:true,
      statusItem: '',
      isSoUpload:{
        pph22: 0,
        ppn: 0,
        total_price: 0,
        total_price_before_ppn: 0,
        upfront_payment: 0,
      },
      wapuState: {
        trimStatus : null,
        status : null,
      },
      paramId: (this.$route.params.id === 'null') ? null : this.$route.params.id,
      isChangePlant: (typeof this.$route.fullPath.split("/")[7] !== 'undefined') ? this.$route.fullPath.split("/")[7] === 'change-plant' : false,
      order_id: null,
      customer_id: null,
      sales_org_id: null,
      sales_group_id: null,
      payment_method_id: null,
      sendDt: [],
      sendDtChangeCheckout: [],
      tempDt: {},
      access: {},
      master_data: {
        uang_muka: null,
        sisa_pembayaran: null,
        order_date: '',
        today: ''
      },
      changeCheckout: {
        retail_id: '',
        plant_id: '',
        product_id: '',
        new_plant_id: ''
      },
      disable_all: true,
      m_item_penebusan: [],
      m_item_prod: [],
      m_gudang: [],
      m_gudang_plant: [],
      m_order_id: null,
      setChild: false,
      role: null,
      so_upload: null,
      formType: 'checkout',
    }
  },
  components: {
    FormLoader,
    TablePenebusan
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    var app = this;
    this.getAccessControl();
    console.log();
    if (this.paramId !== null) {
      this.getDatabyuuid(this.paramId);
    } else {
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/'});
    }
    // this.$watch(vm => [vm.order_id, vm.customer_id, vm.sales_org_id, vm.sales_group_id, vm.setChild], val => {
    //   if (this.order_id !== null ) {
    //     this.getItemPenebusan(this.order_id);
    //   }
    //   if (this.customer_id !== null && this.sales_org_id !== null) {
    //     this.getGudang(this.customer_id, this.sales_org_id);
    //     this.checkWapu(this.customer_id, this.sales_org_id);
    //   }
    //   if (this.sales_org_id !== null && this.sales_group_id !== null) {
    //     this.getGudangPlant(this.sales_org_id, this.sales_group_id);
    //   }
    // })
  },
  methods: {
    getDatabyuuid(uuid){
      this.axios.get("order/id/"+uuid)
      .then((resp)=>{
        this.order_id = resp.data.data.id;
        this.customer_id = resp.data.data.customer_id;
        this.sales_org_id = resp.data.data.sales_org_id;
        this.sales_group_id = resp.data.data.sales_group_id;
        this.master_data = resp.data.data;
        this.payment_method_id = resp.data.data.payment_method;
        this.isSoUpload.pph22 = resp.data.data.pph22;
        this.isSoUpload.ppn = resp.data.data.ppn;
        this.isSoUpload.total_price = resp.data.data.total_price;
        this.isSoUpload.total_price_before_ppn = resp.data.data.total_price_before_ppn;
        this.isSoUpload.upfront_payment = resp.data.data.upfront_payment;
        this.so_upload = parseInt(resp.data.data.so_upload);
        this.statusItem = resp.data.data.status;
        let status_order = resp.data.data.status;
        this.getItemPenebusan(this.order_id);
        // console.log(this.isChangePlant);
        if((status_order === 'l' || status_order === 'u' || status_order === 'k') && parseInt(resp.data.data.so_upload) === 0 && this.isChangePlant) {
          this.status_order = true;
          this.disable_plant = false;
        } else {
          this.status_order = false;
          this.disable_plant = true;
        }
        this.$emit("sess-checkout", resp.data.data)
      })
      .catch((resp) => { toastr.error('failed to get data item', 'error'); })
    },
    getItemPenebusan(dt_orderId){
      var app = this;
      if (dt_orderId !== null && this.statusItem !== '') {
        this.loaderAnimate = true;
        this.pageloder = false;
        if(this.statusItem === 'd') { 
          var param = {
            order_id: dt_orderId
          }
        } else {
          var param = {
            view: true,
            order_id: dt_orderId
          }
        }
        this.axios.get('order/item/spjb', {
          params: {
            view: true,
            order_id: dt_orderId
          }
        })
        .then((resp)=>{
          this.m_item_penebusan = resp.data;
          this.m_item_prod = resp.data.kecamatan[0].products;
          this.m_order_id = dt_orderId;
          this.loading = false;
          this.getGudang(this.customer_id, this.sales_org_id);
        })
        .catch((resp) => { 
          // this.loaderAnimate = false;
          // this.pageloder = true;
          toastr.error("Failed To Load SPJB Item", "Fail");
          var access = this.$route.params.access;
          this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/'});
        })
        .then((resp) => {
          console.log(resp);
        })
      }
    },
    getGudang(customer_id, sales_org_id){
      if (customer_id !== null && sales_org_id !== null) {
        this.axios.get("gudang/shipto", {
          params: {
            customer_id: customer_id,
            sales_org_id: sales_org_id,
          }
        })
        .then((resp)=>{
          this.m_gudang = resp.data.data;
          this.checkWapu(this.customer_id, this.sales_org_id);
          this.getGudangPlant(this.sales_org_id, this.sales_group_id);
        })
        .catch((resp) => { 
          toastr.error("Failed To Load Shipto", "Fail");
          var access = this.$route.params.access;
          this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/'});
         })
        .then((resp) => {
          console.log(resp)
        })
      }
    },
    getGudangPlant(sales_org_id, sales_group_id){
      if (sales_org_id !== null && sales_group_id !== null) {
        this.loading_plant = true;
        this.axios.get("plant/supply", {
          params: {
            sales_org_id: sales_org_id,
            sales_group_id: sales_group_id,
          }
        })
        .then((resp)=>{
          this.m_gudang_plant = resp.data.data;
          this.setChild = true;
          this.loading_plant = false;
          this.loaderAnimate = false;
          this.pageloder = true;
        })
        .catch((resp) => { 
          this.loading_plant = false;
          // console.log(resp) 
          toastr.error("Failed To Load Plant", "Fail");
          var access = this.$route.params.access;
          this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/'});
        })
        .then((resp) => {
          console.log(resp)
        })
      }
    },
    toDraft(val = false) {
      var app = this;
      app.insert(val)
    },
    insert(val){
      event.preventDefault();
      this.loading = true;
      this.axios.put('order/status/'+this.paramId,{
        status: 's',
        upfront_payment: this.master_data.uang_muka,
        total_price: this.tempDt.ZHTN_grand_total,
      })
      .then((resp) => {
        toastr.success("Entry data Order berhasil", "Sukses");
        var access = this.$route.params.access;
        this.loading = false;
        if (val === 'next') {
          this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/monitoring-order/'});
        } else {
          this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/monitoring-order/'});
        }
      })
      .catch((resp) => {
        toastr.error("Entry data Order gagal", "Gagal");
        if(resp.response.data.message = "messages.limit-unavailable"){
          toastr.error("Limit Tidak Mencukupi!");
        }
        this.error = true;
        this.loading = false;
        this.errors = resp.response.data.message;
      })
    },
    toCancel(){
      var id = this.paramId;
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/detail/'+id+'/step-2/'});
    },
    formatPrice(value) {
      if (isNaN(value) === false) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      } else {
        return 0;
      }
    },
    triggerItem(params){
      this.tempDt = params;
      if (this.wapuState.status === 'WAPU') {
        this.TrimWCM(this.master_data.payment_method);
        this.setKondisiWapu(this.master_data.payment_method, this.wapuState.trimStatus);
      } else if (this.wapuState.status === 'NON_WAPU') {
        this.TrimWCM(this.master_data.payment_method);
        this.setNonWapuPPH(this.master_data.payment_method, this.wapuState.trimStatus);
      } else if (this.wapuState.status === 'WAPU_NON_PPH22') {
        this.TrimWCM(this.master_data.payment_method);
        this.setWapuNonPph22(this.master_data.payment_method, this.wapuState.trimStatus);
      } else {
        this.setNonWapu(this.master_data.payment_method);
      }
    },
    checkWapu(customer, sales_org){
      this.axios.get("salesarea/customer", {
        params: {
          customer_id: customer,
          sales_org_id : sales_org,
        }
      })
      .then((resp)=>{
        if ((resp.data.data.tax_classification === '3' || resp.data.data.tax_classification === '2') && resp.data.data.pph22 === '05') {
          // WAPU
          this.wapuState.status = 'WAPU';
        } else if (resp.data.data.tax_classification === '1' && resp.data.data.pph22 === '05') {
          // NON WAPU PPH
          this.wapuState.status = 'NON_WAPU';
        } else if ((resp.data.data.tax_classification === '3' || resp.data.data.tax_classification === '2') && resp.data.data.pph22 !== '05') {
          // WAPU NON PPH
          this.wapuState.status = 'WAPU_NON_PPH22';
        } else {
          // BIASA
          this.wapuState.status = '-';
        }
        // console.log(this.wapuState.status);
      })
      .catch((resp) => { console.log(resp) })
    },
    TrimWCM(type){
      const dpp = parseInt(this.tempDt.ZHTR_grand_total);
      const ppn = parseInt(this.tempDt.YMWS_grand_total);
      const limit = 10000000;
      const total_dp = dpp + ppn;
      if (dpp <= limit && total_dp >= limit) {
        this.wapuState.trimStatus = 1;
      } else if (dpp <= limit && total_dp <= limit) {
        this.wapuState.trimStatus = 2;
      } else if (dpp >= limit && total_dp >= limit) {
        this.wapuState.trimStatus = 3;
      }
      // console.log("trim_wcm = "+this.wapuState.trimStatus);
    },
    setNonWapu(type){
      switch (type) {
        case 'Cash':
          this.master_data.uang_muka = this.tempDt.ZHTN_grand_total;
          this.master_data.sisa_pembayaran = 0;
          break;
        case 'Distributor Financing':
          this.master_data.uang_muka = this.tempDt.YMWS_grand_total;
          this.master_data.sisa_pembayaran = this.tempDt.ZHTR_grand_total;
          break;
        default:
          console.log("Tipe Pembayaran Tidak Ditemukan");
      }
    },
    setKondisiWapu(type, wcm_type){
      if (type === 'Cash') {
        this.master_data.sisa_pembayaran = 0;
        if (wcm_type === 1) {
          this.master_data.uang_muka = this.tempDt.ZHTR_grand_total;
        } else if (wcm_type === 2) {
          this.master_data.uang_muka = parseInt(this.tempDt.ZHTR_grand_total)+parseInt(this.tempDt.YMWS_grand_total);
        } else if (wcm_type === 3) {
          this.master_data.uang_muka = parseInt(this.tempDt.ZHTR_grand_total)-parseInt(this.master_data.pph22);
          this.tempDt.ZHTN_grand_total = (parseInt(this.tempDt.ZHTR_grand_total)+parseInt(this.tempDt.YMWS_grand_total))-parseInt(this.master_data.pph22);
        } else {
          console.log("type pembayaran ("+type+") atau kondisi ("+wcm_type+") tidak ditemukan");
        }
      } else if (type === 'Distributor Financing') {
        this.master_data.uang_muka = this.tempDt.YMWS_grand_total;
        if (wcm_type === 1 || wcm_type === 2) {
          this.master_data.sisa_pembayaran = this.tempDt.ZHTR_grand_total;
        } else if (wcm_type === 3) {
          this.master_data.sisa_pembayaran = parseInt(this.tempDt.ZHTR_grand_total)-parseInt(this.master_data.pph22);
        } else {
          console.log("type pembayaran ("+type+") atau kondisi ("+wcm_type+") tidak ditemukan");
        }
      } else {
        console.log("type pembayaran ("+type+") tidak ditemukan");
      }
    },
    setWapuNonPph22(type, wcm_type){
      // console.log("wcm_type :: "+wcm_type);
      if (type === 'Cash') {
        this.master_data.sisa_pembayaran = 0;
        if (wcm_type === 1) {
          this.master_data.uang_muka = this.tempDt.ZHTR_grand_total;
        } else if (wcm_type === 2) {
          this.master_data.uang_muka = parseInt(this.tempDt.ZHTR_grand_total)+parseInt(this.tempDt.YMWS_grand_total);
        } else if (wcm_type === 3) {
          this.master_data.uang_muka = this.tempDt.ZHTR_grand_total;
        } else {
          console.log("type pembayaran ("+type+") atau kondisi ("+wcm_type+") tidak ditemukan");
        }
      } else if (type === 'Distributor Financing') {
        this.master_data.uang_muka = this.tempDt.YMWS_grand_total;
        if (wcm_type === 1 || wcm_type === 2) {
          this.master_data.sisa_pembayaran = this.tempDt.ZHTR_grand_total;
        } else if (wcm_type === 3) {
          this.master_data.sisa_pembayaran = parseInt(this.tempDt.ZHTR_grand_total)-parseInt(this.master_data.pph22);
        } else {
          console.log("type pembayaran ("+type+") atau kondisi ("+wcm_type+") tidak ditemukan");
        }
      } else {
        console.log("type pembayaran ("+type+") tidak ditemukan");
      }
    },
    setNonWapuPPH(type, wcm_type){
      if (type === 'Cash') {
        this.master_data.sisa_pembayaran = 0;
        var sum_dpp_ppn = parseInt(this.tempDt.ZHTR_grand_total)+parseInt(this.tempDt.YMWS_grand_total);
        if (wcm_type === 1 || wcm_type === 2) {
          this.master_data.uang_muka = sum_dpp_ppn;
        } else if (wcm_type === 3) {
          this.master_data.uang_muka = sum_dpp_ppn-parseInt(this.master_data.pph22);
        } else {
          console.log("type pembayaran ("+type+") atau kondisi ("+wcm_type+") tidak ditemukan");
        }
      } else if (type === 'Distributor Financing') {
        this.master_data.uang_muka = this.tempDt.YMWS_grand_total;
        if (wcm_type === 1 || wcm_type === 2) {
          this.master_data.sisa_pembayaran = this.tempDt.ZHTR_grand_total;
        } else if (wcm_type === 3) {
          this.master_data.sisa_pembayaran = parseInt(this.tempDt.ZHTR_grand_total)-parseInt(this.master_data.pph22);
        } else {
          console.log("type pembayaran ("+type+") atau kondisi ("+wcm_type+") tidak ditemukan");
        }
      } else {
        console.log("type pembayaran ("+type+") tidak ditemukan");
      }
    },
    checkPendingRequest(){
      var app = this;
      var countPending = 0;
      // Add a request interceptor
      axios.interceptors.request.use((config) => {
          countPending++;
          // show loader
          return config;
      }, (error) => Promise.reject(error));

      // Add a response interceptor
      axios.interceptors.response.use((response) => {
          countPending--;
          // console.log("------------  Ajax pending", countPending);
          if (countPending > 0 ) {
            app.loading = true;
            app.setChild = false;
          } else {
            app.loading = false;
            app.setChild = true;
          }
          // (countPending > 0 ? app.loading = true : app.loading = false)
          return response;
      }, (error) => Promise.reject(error));
    },
    changePlant(){
      this.disable_plant = !this.disable_plant;
      this.loading_change = !this.loading_change;
      if(this.disable_plant === true){
        this.getItemPenebusan(this.order_id);
      }
    },
    handleChangeCheckut(){
      var check_plant = true;
      var check_sisa = true;
      var check_rdkk = true;
      this.$refs.child.setSendChangeCheckout()
      if (this.sendDtChangeCheckout.length > 0) {
          this.saveChangeCheckout()
      } else {
        alert("Data Kosong, Lengkapi Data Item Penebusan")
      }
    },
    saveChangeCheckout(){
      event.preventDefault();

      this.loading = true;
      var access = this.$route.params.access;
      this.axios.put('order/'+this.paramId+'/changeplant', this.sendDtChangeCheckout)
      .then((resp) => {
        toastr.success("Berhasil Menyimpan Data", "Sukses");
        this.loading = false;
        this.getItemPenebusan(this.order_id);
      })
      .catch((resp) => {
        this.error = true;
        this.loading = false;
        this.errors = resp.response.data.data;
        
        const msg = 'Gagal Menyimpan Data';
        let msgDt = resp.response.data;

        (msgDt.message) ? toastr.error(msgDt.message) : toastr.error(msg);

        if(typeof msgDt.data !== 'undefined' && msgDt.data.length > 0){
          msgDt.data.map(data => {
            if(data.message){
              const data_message = (data.message) ? '<li>'+data.message+'</li>' : '';
              toastr.error(
                '<ul>'+
                  data_message+
                '</ul>',
                ' '
              )
            }
          })
        }
        // this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/monitoring-order/'});
      })
    },
    triggerItemChangeCheckout(params, params2){
      this.sendDtChangeCheckout = params;
      this.tempDt = params2;
    },
    getAccessControl(){
      const getLocalSearch = localStorage.getItem('access-control');
      const encodeAccess = decodeURIComponent(getLocalSearch);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const accessControl = decodeAccess.split(";")[0];
      this.role = parseInt(accessControl);
    },
    goBack(){
      window.history.back();
    }
  }
}
</script>

<style lang="css">
</style>
