<template>
    <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">{{ $ml.get("petaniMasterPage.title") }}</h3>
          </div>
          <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ $ml.get("petaniMasterPage.breadcrumbFirst") }}</a>
                </li>
                <li class="breadcrumb-item active">{{ $ml.get("petaniMasterPage.breadcrumbSec") }}
                </li>
              </ol>
            </div>
          </div>
        </div>
        <petani-table-component>
        </petani-table-component>
      </div>
    </transition>
</template>
<script type="text/javascript">
  import PetaniTableComponent from './PetaniTable';
  export default {
    components : {
      PetaniTableComponent
    },
    mounted(){

    },
  }
</script>
