<template>
  <div class="modal fade" id="openformPetani" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- <form id="formmodal" @submit="senddata('openformPetani')" > -->
          <div class="modal-header">
            <h4 v-if="getid != null && statusinfoumum == true" class="modal-title" id="">{{ $ml.get("global.form.labelEdit") }}  </h4>
            <h4 v-else-if="getid != null && statusinfoumum != true" class="modal-title" id="">{{ $ml.get("global.form.labelShowData") }}  </h4>
            <h4 v-else class="modal-title" id="">{{ $ml.get("global.form.labelAdd") }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <form-loader :view="loaderAnimate"></form-loader>
            <div class="row" v-if="pageloder">
              <div class="col-md-12">
                <!-- <petani-form :sendid="getid" :petani="petani"></petani-form> -->
                <div class="form-body">
                  <div class="" v-if="statusinfoumum == true" >
                    <h4 class="form-section"><i class="ft-user"></i> Informasi Umum</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control" >Distributor </label>
                                <div class="col-md-8">
                                  <multiselect
                                    @input="getProdusen"
                                    v-model="petani.distributor"
                                    :options="m_distributor"
                                    track-by="id" :custom-label="DistnameWithId"
                                    :searchable="true" :close-on-select="true"
                                    :show-labels="false" :placeholder="(loadingElement.distributor === false) ? 'Pilih ..' : 'Memuat ..'"
                                    :disabled="isDisabledDistributor"
                                  >
                                  </multiselect>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control" >Produsen</label>
                               <div class="col-md-8">
                                 <multiselect
                                   @input=""
                                   v-model="petani.produsen"
                                   :options="m_produsen"
                                   track-by="id" :custom-label="ProdnameWithId"
                                   :searchable="true" :close-on-select="true"
                                   :show-labels="false" :placeholder="(loadingElement.produsen === false) ? 'Pilih ..' : 'Memuat ..'"
                                   :disabled="isDisabled"
                                 >
                                 </multiselect>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control" >Pengecer</label>
                                <div class="col-md-8">
                                  <multiselect
                                    @input="getFarmergroup"
                                    v-model="petani.pengecer"
                                    :options="m_pengecer"
                                    track-by="id" :custom-label="PengecerWithId"
                                    :searchable="true" :close-on-select="true"
                                    :show-labels="false" :placeholder="(loadingElement.pengecer === false) ? 'Pilih ..' : 'Memuat ..'"
                                    :disabled="isDisabled"
                                  >
                                  </multiselect>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control" >Kelompok Tani</label>
                                <div class="col-md-8">
                                  <multiselect
                                    @input=""
                                    v-model="petani.keltani"
                                    :options="m_keltani"
                                    track-by="id" :custom-label="KeltaniWithId"
                                    :searchable="true" :close-on-select="true"
                                    :show-labels="false" :placeholder="(loadingElement.keltani === false) ? 'Pilih ..' : 'Memuat ..'"
                                    :disabled="isDisabled"
                                  >
                                  </multiselect>
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <label class="text-right col-md-4 label-control" >Kelompok Tani</label>
                                <div class="col-md-8">
                                <input v-model="petani.farmer_group_name" type="text" class="form-control" placeholder="Kelompok Tani" readonly>
                                <p class="text-danger" v-if="error && errors.farmer_group_id">{{errors.farmer_group_id[0]}}</p>
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control" >Kode Petani</label>
                                <div class="col-md-8">
                                <input v-model="petani.code" type="text" class="form-control" placeholder="xxxxxxx" readonly>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control"> Nama Petani </label>
                                <div class="col-md-8">
                                    <input v-model="petani.name" type="text" class="form-control" placeholder="Nama Petani" :disabled="isDisabled" >
                                    <p class="text-danger" v-if="error && errors.name">{{errors.name[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control"> Status </label>
                                <div class="col-md-8">
                                    <input v-model="petani.status_name" type="text" class="form-control" placeholder="" readonly>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control"> Luas Lahan </label>
                                <div class="col-md-8">
                                    <input v-model="petani.land_area" @keyup="handleKeyupLuasLahan()" type="text" class="form-control" placeholder="" :disabled="isDisabled" >

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control" >Alamat</label>
                                 <div class="col-md-8">
                                    <textarea name="name" v-model="petani.address" class="form-control" rows="3" cols="60" :disabled="isDisabled" ></textarea>
                                    <p class="text-danger" v-if="error && errors.address">{{errors.address[0]}}</p>
                                </div>
                            </div>
                            <!-- <region-select :dummy="dummyDt" :datavmodel="petani" >
                            </region-select> -->

                            <div class="form-group row">
                              <label class="text-right col-md-4 label-control" >Provinsi</label>
                              <div class="col-md-8">
                                <multiselect
                                  @input="getKabupaten"
                                  v-model="petani.sales_office_name"
                                  :options="m_provinces"
                                  track-by="id" :custom-label="ProvnameWithId"
                                  :searchable="true" :close-on-select="true"
                                  :show-labels="false" :placeholder="(loadingElement.provinsi === false) ? 'Pilih ..' : 'Memuat ..'"
                                  disabled
                                >
                                </multiselect>

                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="text-right col-md-4 label-control" >Kabupaten</label>
                              <div class="col-md-8">
                                <multiselect
                                  @input="getKecamatan"
                                  v-model="petani.sales_group_name"
                                  :options="m_kabupaten"
                                  track-by="id" :custom-label="KabnameWithId"
                                  :searchable="true" :close-on-select="true"
                                  :show-labels="false" :placeholder="(loadingElement.kabupaten === false) ? 'Pilih ..' : 'Memuat ..'"
                                  :disabled="isDisabled"
                                >
                                </multiselect>

                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="text-right col-md-4 label-control" >Kecamatan</label>
                              <div class="col-md-8">
                                <multiselect
                                  @input="getSalesunit"
                                  :class="{'is-invalid' : error && errors.kecamatan}"
                                  v-model="petani.sales_unit_name"
                                  :options="m_kecamatan"
                                  track-by="id" :custom-label="KecnameWithId"
                                  :searchable="true" :close-on-select="true"
                                  :show-labels="false" :placeholder="(loadingElement.kecamatan === false) ? 'Pilih ..' : 'Memuat ..'"
                                  :disabled="isDisabled"
                                >
                                </multiselect>
                                <p class="text-danger" v-if="error && errors.sales_unit_id">{{errors.sales_unit_id[0]}}</p>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-4 text-right">Kelurahan</label>
                              <div class="col-sm-8">
                                <input v-model="petani.village" type="text" class="form-control" placeholder="" :disabled="isDisabled" >
                                <p class="text-danger" v-if="error && errors.village">{{errors.village[0]}}</p>
                              </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control" >No Telepon </label>
                                 <div class="col-md-8">
                                    <input v-model="petani.telp_no" type="number" class="form-control" placeholder="" :disabled="isDisabled" >
                                    <p class="text-danger" v-if="error && errors.telp_no">{{errors.telp_no[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control" >No HP</label>
                                 <div class="col-md-8">
                                    <input v-model="petani.hp_no" type="number" class="form-control" placeholder="" :disabled="isDisabled" >

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control" >KTP</label>
                                 <div class="col-md-8">
                                    <input v-model="petani.ktp_no" type="text" class="form-control" placeholder="" :disabled="isDisabled" >
                                    <p class="text-danger" v-if="error && errors.ktp_no">{{errors.ktp_no[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="text-right col-md-4 label-control" >KTP Berlaku</label>
                                 <div class="col-md-8">
                                    <!-- <input type="date" v-model="petani.ktp_valid_date" class="form-control" :disabled="isDisabled" > -->
                                    <inputdate 
                                      :type="'ktp_valid_date'" 
                                      @get-date="ktp_valid_date"
                                      v-model="petani.ktp_valid_date"
                                      :getDated="petani.ktp_valid_date"
                                      :disabled="isDisabled" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                  <div class="">
                    <h4 class="form-section"><i class="icon-clipboard4"></i> Komoditas </h4>
                    <div class="row col-md-12">
                        <fieldset v-for="(komoditi, index) in m_komoditas" :key="index" class="col-md-4">
                            <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" :value="komoditi.id" v-model="tempDt.commodity_id" :disabled="isDisabled">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ komoditi.name }}</span>
                            </label>
                        </fieldset>

                    </div>
                </div>
                </div>
                <!-- form  -->
              </div>
            </div>
          </div>
          <div class="modal-footer" v-if="pageloder">
            <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal" >
              <i class="ft-x"></i> Cancel
            </button>
            <div v-if="access.U === true">
              <button v-if="petani.status_name != 'Active' && statusinfoumum == true" type="button" class="btn btn-primary" @click="toSubmit"  >
                <i class="fa fa-check-square-o"></i> Submit
              </button>
              <button v-if="petani.status_name != 'Active' && statusinfoumum == true" type="button" class="btn btn-success" @click="toDraft" >
                <i class="fa fa-check-square-o" ></i> Save
              </button>
            </div>

          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';
import FormLoader from '../../main/FormLoader';
import Inputdate from '../../global/InputDate';

export default {
  props: ['getid', 'statusinfoumum', 'getarr', 'access'],
  data: function() {
    return {
      error: false,
      errors: {},
      isDisabled: false,
      isRequired: true,
      loaderAnimate: false,
      pageloder:true,
      loadingElement: {
        distributor: false,
        produsen: false,
        provinsi: false,
        kabupaten: false,
        kecamatan: false,
        pengecer: false,
        keltani: false,
      },
      isDisabledDistributor: false,
      m_distributor: [],
      m_produsen: [],
      m_keltani: [],
      m_pengecer: [],
      m_provinces: [],
      m_kabupaten: [],
      m_kecamatan: [],
      m_districts: [],
      m_subDistricts: [],
      m_datatable: [],
      tempDt: {
        commodity_id : [],
      },
      petani: {
        id : '',
        uuid : '',
        name : '',
        code : '',
        farmer_group_id : '',
        farmer_group_name : '',
        address : '',
        telp_no : '',
        hp_no : '',
        ktp_no : '',
        ktp_valid_date : '',
        village : '',
        sub_sector_id : '',
        commodity_id : [],
        land_area : '',
        retail_name : '',
        sales_unit_id : '',
        sales_unit_name : '',
        sales_org_id : '',
        sales_org_name : '',
        sales_group_id : '',
        sales_group_name : '',
        sales_office_id : '',
        sales_office_name : '',
        status : '',
        status_name : '',
        created_at : '',
        updated_at : '',
        distributor : '',
        produsen : '',
        pengecer : '',
        keltani : '',
        latitude : 0,
        longitude : 0,
      },
      m_komoditas : [],
    }
  },
  components: {
    Multiselect,
    FormLoader,
    Inputdate
  },
  mounted(){
    var app = this;

    app.subKomoditas();
    app.getProvinsi();
    app.getDistributor();
    // $(".inputdate").datepicker({ dateFormat: 'yyyy-mm-dd' });
    $('#openformPetani').on('hidden.bs.modal', function () {
      app.closeModal();
    })

    var id = app.getid;
    $("#openformPetani").modal("show");
    if (id != null) {
      var dttable = app.m_datatable.push(app.getarr);
      app.getDatabyuuid(id, dttable);
      // console.log(app.m_datatable);
    }else{
      var name_distributor = document.getElementsByClassName("pi-distributor-name");
      if(name_distributor.length != 0){
        var code_distributor = document.getElementsByClassName("pi-distributor-code");
        this.petani.distributor = {id: code_distributor[0].innerText, full_name: name_distributor[0].innerText};
        console.log(this.petani.distributor.id);
        app.getProdusen(this.petani.distributor)
        app.isDisabledDistributor = true;
      }
    }
  },
  methods: {
    DistnameWithId ({ id, full_name }){ return `${id} — ${full_name}` },
    ProdnameWithId ({ id, name }){ return `${id} — ${name}` },
    ProvnameWithId ({ id, name }){ return `${id} — ${name}` },
    KabnameWithId ({ id, name }){ return `${id} — ${name}` },
    KecnameWithId ({ id, name }){ return `${id} — ${name}` },
    KeltaniWithId ({ code, name }){ return `${code} — ${name}` },
    PengecerWithId ({ code, name }){ return `${code} — ${name}` },
    ktp_valid_date(date = ''){
      if (date != '') {
        if (date != '') {
          this.petani.ktp_valid_date = date;
        } else {
          this.petani.ktp_valid_date = ''
        }
      }
    },
    setOpt(){
      this.petani.farmer_group_id = this.petani.keltani.id;
    },
    toDraft() {
      var app = this;
      var petani_data = app.petani;
      petani_data.status = 'd';
      this.setOpt();
      if (app.getid === null) {
        app.insert();
      } else {
        app.update();
      }

    },

    toSubmit() {
      var app = this;
      var petani_data = app.petani;
      petani_data.status = 's';
      this.setOpt();
      if (app.getid === null) {
        app.insert();
      } else {
        app.update();
      }

    },

    insert(){
      event.preventDefault();
      if (this.tempDt.commodity_id.length > 0) {
        this.petani.commodity_id = this.tempDt.commodity_id.join(";");
      }
      this.axios.post('farmer', this.petani)
      .then((resp) => {
        toastr.success("Entry data petani berhasil", "Sukses");
        $("#openformPetani").modal("hide");
      })
      .catch((resp) => {
        toastr.error("Entry data petani gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
      })
    },

    update() {
      event.preventDefault();
      if (this.tempDt.commodity_id.length > 0) {
        this.petani.commodity_id = this.tempDt.commodity_id.join(";");
      }

      this.axios.put("farmer/"+this.getid, this.petani)
      .then((resp) => {
        toastr.success("Update data petani berhasil", "Sukses");
        $("#openformPetani").modal("hide");
      })
      .catch((resp) => {
        toastr.error("Update data petani gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
      })
    },

    subKomoditas(){
      axios.get("commodity")
      .then((resp)=>{
         this.m_komoditas=resp.data.data;
      })
      .catch((resp)=>{
        console.log(resp);
      })
    },

    getDistributor(){
      this.loadingElement.distributor = true;
      axios.get("company/distributor?retail=retail")
      .then((resp)=>{
         this.m_distributor=resp.data.data;
         this.loadingElement.distributor = false;
      })
      .catch((resp)=>{
        console.log(resp);
      })
    },

    getDistributorByid(id_distributor){
      axios.get("distributor", {
        params: {
          id: id_distributor.id
        }
      })
      .then((resp)=>{
        if (resp.data.data[0].sales_office_id === null) {
          this.petani.sales_office_name = '';
          this.petani.sales_group_name = '';
          this.petani.sales_unit_name = '';
        } else {
          this.petani.sales_office_name = {id: resp.data.data[0].sales_office_id, name: resp.data.data[0].sales_office_name};
          this.getKabupaten(this.petani.sales_office_name);
          // this.petani.sales_group_name = {id: resp.data.data[0].sales_group_id, name: resp.data.data[0].sales_group_name};
          // this.getKecamatan(this.petani.sales_group_name);
          // this.petani.sales_unit_name = {id: resp.data.data[0].sales_unit_id, name: resp.data.data[0].sales_unit_name};
          // this.getSalesunit(this.petani.sales_unit_name)
        }

      })
      .catch((resp)=>{
        console.log(resp);
      })
    },

    getProdusen(id_distributor){
      // produsen
      this.loadingElement.produsen = true;
      this.loadingElement.pengecer = true;
      this.m_provinces = [];
      this.m_kabupaten = [];
      this.m_kecamatan = [];
      this.axios.get('company/produsen', {
        params: {
          customer_id: id_distributor.id
        }
      })
      .then((resp) => {
        this.loadingElement.produsen = false;
        this.m_produsen = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Province", "Load data");
      })
      .then((resp) => {
        this.loadingElement.produsen = false;
      })

      this.getPengecer(id_distributor)
      if (this.getid === null) {
        this.getDistributorByid(id_distributor)
      }
    },

    getPengecer(id_distributor){
      // pengecer
      this.axios.get('company/pengecer', {
        params: {
          customer_id: id_distributor.id
        }
      })
      .then((resp) => {
        this.loadingElement.pengecer = false;
        this.m_pengecer = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Province", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false; this.loadingElement.pengecer = false; })
    },

    getFarmergroup(id_retail){
      this.loadingElement.keltani = true;
      this.axios.get('farmergroup', {
        params: {
          retail_id: id_retail.id
        }
      })
      .then((resp) => {
        this.m_keltani = resp.data.data;
        this.loadingElement.keltani = false;
      })
      .catch((resp) => {
        toastr.error("Failed Load Province", "Load data");
      })
      .then((resp) => {this.loadingElement.keltani = false})
    },

    getProvinsi(){
      this.loadingElement.provinsi = true;
      this.axios.get('region/provinsi')
      .then((resp) => {
        this.m_provinces = resp.data.data;
        this.loadingElement.provinsi = false;
      })
      .catch((resp) => {
        toastr.error("Failed Load Province", "Load data");
        this.loadingElement.provinsi = false;
      })
    },

    getKabupaten(provinsi){
      this.m_kabupaten = [];
      this.m_kecamatan = [];
      this.loadingElement.kabupaten = true;
      this.petani.sales_office_id = provinsi.id;
      this.axios.get('region/kabupaten', {
        params: {
          provinsi: provinsi.id
        }
      })
      .then((resp) => {
        this.m_kabupaten = resp.data.data;
        this.loadingElement.kabupaten = false;
      })
      .catch((resp) => {
        toastr.error("Failed Load Province", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false})
    },

    getKecamatan(kabupaten){
      this.loadingElement.kecamatan = true;
      this.petani.sales_group_id = kabupaten.id;
      this.axios.get('region/kecamatan', {
        params: {
          kabupaten: kabupaten.id
        }
      })
      .then((resp) => {
        this.m_kecamatan = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Province", "Load data");
      })
      .then((resp) => {this.loadingElement.kecamatan = false})
    },

    getSalesunit(kecamatan){
      this.petani.sales_unit_id = kecamatan.id;
    },

    getDatabyuuid(id){
      this.loaderAnimate = true;
      this.pageloder = false;
      axios.get("farmer/id/"+id)
      .then((resp)=>{
         this.petani = resp.data.data[0];
         this.petani.longitude = 0;
         this.petani.latitude = 0;
         this.petani.distributor = {id: resp.data.data[0].customer_id, full_name: resp.data.data[0].customer_name};
         this.getProdusen(this.petani.distributor);
         this.petani.produsen = {id: resp.data.data[0].sales_org_id, name: resp.data.data[0].sales_org_name};
         this.petani.pengecer = {code: resp.data.data[0].retail_code, name: resp.data.data[0].retail_name, id: resp.data.data[0].retail_id};
         this.getFarmergroup(this.petani.pengecer);
         this.petani.keltani = {code: resp.data.data[0].farmer_group_code, name: resp.data.data[0].farmer_group_name, id: resp.data.data[0].farmer_group_id};
         this.petani.sales_office_name = {id: resp.data.data[0].sales_office_id, name: resp.data.data[0].sales_office_name};
         this.getKabupaten(this.petani.sales_office_name);
         this.petani.sales_group_name = {id: resp.data.data[0].sales_group_id, name: resp.data.data[0].sales_group_name};
         this.getKecamatan(this.petani.sales_group_name);
         this.petani.sales_unit_name = {id: resp.data.data[0].sales_unit_id, name: resp.data.data[0].sales_unit_name};
         this.getSalesunit(this.petani.sales_unit_name.id)
         this.petani.ktp_valid_date = this.formatDate(resp.data.data[0].ktp_valid_date);
         this.petani.land_area = parseFloat(resp.data.data[0].land_area);
         this.tempDt.commodity_id = resp.data.data[0].commodity_id.split(";");
      })
      .catch((resp) => {
        console.log(resp)
        })
      .then((resp) => {
        if(this.petani.status === 'y' || this.petani.status === 's' || !this.access.U){
          this.isDisabled = true;
          this.isDisabledDistributor = true;
          this.loaderAnimate = false;
          this.pageloder = true;
        } else {
          this.isDisabled = false;
          this.isDisabledDistributor = false;
          this.loaderAnimate = false;
          this.pageloder = true;
        }
      })
    },

    closeModal(){
      this.$emit("trigger-modal", 'RefreshTable');
    },

    formatDate(date) {
      if(date === '' || date === ' ' || date === '00-00-0000' || date === null) {
        return '';
      } else {
        let arr = date.split('-');
        return arr[2]+'-'+arr[1]+'-'+arr[0];
      }
    },

    handleKeyupLuasLahan() {
      if(this.petani.land_area === null || isNaN(this.petani.land_area) || this.petani.land_area === '') {
        this.petani.land_area = ''
        // toastr.warning('Inputkan jumlah anggota dengan benar')
      } else {
        // let {qty_group} = this.petani.keltani
        // let {land_area} = this.petani.keltani
        let max = 2
        if(this.petani.land_area > max) {
          toastr.warning('maksimal luas lahan adalah '+max+' Ha', 'Luas Lahan tidak sesuai')
          this.petani.land_area = ''
        }
      }
    },


  },
}

Vue.directive('restrict', {
  bind (el, binding) {
    el.addEventListener('keydown', (e) => {
      // delete, backpsace, tab, escape, enter,
      let special = [46, 8, 9, 27, 13]
      if (binding.modifiers['decimal']) {
        // decimal(numpad), period
        special.push(110, 190)
      }
      // special from above
      if (special.indexOf(e.keyCode) !== -1 ||
        // Ctrl+A
        (e.keyCode === 65 && e.ctrlKey === true) ||
        // Ctrl+C
        (e.keyCode === 67 && e.ctrlKey === true) ||
        // Ctrl+X
        (e.keyCode === 88 && e.ctrlKey === true) ||
        // home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        return // allow
      }
      if ((binding.modifiers['alpha']) &&
        // a-z/A-Z
        (e.keyCode >= 65 && e.keyCode <= 90)) {
        return // allow
      }
      if ((binding.modifiers['number']) &&
        // number keys without shift
        ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
        // numpad number keys
        (e.keyCode >= 96 && e.keyCode <= 105))) {
        return // allow
      }
      // otherwise stop the keystroke
      e.preventDefault() // prevent
    }) // end addEventListener
  } // end bind
}) // end directive
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
</style>
