<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    <a href="template-excel/initialf5/Initial_Stok_F5.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
                    <button v-if="access.C === true && role_id !== 4" @click="openUpload" type="button" class="btn btn-primary square"> <i class="fa fa-upload"></i> Upload</button>
                    <button type="button" class="btn btn-primary square" @click="download" :disabled="loadBtnDownload" ><i class="fa fa-download"></i> Download</button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table id="dtTable" class="table table-xs table-bordered table-striped display nowrap" style="width:100%">
                      <thead>
                        <initial-stokf5-filter :reset="resetStatus" @search-table="searchTable"> </initial-stokf5-filter>
                        <tr>
                          <th class="text-center" rowspan="2">Produsen</th>
                          <th class="text-center" rowspan="2">Nama Distributor</th>
                          <th class="text-center" rowspan="2">dok</th>
                          <th class="text-center" rowspan="2">#</th>
                          <th class="text-center" rowspan="2">Provinsi</th>
                          <th class="text-center" rowspan="2">Kabupaten</th>
                          <th class="text-center" rowspan="2">Bulan</th>
                          <th class="text-center" rowspan="2">Tahun</th>
                          <th class="text-center thcolorblue" colspan="2">UREA</th>
                          <th class="text-center thcolorblue" colspan="2">NPK</th>
                          <th class="text-center thcolorblue" colspan="2">ORGANIK</th>
                          <th class="text-center thcolorblue" colspan="2">ZA</th>
                          <th class="text-center thcolorblue" colspan="2">SP-36</th>
                          <th class="text-center thcolorblue" colspan="2">ORGANIK CAIR</th>
                          <th class="text-center thcolorblue" colspan="2">NPK KAKAO</th>
                        </tr>
                        <tr>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                          <th class="text-center">Awal</th>
                          <th class="text-center">Sisa</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <upload v-if="modalUpload" :title="title" :type="type" @trigger-modal-upload="triggerModalUpload"></upload>
      <entry-form v-if="modalForm" :data="tempDtModal" @trigger-modal-form="triggerModalForm"></entry-form>
    </section>
  </div>
</template>

<script>
import Upload from './modal/Upload'
import EntryForm from './modal/EntryForm'
import InitialStokf5Filter from './InitialStokf5Filter'
export default {
  props: ['access'],
  data: function() {
    return {
      role_id: null,
      dt: '',
      title: 'Initial Stok F5',
      type: 'F5',
      modalUpload: false,
      resetStatus: false,
      modalForm: false,
      tempDt: {},
      tempDtModal: {
        distributor: '',
        distributor_id: '',
        kabupaten: '',
        kabupaten_id: '',
        year: '',
        month: '',
        sales_org_id: '',
        sales_office_id: '',
        sales_group_id: '',
        id: '',
      },
      loadBtnDownload:false,
    }
  },
  components: {
    Upload, EntryForm, InitialStokf5Filter
  },
  mounted(){
    var app = this;
    app.userProfile()
    $(document).ready(function() {
      app.dt = $('#dtTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        "scrollCollapse":true,
        order: [[ 6, 'desc' ], [ 7, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadTableExcel',
            text: "Download Initial Stok F5",
            title:"",
            filename:"Download Initial Stok F5",
          }
        ],
        ajax:{
          'url': 'api/initialstockf5',
          'type': 'GET',
          'data': function(d){
            d.sales_org_name = app.tempDt.sales_org_name,
            d.customer_name = app.tempDt.customer_name,
            d.sales_office_name = app.tempDt.sales_office_name,
            d.sales_office_id = app.tempDt.sales_office_id,
            d.sales_group_name = app.tempDt.sales_group_name,
            d.sales_group_id = app.tempDt.sales_group_id,
            d.month = app.tempDt.month,
            d.year = app.tempDt.year,
            d.p01_qty = app.tempDt.p01_qty,
            d.p01_reduce = app.tempDt.p01_reduce,
            d.p02_qty = app.tempDt.p02_qty,
            d.p02_reduce = app.tempDt.p02_reduce,
            d.p03_qty = app.tempDt.p03_qty,
            d.p03_reduce = app.tempDt.p03_reduce,
            d.p04_qty = app.tempDt.p04_qty,
            d.p04_reduce = app.tempDt.p04_reduce,
            d.p05_qty = app.tempDt.p05_qty,
            d.p05_reduce = app.tempDt.p05_reduce
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
           // { "orderable": false, "targets": 0 }
        ],
        columns: [
            {data: 'sales_org_name', name: 'sales_org_name'},
            {data: 'customer_name', name: 'customer_name'},
            {
              data: 'uuid',
              render : function(data, type, full){
                let totalDraft = '';
                let totalSubmit = '';

                if (full.status_draft > 0) {
                  totalDraft += '<span style="color:red;"> '+full.status_draft+' Draft </span>';
                }

                if (full.status_submit > 0) {
                  totalSubmit += ' <span style="color:blue;"> '+full.status_submit+' Submited </span>';
                }
                return '<a href="#" id="detailData" data-id="'+full.uuid+'"> Lihat Penyaluran ( '+totalDraft+';'+totalSubmit+' ) </a>';
                // return '<u><a href="#" id="detailData" data-id="'+full.uuid+'"> Lihat Penyaluran ( ; )</a></u>';
              }
            },
            {
              data: 'uuid',
              render : function(data, type, full){
                if(app.access.C){
                  return '<u><a href="#" class="btn btn-primary btn-sm square" id="newData" data-id="'+full.id+'" data-distributor="'+full.customer_name+'" data-distributor_id="'+full.customer_id+'" data-kabupaten="'+full.sales_group_name+'" data-kabupaten_id="'+full.sales_group_id+'" data-year="'+full.year+'" data-month="'+full.month+'" data-sales_org_id="'+full.sales_org_id+'" >Penyaluran Baru</a></u>';
                } else {
                  return '-';
                }
              }
            },
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'month_name', name: 'month'},
            {data: 'year', name: 'year'},
            { data: 'p01_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
            {
              data: 'p01_reduce',
              render : function(data, type, full){
                var val = parseFloat(full.p01_qty)-parseFloat(full.p01_reduce);
                return val.toFixed(3)
              }
            },
            { data: 'p02_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
            {
              data: 'p02_reduce',
              render : function(data, type, full){
                var val = parseFloat(full.p02_qty)-parseFloat(full.p02_reduce);
                return val.toFixed(3)
              }
            },
            { data: 'p03_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
            {
              data: 'p03_reduce',
              render : function(data, type, full){
                var val = parseFloat(full.p03_qty)-parseFloat(full.p03_reduce);
                return val.toFixed(3)
              }
            },
            { data: 'p04_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
            {
              data: 'p04_reduce',
              render : function(data, type, full){
                var val = parseFloat(full.p04_qty)-parseFloat(full.p04_reduce);
                return val.toFixed(3)
              }
            },
            { data: 'p05_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
            {
              data: 'p05_reduce',
              render : function(data, type, full){
                var val = parseFloat(full.p05_qty)-parseFloat(full.p05_reduce);
                return val.toFixed(3)
              }
            },
            { data: 'p51_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
            {
              data: 'p51_reduce',
              render : function(data, type, full){
                var val = parseFloat(full.p51_qty)-parseFloat(full.p51_reduce);
                return val.toFixed(3)
              }
            },
            { data: 'p54_qty', render : function(data, type, full){ return parseFloat(data).toFixed(3) } },
            {
              data: 'p54_reduce',
              render : function(data, type, full){
                var val = parseFloat(full.p54_qty)-parseFloat(full.p54_reduce);
                return val.toFixed(3)
              }
            },
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $("div.dataTables_length").append(' <button id="resetFilterStokf5" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

      $(document).on("click", "#resetFilterStokf5", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterStokf5').prop('disabled', true);

        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterStokf5').prop('disabled', false);
        }, 1000)
      })
      $("#downloadTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadTableExcel").trigger('click');
      })
      $(document).on("click", "#detailData", function(e){
        e.preventDefault();
        var idx = $(this).data("id");
        app.openDetail(idx);
      })
      $(document).on("click", "#newData", function(e){
        e.preventDefault();
        console.log($(this).data());
        var idx = $(this).data("id");
        var distributor = $(this).data("distributor");
        var distributor_id = $(this).data("distributor_id");
        var kabupaten = $(this).data("kabupaten");
        var kabupaten_id = $(this).data("kabupaten_id");
        var year = $(this).data("year");
        var month = $(this).data("month");
        var sales_org_id = $(this).data("sales_org_id");
        app.openForm(idx, distributor, distributor_id, kabupaten, kabupaten_id, year, month, sales_org_id);
      })

    })
  },
  methods: {
    userProfile(){
      this.axios.get('user/profile')
      .then((resp) => {
        this.role_id = resp.data.data.role.role_id;
        // this.isDistributor = (resp.data.data.role.role_id === 4) ? false : this.accessComponent.C
      })
      .catch((resp) => {
        console.log(resp);
      })
      .then((resp) => {
        console.log(resp);
      })
    },
    yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.tempDt.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.tempDt.year = obj.year.certain;
      } else {
        this.tempDt.year = '';
      }
    },
    triggerModalUpload(){
      this.modalUpload = false;
      this.dt.draw();
    },
    triggerModalForm(){
      this.modalForm = false;
      this.dt.draw();
    },
    openUpload(){
      this.modalUpload = true;
    },
    openForm(idx, distributor, distributor_id, kabupaten, kabupaten_id, year, month, sales_org_id){
      console.log(idx);
      this.modalForm = true;
      this.tempDtModal.id = idx;
      this.tempDtModal.distributor = distributor;
      this.tempDtModal.distributor_id = distributor_id;
      this.tempDtModal.kabupaten = kabupaten;
      this.tempDtModal.kabupaten_id = kabupaten_id;
      this.tempDtModal.year = year;
      this.tempDtModal.month = month;
      this.tempDtModal.sales_org_id = sales_org_id;
    },
    openDetail(id){
      // this.modalForm = true;
      console.log(id);
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/laporan/initial-stok-f5/detail-f5/'+id});
    },
    searchTable(obj){
      this.tempDt = obj;
      this.yearFrom(obj)
      this.dt.draw();
    },
    download() {
      // $(".downloadF5").trigger('click');
       this.loadingButton = true;
        this.axios({
          url: 'initialstockf5/export',
          params: {
            sales_org_name : this.tempDt.sales_org_name,
            customer_name : this.tempDt.customer_name,
            sales_office_name : this.tempDt.sales_office_name,
            sales_office_id : this.tempDt.sales_office_id,
            sales_group_name : this.tempDt.sales_group_name,
            sales_group_id : this.tempDt.sales_group_id,
            month : this.tempDt.month,
            year : this.tempDt.year,
            p01_qty : this.tempDt.p01_qty,
            p01_reduce : this.tempDt.p01_reduce,
            p02_qty : this.tempDt.p02_qty,
            p02_reduce : this.tempDt.p02_reduce,
            p03_qty : this.tempDt.p03_qty,
            p03_reduce : this.tempDt.p03_reduce,
            p04_qty : this.tempDt.p04_qty,
            p04_reduce : this.tempDt.p04_reduce,
            p05_qty : this.tempDt.p05_qty,
            p05_reduce : this.tempDt.p05_reduce
          },
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
           const url = window.URL.createObjectURL(new Blob([response.data]));
           const link = document.createElement('a');
           link.href = url;
           link.setAttribute('download', 'Download Initial Stock F5.xls'); //or any other extension
           document.body.appendChild(link);
           link.click();
           this.loadingButton = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadingButton = false;      
        })
    },
  }
}
</script>

<style lang="css">
.thcolorblue{
  background-color: #3bcaff;
}
div.dt-buttons {
  float: right !important;
  display: none;
}
</style>
