<template>
  <div>
    <div align="center">
      <button type="btn" :class="[classObject.btn, classObject.btnSm, classObject.btnStatus]" id="check_list" @click="openModal(camelize)" name="button">
        {{ label }}
      </button>
    </div>
    <div class="modal fade" :id="camelize" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title" id=""> {{ label }} </h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <fieldset @click="select" v-for="listData, index in list">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="id" :value="listData.value">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{ listData.name }}</span>
                    </label>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" @click="selectAll" class="btn btn-success">Pilih Semua</button>
              <button type="button" @click="resetSelected" class="btn btn-danger">Reset</button>
              <button type="button" @click="send" class="btn btn-primary">Cari</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['label', 'list', 'checkedStatus', 'reset'],
  data: function() {
    return {
      listSearch: this.list,
      allSelected: false,
      selected: [],
      id: [],
      renderId: '',
      classObject: {
        btn: 'btn',
        btnSm: 'btn-sm',
        btnStatus: 'btn-secondary',
      }
    }
  },
  computed : {
    camelize : function () {
      return this.label.replace(/(?:^\w|[A-Z]|\b\w)/g, function(letter, index) {
        return index == 0 ? letter.toLowerCase() : letter.toUpperCase();
      }).replace(/\s+/g, '');
    }
  },
  mounted() {
    this.listSearch = this.list;
  },
  watch: {
		checkedStatus: function(val){
			if(val !== "") {
        this.id = val.split(";");
        this.classObject.btnStatus = 'btn-success';
			} else {
        this.classObject.btnStatus = 'btn-secondary';
      }
    },
    reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		},
	},
  methods: {
    openModal(name) {
      $("#"+name).modal("show")
    },
    selectAll(){
      this.id = [];
      if (!this.allSelected) {
        this.listSearch.map((data) => {
          this.id.push(data.value);
        })
      }
    },
    select(){
      this.allSelected = false;
    },
    resetSelected(){
      this.id = [];
    },
    send(name) {
      event.preventDefault()
      this.$emit("get-check", this.id)
      $("#"+this.camelize).modal("hide")
      this.renderId = this.id.join(', ').substring(0, 14);
      if(this.renderId === '') { 
        this.classObject.btnStatus = 'btn-secondary';
      } else { 
        this.classObject.btnStatus = 'btn-success';
      }
    },
    resetFilter(){
      this.renderId = '';
      this.id = [];
      this.classObject.btnStatus = 'btn-secondary';
    }
  }
}
</script>

<style lang="css">

</style>
