<template>
  <div>
    <select :style="styleObject" v-model="selected" class="form-control form-control-md" @change="showModal">
      <option value="">{{$ml.get("global.filter.all")}}</option>
      <option value="range">{{$ml.get("global.filter.modal.date.titleOne")}}</option>
      <option value="certain">{{$ml.get("global.filter.modal.date.titleTwo")}}</option>
    </select>
    <!-- <div class="btn-group">
      <button type="button" class="btn btn-secondary btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        cari tanggal
      </button>
      <div>
        <div class="dropdown-menu">
          <a class="dropdown-item" @click="showModal('')" href="#">Semua</a>
          <a class="dropdown-item" @click="showModal('range')" href="#">Rentang Waktu</a>
          <a class="dropdown-item" @click="showModal('certain')" href="#">Waktu Tertentu</a>
        </div>
      </div>
    </div> -->
    <date-range @trigger="trigger" @search="search" v-if="range"></date-range>
    <date-certain @trigger="trigger" @search="search" v-if="certain "></date-certain>
  </div>
</template>

<script>
import DateRange from './datecomp/DateRange';
import DateCertain from './datecomp/DateCertain';
export default {
  props: ['type', 'reset'],
  data: function(){
    return {
      range: false,
      certain: false,
      selected: '',
      classObject: {
        formControl: 'form-control form-control-md',
        
      },
      styleObject: {
        background: '',
      }
    }
  },
  components:{
    DateRange,
    DateCertain
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		},
	},
  methods: {
    showModal(event) {
      const type = event.target.value;
      // console.log(type);
      if(type != ""){
        this.styleObject.background = '#16d39a';
        switch (type) {
          case 'range': this.range = true; this.certain = false; break;
          case 'certain': this.range = false; this.certain = true; break;
          default: this.range = false; this.certain = false;
        }
      } else {
        this.styleObject.background = '';
        this.range = false; this.certain = false;
        this.search({});
      }
    },
    search(data) {
      data['name'] = this.type;
      this.$emit('get-date', data);
    },
    trigger(){
      this.range = false;
      this.certain = false;
    },
    resetFilter(){
      this.selected = '';
      this.styleObject.background = '';
		}
  }
}
</script>

<style lang="css">
</style>
