<template>
  <div>
    <button type="btn" :class="[classObject.btn, classObject.btnStatus]" id="check_list" @click="openModal(camelize)" name="button">
      {{ label }}
    </button>
    <div class="modal fade" :id="camelize" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form @submit="send('checklistMonth')">
            <div class="modal-header">
              <h4 class="modal-title" id=""> {{ label }} </h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <fieldset @click="select" v-for="listData, index in list">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="id" :value="listData.value">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{ listData.name }}</span>
                    </label>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" @click="selectAll" class="btn btn-success">All</button>
              <button type="button" @click="resetSelected" class="btn btn-danger">Reset</button>
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['checkedMonth', 'reset'],
  data: function() {
    return {
			list: [
				{ name: 'Januari', value: 1 },
        { name: 'Februari ', value: 2 },
        { name: 'Maret', value: 3 },
        { name: 'April', value: 4 },
        { name: 'Mei', value: 5 },
        { name: 'Juni', value: 6 },
        { name: 'Juli', value: 7 },
        { name: 'Agustus', value: 8 },
        { name: 'September', value: 9 },
        { name: 'Oktober', value: 10 },
        { name: 'November', value: 11 },
        { name: 'Desember', value: 12 },
			],
			label: 'Cari Bulan',
      // listSearch: this.list,
      allSelected: false,
      selected: [],
      id: [],
      renderId: '',
      classObject: {
        btn: 'btn btn-sm',
        btnStatus: 'btn-secondary',
				in: 'select-'+this.$route.name
      }
    }
  },
  computed : {
    camelize : function () {
      return this.label.replace(/(?:^\w|[A-Z]|\b\w)/g, function(letter, index) {
        return index == 0 ? letter.toLowerCase() : letter.toUpperCase();
      }).replace(/\s+/g, '');
    }
  },
  watch: {
		checkedMonth: function(val){
			if(val !== "") {
        this.id = val.split(";");
        this.classObject.btnStatus = 'btn-success';
			} else {
        this.classObject.btnStatus = 'btn-secondary';
      }
    },
    reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		},
	},
  mounted() {
    // this.listSearch = this.list
  },
  methods: {
    openModal(name) {
      $("#"+name).modal("show")
    },
    selectAll: function() {
      this.id = [];
      if (!this.allSelected) {
        this.list.map((data) => {
          this.id.push(data.value);
        })
      }
    },
    select: function() {
      this.allSelected = false;
    },
    resetSelected: function() {
      this.id = [];
    },
    send: function(name) {
      event.preventDefault()
      this.$emit("get-month", this.id)
      $("#"+this.camelize).modal("hide")
      this.renderId = this.id.join(", ");
      if(this.renderId.length > 0) { 
				this.classObject.btnStatus = 'btn-success';
			} else { 
        this.classObject.btnStatus = 'btn-secondary';
			}
    },
    resetFilter: function() {
      this.renderId = '';
      this.id = [];
      this.classObject.btnStatus = 'btn-secondary';
    }
  }
}
</script>

<style lang="css">
</style>
