<template>
		<div>
		<div align="center">
			<button type="btn" :class="[classObject.btn, classObject.btnSm, classObject.btnStatus, classObject.selectProvinsi]" name="button">
				Pilih Provinsi
			</button>
		</div>
    <!-- Modal On Vue  -->
    <div class="modal fade" id="provinsi" tabindex="-1" role="dialog" :id="salesoffice" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- content -->
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pilih Provinsi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <hr>
                    <div class="row" >
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12 ">
																	<fieldset>
                                    <multiselect
																			v-model="searchDt"
																			:options="m_provinsi"
																			:multiple="true"
																			track-by="id" :custom-label="ProvnameWithId"
																			:searchable="true" :close-on-select="false"
																			:show-labels="false" :placeholder="(loadingElement.provinsi === false) ? 'Pilih ..' : 'Memuat ..'" >
																		</multiselect>
																	</fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
              		<button type="button" @click="resetFilter()" class="btn btn-danger">Reset</button>
									<button type="button" @click="send" data-dismiss="modal" class="btn btn-primary">Cari</button>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
    <!-- End Modal  -->
		</div>
</template>
<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';

export default {
	props: ['reset'],
	data: function() {
		return { 
			uriName: this.$auth.user().id+'_'+'prov_'+this.$route.name,
			m_provinsi: [],
			searchDt: [],
			label: 'Provinsi',
			renderId: [],
			loadingElement: {
				provinsi: false
			},
			classObject: {
        btn: 'btn',
        btnSm: 'btn-sm',
        btnStatus: 'btn-secondary',
        selectProvinsi: 'select-provinsi',
      }
		}
	},
	components: {
    Multiselect,
	},
	watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
	computed : {
    salesoffice : function () {
      return this.label.replace(/(?:^\w|[A-Z]|\b\w)/g, function(letter, index) {
        return index == 0 ? letter.toLowerCase() : letter.toUpperCase();
      }).replace(/\s+/g, '');
    }
  },
	mounted(){
		var app = this;
		const getLocalProvinsi = JSON.parse(localStorage.getItem(app.uriName));
		if(getLocalProvinsi){
			app.searchDt = getLocalProvinsi
			if(app.searchDt.length > 0) {
				this.classObject.btnStatus = 'btn-success';
			} else {
				this.classObject.btnStatus = 'btn-secondary';
			}
		} 
		
		this.getProvinsi();
		$("#"+this.salesoffice).on('hidden.bs.modal', function () {
      app.send();
    })
		$(document).on('click','.select-provinsi',function(e){
				e.preventDefault();
				app.openModal();
		});
	},
	methods: {
		openModal() {
      $("#"+this.salesoffice).modal("show")
    },
		ProvnameWithId ({ id, name }){ return `${id} — ${name}` },
		getProvinsi(){
      this.loadingElement.provinsi = true;
      this.axios.get('region/provinsi')
      .then((resp) => {
        this.m_provinsi = resp.data.data;
        this.loadingElement.provinsi = false;
      })
      .catch((resp) => {
        toastr.error("Memuat Data Provinsi", "Gagal");
        this.loadingElement.provinsi = false;
      })
		},
		send(){
			event.preventDefault()
      localStorage.setItem(this.uriName, JSON.stringify(this.searchDt));
			this.$emit("get-selected-prov", this.searchDt)
			const arr = this.searchDt.map(data => {
				return data.id
			})
			this.renderId = arr;
			if(this.renderId.length > 0) { 
				this.classObject.btnStatus = 'btn-success';
			} else { 
        this.classObject.btnStatus = 'btn-secondary';
      }
		},
		resetFilter(){
			this.searchDt = [];
			this.classObject.btnStatus = 'btn-secondary';
		}
	}
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.multiselect__tags-wrap {
    display: grid;
}
</style>

