<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr class="lastChild">
        <td></td>
        <td class="pinned head"> {{ tot.name }} </td>
        <td> {{ numberFormat(tot.month[1]) }} </td>
        <td> {{ numberFormat(tot.month[2]) }} </td>
        <td> {{ numberFormat(tot.month[3]) }} </td>
        <td> {{ numberFormat(tot.month[4]) }} </td>
        <td> {{ numberFormat(tot.month[5]) }} </td>
        <td> {{ numberFormat(tot.month[6]) }} </td>
        <td> {{ numberFormat(tot.month[7]) }} </td>
        <td> {{ numberFormat(tot.month[8]) }} </td>
        <td> {{ numberFormat(tot.month[9]) }} </td>
        <td> {{ numberFormat(tot.month[10]) }} </td>
        <td> {{ numberFormat(tot.month[11]) }} </td>
        <td> {{ numberFormat(tot.month[12]) }} </td>
        <td> {{ numberFormat(tot.total) }} </td>
    </tr>
  </transition>
</template>

<script>
export default {
  props: ['tot'],
  data: function() {
    return {

    }
  },
  methods: {
    numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    }
  }

}
</script>

<style lang="css" scoped>
  td.head {
    padding-left: 4rem !important;
  }
  tr.lastChild {
    background-color: #eee;
  }
  tr.lastChild td:not(:nth-child(2)) {
    text-align: right;
  }
</style>
