<template>
    <tr class="filter">
      <th class="rdkk-code">
        <input type="text" class="form-control form-control-md rdkk_codeVal" >
      </th>
      <th>
        <input type="text" class="form-control form-control-md" v-model="approval.customer_name" v-on:keyup="search()">
      </th>
      <th>
        <input type="text" class="form-control form-control-md" v-model="approval.retail_name" v-on:keyup="search()">
      </th>
      <th>
        <kabupaten :sales_office="approval.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
      </th>
      <th>
        <input type="text" class="form-control form-control-md" v-model="approval.sales_unit_name" v-on:keyup="search()">
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</template>

<script>
import Provinsi from '../../../filter/Provinsi';
import Kabupaten from '../../../filter/Kabupaten';
export default {
  props: ['reset'],
  data: function(){
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      approval: {
        number: '',
				customer_name: '',
				sales_org_name: '',
				farmer_group_name: '',
				retail_name: '',
				status: '',
				sales_office_name: '',
				sales_group_name: '',
				sales_unit_name: '',
      }
    }
  },
  components: {
    Provinsi,
    Kabupaten
  },
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.approval = getLocalSearch;
            $(".rdkk_codeVal").val(app.approval.number);
            app.$emit("search-table", app.approval);
        }
    },1000)
    $(document).on("keyup", ".rdkk_codeVal", function() {
      app.approval.number = $(this).val();
      app.search();
    })
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.approval.sales_office_id = sales_office;
      this.$refs.filterKabComponent.getKabupaten(sales_office);
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.approval.sales_group_id = sales_group;
      // this.$refs.filterKabComponent.getKabupaten(sales_group);
      this.search();
    },
    searchTable(obj) {
      var status = obj.join(';');
      this.approval.status = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.approval));
      this.$emit("search-table", this.approval);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.approval);
      
      $( ".rdkk-code" ).html( '<input type="text" class="form-control form-control-md rdkk_codeVal" />' );
      $(".rdkk_codeVal").val(this.approval.number);
      this.search();
    }
  }
}
</script>

<style lang="css">
</style>
