<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row" v-if="access.A === true">
                <div class="col-md-12">
                  <button type="button" class="btn btn-danger square" @click="batal()" ><i class="fa fa-chevron-circle-left"></i> Kembali</button>
                  <div class="pull-right">
										<b>Legend : &nbsp; </b> 
										<div class="badge badge-success round"> &nbsp;&nbsp; </div> Approved &nbsp;
                    <div class="badge round" style="background-color:#ff8717;"> &nbsp;&nbsp; </div> Submitted &nbsp;
                    <div class="badge badge-danger round"> &nbsp;&nbsp; </div> Not Approved &nbsp;
                    <div class="badge round" style="background-color:black;"> &nbsp;&nbsp; </div> Draft &nbsp;
                    
                    <button :disabled="loading.changeStatus" @click="action('d')" type="button" class="btn btn-primary square">
                      <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i> Unsubmited</button>
                    <button :disabled="loading.changeStatus" @click="action('n')" type="button" class="btn btn-primary square">
                      <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i> Inactived</button>
                    <button :disabled="loading.changeStatus" @click="action('y')" type="button" class="btn btn-primary square">
                      <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i> Actived</button>
                    <button type="button" :disabled="loading.changeStatus" @click="saveAll()" class="btn btn-primary square">
                      <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i> Approved
                    </button>
                	</div>
                </div>
            	</div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table id="rdkkTableApproval" class="table table-xs table-bordered table-striped nowrap">
                    <thead>
                      <filter-approval :reset="resetStatus" @search-table="searchTable"></filter-approval>
                      <tr>
                        <th rowspan="2">No RDKK</th>
                        <th rowspan="2">Nama Distributor</th>
                        <th rowspan="2">Nama Pengecer</th>
                        <th rowspan="2">Kabupaten</th>
                        <th rowspan="2">Kecamatan</th>
                        <th class="text-center thcolorblue" colspan="3">UREA</th>
                        <th class="text-center thcolorblue" colspan="3">NPK</th>
                        <th class="text-center thcolorblue" colspan="3">Organik</th>
                        <th class="text-center thcolorblue" colspan="3">ZA</th>
                        <th class="text-center thcolorblue" colspan="3">SP-36</th>
                        <th class="text-center thcolorblue" colspan="3">OCA (Organik Cair)</th>
                        <th class="text-center thcolorblue" colspan="3">NPK Kakao</th>
                      </tr>
                      <tr>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center"></th>
                        <th style="width:50px" class="text-center">Persetujuan (Kg)</th>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center"></th>
                        <th style="width:50px" class="text-center">Persetujuan (Kg)</th>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center"></th>
                        <th style="width:50px" class="text-center">Persetujuan (Kg)</th>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center"></th>
                        <th style="width:50px" class="text-center">Persetujuan (Kg)</th>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center"></th>
                        <th style="width:50px" class="text-center">Persetujuan (Kg)</th>
                        <th class="text-center">Pengajuan (Ltr)</th>
                        <th class="text-center"></th>
                        <th style="width:50px" class="text-center">Persetujuan (Ltr)</th>
                        <th class="text-center">Pengajuan (Kg)</th>
                        <th class="text-center"></th>
                        <th style="width:50px" class="text-center">Persetujuan (Kg)</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
							
          </div>
        </div>
      </div>

    </section>
  </div>
</template>


<script>
import FilterApproval from './Filter';
export default {
	props: ['access'],
  data: function(){
    return {
      formArr: [],
      formObj: {},
      formArrSend: [],
      dt: '',
      resetStatus: false,
			dataid: null,
			loading: {
        changeStatus: false
			},
      checkSelected: {},
      loading:{
        changeStatus: false
      },
      check: [],
      rdkkdt: {},
      formData: {},
    }
  },
  components: {
		FilterApproval
  },
  mounted(){
    var app = this;
    app.getTable();
    $("div.dataTables_length").append(' <button id="resetFilterRdkkA" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

      $(document).on("click", "#resetFilterRdkkA", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterRdkkA').prop('disabled', true);
        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterRdkkA').prop('disabled', false);
        }, 1000)
      })
		
		$("#rdkkTableApproval").on("click", "form", function(e){
      let form = $(this);
      app.formData.rdkk_id = form.data("id");
      app.formData.product_id = form.data("product_id");
      app.formData.oldval = form.data("oldval");
      form.find("input").show(() => {
        form.find("span").hide();
        form.find("input").addClass("open-input");
      })
      form.find("input").val(parseFloat(app.formData.oldval))
    })

    $("#rdkkTableApproval").on("input", "input:text", function (e) {
       var elm = $(this);
       var isi = elm.val().replace(/[^\d.]|\.(?=.*\.)/g, '');
       elm.val(isi);
    });

    $("#rdkkTableApproval").on("submit", "form", function(e){
      e.preventDefault();
      const form = $(this);
      app.updateTable(form)
    })

    $(document).on("keyup", function(e){
      e.preventDefault();
      var form = $('form')
      const oldVal = form.data("oldval");
      if (e.keyCode === 13) {  }     // enter
      if (e.keyCode === 27) { app.escInput(form, oldVal) }   // esc
    })

    $(document).on("click", "#check_status", function(e){
      let form = $(this);
      app.checkSelected.rdkk_id = form.data("id");
      app.checkSelected.product_id = form.data("product_id");
      
      let params = app.checkSelected.product_id+app.checkSelected.rdkk_id;
      
      var value = {};
      if(this.checked){
        value[params] = app.checkSelected;
        app.check.push(value);
        app.checkSelected = {}
      } else {
        app.removeA(app.check, params);
      }
    })

  },
  methods: {
		getTable(){
			var app = this;
			app.dt = $('#rdkkTableApproval').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY:"50vh",
        scrollCollapse:true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadTableExcel',
            text: "Download Pengecer ke Excel"
          }
        ],
        ajax:{
          'url': 'api/rdkk/approval/list',
          'type': 'GET',
          'data': function(d){
            d.number = app.rdkkdt.number,
            d.customer_name = app.rdkkdt.customer_name,
            d.customer_id = app.rdkkdt.customer_id,
            d.sales_org_name = app.rdkkdt.sales_org_name,
            d.farmer_group_name = app.rdkkdt.farmer_group_name,
            d.retail_code = app.rdkkdt.retail_code,
            d.retail_name = app.rdkkdt.retail_name,
            d.reference_rdkk = app.rdkkdt.reference_rdkk,
            d.sales_office_name = app.rdkkdt.sales_office_name,
            d.sales_office_id = app.rdkkdt.sales_office_id,
            d.sales_group_name = app.rdkkdt.sales_group_name,
            d.sales_group_id = app.rdkkdt.sales_group_id,
            d.sales_unit_name = app.rdkkdt.sales_unit_name,
            d.land_area = app.rdkkdt.land_area,
            d.farmer_period_name = app.rdkkdt.farmer_period_name,
            d.status = app.rdkkdt.status,
            d.status_name = app.rdkkdt.status_name,
            d.P01 = app.rdkkdt.P01,
            d.P02 = app.rdkkdt.P02,
            d.P03 = app.rdkkdt.P03,
            d.P04 = app.rdkkdt.P04,
            d.P05 = app.rdkkdt.P05,
            d.created_at = app.rdkkdt.created_at,
            d.updated_at = app.rdkkdt.updated_at
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [ {
          "targets": [ 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19 ],
          "orderable": false
        } ],
        order: [[ 0, "desc" ]],
        columns: [
            {data: 'number', name: 'number'},
            {data: 'customer_name', name: 'customer_name'},
            {data: 'retail_name', name: 'retail_name'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'sales_unit_name', name: 'sales_unit_name'},
						{ data: 'P01', render : function(data, type, full){ 
              if(full.P01_status === 'y') {
                return '<span class="status-detail-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P01_status=='d') {
                return '<span class="status-detail-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P01_status=='s') {
                return '<span class="status-detail-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              }else {
                return '<span class="status-detail-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }
            }},
						{data: 'P01', name: 'P01', render: function(data, type, full){
              var check="";
              if(full.P01_can_approve === 'y'){
                 let dataId = 'data-id="'+parseInt(full.id)+'" data-product_id="P01"';
                 check = '<input type="checkbox" id="check_status" class="custom-control-inputx" '+dataId+'>';
              }
              return check;
            }},
            {data: 'P01_approved_qty', name: 'P01_approved_qty', render: function(data, type, full){
							const dataId = 'data-id="'+parseInt(full.id)+'" data-oldval="'+data+'" data-product_id="P01"';

							if (full.P01_can_approve === 'y' && full.P01_status === 's') {
                let params = full.id+';P01';
                  return '<form '+dataId+'>'+
                          '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                          '<span class="status-aktif">'+app.numberFormat(data)+'</span>'+
                          '<input type="text" name="'+params+'" style="display:none;" class="form-control form-control-sm" value="'+parseFloat(data)+'" />'+
                      '</form>';
                } else {
                  return '<span class="status-deaktif">'+app.numberFormat(data)+'</span>';
							  }
						}},
						{ data: 'P02', render : function(data, type, full){ 
              if(full.P02_status === 'y') {
                return '<span class="status-detail-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P02_status=='d') {
                return '<span class="status-detail-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P02_status=='s') {
                return '<span class="status-detail-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              }else {
                return '<span class="status-detail-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }
            }},
						{data: 'P02', name: 'P02', render: function(data, type, full){
							var check="";
              if(full.P02_can_approve === 'y'){
                 let dataId = 'data-id="'+parseInt(full.id)+'" data-product_id="P02"';
                 check = '<input type="checkbox" id="check_status" class="custom-control-inputx" '+dataId+'>';
              }
              return check;
            }},
            {data: 'P02_approved_qty', name: 'P02_approved_qty', render: function(data, type, full){
							const dataId = 'data-id="'+parseInt(full.id)+'" data-oldval="'+data+'" data-product_id="P02"';

							if (full.P02_can_approve === 'y' && full.P02_status ==='s') {
                  let params = full.id+';P02';
                  return '<form '+dataId+'>'+
                          '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                          '<span class="status-aktif">'+app.numberFormat(data)+'</span>'+
                          '<input type="text" name="'+params+'" style="display:none;" class="form-control form-control-sm" value="'+parseFloat(data)+'" />'+
                      '</form>';
                } else {
                  return '<span class="status-deaktif">'+app.numberFormat(data)+'</span>';
							}
						}},
						{ data: 'P03', render : function(data, type, full){ 
              if(full.P03_status === 'y') {
                return '<span class="status-detail-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P03_status=='d') {
                return '<span class="status-detail-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P03_status=='s') {
                return '<span class="status-detail-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-detail-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }
            }},
						{data: 'P03', name: 'P03', render: function(data, type, full){
							var check="";
              if(full.P03_can_approve === 'y'){
                 let dataId = 'data-id="'+parseInt(full.id)+'" data-product_id="P03"';
                 check = '<input type="checkbox" id="check_status" class="custom-control-inputx" '+dataId+'>';
              }
              return check;
            }},
            {data: 'P03_approved_qty', name: 'P03_approved_qty', render: function(data, type, full){
							const dataId = 'data-id="'+parseInt(full.id)+'" data-oldval="'+data+'" data-product_id="P03"';

							if (full.P03_can_approve === 'y' && full.P03_status ==='s') {
                  let params = full.id+';P03';
                  return '<form '+dataId+'>'+
                          '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                          '<span class="status-aktif">'+app.numberFormat(data)+'</span>'+
                          '<input type="text" name="'+params+'" style="display:none;" class="form-control form-control-sm" value="'+parseFloat(data)+'" />'+
                      '</form>';
                } else {
                  return '<span class="status-deaktif">'+app.numberFormat(data)+'</span>';
							}
						}},
						{ data: 'P04', render : function(data, type, full){ 
              if(full.P04_status === 'y') {
                return '<span class="status-detail-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P04_status=='d') {
                return '<span class="status-detail-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P04_status=='s') {
                return '<span class="status-detail-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-detail-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }
            }},
						{data: 'P04', name: 'P04', render: function(data, type, full){
							var check="";
              if(full.P04_can_approve === 'y'){
                 let dataId = 'data-id="'+parseInt(full.id)+'" data-product_id="P04"';
                 check = '<input type="checkbox" id="check_status" class="custom-control-inputx" '+dataId+'>';
              }
              return check;
            }},
            {data: 'P04_approved_qty', name: 'P04_approved_qty', render: function(data, type, full){
							const dataId = 'data-id="'+parseInt(full.id)+'" data-oldval="'+data+'" data-product_id="P04"';

							if (full.P04_can_approve === 'y' && full.P04_status ==='s') {
                  let params = full.id+';P04';
                  return '<form '+dataId+'>'+
                          '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                          '<span class="status-aktif">'+app.numberFormat(data)+'</span>'+
                          '<input type="text" name="'+params+'" style="display:none;" class="form-control form-control-sm" value="'+parseFloat(data)+'" />'+
                       '</form>';
                } else {
                  return '<span class="status-deaktif">'+app.numberFormat(data)+'</span>';
							}
						}},
						{ data: 'P05', render : function(data, type, full){ 
              if(full.P05_status === 'y') {
                return '<span class="status-detail-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P05_status=='d') {
                return '<span class="status-detail-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P05_status=='s') {
                return '<span class="status-detail-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-detail-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }
            }},
						{data: 'P05', name: 'P05', render: function(data, type, full){
							var check="";
              if(full.P05_can_approve === 'y'){
                 let dataId = 'data-id="'+parseInt(full.id)+'" data-product_id="P05"';
                 check = '<input type="checkbox" id="check_status" class="custom-control-inputx" '+dataId+'>';
              }
              return check;
						}},
						{data: 'P05_approved_qty', name: 'P05_approved_qty', render: function(data, type, full){
							const dataId = 'data-id="'+parseInt(full.id)+'" data-oldval="'+data+'" data-product_id="P05"';

							if (full.P05_can_approve === 'y' && full.P05_status === 's') {
                let params = full.id+';P05';
                  return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span class="status-aktif">'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" class="form-control form-control-sm" value="'+parseFloat(data)+'" />'+
                     '</form>';
                } else {
                  return '<span class="status-deaktif">'+app.numberFormat(data)+'</span>';
							}
						}},
						{ data: 'P51', render : function(data, type, full){ 
              if(full.P51_status === 'y') {
                return '<span class="status-detail-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P51_status=='d') {
                return '<span class="status-detail-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P51_status=='s') {
                return '<span class="status-detail-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-detail-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }
            }},
						{data: 'P51', name: 'P51', render: function(data, type, full){
							var check="";
              if(full.P51_can_approve === 'y'){
                 let dataId = 'data-id="'+parseInt(full.id)+'" data-product_id="P51"';
                 check = '<input type="checkbox" id="check_status" class="custom-control-inputx" '+dataId+'>';
              }
              return check;
						}},
						{data: 'P51_approved_qty', name: 'P51_approved_qty', render: function(data, type, full){
							const dataId = 'data-id="'+parseInt(full.id)+'" data-oldval="'+data+'" data-product_id="P51"';

							if (full.P51_can_approve === 'y' && full.P51_status === 's') {
                let params = full.id+';P51';
                  return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span class="status-aktif">'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" class="form-control form-control-sm" value="'+parseFloat(data)+'" />'+
                     '</form>';
                } else {
                  return '<span class="status-deaktif">'+app.numberFormat(data)+'</span>';
							}
						}},
						{ data: 'P54', render : function(data, type, full){ 
              if(full.P54_status === 'y') {
                return '<span class="status-detail-aktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P54_status=='d') {
                return '<span class="status-detail-draft">'+app.numberEngine(parseFloat(data))+'</span>';
              }else if(full.P54_status=='s') {
                return '<span class="status-detail-submit">'+app.numberEngine(parseFloat(data))+'</span>';
              } else {
                return '<span class="status-detail-deaktif">'+app.numberEngine(parseFloat(data))+'</span>';
              }
            }},
						{data: 'P54', name: 'P54', render: function(data, type, full){
							var check="";
              if(full.P54_can_approve === 'y'){
                 let dataId = 'data-id="'+parseInt(full.id)+'" data-product_id="P54"';
                 check = '<input type="checkbox" id="check_status" class="custom-control-inputx" '+dataId+'>';
              }
              return check;
						}},
						{data: 'P54_approved_qty', name: 'P54_approved_qty', render: function(data, type, full){
							const dataId = 'data-id="'+parseInt(full.id)+'" data-oldval="'+data+'" data-product_id="P54"';

							if (full.P54_can_approve === 'y' && full.P54_status === 's') {
                let params = full.id+';P54';
                  return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span class="status-aktif">'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" class="form-control form-control-sm" value="'+parseFloat(data)+'" />'+
                     '</form>';
                } else {
                  return '<span class="status-deaktif">'+app.numberFormat(data)+'</span>';
							}
						}},
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 1,
          heightMatch: 'auto'
      });
		},
		removeA(array, id) {
      // console.log(array);
      var index = array.map((x, i) => {
        return x[id];
      })
      array.splice(index, 1);
    },
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      this.check = this.check.map((data, i) => {
        var objKeys = Object.keys(data);
        data[objKeys].status = type;
        return data[objKeys]
      })
      this.saveAction();
    },
    saveAction() {
      event.preventDefault();
      this.axios.put('rdkk/approval/change-status', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.loading.changeStatus = false;
        this.dt.draw();
        this.check = [];
        this.checkSelected = {};
        $(".custom-control-inputx").prop('checked', false);
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.response.data.message, "Pesan")
        this.loading.changeStatus = false;
        this.check = [];
        this.checkSelected = {};
        $(".custom-control-inputx").prop('checked', false);
      })
    },
		unapproved(){
      // status n
		},
		approved(){
      // status y
		},
		batal(){
			var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/rdkk'});
		},
		numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
		},
		updateTable(form){
      var app = this
      form.find("input").hide(() => {
        form.find("div.loading-form").show();
      });
      let newVal = form.find("input").val()
      app.formData.approved_qty = parseFloat(newVal)
      newVal = app.numberFormat(form.find("input").val());
      if (parseFloat(newVal) !== parseFloat(app.formData.oldval)) {
        app.axios.put('rdkk/approval/approved', [
					{
						rdkk_id : app.formData.rdkk_id,
						approved_qty : app.formData.approved_qty,
						product_id : app.formData.product_id,
					}
				])
        .then((resp) => {
          toastr.success("Data di simpan", "Sukses");
          setTimeout(function(){
            form.find("div.loading-form").hide(() => {
              form.find("span").show();
            });
          }, 1500)
          form.find("span").html(newVal);
          app.dt.draw()
        })
        .catch((resp) => {
          let msg = resp.response.data.message;
          const rdkk_id = (msg.rdkk_id) ? '<li>'+msg.rdkk_id[0]+'</li>' : '';
          const approved_qty = (msg.approved_qty) ? '<li>'+msg.approved_qty[0]+'</li>' : '';
          const product_id = (msg.product_id) ? '<li>'+msg.product_id[0]+'</li>' : '';
          toastr.error(result, "Gagal mengubah data");
          app.dt.draw()
        })
        app.resetForm()
      } else {
        setTimeout(function(){
          form.find("div.loading-form").hide(() => {
            form.find("span").show();
          });
        }, 1500)
        form.find("span").html(newVal);
      }
		},
		resetForm(){
      this.formData.rdkk_id = ''
      this.formData.product_id = ''
      this.formData.oldval = ''
      this.formArrSend = [];
      this.formArr = [];
      this.formObj = {};
    },
    searchTable(obj) {
      this.rdkkdt = obj
      this.dt.draw();
    },
    saveAll(){
      var app = this;
      app.loading.changeStatus = true;
      document.querySelectorAll("form").forEach(f => {
        f.querySelectorAll("input.open-input").forEach(ele => {
          // console.log(ele.name);
          var getParams = ele.name.split(";");
          app.formObj = {
            rdkk_id : getParams[0],
            product_id : getParams[1],
            approved_qty : ele.value,
          }
          app.formArr.push(app.formObj)
        });
      })
      app.axios.put('rdkk/approval/approved', app.formArr)
      .then((resp) => {
        toastr.success("Data di simpan", "Sukses");
        app.loading.changeStatus = false;
        app.resetForm()
        app.dt.draw()
      })
      .catch((resp) => {
        app.loading.changeStatus = false;
        let msg = resp.response.data.message;
        let errorsx = resp.response.data.errors
        const errors = (errorsx) ? '<li>'+errorsx+'</li>' : '';
        const rdkk_id = (msg.rdkk_id) ? '<li>'+msg.rdkk_id[0]+'</li>' : '';
        const product_id = (msg.product_id) ? '<li>'+msg.product_id[0]+'</li>' : '';
        const approved_qty = (msg.approved_qty) ? '<li>'+msg.approved_qty[0]+'</li>' : '';
        const result = '<ul>'+rdkk_id+product_id+approved_qty+'</ul>';
        toastr.error(result, "Gagal mengubah data");
        app.resetForm()
        app.dt.draw()
      })
    },
    escInput(form, oldVal){
      form.find("input").hide(() => {
        form.find("input").removeClass("open-input");
        form.find("span").show();
      });
      form.find("input").val(oldVal)
      this.resetForm();
    },
  }
}
</script>


<style lang="css">
.thcolorblue{
  background-color: #1980f0;
	color: white;
}
.status-deaktif {
	background-color:#ff7588; height:100%; width:100%; display: block; color: white;
}
.status-aktif {
	background-color:#16d39a; height:100%; width:100%; display: block; color: white;
}
.status-detail-deaktif {
	color:#ff7588;
  font-weight: bold;
}
.status-detail-draft{
  font-weight:bold;
}
.status-detail-aktif {
	color:#16d39a;
  font-weight: bold;
}
.status-detail-submit {
  color:#ff8717;
  font-weight: bold;
}
div.dt-buttons {
  float: right !important;
  display: none;
}
</style>
