<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button v-if="access.C" type="button" @click="formModal.show = !formModal.show" class="btn btn-primary square"><i class="fa fa-plus"></i> Entry Baru</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="table-responsive"> -->
          <table id="TableBankAccount" class="table table-xs table-bordered table-striped display nowrap">
              <thead>
                <bank-account-filter :reset="resetStatus" @filter-table ="searchTable"></bank-account-filter>
                <tr>
                  <th>
                      <fieldset>
                          <div class="custom-control custom-checkbox">
                              <label class="custom-control custom-checkbox">
                              <input type="checkbox"  class="checks check custom-control-input check_box_retail">
                              <span class="custom-control-indicator"></span>
                              </label>
                          </div>
                      </fieldset>
                  </th>
                  <th>Produsen</th>
                  <th>Bank</th>
                  <th>Bank Account</th>
                  <th>Bank GL Account</th>
                  <th>Bank Clearing Account</th>
                  <th>Status</th>
                  <th>#</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        <!-- </div> -->
      </div>
    </div>
    <div class="scroll-top" v-if="accessComponent.A === true">
       <div class="col-md-12">
           <div class="btn-group mr-1 mb-1 pull-right dropup">
           <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
               Aksi
               <span class="sr-only">Toggle Dropdown</span>
           </button>
           <div class="dropdown-menu">
               <a class="dropdown-item" @click="action('y')" href="#">Active</a>
               <a class="dropdown-item" @click="action('d')" href="#">Inactive</a>
           </div>
           </div>
       </div>
   </div>
    <bank-account-form v-if="formModal.show" @trigger-modal-form="triggerModalForm" :access="access" :uuid="formModal.uuid"></bank-account-form>
  </div>
</template>

<script>
import BankAccountFilter from './BankAccountFilter';
import BankAccountForm from './modal/BankAccountForm';
export default {
  props: ['access'],
  data: function() {
    return {
      dt: null,
      resetStatus: false,
      searchField: {},
      checkeds:[],
      formModal: {
        show: false,
        uuid: null
      },
      accessComponent: (this.access != undefined) ? this.access : {},
      loading:{
          changeStatus: false
      },
    }
  },
  components: {
    BankAccountForm, BankAccountFilter
  },
  created() {

  },
  mounted() {
    let app = this;
    app.TableBankAccount();
    $("div.dataTables_length").append(' <button id="resetFilterBankAcc" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    
    $(document).on("click", "#resetFilterBankAcc", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterBankAcc').prop('disabled', true);
      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterBankAcc').prop('disabled', false);
      }, 1000)
    })

    $(document).on('change','.checks',function(){
      app.checkAll()
    });
    $(document).on('change','.checkselect',function(){
      app.checkByOne($(this))
    });
    $(document).on('click','#edit',function(e){
      e.preventDefault();
      let id = $(this).data('id');
      app.formModal.show = true;
      app.formModal.uuid = id;
    });
  },
  methods: {
    triggerModalForm() {
      this.formModal.show = false;
      this.formModal.uuid = null;
      this.dt.draw();
    },

    searchTable(obj) {
        this.searchField = obj;
        this.dt.draw();
    },

    action(type){
       event.preventDefault();
       if(this.checkeds.length!=0){
           let checks = this.checkeds;
           let send = {
             ids : checks,
             status : type
           }
           this.loading.changeStatus = true
           this.axios.put('bankaccounts', send)
           .then((resp) => {
             toastr.success(resp.data.message)
             this.dt.draw()
             this.loading.changeStatus = false
             this.checkeds = []
             $('.checks').prop('checked',false)
           })
           .catch((resp) => {
             toastr.error(resp.data.message)
             this.loading.changeStatus = false
           })
       }else{
           toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
       }
    },

    checkAll() {
      var app = this;
      if($('.checks').is( ":checked" )===true){
          $('.checkselect').prop('checked',true);
          $('.checkselect:checkbox:checked').each(function(i){
              app.checkeds.push($(this).val());
          });
      }else{
          $('.checkselect').prop('checked',false);
          app.checkeds=[];
      }
    },

    checkByOne(ini) {
      var app = this;
      $('.checks').prop('checked',false);
      var uuids=ini.val();
      if(ini.is( ":checked" )===true){
          app.checkeds.push(uuids);
      }else{
          app.removeA(app.checkeds, uuids);
      }
    },

    removeA(array, id) {
         var index = array.indexOf(id);
         console.log(index);
         array.splice(index, 1);
     },

    TableBankAccount() {
      let app = this;
      this.dt = $("#TableBankAccount").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        // "dom": 'Bltrip',
        scrollY:"50vh",
        scrollCollapse:true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        // "buttons": [
        //   {
        //     extend: 'excel',
        //     className: 'btn-danger square mb-1 DownloadBankAccount',
        //     text: "Download Akun Bank",
        //     title:"",
        //     filename:"akun-bank",
        //     exportOptions: {
        //         columns: 'th:not(:first-child)'
        //     }
        //   }
        // ],
        ajax:{
          'url': 'api/bankaccounts',
          'type': 'GET',
          'data': function(d){
            d.sales_org_id = app.searchField.sales_org_id,
            d.bank_name = app.searchField.bank_id,
            d.currency = app.searchField.currency,
            d.bank_account = app.searchField.bank_account,
            d.bank_gl_account = app.searchField.bank_gl_account,
            d.bank_clearing_acct = app.searchField.bank_clearing_acct,
            d.status = app.searchField.status
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
        },
        "columnDefs": [
           { "orderable": false, "targets": 0 }
        ],
        columns: [
          {
              data: 'id',
              render:function(data,t,f) {
                 const check =    '<fieldset>'+
                                      '<label class="custom-control custom-checkbox">'+
                                      '<input type="checkbox"  class="checkselect check custom-control-input check_box_akun_bank" value="'+data+'"  >'+
                                      '<span class="custom-control-indicator" style="margin-left: 1.5rem;"></span>'+
                                      '</label>'+
                                  '</fieldset>';
                  return check;
              }
          },
          {data: 'sales_org_id' , name:'sales_org_id'},
          {data: 'bank_name' , name:'bank_name'},
          {data: 'bank_account' , name:'bank_account'},
          {data: 'bank_gl_account' , name:'bank_gl_account'},
          {data: 'bank_clearing_acct' , name:'bank_clearing_acct'},
          {data: 'status' , name:'status'},
          {data: 'id' , name:'id', render:function(data, type, full) {
            let button = (app.access.U && full.status === 'Active') ? '<button class="btn btn-primary btn-sm square" id="edit" data-id="'+data+'"><i class="fa fa-pencil"></i>  Edit</button>' : '';
            return button;
          }}
        ]
      })
      // new $.fn.dataTable.FixedColumns(app.dt, {
      //    leftColumns: 2,
      //    heightMatch: 'auto'
      // });
    }
  }


}
</script>

<style lang="css" scoped>
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 999;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
}
</style>
