<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div>
      <form-loader :view="loading"></form-loader>
      <div v-if="!loading" class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">
              {{ (profile.sales_org_name === '' || profile.sales_org_name === null) ? ' - ' : profile.sales_org_name }}
            </h3>
          </div>
          <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Pofile
                </li>
                <li class="breadcrumb-item active">
                  {{ (profile.sales_org_name === '' || profile.sales_org_name === null) ? ' - ' : profile.sales_org_name }}
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="content-body">
          <section class="row">
            <div class="col-sm-12">
              <div  class="card">
                <div class="card-content collapse show">
                  <div class="card-body">
                    <profile-component :profile="profile"> </profile-component>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import ProfileComponent from './ProfileComponent';
import FormLoader from '../main/FormLoader';
export default {
  data: function() {
    return {
      loading: false,
      profile: {}
    }
  },
  created() {
    this.getDataProfile()
  },
  components: {
    ProfileComponent, FormLoader
  },
  methods: {
    getDataProfile() {
      this.loading = true
      this.axios.get('user/profile')
      .then((resp) => {
        this.profile = resp.data.data
        this.loading = false
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
        this.loading = false
      })
    }
  }
}
</script>

<style lang="css">
</style>
