<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="card box-shadow-0 border-blue">
          <div class="card-header card-head-inverse bg-blue">
            <h4 class="card-title">Informasi Umum</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          </div>
          <div class="card-content collapse show">
            <div class="card-body box-detail-distributor">
              <dl class="row">
                <dt class="col-sm-2 text-right">Nama Pengguna</dt>
                <dd class="col-sm-10">{{ profile.username }}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-2 text-right">Email</dt>
                <dd class="col-sm-10">{{ profile.email }}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['profile'],
  data: function() {
    return {

    }
  },
  components: {

  },
  created() {

  },
  mounted() {

  },
  methods: {

  }


}
</script>

<style lang="css">
  .card-header {
    padding: 1rem 1rem;
  }
  .bg-blue {
    background-color: #1980F0 !important;
  }
  .no-padding {
    padding-right: 0;
    padding-left: 0;
  }
  /* .box-detail-distributor {
    min-height: 250px;
  } */
  .rata {
    padding-bottom: 0.5rem !important;
  }
  .card {
    height: 100% !important;
  }
</style>
