<template>
    <div class="row">
        <div class="col-md-12">
            <h4 class="form-section">Produk</h4>
            <div class="range-group row">
                <div class="col-md-3">Produk</div>
                <div class="col-md-4">
                    <multiselect
                        @input="sendToParent"
                        v-model="temp.produkFrom"
                        :options="get.produk"
                        track-by="id" :custom-label="nameWithId"
                        :searchable="true" :close-on-select="true"
                        :show-labels="false"
                        :placeholder="(selectLoading.produk === false) ? 'Pilih Produk..' : 'Memuat ..'"
                    >
                    </multiselect>
                </div>
                <div class="col-md-1">To</div>
                <div class="col-md-4">
                    <multiselect
                        @input="sendToParent"
                        v-model="temp.produkTo"
                        :options="get.produk"
                        track-by="id" :custom-label="nameWithId"
                        :searchable="true" :close-on-select="true"
                        :show-labels="false"
                        :placeholder="(selectLoading.produk === false) ? 'Pilih Produk..' : 'Memuat ..'"
                    >
                    </multiselect>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
export default {
    data: () => {
        return {
            get: {
                produk: []
            },
            temp: {
                produkFrom: null,
                produkTo: null
            },
            selectLoading: {
                produk: false
            }
        }
    },
    components: {
        Multiselect
    },
    created() {
        this.getProduk();
    },
    methods: {
        nameWithId ({ id,  name}) {
            return `${id} — ${name}`
        },
        getProduk() {
            this.selectLoading.produk = true;
            this.axios.get("rdkk/product/list")
            .then(res => {
                this.get.produk = res.data.data
                this.selectLoading.produk = false;
            })
            .catch(res => {
                toastr.error(res.response.data.message)
                this.selectLoading.produk = false;
            })
        },
        sendToParent() {
            this.$emit('data-manage', 'PRODUK', this.temp)
        }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
