<template>
    <div class="row">
        <div class="col-md-12">
            <h4 class="form-section"> Transaksi</h4>
                <div class="range-group row">
                    <div class="col-md-3">
                        Sales ORG
                    </div>
                    <div class="col-md-4">
                        <multiselect
                            @input="sendToParent"
                            v-model="temp.produsenFrom"
                            :options="get.produsen"
                            track-by="uuid" :custom-label="nameWithId"
                            :searchable="true" :close-on-select="true"
                            :show-labels="false"
                            :placeholder="(selectLoading.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'"
                        >
                        </multiselect>
                    </div>
                    <div class="col-md-1">
                        to
                    </div>
                    <div class="col-md-4">
                        <multiselect
                            @input="sendToParent"
                            v-model="temp.produsenTo"
                            :options="get.produsen"
                            track-by="uuid" :custom-label="nameWithId"
                            :searchable="true" :close-on-select="true"
                            :show-labels="false"
                            :placeholder="(selectLoading.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'"
                        >
                        </multiselect>
                    </div>
                </div>
                <div v-if="type !== 'outstanding'" class="range-group row">
                    <div class="col-md-3">
                        No. SO
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" v-model="temp.noSoFrom" @keyup="sendToParent">
                    </div>
                    <div class="col-md-1">
                        to
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" v-model="temp.noSoTo" @keyup="sendToParent">
                    </div>
                </div>
                <div class="range-group row">
                    <div class="col-md-3">
                        Customer
                    </div>
                    <div class="col-md-4">
                        <multiselect
                            @input="sendToParent"
                            v-model="temp.customerFrom"
                            :options="get.customer"
                            track-by="uuid" :custom-label="customerNameWithId"
                            :searchable="true" :close-on-select="true"
                            :show-labels="false"
                            :placeholder="(selectLoading.customer === false) ? 'Pilih customer..' : 'Memuat ..'"
                        >
                        </multiselect>
                    </div>
                    <div class="col-md-1">
                        to
                    </div>
                    <div class="col-md-4">
                        <multiselect
                            @input="sendToParent"
                            v-model="temp.customerTo"
                            :options="get.customer"
                            track-by="uuid" :custom-label="customerNameWithId"
                            :searchable="true" :close-on-select="true"
                            :show-labels="false"
                            :placeholder="(selectLoading.customer === false) ? 'Pilih customer..' : 'Memuat ..'"
                        >
                        </multiselect>
                    </div>
                </div>
                <div class="range-group row">
                    <div class="col-md-3">
                        Tanggal SO
                    </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control" v-model="temp.tanggalSoFrom" v-on:change="sendToParent" @keyup="sendToParent">
                    </div>
                    <div class="col-md-1">
                        to
                    </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control" v-model="temp.tanggalSoTo" v-on:change="sendToParent" @keyup="sendToParent">
                    </div>
                </div>
                <div v-if="type !== 'outstanding'" class="range-group row">
                    <div class="col-md-3">
                        Tanggal PGI
                    </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control" v-model="temp.tanggalPgiFrom" v-on:change="sendToParent" @keyup="sendToParent">
                    </div>
                    <div class="col-md-1">
                        to
                    </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control" v-model="temp.tanggalPgiTo" v-on:change="sendToParent" @keyup="sendToParent" >
                    </div>
                </div>
                <div v-if="type !== 'outstanding'" class="range-group row">
                    <div class="col-md-3">
                        Kode Plant
                    </div>
                    <div class="col-md-4">
                        <multiselect
                            @input="sendToParent"
                            v-model="temp.kodePlantFrom"
                            :options="get.kodePlant"
                            track-by="id" :custom-label="plantNameWithId"
                            :searchable="true" :close-on-select="true"
                            :show-labels="false"
                            :placeholder="(selectLoading.kodePlant === false) ? 'Pilih kode plant..' : 'Memuat ..'"
                        >
                        </multiselect>
                    </div>
                    <div class="col-md-1">
                        to
                    </div>
                    <div class="col-md-4">
                        <multiselect
                            @input="sendToParent"
                            v-model="temp.kodePlantTo"
                            :options="get.kodePlant"
                            track-by="id" :custom-label="plantNameWithId"
                            :searchable="true" :close-on-select="true"
                            :show-labels="false"
                            :placeholder="(selectLoading.kodePlant === false) ? 'Pilih kode plant..' : 'Memuat ..'"
                        >
                        </multiselect>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
    props: ['type'],
    data: () => {
        return {
            get: {
                customer: [],
                produsen: [],
                kodePlant: []
            },
            temp: {
                produsenFrom: null,
                produsenTo: null,
                noSoFrom: null,
                noSoTo: null,
                customerFrom: null,
                customerTo: null,
                tanggalSoFrom: null,
                tanggalSoTo: null,
                TanggalPgiFrom: null,
                TanggalPgiTo: null,
                kodePlantTo: null,
                kodePlantFrom: null,
            },
            selectLoading: {
                produsen: false,
                customer: false,
                kodePlant: false
            }
        }
    },
    components: {
        Multiselect
    },
    created() {
        this.getProdusen();
        this.getCustomer();
        this.getPlant();
    },
    methods: {
        nameWithId ({ id,  name}) {
            return `${id} — ${name}`
        },
        customerNameWithId ({ id,  full_name}) {
            return `${id} — ${full_name}`
        },
        plantNameWithId ({ code,  name}) {
            return `${code} — ${name}`
        },
        getCustomer() {
            this.selectLoading.customer = true
            this.axios.get('company/distributor')
            .then(res => {
                this.get.customer = res.data.data
                this.selectLoading.customer = false
            })
            .catch(res => {
                toastr.error(res.response.data.message)
                this.selectLoading.customer = false
            })
        },
        getProdusen() {
            this.selectLoading.produsen = true
            this.axios.get('company/produsen')
            .then(res => {
                this.get.produsen = res.data.data
                this.selectLoading.produsen = false
            })
            .catch(res => {
                toastr.error(res.response.data.message)
                this.selectLoading.produsen = false
            })
        },
        getPlant() {
            this.selectLoading.kodePlant = true
            this.axios.get('plant')
            .then(res => {
                this.get.kodePlant = res.data.data
                this.selectLoading.kodePlant = false
            })
            .catch(res => {
                toastr.error(res.response.data.message)
                this.selectLoading.kodePlant = false
            })
        },
        sendToParent() {
            this.$emit('data-manage', 'TRANSAKSI', this.temp)
        }
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

