<template>
  <div class="modal fade" id="DoSyncSap" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sinkronisasi DO dengan SAP</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3 label-control">Number SO</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" v-model="send.so_number">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          <button type="button" @click="syncSap" class="btn btn-primary square" :disabled="loading.button">
            <i v-if="loading.button" class="fa fa-spin fa-refresh"></i>
            Sync
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [],
  data: function() {
    return {
      error: false,
      errors: {},
      loading: {
        button: false
      },
      send : {
        so_number: null
      }
    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    let app = this;
    $('#DoSyncSap').modal({
        backdrop: 'static',
        keyboard: false
    })
    $("#DoSyncSap").modal("show");
    $("#DoSyncSap").on("hidden.bs.modal", function(){
      app.closeModal();
    })
  },
  methods: {
    syncSap() {
      this.loading.button = true;
      this.axios.get('sap/check-do-from-so', {params : this.send})
      .then((resp) => {
        $("#DoSyncSap").modal("hide")
        toastr.success(resp.data.message)
        this.loading.button = false
      })
      .catch((resp) => {
        this.error = true
        this.errors = resp.response.data.message
        toastr.error(resp.response.data.message)
        this.loading.button = false
      })
    },
    closeModal() {
      this.$emit("trigger-modal");
    }
  }
}
</script>

<style lang="css" scoped>
</style>
