<template >
  <tr class="filter">
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="searchF5.sales_org_name"
      v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="searchF5.number"
      v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="searchF5.customer_name"
      v-on:keyup="search()">
    </th>
    <th>
      <year :reset="reset" @get-year="searchYear" :type="type"></year>
    </th>
    <th>
      <month :reset="reset" :checkedMonth="searchF5.month" @get-month="searchMonth" ></month>
    </th>
    <!-- <th>
      <date @get-date="getDatePenyaluran" :type="'penyaluran'">
      </date>
    </th> -->
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="searchF5.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <checklist :reset="reset" :checkedStatus="searchF5.status_name" @get-check="searchStatus" :label="'Cari Status'" :list="statusOrder">
      </checklist>
    </th>
    <th></th>
  </tr>
</template>

<script>
import Date from '../../filter/Date';
import Year from '../../filter/Year';
import Month from '../../filter/Month';
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      type: 'validYear',
      statusOrder:[
        {name: 'Draft', value: 'd'},
        {name: 'Submit', value: 's'},
        {name: 'Approve', value: 'y'},
      ],
      searchF5 : {
        sales_org_name : null,
        number : null,
        customer_name : null,
        year : null,
        month : null,
        submited_date : null,
        sales_office_name : null,
        sales_office_id : null,
        sales_group_name : null,
        sales_group_id : null,
        status_name : null
      }
    }
  },
  components: {
    Date, Checklist,
    Provinsi,
    Kabupaten,
    Year, Month
  },
  created() {

  },
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.searchF5 = getLocalSearch;
              app.$emit("search-table", app.searchF5);
          }
      },1000)
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  methods: {
    searchMonth(obj) {
      var month = obj.join(';')
      this.searchF5.month = month
      this.search()
    },
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.searchF5.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.searchF5.year = ''
        }
        this.search()
      }
    },
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.searchF5.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.searchF5.sales_group_id = sales_group;
      this.search();
    },
    getDatePenyaluran(date = '') {
      if (date != '') {
        this.searchF5.submited_date = {
          certain: (date.name === 'penyaluran' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'penyaluran' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'penyaluran' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.searchF5.submited_date = ''
      }
      this.search();
    },

    searchStatus(obj) {
      var status = obj.join(';');
      this.searchF5.status_name = status;
      this.search();
    },

    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.searchF5));
      this.$emit("search-table", this.searchF5);
    },

    resetFilter(){
      this.clearFilter(this.$route.name, this.searchF5);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
