<template >
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" :disabled="is_syncr_disable" v-if="access.C && parseInt(role) !== 4" @click="syncrn" class="btn btn-primary square"><i v-if="is_syncr_disable" class="fa fa-refresh fa-spin"></i> <i v-else class="fa fa-refresh"></i>  Sync F5 </button>
          <button type="button" v-if="access.C && parseInt(role) !== 4" @click="formLbd = !formLbd" class="btn btn-primary square"><i class="fa fa-plus"></i> Entry Baru </button>
          <button type="button" @click="download()" :disabled="loadingButton" class="btn btn-primary square"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="tableF5" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <laporan-bulanan-distributor-filter :reset="resetStatus" @search-table="searchTable"></laporan-bulanan-distributor-filter>
            <tr>
              <th>Produsen</th>
              <th>No F5</th>
              <th>Nama Distributor</th>
              <th>Tahun</th>
              <th>Bulan</th>
              <th>Provinsi</th>
              <th>Kabupaten</th>
              <th>Status</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <laporan-bulanan-distributor-form v-if="formLbd" @trigger-modal="triggerModal"></laporan-bulanan-distributor-form>
    <modal-confirm v-if="downloadPdf.confirm" :uuid="downloadPdf.data" :text="'Download PDF'" @is-delete="downloadBast" @trigger-modal="triggerModal"></modal-confirm>
    <modal-confirm v-if="downloadListF5.confirm" :uuid="downloadListF5.data" :text="'Download F5'" @is-delete="downloadListF5Method" @trigger-modal="triggerModal"></modal-confirm>
  </div>
</template>

<script>
import LaporanBulananDistributorFilter from './LaporanBulananDistributorFilter';
import LaporanBulananDistributorForm from './LaporanBulananDistributorForm';
import ModalConfirm from '../../global/ModalConfirm';
export default {
  props: ['access'],
  data: function() {
    return {
      dt: null,
      searchF5: {},
      formLbd: false,
      resetStatus: false,
      downloadPdf: {
        confirm: false,
         data: {
          uuid: null,
          number: null
        }
      },
      downloadListF5: {
        confirm: false,
        data: {
          uuid: null,
          number: null
        }
      },
      loadingButton:false,
      role:null,
      is_syncr_disable:false,
      accessComponent: (this.access != undefined) ? this.access : {},
    }
  },
  components: {
    LaporanBulananDistributorFilter, LaporanBulananDistributorForm, ModalConfirm
  },
  created() {
    if(this.access === undefined) {
      const encodeAccess = decodeURIComponent(this.$route.params.access);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const arrAccess = decodeAccess.split(",");
      console.log(this.access);
      if(arrAccess) {
        arrAccess.map((data) => {
          if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.accessComponent[data] = true
          } else {
            this.$router.push({path: '/home'});
            toastr.error('Tidak mempunyai akses halaman ini', 'Error');
          }
        })
      } else {
        this.$router.push({path: '/home'});
        toastr.error('Tidak mempunyai akses halaman ini', 'Error');
      }
    }
  },
  mounted() {
    var app = this;
    this.tableF5();
    $("div.dataTables_length").append(' <button id="resetFilterbulananDistributor" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterbulananDistributor", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterbulananDistributor').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterbulananDistributor').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#toDetail", function(e){
      e.preventDefault();
      let uuid = $(this).data("uuid");
      let access = encodeURIComponent(app.$route.params.access);
      app.$router.push({path: '/'+access+'/laporan/laporan-bulanan-distributor/detail/'+uuid});
    })
    app.getAccessControl();

    $(document).on("click", "#cetakBast", function(e) {
      e.preventDefault();
      const uuid = $(this).data('uuid');
      const number = $(this).data('number');
      app.downloadPdf.confirm = true;
      app.downloadPdf.data.uuid = uuid;
      app.downloadPdf.data.number = number;
    })

    $(document).on("click", "#downloadListF5", function(e) {
      e.preventDefault();
      const uuid = $(this).data('uuid');
      const number = $(this).data('number');
      app.downloadListF5.confirm = true;
      app.downloadListF5.data.uuid = uuid;
      app.downloadListF5.data.number = number;
    })
  },
  methods: {

    triggerModal(refresh) {
      this.formLbd = false;
      this.downloadPdf.confirm = false;
      this.downloadPdf.uuid = null;
      this.downloadListF5.confirm = false;
      this.downloadListF5.uuid = null;
      if(refresh === true) {
        this.dt.draw();
      }
    },
    getAccessControl(){
      const getLocalSearch = localStorage.getItem('access-control');
      const encodeAccess = decodeURIComponent(getLocalSearch);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const accessControl = decodeAccess.split(";")[0];
      this.role = accessControl;
    },

    downloadBast(data) {
      const {uuid, number} = data;
      this.axios({
        url: 'reportf5/bast/'+uuid,
        method: 'GET',
        responseType: 'blob', // important
      })
      .then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'BAST-'+number+'.pdf'); //or any other extension
         document.body.appendChild(link);
         link.click();
      })
      .catch((resp) => {
        toastr.error('Data F5 Items not Found');
      })
    },

    downloadListF5Method(data) {
      const {uuid, number} = data;
      this.axios({
        url: 'reportf5/download/'+uuid,
        method: 'GET',
        responseType: 'blob', // important
      })
      .then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', number+'.pdf'); //or any other extension
         document.body.appendChild(link);
         link.click();
      })
      .catch((resp) => {
        toastr.error('Data F5 Items not Found');
      })
    },

    syncrn(){
      this.is_syncr_disable=true;
      this.axios({
        url: 'f5/store',
        method: 'GET',
      })
      .then((resp) => {
        console.log(resp);
        toastr.success(resp.data.message+' Jumlah : '+resp.data.data.length +' data.', "Sukses Syncron F5")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.error('Syncron Failed');
      })
      .then((resp)=>{
        this.is_syncr_disable=false;
      })
    },

    download() {
      // $(".downloadF5").trigger('click');
       this.loadingButton = true;
        this.axios({
          url: 'reportf5/export',
          params: {
            sales_org_name: this.searchF5.sales_org_name,
            number: this.searchF5.number,
            customer_name: this.searchF5.customer_name,
            year: this.searchF5.year,
            month: this.searchF5.month,
            submited_date: this.searchF5.submited_date,
            sales_office_name: this.searchF5.sales_office_name,
            sales_office_id: this.searchF5.sales_office_id,
            sales_group_name: this.searchF5.sales_group_name,
            sales_group_id: this.searchF5.sales_group_id,
            status: this.searchF5.status_name
          },
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
           const url = window.URL.createObjectURL(new Blob([response.data]));
           const link = document.createElement('a');
           link.href = url;
           link.setAttribute('download', 'Download Reportf5.xls'); //or any other extension
           document.body.appendChild(link);
           link.click();
           this.loadingButton = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadingButton = false;      
        })
    },

    searchTable(obj) {
      this.searchF5 = obj;
      this.validateDatePenyaluran(obj);
      this.yearFrom(obj);
      this.dt.draw();
    },

    validateDatePenyaluran(obj) {
      if(obj.submited_date && obj.submited_date.from && obj.submited_date.to) {
        this.searchF5.submited_date = obj.submited_date.from+';'+obj.submited_date.to;
      } else if (obj.submited_date && obj.submited_date.certain) {
        this.searchF5.submited_date = obj.submited_date.certain;
      } else {
        this.searchF5.submited_date = '';
      }
    },

    getMonthName(month) {
      switch (month) {
        case '1': return 'Januari'; break;
        case '2': return 'Februari'; break;
        case '3': return 'Maret'; break;
        case '4': return 'April'; break;
        case '5': return 'Mei'; break;
        case '6': return 'Juni'; break;
        case '7': return 'Juli'; break;
        case '8': return 'Agustus'; break;
        case '9': return 'September'; break;
        case '10': return 'Oktober'; break;
        case '11': return 'November'; break;
        case '12': return 'Desember'; break;
        default:
          return 'bulan tidak dikenal';
      }
    },
    yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.searchF5.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.searchF5.year = obj.year.certain;
      } else {
        this.searchF5.year = '';
      }
    },
    tableF5() {
      var app = this;
      app.dt = $("#tableF5").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        scrollCollapse:true,
        "order": [[ 1, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadF5',
            text: "Download Laporan Bulanan Distributor",
            title:"",
            filename:"Download Laporan Bulanan Distributor",
          }
        ],
        ajax: {
          'url': '/api/reportf5',
          'type': 'GET',
          'data': function(d) {
            d.sales_org_name = app.searchF5.sales_org_name,
            d.number = app.searchF5.number,
            d.customer_name = app.searchF5.customer_name,
            d.year = app.searchF5.year,
            d.month = app.searchF5.month,
            d.submited_date = app.searchF5.submited_date,
            d.sales_office_name = app.searchF5.sales_office_name,
            d.sales_office_id = app.searchF5.sales_office_id,
            d.sales_group_name = app.searchF5.sales_group_name,
            d.sales_group_id = app.searchF5.sales_group_id,
            d.status = app.searchF5.status_name
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns : [
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'number', name: 'number', render: function(data, type, full){
            const access = encodeURIComponent(app.$route.params.access);
            const link = `<a href="/#/${access}/laporan/laporan-bulanan-distributor/detail/${full.uuid}">${data}</a>`;
            return link
          }},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'year', name: 'year'},
          {data: 'month', name: 'month', render: function(data, type, full){
            return app.getMonthName(data.replace(/^0+/, ''));
          }},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'status_name', name: 'status_name'},
          {data: 'uuid', name: 'uuid', render: function(data, type, full){
            return '<a href="#" data-number="'+full.number+'" data-uuid="'+data+'" id="downloadListF5"/> Download </a> | <a href="#" data-number="'+full.number+'" data-uuid="'+data+'" id="cetakBast" />Cetak BAST</a>';
          }},
        ]
      })
      // new $.fn.dataTable.FixedColumns(app.dt, {
      //     leftColumns: 3
      // });
    },
  }
}
</script>

<style media="screen">
  .downloadF5 {
    display: none !important;
  }
</style>
