<template>
  <tr class="filter">
    <th>
      <input type="text" class="form-control form-control-md" id="sales_org_filter" v-model="batasAmbil.sales_org_name" v-on:keyup="search()">
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="batasAmbil.incoterm" v-on:keyup="search()">
    </th>
    <!-- <th>
      <input type="text" class="form-control form-control-md" v-model="batasAmbil.product_name" v-on:keyup="search()">
    </th> -->
    <th>
      <input type="text" class="form-control form-control-md" v-model="batasAmbil.min_qty" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="batasAmbil.max_qty" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="batasAmbil.duration_date" v-on:keyup="search()">
    </th>
    <th></th>
  </tr>
</template>

<script>
import Provinsi from '../../filter/Provinsi';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      batasAmbil: {
        sales_office_id: null,
        incoterm: null,
        product_name: null,
        sales_org_name: null,
        min_qty: null,
        max_qty: null,
        duration_date: null
      }
    }
  },
  components: {
    Provinsi
  },
  created() {

  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
     $(document).on("keyup", "#sales_org_filter", function(){
      app.batasAmbil.sales_org_name = $(this).val();
      app.search();
    })
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));

    setTimeout(() => {
      if (getLocalSearch !== null) {
          app.batasAmbil = getLocalSearch;
          app.$emit("search-table", app.batasAmbil);
      }
    },1000)
  },
  methods: {
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.batasAmbil));
      this.$emit("search-table", this.batasAmbil);
    },
    searchProv(dataProv) {
        var arr = dataProv.map(data => {
            return data.id;
        })
        var sales_office = arr.join(";");
        this.batasAmbil.sales_office_id = sales_office;
        // this.$refs.filterKabComponent.getKabupaten(sales_office);
        this.search();
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.batasAmbil);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
