<template lang="html">
    <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-1">
                    <h3 class="content-header-title">{{ $ml.get("farmerGroupPage.pageTitle") }}</h3>
                </div>
                <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                    <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">{{ $ml.get("farmerGroupPage.breadcrumbFirst") }}</a>
                        </li>
                        <li class="breadcrumb-item active">{{ $ml.get("farmerGroupPage.breadcrumbSec") }}
                        </li>
                    </ol>
                    </div>
                </div>
            </div>

            <div class="content-body">
                <section class="row">
                    <div class="col-sm-12">
                        <div id="kick-start" class="card">
                            <div class="card-content collapse show">
                                <div class="card-body">
                                   <farmergroup-component></farmergroup-component>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </transition>
</template>

<script>
import FarmergroupComponent from './FarmergroupComponent';

export default {
    components :{
        FarmergroupComponent
    },
    
}
</script>


<style lang="css">
    
</style>