<template >
  <div>
  <!-- Modal On Vue  -->
  <div class="modal fade bd-example-modal-lg" id="addModalFarmergroup" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" v-if="editable===false">Tambah Data</h5>
                  <h5 class="modal-title" id="exampleModalLabel" v-else>Update Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form-loader :view="loaderAnimate"></form-loader>
                  <form class="form form-horizontal" id="formdatasubmit" v-if="pageloder">
                          <div class="form-body">
                              <h4 class="form-section"><i class="ft-user"></i> Informasi Umum</h4>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control" >Distributor </label>
                                          <div class="col-md-8 " >
                                              <multiselect
                                                  @input="getProdusen"
                                                  v-model="form.distributor"
                                                  :options="distributors"
                                                  :disabled="formDisable"
                                                  track-by="id" label="full_name"
                                                  :searchable="true" :close-on-select="true"
                                                  :show-labels="false" placeholder="Pilih .."
                                              >
                                              </multiselect>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control" >Produsen</label>
                                         <div class="col-md-8">
                                               <multiselect
                                                  @input="getRetail"
                                                  :class="{'is-invalid':error && errors.sales_org_id}"
                                                  v-model="form.sales_org_id"
                                                  :options="produsens"
                                                  :disabled="formDisable"
                                                  track-by="id" label="name"
                                                  :searchable="true" :close-on-select="true"
                                                  :show-labels="false" :placeholder="(multipleselect.loadprodusen === false) ? 'Pilih ..' : 'Memuat ..'"
                                              >
                                              </multiselect>
                                              <p class="text-danger" v-if="error && errors.sales_org_id">Produsen harus diisi</p>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control" >Pengecer</label>
                                          <div class="col-md-8">
                                              <multiselect
                                                  v-model="form.retail_id"
                                                  :class="{'is-invalid':error && errors.sales_unit_id}"
                                                  :options="pengecers"
                                                  :disabled="formDisable"
                                                  track-by="id" label="name"
                                                  :searchable="true" :close-on-select="true"
                                                  :show-labels="false" :placeholder="(multipleselect.loadretail === false) ? 'Pilih ..' : 'Memuat ..'"
                                              >
                                              </multiselect>
                                              <p class="text-danger" v-if="error && errors.sales_unit_id">Pengecer harus diisi</p>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control" >Kode Kelompok Tani</label>
                                          <div class="col-md-8">
                                          <input type="text" class="form-control" :disabled="formDisable" placeholder="Kode Kelompok Tani" v-model="form.code" readonly>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control"> Nama Kelompok Tani </label>
                                          <div class="col-md-8">
                                              <input type="text" class="form-control " :disabled="formDisable" placeholder="Kelompk Tani Nama" v-model="form.name" :class="{'is-invalid':error && errors.name}">
                                              <p class="text-danger" v-if="error&&errors.name">Nama Kelompok Tani harus diisi</p>
                                          </div>
                                      </div>
                                     <div class="form-group row">
                                          <label class="col-md-4 label-control" >Status</label>
                                          <div class="col-md-8">
                                              <multiselect
                                                  v-model="readstatus"
                                                  :options="statusSearch"
                                                  track-by="value" label="name"
                                                  :searchable="true" :close-on-select="true"
                                                  :disabled="true"
                                                  :show-labels="false" placeholder="Pilih .."
                                              >
                                              </multiselect>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control" >Alamat</label>
                                           <div class="col-md-8">
                                              <textarea name="name" :class="{'is-invalid': error && errors.address}" :disabled="formDisable" class="form-control" rows="3" cols="60" v-model="form.address"></textarea>
                                              <p class="text-danger" v-if="error && errors.address" >Alamat harus diisi</p>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control" >Provinsi {{form.dataProvinsi}}</label>
                                          <div class="col-md-8">
                                              <multiselect
                                              @input="getKabupaten"
                                              v-model="form.provinsi"
                                              :options="provinsis"
                                              :disabled="formDisable"
                                              track-by="id" label="name"
                                              :searchable="true" :close-on-select="true"
                                              :show-labels="false" placeholder="Pilih .."
                                              >
                                              </multiselect>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control" >Kabupaten</label>
                                          <div class="col-md-8">
                                           <multiselect
                                              @input="getKecamatan"
                                              v-model="form.kabupaten"
                                              :class="{'is-invalid':error && errors.sales_org_id}"
                                              :options="kabupatens"
                                              :disabled="formDisable"
                                              track-by="id" label="name"
                                              :searchable="true" :close-on-select="true"
                                              :show-labels="false" :placeholder="(multipleselect.loadkabupaten === false) ? 'Pilih ..' : 'Memuat ..'"
                                              >
                                              </multiselect>
                                              <p class="text-danger" v-if="error && errors.sales_org_id">Kabupaten harus diisi</p>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control" id="kecamatan" >Kecamatan</label>
                                          <div class="col-md-8">
                                              <multiselect
                                              v-model="form.kecamatan"
                                              :class="{'is-invalid':error&&errors.sales_unit_id}"
                                              :options="kecamatans"
                                              :disabled="formDisable"
                                              track-by="id" label="name"
                                              :searchable="true" :close-on-select="true"
                                              :show-labels="false" :placeholder="(multipleselect.loadkecamatan === false) ? 'Pilih ..' : 'Memuat ..'"
                                              >
                                              </multiselect>
                                              <p class="text-danger" v-if="error && errors.sales_unit_id">Kecamatan harus diisi</p>

                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control" id="kelurahan" >Kelurahan</label>
                                          <div class="col-md-8">
                                              <input type="text" :disabled="formDisable" :class="{'is-invalid' : error && errors.village}" class="form-control" placeholder="Kelurahan" v-model="form.village">
                                              <p class="text-danger" v-if="error && errors.village">{{errors.village[0]}}</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <h4 class="form-section"><i class="fa fa-users"></i> Anggota</h4>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control" >Jumlah Anggota</label>
                                          <div class="col-md-8">
                                              <input type="text" class="form-control" placeholder="Jumlah Anggota" v-model="form.qty_group">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group row">
                                          <label class="col-md-4 label-control"> Luas lahan </label>
                                          <div class="col-md-8">
                                              <input type="text" class="form-control" placeholder="Luas Lahan" v-model="form.latitude">
                                          </div>

                                      </div>
                                  </div>
                              </div>
                              <h4 class="form-section"><i class="icon-clipboard4"></i> Subsektor </h4>
                              <div class="row col-md-12">
                                  <fieldset v-for="(subsektor, index) in subsektors" :key="index" class="col-md-4">
                                      <label class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" :value="subsektor.id" v-model="mSubsektors" :disabled="formDisable">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description">{{ subsektor.name }}</span>
                                      </label>
                                  </fieldset>
                              </div>

                              <h4 class="form-section"><i class="icon-clipboard4"></i> Komoditas </h4>
                              <div class="row col-md-12">
                                  <fieldset v-for="(komoditi, index) in komoditas" :key="index" class="col-md-4">
                                      <label class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" :value="komoditi.id" v-model="mKomodities" :disabled="formDisable">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description">{{ komoditi.name }}</span>
                                      </label>
                                  </fieldset>
                              </div>
                          </div>
                          <div class="form-actions pull-right">
                          <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">
                              <i class="ft-x"></i> Cancel
                          </button>
                          <button type="submit" v-if="editable===true && access.U === true" class="btn btn-primary" :disabled="button.bSUpdate || formDisable" @click="submitupdate">
                              <i class="fa fa-check-square-o"></i> Submit
                          </button>
                          <button type="submit" v-if="editable===true && access.U === true" class="btn btn-success" :disabled="button.bUpdate || formDisable" @click="saveupdate">
                              <i class="fa fa-check-square-o"></i> Save
                          </button>
                          <button type="submit" v-if="editable===false && access.C === true" class="btn btn-primary" :disabled="button.bSubmit || formDisable" @click="submitdata">
                              <i class="fa fa-check-square-o"></i> Submit
                          </button>
                          <button type="button" v-if="editable===false && access.C === true" class="btn btn-success" :disabled="button.bSave || formDisable" @click="savedata">
                              <i class="fa fa-check-square-o"></i> Save
                          </button>
                          </div>
                      </form>
              </div>
          </div>
      </div>
  </div>
  <farmergroup-modallist :title="tipedetailModal" :lists="listDetail" ></farmergroup-modallist>

  </div>
  <!-- End Modal  -->
</template>

<script>
import Multiselect from 'vue-multiselect';
import FarmergroupModallist from './Farmergrouplistdetail';
import FormLoader from './farmergroupLoader';
export default {
  props:['editable','id','tipedetail','listdata','auth'],
  data:function (){
      return {
          formDisable:false,
          loaderAnimate:false,
		      pageloder:true,
          button:{
              bUpdate:false,
              bSUpdate:false,
              bSubmit:false,
              bSave:false
          },
          listsdata:[],
          tipedetailModal:'',
          error: false,
          errors: {},
          form:{
              code:'',
              retail_id:'',
              name:'',
              address:'',
              sales_unit_id:'',
              telp_no:'',
              fax_no:'',
              village:'',
              sub_sector_id:'',
              commodity_id:'',
              qty_group:'',
              latitude:'',
              longitude:'',
              status:'',
              dataProvinsi:'',
              distributor:'',
              produsen:'',
              pengecer:'',
              provinsi:'',
              kabupaten:'',
              kecamatan:'',
              sales_org_id:'',
              kelurahan:'',
          },
          statusSearch: [
              {name: 'Active', value: 'y'},
              {name: 'Inactive ', value: 'n'},
              {name: 'Suspend', value: 'p'},
              {name: 'Draft', value: 'd'},
              {name: 'Submitted', value: 's'}
           ],
          subsektors:[],
          komoditas:[],
          distributors:[],
          mKomodities:[],
          mSubsektors:[],
          provinsis:[],
          kabupatens:[],
          kecamatans:[],
          kelurahans:[],
          produsens:[],
          pengecers:[],
          listDetail:[],
          readstatus:[],
          multipleselect:{
              loadkabupaten:false,
              loadkecamatan:false,
              loadprodusen:false,
              loadretail:false
          },
          access:this.auth
      }
  },
  components:{
      Multiselect,
      FarmergroupModallist,
      FormLoader
  },
  watch: {
      editable:function(val){
          if(val===true){
              this.loaderAnimate=true;
              this.pageloder=false;
              this.update();
              this.formDisable=false;
          }else{
              this.loaderAnimate=false;
              this.pageloder=true;
              this.formDisable=false;
              this.resets();
          }
      },
      id:function(val){
          if(val!=null){
              this.loaderAnimate=true;
              this.pageloder=false;
              this.update();
          }
          this.readstatus=[];
          this.form.provinsi=[];
          this.form.provinsi=[];
          this.form.kabupaten=[];
          this.form.kecamatan=[];
          this.form.distributor=[];
          this.form.sales_unit_id=[];
          this.form.retail_id=[];
          this.error = false;
          this.errors = {};
      },
      tipedetail:function(val){
          this.tipedetailModal=val;
      },
      listdata:function(val){
          this.listsdata=val;
          if(this.tipedetailModal=="Sub Sector"){
              this.findList(this.subsektors,this.listsdata);
          }else{
              this.findList(this.komoditas,this.listsdata);
          }
      }
  },
  mounted() {
      var app=this;
      app.getDistributor();
      app.getProvinsi();
      app.subSektor();
      app.subKomoditas();
      var name_distributor = document.getElementsByClassName("pi-distributor-name");
      if(name_distributor.length != 0){
          var code_distributor = document.getElementsByClassName("pi-distributor-code");
          // console.log(name_distributor[0].innerHTML)
          this.form.distributor={id: code_distributor[0].innerText, full_name: name_distributor[0].innerText};
      }
  },
  methods: {
      findList(vals,datas){
          this.listDetail.splice(0);
          var hasil=[];
          for (let index = 0; index < vals.length; index++) {
               if(datas.includes(vals[index].id)){
                 this.listDetail.push({id: vals[index].id, name: vals[index].name});
              }
          }
          // console.log(this.listDetail)
      },
      subSektor (){
          var app=this;
          app.axios.get("subsector")
          .then((resp)=>{
             app.subsektors=resp.data.data;
          })
          .catch((resp)=>{

          })
      },
      subKomoditas(){
          this.axios.get("commodity")
          .then((resp)=>{
             this.komoditas=resp.data.data;
          })
          .catch((resp)=>{

          })
      },
      getDistributor(){
           this.axios.get("company/distributor")
          .then((resp)=>{
             this.distributors=resp.data.data;
          })
          .catch((resp)=>{

          })
      },
      getRetail(){
          this.multipleselect.loadretail=true;
          this.axios.get("company/pengecer",{
              params:{customer_id:this.form.distributor.id}
          })
          .then((resp)=>{
              this.pengecers=resp.data.data;
              this.multipleselect.loadretail=false;
          })
          .catch((resp)=>{

          })
          .then((resp)=>{

          });
      },
      getProdusen(){
          this.multipleselect.loadprodusen=true;
           this.axios.get("company/produsen", {
              params: { customer_id:this.form.distributor.id }
           })
          .then((resp)=>{
             this.produsens=resp.data.data;
             this.multipleselect.loadprodusen=false;
          })
          .catch((resp)=>{

          })
      },
      getProvinsi(){
          this.axios.get("region/provinsi")
          .then((resp)=>{
             this.provinsis=resp.data.data;
          })
          .catch((resp)=>{

          })
      },
       getKabupaten(){
          $('#kabupaten').attr('disabled',true);
          this.multipleselect.loadkabupaten=true;
          this.form.kabupaten=[];
          this.axios.get("region/kabupaten",{
            params: {
              provinsi: this.form.provinsi.id
            }
          })
          .then((resp)=>{
          this.kabupatens=resp.data.data;
          })
          .catch((resp)=>{

          })
          .then((resp)=>{
              $('#kabupaten').attr('disabled',false);
              this.multipleselect.loadkabupaten=false;
          });
      },
      getKecamatan(){
          // console.log(this.form.kabupaten)
          this.multipleselect.loadkecamatan=true;
          this.axios.get("region/kecamatan",{params: { kabupaten:this.form.kabupaten.id }  })
          .then((resp)=>{
          this.kecamatans=resp.data.data;
          this.multipleselect.loadkecamatan=false;
          })
          .catch((resp)=>{
              this.error=true;
              this.errors=resp.message;
              // console.log(errors)
          });
      },
      submitdata(){
          event.preventDefault();
          var app=this;
          app.form.status='s';
          this.button.bSubmit=true;
          var newDataArr={
            'retail_id': (app.form.retail_id.id === 'undefined') ? '' : app.form.retail_id.id,
            'name':app.form.name,
            'address':app.form.address,
            'sales_unit_id':app.form.kecamatan.id,
            'village':app.form.village,
            'sub_sector_id':app.mSubsektors.join(';'),
            'commodity_id':app.mKomodities.join(';'),
            'status':app.form.status,
            'sales_org_id':(app.form.sales_org_id.id === 'undefined' || app.form.sales_org_id.id === '' || app.form.sales_org_id.length <= 0) ? '' : app.form.sales_org_id.id,
            'qty_group':app.form.qty_group,
            'latitude':app.form.latitude,
            'customer_id':app.form.distributor.id
          };
          // console.log(newDataArr);
          this.axios.post("farmergroup",newDataArr)
          .then((resp)=>{
              this.$emit("load-table");
              this.resets();
              this.refreshForm();
              toastr.success("Submit data Kelompok Tani berhasil", "Sukses");
          })
          .catch((resp)=>{
               this.error = true;
               this.errors = resp.response.data.message;
          })
          .then((resp)=>{
              this.button.bSubmit=false;
          });
      },
      refreshForm() {
        this.form = {
            code:'',
            retail_id:'',
            name:'',
            address:'',
            sales_unit_id:'',
            telp_no:'',
            fax_no:'',
            village:'',
            sub_sector_id:'',
            commodity_id:'',
            qty_group:'',
            latitude:'',
            longitude:'',
            status:'',
            dataProvinsi:'',
            distributor:'',
            produsen:'',
            pengecer:'',
            provinsi:'',
            kabupaten:'',
            kecamatan:'',
            kelurahan:''
        }
      },
      savedata(){
          event.preventDefault();
          var app=this;
          this.button.bSave=true;
          app.form.status='d';
           var newDataArr={
              'retail_id': (app.form.retail_id.id === 'undefined') ? '' : app.form.retail_id.id,
              'name':app.form.name,
              'address':app.form.address,
              'sales_unit_id':app.form.kecamatan.id,
              'village':app.form.village,
              'sub_sector_id':app.mSubsektors.join(';'),
              'commodity_id':app.mKomodities.join(';'),
              'status':app.form.status,
              'sales_org_id':(app.form.sales_org_id.id === 'undefined' || app.form.sales_org_id.id === '' || app.form.sales_org_id.length <= 0) ? '' : app.form.sales_org_id.id,
              'qty_group':app.form.qty_group,
              'latitude':app.form.latitude,
              'customer_id':app.form.distributor.id
          };
          this.axios.post("farmergroup",newDataArr)
          .then((resp)=>{
             this.$emit("load-table");
             this.refreshForm();
             this.resets();
             toastr.success("Save data Kelompok Tani berhasil", "Sukses");
          })
          .catch((resp)=>{
              this.error = true;
              this.errors = resp.response.data.message;
          })
          .then((resp)=>{
              this.button.bSave=false;
          });
      },
      update(){
          event.preventDefault();
          this.button.bUpdate=true;
          this.loaderAnimate=true;
          this.pageloder=false;
          this.axios.get("farmergroup/id/"+this.id)
          .then((resp)=>{
            // console.log(resp);
            this.mKomodities=resp.data.data[0].commodity_id.split(";");
            this.mSubsektors=resp.data.data[0].sub_sector_id.split(";");
            this.form = resp.data.data[0];
            // console.log(resp.data.data[0]);
            // this.getDistributor();
            this.form.distributor={id:resp.data.data[0].customer_id, full_name:resp.data.data[0].customer_name};
            this.getProdusen();
            this.form.sales_org_id={id:resp.data.data[0].sales_org_id,name:resp.data.data[0].sales_org_name};
            this.getRetail();
            this.form.retail_id={id:resp.data.data[0].retail_id,name:resp.data.data[0].retail_name};
            this.form.status = resp.data.data[0].status;
            // this.readstatus=this.getStatusByArr(this.statusSearch,this.form.status);
            this.readstatus= {value: resp.data.data[0].status, name: resp.data.data[0].status};
            this.form.provinsi = {id:resp.data.data[0].sales_office_id, name:resp.data.data[0].sales_office_name};
            this.getKabupaten();
            this.form.kabupaten={id:resp.data.data[0].sales_group_id, name:resp.data.data[0].sales_group_name};
            this.getKecamatan();
            this.form.kecamatan={id:resp.data.data[0].sales_unit_id, name:resp.data.data[0].sales_unit_name};
            this.cekStatus(this.form.status);
            // this.refreshForm();
          })
          .catch((resp)=>{
              // console.log(resp);
          })
          .then((resp)=>{
              this.button.bUpdate=false;
              this.loaderAnimate=false;
              this.pageloder=true;
          });
      },
      saveupdate(){
          event.preventDefault();
          var app=this;
          app.form.status='d';
          this.button.bUpdate=false;
          var newDataArr={
            'retail_id': (app.form.retail_id.id === 'undefined') ? '' : app.form.retail_id.id,
            'name':app.form.name,
            'address':app.form.address,
            'sales_unit_id':app.form.kecamatan.id,
            'village':app.form.village,
            'sub_sector_id':app.mSubsektors.join(';'),
            'commodity_id':app.mKomodities.join(';'),
            'status':app.form.status,
            'sales_org_id':(app.form.sales_org_id.id === 'undefined' || app.form.sales_org_id.id === '' || app.form.sales_org_id.length <= 0) ? '' : app.form.sales_org_id.id,
            'qty_group':app.form.qty_group,
            'latitude':app.form.latitude,
            'customer_id':app.form.distributor.id
          };
          // console.log(newDataArr);
          this.axios.put("farmergroup/"+this.id,newDataArr)
          .then((resp)=>{
             this.$emit("load-table");
             toastr.success("Update data Kelompok Tani berhasil", "Sukses");
             this.refreshForm();
             this.resets();
          })
          .catch((resp)=>{
              // console.log(resp);
          })
          .then((resp)=>{
              this.button.bUpdate=false;
          });
      },
      submitupdate(){
          event.preventDefault();
          var app=this;
          this.button.bSUpdate=false;
          var newDataArr={
            'retail_id': (app.form.retail_id.id === 'undefined') ? '' : app.form.retail_id.id,
            'name':app.form.name,
            'address':app.form.address,
            'sales_unit_id':app.form.kecamatan.id,
            'village':app.form.village,
            'sub_sector_id':app.mSubsektors.join(';'),
            'commodity_id':app.mKomodities.join(';'),
            'status':app.form.status,
            'sales_org_id':(app.form.sales_org_id.id === 'undefined' || app.form.sales_org_id.id === '' || app.form.sales_org_id.length <= 0) ? '' : app.form.sales_org_id.id,
            'qty_group':app.form.qty_group,
            'latitude':app.form.latitude,
            'customer_id':app.form.distributor.id
          };
          // console.log(newDataArr);
          this.axios.put("farmergroup/"+this.id,newDataArr)
          .then((resp)=>{
             this.$emit("load-table");
             toastr.success("Update data Kelompok Tani berhasil", "Sukses");
             this.refreshForm();
             this.resets();
          })
          .catch((resp)=>{
              // console.log(resp);
          })
          .then((resp)=>{
              this.button.bSUpdate=false;
          });
      },
      resets(){
          var forms={
              'code':'','retail_id':'','name':'','address':'','sales_unit_id':'','telp_no':'','fax_no':'','village':'','sub_sector_id':'','commodity_id':'','qty_group':'',
              'latitude':'','longitude':'','status':'','dataProvinsi':'','distributor':'','produsen':'','pengecer':'','provinsi':'','kabupaten':'','kecamatan':'','kelurahan':'', sales_org_id: '',
          };
          this.form=forms;
          this.mKomodities=[];
          this.mSubsektors=[];
          // this.refreshForm();
      },
      getStatusByArr(Arr,data){
          for (let index = 0; index < Arr.length; index++) {
              if(Arr[index].value==data){
                  return Arr[index];
              }
          }

      },
      cekStatus(val){
          if(val!='Draft'){
              this.formDisable=true;
          } else {
            this.formDisable=false;
          }
      }
  },
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
</style>
