<template lang="html">
    <!-- Modal On Vue  -->
    <div class="">
      <div class="modal fade" id="uploadFarmergroupFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Role</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="label-control">Upload File</label>:
                <input type="file" ref="file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" @change="handleFileUpload()">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Cancel </button>
              <button type="submit" class="btn btn-primary" :disabled="loading"  @click="upload" >
                <i v-if="loading" class="fa fa-spin fa-refresh"></i>
                <i v-else class="fa fa-save"></i>
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
      <form-upload v-if="showFormUpload" @trigger-modal="triggerModal" :type="modalType" :fg="dataUpload"></form-upload>
    </div>
    <!-- End Modal  -->
</template>

<script>
import FarmerGroupFormUpload from './FarmerGroupFormUpload';
export default {
  // edit by syahril
  data: function() {
    return {
      showFormUpload: false,
      excelFile: '',
      file: '',
      loading: false,
      dataUpload: [],
      error: false,
      modalType: null
    }
  },
  components: {
    formUpload: FarmerGroupFormUpload
  },
  mounted(){
    var app = this;
    $("#uploadFarmergroupFile").modal("show");
    $('#uploadFarmergroupFile').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal");
    },

    upload() {
      event.preventDefault();
      this.loading = true;
      let app = this;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      axios.post("farmergroup/upload", formData, {headers : {'Content-Type' : 'multipart/form-data'}})
      .then((resp) => {
        toastr.success('Succes Uploaded', 'Import excel');
        this.dataUpload = resp.data.data;
        this.showFormUpload = true;
      })
      .catch((resp) => {
        toastr.error('Error Uploaded', resp.response.data.message);
        console.log(resp);
      })
      .then((resp) => {
        this.modalType = 'form';
        this.loading = false;
      })
    },

    handleFileUpload(){
      this.excelFile = this.$refs.file.files[0];
      this.file = this;
    },

    triggerModal() {
      this.showFormUpload = false;
      $("#uploadFarmergroupFile").modal("hide");
    },

  }
}
</script>


<style lang="css">

</style>
