<template>
  <div>
    <div class="modal fade" id="checklistStatusList" role="dialog" aria-labelledby="" aria-hidden="true" >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form >
            <div class="modal-header">
              <h4 class="modal-title" id="">{{title}}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <fieldset v-for="(item, index) in listOption" :key="index">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" checked :disabled="true">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{ item.name }}</span>
                    </label>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>


<script>

export default {
    props:['title','lists'],
    data:function(){
      return{
        listOption:this.lists
      }
    },
    mounted() {
      
    },
    watch: {
      
    },
    methods: {
        
    },
}
</script>

<style lang="css">
    
</style>