<template>
    <tr class="filter">
        <th>

        </th>
        <th>
            <input type="text" id="one" @keyup="search()" v-model="formSearch.sales_org_name" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.one')">
        </th>
        <th>
            <input type="text" id="two" @keyup="search()" v-model="formSearch.sales_org_id" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.two')">
        </th>
        <th>
            <input type="text" id="three" @keyup="search()" v-model="formSearch.name" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.three')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.retail_id" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.four')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.retail_name" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.five')">
        </th>
        <th>
            <filter-status :reset="reset" :checkedStatus="formSearch.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.address" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.seven')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.sales_office_name" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.eight')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.sales_group_name" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.nine')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.sales_unit_name" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.ten')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.village" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.eleven')">
        </th>
        <th>
            <!-- <input type="text" @keyup="search()" v-model="formSearch.sub_sector_id" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.twelve')"> -->
        </th>
        <th>
            <!-- <input type="text" @keyup="search()" v-model="formSearch.commodity_id" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.thirteen')"> -->
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.qty_group" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.fourteen')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.longitude" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.fiveteen')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.created_at" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.sixteen')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.updated_at" class="form-control form-control-sm" v-bind:placeholder="$ml.get('farmerGroupPage.table.seventeen')">
        </th>
    </tr>
</template>

<script>
import Checklist from '../../filter/Checklist';
export default {

    data: function (){
        return {
             btnStatus: 'Search Status',
             statusSearch: [
                {name: 'Active', value: 'y'},
                {name: 'Inactive ', value: 'n'},
                {name: 'Suspend', value: 'p'},
                {name: 'Draft', value: 'd'},
                {name: 'Submitted', value: 's'}
             ],
             formSearch :{
                sales_org_name:'',
                sales_org_id:'',
                name:'',
                retail_id:'',
                retail_name:'',
                status:'',
                address:'',
                sales_office_name:'',
                sales_group_name:'',
                sales_unit_name:'',
                village:'',
                // sub_sector_id:'',
                // commodity_id:'',
                qty_group:'',
                longitude:'',
                created_at:'',
                updated_at:''
            }

        }
    },
    mounted() {
        var app = this;
        $(document).ready(function() {
            $(document).on('keyup','#one',function(){
                app.formSearch.sales_org_name=$(this).val();
                app.search();
            });

            $(document).on('keyup','#two',function(){
                app.formSearch.sales_org_id=$(this).val();
                app.search();
            });

            $(document).on('keyup','#three',function(){
                app.formSearch.name=$(this).val();
                app.search();
            });

        });
    },
    components:{
        FilterStatus:Checklist
    },
    methods: {
        searchTable(obj) {
            var status = obj.join(';');
            this.formSearch.status = status;
            this.search();
        },
        search() {
            event.preventDefault();
            this.$emit("filter-table", this.formSearch);
        }
    },
}
</script>

<style lang="css">

</style>
