<template lang="html">
  <div class="">
    <div class="modal fade" id="formPermentan" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form @submit="submitPermentan()">
            <div class="modal-header">
              <h4 class="modal-title">Form Alokasi Provinsi</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label class="col-md-4 label-control">Provinsi</label>
                <div class="col-md-8">
                  <multiselect
                    v-model="temp.provinsi"
                    :options="get.provinsi"
                    track-by="uuid" :custom-label="provinsiNameWithId"
                    :searchable="true" :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(loadingElement.provinsi === false) ? 'Pilih Provinsi..' : 'Memuat ..'"
                    :disabled="true"
                  >
                  </multiselect>
                  <p class="text-danger" v-if="error && errors.sales_office_id">{{errors.sales_office_id[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 label-control">Produk</label>
                <div class="col-md-8">
                  <multiselect
                    v-model="temp.product"
                    :options="get.product"
                    track-by="uuid" :custom-label="productNameWithId"
                    :searchable="true" :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(loadingElement.product === false) ? 'Pilih Produk..' : 'Memuat ..'"
                  >
                  </multiselect>
                  <p class="text-danger" v-if="error && errors.product_id">{{errors.product_id[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 label-control">QTY</label>
                <div class="col-md-8">
                  <input type="number" v-model="send.initial_qty" class="form-control"
                  :class="{'is-invalid' : error && errors.initial_qty}"
                  >
                  <p class="text-danger" v-if="error && errors.initial_qty">{{errors.initial_qty[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 label-control">Bulan</label>
                <div class="col-md-8">
                  <select class="form-control" v-model="send.month"
                  :class="{'is-invalid' : error && errors.month}"
                  >
                    <option value=null>Pilih Bulan</option>
                    <option v-for="(data, i) in months" :value="data.val">{{ data.val }} - {{ data.name }}</option>
                  </select>
                  <p class="text-danger" v-if="error && errors.month">{{errors.month[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 label-control">Tahun</label>
                <div class="col-md-8">
                  <input type="number" v-model="send.year" class="form-control" :disabled="true"
                  :class="{'is-invalid' : error && errors.year}"
                  >
                  <p class="text-danger" v-if="error && errors.year">{{errors.year[0]}}</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
export default {
  props: ['contractGovId', 'uuid', 'dataProvinsi'],
  data: function(){
    return {
      get: {
        provinsi: [],
        product: []
      },
      send: {
        sales_office_id: null,
        product_id: null,
        month: null,
        year: this.$route.params.year,
        initial_qty: null,
        contract_gov_id: this.contractGovId
      },
      temp:{
        provinsi: this.dataProvinsi,
        product: null
      },
      loadingElement: {
        provinsi: false,
        product: false,
      },
      error: false,
      errors: {},
      months: []
    }
  },
  components: {
    Multiselect
  },
  created() {
    this.getMonth();
  },
  mounted() {
    var app = this;
    $("#formPermentan").modal("show");
    $("#formPermentan").on("hidden.bs.modal", function(){
      app.closeModal();
    });
    this.getProvinsi();
    this.getProduct();
    if(this.uuid != null){
      this.getDetailPermentan();
    }
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal", true);
    },
    getDetailPermentan() {
      this.axios.get("permentan/item/"+this.uuid)
      .then((resp) => {
        this.send = resp.data.data.data[0]
        this.send.month = ('0' + resp.data.data.data[0].month).slice(-2)
        this.temp.product = { id: resp.data.data.data[0].product_id, name: resp.data.data.data[0].name_product }
        this.temp.provinsi = { id: resp.data.data.data[0].sales_office_id, name: resp.data.data.data[0].sales_office_name }
        this.send.contract_gov_id = this.contractGovId
      })
      .catch((resp) => {
        toastr.error("Gagal load data perbup")
      })
    },
    // provinsi
    provinsiNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProvinsi(){
      this.loadingElement.provinsi = true;
      this.axios.get('region/provinsi')
      .then((resp) => {
        this.get.provinsi = resp.data.data;
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp);
      })
      .then((resp) => {
        this.loadingElement.provinsi = false;
      })
    },
    // product
    productNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProduct(){
      this.loadingElement.product = true;
      this.axios.get('product')
      .then((resp) => {
        this.get.product = resp.data.data;
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp);
      })
      .then((resp) => {
        this.loadingElement.product = false;
      })
    },
    getMonth() {
      this.axios.get('../json/month.json')
      .then((resp) => {
        this.months = resp.data;
      })
      .catch((resp) => {
        toastr.error("Gagal load data bulan", "Error");
      })
    },
    setSelectOption(){
      this.send.sales_office_id = (this.temp.provinsi === null) ? null : this.temp.provinsi.id;
      this.send.product_id = (this.temp.product === null) ? null : this.temp.product.id;
    },
    submitPermentan() {
      event.preventDefault();
      if(this.uuid != null){
        this.updatePermentan()
      } else if (this.uuid === null || this.uuid === undefined){
        this.savePermentan()
      }
    },
    updatePermentan() {
      this.setSelectOption()
      this.axios.put('permentan/item/'+this.uuid, this.send)
      .then((resp) => {
        $("#formPermentan").modal("hide");
        toastr.success("Data di simpan", "Sukses");
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        toastr.error("Gagal", "Error");
      })
    },
    savePermentan(){
      this.setSelectOption()
      this.axios.post('permentan', this.send)
      .then((resp) => {
        $("#formPermentan").modal("hide");
        toastr.success("Data di simpan", "Sukses");
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        toastr.error("Gagal", "Error");
      })
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css" scoped>
  div.invalid .multiselect__tags {
    border: 1px solid #ff8080;
  }
</style>
