<template>
    <tr class="filter">
        <th>
            <input type="text" class="form-control form-control-md" v-model="filterLog.order_id" v-on:keyup="search()">
        </th>
        <th>
            <time-stamp-request :reset="reset" @get-date="searchTimeStampRequest" :type="type1">  </time-stamp-request>
        </th>
        <th>
            <input type="text" class="form-control form-control-md" v-model="filterLog.ip_address_req" v-on:keyup="search()">
        </th>
        <th>
            <input type="text" class="form-control form-control-md" v-model="filterLog.pengirim_req" v-on:keyup="search()">
        </th>
        <th>
            
        </th>
        <th>
            <input type="text" class="form-control form-control-md" v-model="filterLog.http_status" v-on:keyup="search()">
        </th>
        <th>
            <input type="text" class="form-control form-control-md" v-model="filterLog.http_status" v-on:keyup="search()">
        </th>
        <th>
            <time-stamp-respone :reset="reset" @get-date="searchTimeStampRespone" :type="type2">  </time-stamp-respone>
        </th>
        <th>
            <input type="text" class="form-control form-control-md" v-model="filterLog.ip_address_respon" v-on:keyup="search()">
        </th>
        <th>
            <input type="text" class="form-control form-control-md" v-model="filterLog.pengirim_respon" v-on:keyup="search()">
        </th>
        <th>
            
        </th>
        <th>
            <input type="text" class="form-control form-control-md" v-model="filterLog.request_type" v-on:keyup="search()">
        </th>
    </tr>
</template>

<script>
import Date from '../../filter/Date';
export default {
    props: ['reset'],
    data: function() {
        return{
            uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
            type1: 'timeStampRequest',
            type2: 'timeStampRespone',
            filterLog: {
                order_id: null,
                timestamp_req: null,
                ip_address_req: null,
                pengirim_req: null,
                http_status: null,
                http_status: null,
                timestamp_respon: null,
                ip_address_respon: null,
                pengirim_respon: null,
                request_type: null
            }
        }
    },
    components: {
        TimeStampRequest: Date,
        TimeStampRespone: Date
    },
    watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
    created() {
        
    },
    mounted() {
        var app = this;
        const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
        setTimeout(() => {
        if (getLocalSearch !== null) {
            app.filterLog = getLocalSearch;
            app.$emit("search-table", app.filterLog);
        }
        },1000)
    },
    methods: {
        search() {
            event.preventDefault();
            localStorage.setItem(this.uriName, JSON.stringify(this.filterLog));
            this.$emit("search-table", this.filterLog);
        },
        searchTimeStampRequest(date = '') {
            if (date != '') {
                if (date != '') {
                this.filterLog.timestamp_req = {
                    certain: (date.name === 'timeStampRequest' && date.dateType === 'certain') && date.data.from,
                    from: (date.name === 'timeStampRequest' && date.dateType === 'range') && date.data.from,
                    to: (date.name === 'timeStampRequest' && date.dateType === 'range') && date.data.to
                }
                } else {
                this.filterLog.timestamp_req = ''
                }
                this.search()
            } 
        },
        searchTimeStampRespone(date = '') {
            if (date != '') {
                if (date != '') {
                this.filterLog.timestamp_respon = {
                    certain: (date.name === 'timeStampRespone' && date.dateType === 'certain') && date.data.from,
                    from: (date.name === 'timeStampRespone' && date.dateType === 'range') && date.data.from,
                    to: (date.name === 'timeStampRespone' && date.dateType === 'range') && date.data.to
                }
                } else {
                this.filterLog.timestamp_respon = ''
                }
                this.search()
            } 
        },
        resetFilter(){
            this.clearFilter(this.$route.name, this.filterLog);
            this.search();
        }
    }


}
</script>

<style>

</style>
