<template>
    <div>
        <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" @click="download()" :disabled="loadBtnDownload" class="btn btn-primary square"><i class="fa fa-download"></i> Download</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="logHost" class="table table-xs table-bordered table-striped">
                <thead>
                    <log-host-filter :reset="resetStatus" @search-table="searchTable">>  </log-host-filter>
                    <tr>
                        <th>No. Penebusan</th>
                        <th> Timestamp </th>
                        <th>IP Request</th>
                        <th>Pengirim</th>
                        <th>Isi Request</th>
                        <th>Http</th>
                        <th>Status</th>
                        <th>Timestamp respon</th>
                        <th>IP respon</th>
                        <th>Pengirim Respon</th>
                        <th>Isi Respon</th>
                        <th>Request Type</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    </div>
</template>

<script>
import LogHostFilter from './LogHostFilter';
export default {
    props: ['access'],
    data: function() {
        return {
            resetStatus: false,
            loadBtnDownload: false,
            dt: null,
            log: {}
        }
    },
    components: {
        LogHostFilter
    },
    created() {

    },
    mounted() {
        var app = this;
        app.getDataTable()
        $("div.dataTables_length").append(' <button id="resetFilterLogH2H" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    
        $(document).on("click", "#resetFilterLogH2H", function(e){
            e.preventDefault()
            app.resetStatus = true;
            $('#resetFilterLogH2H').prop('disabled', true);
            setTimeout(() => {
            app.resetStatus = false;
            $('#resetFilterLogH2H').prop('disabled', false);
            }, 1000)
        })
    },
    methods: {
        download() {
            // $(".DownloadLogHost").trigger("click");
            this.loadBtnDownload = true;
            this.axios({
                url: 'log-host-to-host/download',
                params: {
                    order_id : this.log.order_id,
                    timestamp_req : this.log.timestamp_req,
                    ip_address_req : this.log.ip_address_req,
                    pengirim_req : this.log.pengirim_req,
                    http_status : this.log.http_status,
                    http_status : this.log.http_status,
                    timestamp_respon : this.log.timestamp_respon,
                    ip_address_respon : this.log.ip_address_respon,
                    pengirim_respon : this.log.pengirim_respon,
                    request_type : this.log.request_type
                },
                method: 'GET',
                responseType: 'blob', // important
            }).then((response) => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'Download Log Host To Host.xls'); //or any other extension
                document.body.appendChild(link);
                link.click();
                this.loadBtnDownload = false;
            })
            .catch((resp) => {
                toastr.error("Gagal Download File", "Gagal") ;
                this.loadBtnDownload = false;      
            })
        },
        searchTable(obj) {
            this.log = obj;
            this.handleTimeReq(obj)
            this.handleTimeRes(obj)
            console.log(this.log);
            this.dt.draw();
        },
        handleTimeReq(obj) {
            if(obj.timestamp_req && obj.timestamp_req.from && obj.timestamp_req.to) {
                this.log.timestamp_req = obj.timestamp_req.from+';'+obj.timestamp_req.to;
            } else if (obj.timestamp_req && obj.timestamp_req.certain) {
                this.log.timestamp_req = obj.timestamp_req.certain;
            } else {
                this.log.timestamp_req = '';
            }
        },
        handleTimeRes(obj) {
            if(obj.timestamp_respon && obj.timestamp_respon.from && obj.timestamp_respon.to) {
                this.log.timestamp_respon = obj.timestamp_respon.from+';'+obj.timestamp_respon.to;
            } else if (obj.timestamp_respon && obj.timestamp_respon.certain) {
                this.log.timestamp_respon = obj.timestamp_respon.certain;
            } else {
                this.log.timestamp_respon = '';
            }
        },
        getDataTable() {
            const app = this;
            app.dt = $("#logHost").DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                scrollX: "99.99%",
                "scrollY" : "50vh",
                scrollCollapse: true,
                "order": [[ 1, 'desc' ]],
                "dom": 'Bltrip',
                lengthMenu: [
                    [ 20, 50, 100, -1 ],
                    [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
                ],
                "buttons": [
                    {
                        extend: 'excel',
                        className: 'btn-danger square mb-1 DownloadLogHost',
                        text: "Download Log Host",
                        title:"",
                        filename:"Log-Host-to-Host",
                        // exportOptions: {
                        //     columns: 'th:not(:first-child)'
                        // }
                    }
                ],
                ajax:{
                    'url': 'api/log-host-to-host',
                    'type': 'GET',
                    'data': function(d){
                        d.order_id = app.log.order_id,
                        d.timestamp_req = app.log.timestamp_req,
                        d.ip_address_req = app.log.ip_address_req,
                        d.pengirim_req = app.log.pengirim_req,
                        d.http_status = app.log.http_status,
                        d.http_status = app.log.http_status,
                        d.timestamp_respon = app.log.timestamp_respon,
                        d.ip_address_respon = app.log.ip_address_respon,
                        d.pengirim_respon = app.log.pengirim_respon,
                        d.request_type = app.log.request_type
                    },
                    'beforeSend': function (request) {
                        var token = localStorage.getItem("default_auth_token");
                        request.setRequestHeader("Authorization", "Bearer "+token);
                        request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
                    }
                },
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ],
                columns :[
                    {data: 'order_id', name: 'order_id'},
                    {
                        data: 'timestamp_req', name: 'timestamp_req',
                        render : function(data, type, full){
                            return app.convertDate(data);
                        }
                    },
                    {data: 'ip_address_req', name: 'ip_address_req'},
                    {data: 'pengirim_req', name: 'pengirim_req'},
                    {data: 'isi_req', name: 'isi_req'},
                    {data: 'http_status', name: 'http_status'},
                    {data: 'http_status', name: 'http_status'},
                    {
                        data: 'timestamp_respon', name: 'timestamp_respon',
                        render : function(data, type, full){
                            return app.convertDate(data);
                        }
                    },
                    {data: 'ip_address_respon', name: 'ip_address_respon'},
                    {data: 'pengirim_respon', name: 'pengirim_respon'},
                    {data: 'isi_respon', name: 'isi_respon'},
                    {data: 'request_type', name: 'request_type'}
                ]
            })

        }
    }
}
</script>

<style>
    .DownloadLogHost {
        display: none !important;
    }
</style>
