<template>
  <div class="modal fade" id="log-order-detail" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Detail Log Order</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
             <div class="col-md-12">
								<div class="table-responsive">
									<table id="Log-Order-Detail" class="table table-xs table-bordered table-striped display nowrap">
										<thead>
											<tr>
												<th>Error ID</th>
												<th>Error Type</th>
												<th>Error Number</th>
												<th>Message Error</th>
												<th>Date</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary square" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';

export default {
    props: ['uuid'],
    data: function() {
        return {
					dt: null,
					logOrderData: {},
        }
    },
    components: {

    },
    created() {
			
		},
		mounted() {
			let app = this;
      $("#log-order-detail").modal("show")
      $("#log-order-detail").on("hidden.bs.modal", function(){
        app.closeModal()
			})
			setTimeout(() => {
				}, 1000)
				if(this.uuid !== null || this.uuid !== ''){
					app.LogOrderDetail(this.uuid)
				}
    },
    methods: {
			LogOrderDetail(uuid) {
				let app = this;
				app.dt = $("#Log-Order-Detail").DataTable({
					processing: true,
					serverSide: true,
					searching: false,
					// scrollY : "50vh",
					// scrollCollapse:true,
					// scrollX : true,        
					// "order": [[ 0, 'desc' ]],
					"dom": 'Bltrip',
					lengthMenu: [
						[ 20, 50, 100, -1 ],
						[ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
					],
					"buttons": [
						{
							extend: 'excel',
							className: 'btn-danger square mb-1 DownloadLogOrder',
							text: "Download Log Order",
							title:"",
							filename:"Log-Order",
							exportOptions: {
									columns: 'th:not(:first-child)'
							}
						}
					],
					ajax:{
						'url': 'api/logorder/'+uuid,
						'type': 'GET',
						'data': function(d){
							d.error_id = app.logOrderData.error_id,
							d.error_type = app.logOrderData.error_type,
							d.error_number = app.logOrderData.error_number,
							d.error_message = app.logOrderData.error_message,
							d.created_at = app.logOrderData.created_at
						},
						'beforeSend': function (request) {
								var token = localStorage.getItem("default_auth_token");
								request.setRequestHeader("Authorization", "Bearer "+token);
								request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
						},
					},
					columns: [
						{data: 'error_id' , name:'error_id'},
						{data: 'error_type' , name:'error_type'},
						{data: 'error_number' , name:'error_number'},
						{data: 'error_message' , name:'error_message'},
						{data: 'created_at' , name:'created_at', render: function(data, type, full){
							return app.convertDate(data);
						}},
					]
				});
				new $.fn.dataTable.FixedColumns(app.dt, {
						leftColumns: 1,
						rightColumns: 1,
				})
			},
			closeModal() {
				this.$emit('trigger-modal');
			}
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css" scoped>
.DownloadLogOrder {
    display: none !important;
}
</style>