<template>
  <div class="modal fade" id="logOrderEdit" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit Log Order</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
						<div class="form-body">
							<div class="">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group row">
											<label class="col-sm-4 text-left">No Order</label>
											<div class="col-sm-8">
												<input v-model="tempDt.no_order" type="text" class="form-control" placeholder="" :disabled="isDisabledInput" >
												<p class="text-danger" v-if="error && errors.no_order">{{errors.no_order[0]}}</p>
											</div>
										</div>
										<div class="form-group row">
											<label class="text-left col-md-4 label-control" >Distributor</label>
											<div class="col-md-8">
												<input v-if="!isDisabledInput" v-model="tempDt.customer_id" type="text" class="form-control" placeholder="" :disabled="isDisabledInput" >
												<multiselect
													v-if="isDisabledInput"
													v-model="tempDt.customer_id"
													:options="m_customers"
													track-by="id" :custom-label="customerLabel"
													:searchable="true" :close-on-select="true"
													:show-labels="false" placeholder="Pilih .."
													:disabled="isDisabledInput"
												>
												</multiselect>
												<p class="text-danger" v-if="error && errors.bank_payment">{{errors.bank_payment[0]}}</p>
											</div>
										</div>
										<div class="form-group row" v-if="isDisabledInput">
											<label class="col-sm-4 text-left">Status</label>
											<div class="col-sm-8">
												<input v-model="tempDt.status" type="text" class="form-control" placeholder="" :disabled="isDisabledInput" >
												<p class="text-danger" v-if="error && errors.status">{{errors.status[0]}}</p>
											</div>
										</div>
										<div class="form-group row" v-if="isDisabledInput">
											<label class="col-sm-4 text-left">Message Error</label>
											<div class="col-sm-8">
												<input v-model="tempDt.error_message" type="text" class="form-control" placeholder="" :disabled="isDisabledInput" >
												<p class="text-danger" v-if="error && errors.error_message">{{errors.error_message[0]}}</p>
											</div>
										</div>
										<div class="form-group row" v-if="isDisabledInput">
											<label class="col-sm-4 text-left">Date</label>
											<div class="col-sm-8">
												<input v-model="tempDt.date" type="text" class="form-control" placeholder="" :disabled="isDisabledInput" >
												<p class="text-danger" v-if="error && errors.date">{{errors.date[0]}}</p>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 text-left">No SO</label>
											<div class="col-sm-8">
												<input v-model="tempDt.no_so" @keypress="restrictNumber" type="number" min="0" class="form-control" placeholder="" :disabled="isDisabled" >
												<p class="text-danger" v-if="error && errors.no_so">{{errors.no_so[0]}}</p>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 text-left">No DP Req</label>
											<div class="col-sm-8">
												<input v-model="tempDt.no_dp_req" @keypress="restrictNumber" type="number" min="0" class="form-control" placeholder="" :disabled="isDisabled" >
												<p class="text-danger" v-if="error && errors.no_dp_req">{{errors.no_dp_req[0]}}</p>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 text-left">No Billing DP</label>
											<div class="col-sm-8">
												<input v-model="tempDt.no_billing_dp" @keypress="restrictNumber" type="number" min="0" class="form-control" placeholder="" :disabled="isDisabled" >
												<p class="text-danger" v-if="error && errors.no_billing_dp">{{errors.no_billing_dp[0]}}</p>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 text-left">No Clearing</label>
											<div class="col-sm-8">
												<input v-model="tempDt.no_clearing" @keypress="restrictNumber" type="number" min="0" class="form-control" placeholder="" :disabled="isDisabled" >
												<p class="text-danger" v-if="error && errors.no_clearing">{{errors.no_clearing[0]}}</p>
											</div>
										</div>
										<div class="form-group row">
											<label class="text-left col-md-4 label-control" >Bank Payment</label>
											<div class="col-md-8">
												<multiselect
													v-model="tempDt.bank_payment"
													:options="m_bank"
													track-by="id" :custom-label="bankPaymentLabel"
													:searchable="true" :close-on-select="true"
													:show-labels="false" placeholder="Pilih .."
													:disabled="isDisabledInput"
												>
												</multiselect>
												<p class="text-danger" v-if="error && errors.bank_payment">{{errors.bank_payment[0]}}</p>
											</div>
										</div>
										<div class="form-group row">
											<label class="text-left col-md-4 label-control" >Kode Error</label>
											<div class="col-md-8">
												<multiselect
													v-model="tempDt.kode_error"
													:options="m_kode_error"
													track-by="id" :custom-label="kodeErrorLabel"
													:searchable="true" :close-on-select="true"
													:show-labels="false" placeholder="Pilih .."
													:disabled="isDisabled"
												>
												</multiselect>
												<p class="text-danger" v-if="error && errors.kode_error">{{errors.kode_error[0]}}</p>
											</div>
										</div>
									</div>
									<!-- form  -->
								</div>
							</div>
						</div>
          </div>
          <div class="modal-footer">
            <button :disabled="btnLoad" type="button" class="btn btn-success square" @click="setSendData" >Submit</button>
            <button :disabled="btnLoad" type="button" class="btn btn-secondary square" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';

export default {
    props: ['uuid'],
    data: function() {
			return {
				dt: null,
				logOrderData: {},
				m_customers: [],
				tempDt: {
					no_order: '',
					customer_id: '',
					status: '',
					error_message: '',
					date: '',
					no_so: '',
					no_dp_req: '',
					no_billing_dp: '',
					no_clearing: '',
					bank_payment: '',
					kode_error: '',
				},
				sendData: {},
				errors: [],
				error: false,
				isDisabled: false,
				btnLoad: false,
				isDisabledInput: true,
				m_bank: [],
				m_kode_error: [
					{id: '3', name: 'Create SO'},
					{id: '4', name: 'Create DP Request'},
					{id: '6', name: 'Clearing'}
				]
			}
    },
    components: {
			Multiselect
    },
    created() {
			
		},
		mounted() {
			var app = this;
			$("#logOrderEdit").modal("show")
			$("#logOrderEdit").on("hidden.bs.modal", function(){
				app.closeModal()
			})
			app.getBank()
			if(app.uuid !== null && app.uuid !== ''){
				// app.LogOrderDetail(app.uuid)
				app.isDisabledInput = true;
				app.getLogOrder()
			} else {
				app.isDisabledInput = false;
			}
			// $(document).ready(function() { 
			// })
    },
    methods: {
			kodeErrorLabel ({ id, name }){ return `${id} — ${name}` },
			bankPaymentLabel ({ id, name }){ return `${id} — ${name}` },
			customerLabel ({ id, name }){ return `${id} — ${name}` },
			closeModal() {
				this.$emit('trigger-modal-form');
			},
			restrictNumber(event){
				const keyCode = event.keyCode || event.which;
				const keyValue = String.fromCharCode(keyCode);
				if (/\+|e|-/.test(keyValue))
					event.preventDefault();
			},
			getBank() {
				this.axios.get('bank')
				.then((resp) => {
					this.m_bank = resp.data.data
				})
				.catch((resp) => {
					toastr.error(resp.response.data.message)
				})
			},
			getLogOrder() {
				this.btnLoad = true;
				this.axios.get(`logorder/${this.uuid}/edit`)
				.then((resp) => {
					this.btnLoad = false;
					const data = resp.data.data;
					this.tempDt.no_order = data.no_order;
					this.tempDt.customer_id = {id: data.customer_data.id, name: data.customer_data.full_name};
					this.tempDt.status = data.status;
					this.tempDt.error_message = data.error_message;
					this.tempDt.date = data.date;
					this.tempDt.no_so = data.no_so;
					this.tempDt.no_dp_req = data.no_dp_req;
					this.tempDt.no_billing_dp = data.no_billing_dp;
					this.tempDt.no_clearing = data.no_clearing;
					this.tempDt.bank_payment = {id: data.bank_payment, name: data.bank_payment_name};
					this.tempDt.kode_error = {id: data.kode_error, name: data.kode_error_name};
				})
				.catch((resp) => {
					this.btnLoad = false;
					toastr.error(resp.response.data.message)
				})
			},
			setSendData(){
				if(this.isDisabledInput){
					this.sendData.no_order = this.tempDt.no_order;
					this.sendData.status = this.tempDt.status;
					this.sendData.error_message = this.tempDt.error_message;
					this.sendData.date = this.tempDt.date;
					this.sendData.no_so = this.tempDt.no_so;
					this.sendData.no_dp_req = this.tempDt.no_dp_req;
					this.sendData.no_billing_dp = this.tempDt.no_billing_dp;
					this.sendData.no_clearing = this.tempDt.no_clearing;
					this.sendData.bank_payment = (this.tempDt.bank_payment === null) ? null : this.tempDt.bank_payment.id;
					this.sendData.kode_error = (this.tempDt.kode_error === null) ? null : this.tempDt.kode_error.id;
					this.sendData.customer_id = (this.tempDt.customer_id === null) ? null : this.tempDt.customer_id.id;
					this.saveEdit()
				} else {
					this.sendData.number = this.tempDt.no_order;
					this.sendData.so_number = this.tempDt.no_so;
					this.sendData.no_dp_req = this.tempDt.no_dp_req;
					this.sendData.sap_billing_dp_doc = this.tempDt.no_billing_dp;
					this.sendData.sap_clearing_doc = this.tempDt.no_clearing;
					this.sendData.bank_payment = (this.tempDt.bank_payment === null) ? null : this.tempDt.bank_payment.id;
					this.sendData.error_code = (this.tempDt.kode_error === null) ? null : this.tempDt.kode_error.id;
					this.sendData.customer_id = this.tempDt.customer_id
					this.saveCreate()
				}
			},
			saveCreate() {
				event.preventDefault();
				this.btnLoad = true;
				this.axios.post(`logorder`, this.sendData)
				.then((resp) => {
					toastr.success(resp.data.message, resp.data.status_txt)
					$("#logOrderEdit").modal("hide")
					$('body').removeClass('modal-open');
					$('.modal-backdrop').remove();
					this.closeModal()
				})
				.catch((resp) => {
					// toastr.error(resp.response.data.message)
					this.btnLoad = false;
					// console.log(resp.response.data.errors);
					let msg = '<ul>';
					$.each(resp.response.data.message, function(key, value) {
						msg += '<li>'+value+'</li>';
					});
					msg += '</ul>';
					toastr.error(msg, 'Gagal');
				})
				.then((resp) => {
					this.btnLoad = false;
				})
			},
			saveEdit() {
				event.preventDefault();
				this.btnLoad = true;
				this.axios.post(`logorder/${this.uuid}/update`, this.sendData)
				.then((resp) => {
					toastr.success(resp.data.message, resp.data.status_txt)
					$("#logOrderEdit").modal("hide")
					$('body').removeClass('modal-open');
					$('.modal-backdrop').remove();
					this.closeModal()
				})
				.catch((resp) => {
					toastr.error(resp.response.data.message)
					this.btnLoad = false;
					// console.log(resp.response.data.errors);
					if(resp.response.data.errors !== undefined){
						this.error = true;
						this.errors = resp.response.data.errors;
					}
				})
				.then((resp) => {
					this.btnLoad = false;
				})
			},
    }
}
Vue.directive('restrict', {
  bind (el, binding) {
    el.addEventListener('keydown', (e) => {
      // delete, backpsace, tab, escape, enter,
      let special = [46, 8, 9, 27, 13]
      if (binding.modifiers['decimal']) {
        // decimal(numpad), period
        special.push(110, 190)
      }
      // special from above
      if (special.indexOf(e.keyCode) !== -1 ||
        // Ctrl+A
        (e.keyCode === 65 && e.ctrlKey === true) ||
        // Ctrl+C
        (e.keyCode === 67 && e.ctrlKey === true) ||
        // Ctrl+X
        (e.keyCode === 88 && e.ctrlKey === true) ||
        // home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        return // allow
      }
      if ((binding.modifiers['alpha']) &&
        // a-z/A-Z
        (e.keyCode >= 65 && e.keyCode <= 90)) {
        return // allow
      }
      if ((binding.modifiers['number']) &&
        // number keys without shift
        ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
        // numpad number keys
        (e.keyCode >= 96 && e.keyCode <= 105))) {
        return // allow
      }
      // otherwise stop the keystroke
      e.preventDefault() // prevent
    }) // end addEventListener
  } // end bind
}) // end directive
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css" scoped>
.DownloadLogOrder {
    display: none !important;
}
</style>