<template>
  <tr class="filter">
    <th></th>
    <th class="perbup-number">
      <input type="text" v-model="perbup.number" v-on:keyup="search()" class="form-control form-control-md perbup_noVal" >
    </th>
    <th class="perbup-sales-org">
      <input type="text" v-model="perbup.sales_org_name" v-on:keyup="search()" class="form-control form-control-md perbup_sales_org" >
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="perbup.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <year :reset="reset" @get-year="searchYear" :type="type"></year>
    </th>
    <th>
      <date-filter :reset="reset" @get-date="getDatePerbup" :type="type1"></date-filter>
    </th>
    <th>
      <date-filter :reset="reset" @get-date="getDatePerbupUpdated" :type="type2"></date-filter>
    </th>
    <th>
      <status-filter :reset="reset" :checkedStatus="perbup.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></status-filter>
    </th>
  </tr>
</template>

<script>
import Date from '../../filter/Date';
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
import Year from '../../filter/Year';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      type1: 'date_perbup',
      type2: 'date_perbupUpdated',
      btnStatus: 'Cari Status',
      type: 'validYear',
      statusSearch: [
        {name: 'Actived', value: 'y'},
        {name: 'Inactived', value: 'n'},
        {name: 'Partial Actived', value: 'z'},
      ],
      perbup: {
        number: null,
        sales_office_name: null,
        sales_office_id: null,
        sales_org_name: null,
        sales_group_name: null,
        sales_group_id: null,
        year: null,
        created_at: null,
        updated_at: null,
        status: null
      }
    }
  },
  components: {
    Provinsi, Kabupaten,
    dateFilter: Date,
    StatusFilter: Checklist,
    Year
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.perbup = getLocalSearch;
            app.$emit("search-table", app.perbup);
        }
    },1000);
    $(document).on("keyup", ".perbup_noVal", function(){
      app.perbup.number= $(this).val();
      app.search();
    })
    $(document).on("keyup", ".perbup_sales_org", function(){
      app.perbup.sales_org_name= $(this).val();
      app.search();
    })
  },
  methods: {
    getDatePerbup(date = '') {
      if (date != '') {
        if(date != '') {
          this.perbup.created_at = {
            certain: (date.name === 'date_perbup' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'date_perbup' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'date_perbup' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.perbup.created_at = ''
        }
        this.search()
      }
    },
    getDatePerbupUpdated(date = '') {
      if (date != '') {
        if(date != '') {
          this.perbup.updated_at = {
            certain: (date.name === 'date_perbupUpdated' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'date_perbupUpdated' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'date_perbupUpdated' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.perbup.updated_at = ''
        }
        this.search()
      }
    },
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.perbup.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.perbup.sales_group_id = sales_group;
      this.search();
    },
    searchTable(obj) {
      var status = obj.join(';')
      this.perbup.status = status
      this.search()
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.perbup));
      this.$emit("search-table", this.perbup);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.perbup);
      $( ".perbup-number" ).html( '<input type="text" class="form-control form-control-md perbup_noVal" />' );
      $( ".perbup-sales-org" ).html( '<input type="text" class="form-control form-control-md perbup_sales_org" />' );
      $(".perbup_noVal").val(this.perbup.number);
      $(".perbup_sales_org").val(this.perbup.sales_org_name);
      this.search();
    },
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.perbup.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.perbup.year = ''
        }
        this.search()
      }
    },
  }
}
</script>

<style lang="css" scoped>
</style>
