<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button v-if="access.C === true" type="button" @click="upload()" class="btn btn-primary square">
            <i class="fa fa-upload"></i>
            Upload
          </button>
          <a href="template-excel/perbup/Template_SK_Dinas_Kabupaten.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
          <button type="button"class="btn btn-primary square" @click="download()" :disabled="loadBtnDownload" name="button"> <i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-md-12"> -->
        <div class="col-md-12 table-responsive">
          <table id="tablePerbup" class="table table-xs table-bordered table-striped display nowrap">
            <thead>
              <perbup-filter :reset="resetStatus" @search-table="searchTable"></perbup-filter>
              <tr>
                <th>
                  <fieldset>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input check_all" value="all">
                      <span class="custom-control-indicator"></span>
                    </label>
                  </fieldset>
                </th>
                <th>No SK Dinas Kab</th>
                <th>Produsen</th>
                <th>Provinsi</th>
                <th>Kabupaten</th>
                <th>Tahun</th>
                <th>Tanggal Buat</th>
                <th>Tanggal Ganti</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      <!-- </div> -->
    </div>
    <div v-if="accessComponent.A" class="row scroll-top">
         <div class="col-md-12">
          <div class="btn-group mr-1 mb-1 pull-right dropup">
            <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
              Aksi
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" @click="action('y')" href="#">Actived</a>
              <a class="dropdown-item" @click="action('n')" href="#">Inactived</a>
            </div>
          </div>
        </div>
    </div>
    <form-upload v-if="showFormUpload" @trigger-modal="triggerModal"></form-upload>
  </div>
</template>

<script>
import PerbupUploadForm from './PerbupUploadForm';
import PerbupFilter from './PerbupFilter';
export default {
  props: ['access'],
  data: function() {
    return {
        dt: '',
        check: [],
        loading:{
          changeStatus: false
        },
        accessComponent: (this.access != undefined) ? this.access : {},
        resetStatus: false,
        showFormUpload : false,
        perbup: {},
        loadBtnDownload : false
      }
    },
    components: {
      formUpload: PerbupUploadForm,
      PerbupFilter
    },
    created() {
      if(this.access === undefined) {
        const encodeAccess = decodeURIComponent(this.$route.params.access);
        const decodeAccess = this.toText(this.decrypt(encodeAccess));
        const arrAccess = decodeAccess.split(",");
        console.log(this.access);
        if(arrAccess) {
          arrAccess.map((data) => {
            if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
              this.accessComponent[data] = true
            } else {
              this.$router.push({path: '/home'});
              toastr.error('Tidak mempunyai akses halaman ini', 'Error');
            }
          })
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Tidak mempunyai akses halaman ini', 'Error');
        }
      }
    },
    mounted() {
      var app = this;
      app.getDataTable();
      $("div.dataTables_length").append(' <button id="resetFilterPerbup" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

      $(document).on("click", "#resetFilterPerbup", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterPerbup').prop('disabled', true);

        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterPerbup').prop('disabled', false);
        }, 1000)
      })
      $(document).on("click", "#toDetail", function(e) {
        e.preventDefault();
        const uuid = encodeURIComponent($(this).data("uuid"))
        const year = encodeURIComponent($(this).data("year"))
        var access = app.$route.params.access;
        app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/alokasi-kecamatan/detail/'+uuid+'/'+year});
      })
      $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })

      $(document).on("click", "#check", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })
    },
    methods: {
      action(type) {
        event.preventDefault();
        if(this.check.length != 0) {
          this.loading.changeStatus = true;
          this.check = this.check.map(data => {
            return data.id
          })
          this.check = {'status': type,'uuid': this.check};
          this.saveAction();
        } else {
          toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
        }
      },
      actionExist(){
        this.check.map((dt, ind) => {
          var exist = this.check[ind].id.includes(dt.id);
          if(exist){
            this.removeA(this.check, dt.id);
          }
        })
      },
      saveAction(){
        // this.actionExist();
        this.axios.put('perbup/status/update', this.check)
        .then((resp) => {
          toastr.success("Status berhasil di ubah", "Sukses")
          this.dt.draw();
        })
        .catch((resp) => {
          var errors="<ul>"; var err=false;
          $.each(resp.response.data.message,function(index,value){
              err=true;
              errors+="<li>"+value[0]+"</li>";
          });
          errors+="</ul>";

          if(err)
          {
            toastr.error(errors, 'Gagal Update Status');
          }
          this.loading.changeStatus = false;
        })
        .then((resp) => {
          this.loading.changeStatus = false;
          this.check = [];
          $(".check_all").prop('checked', false);
          this.dt.draw();
        })
      },
      removeA(array, id) {
        var index = array.map(x => {
          return x.id;
        }).indexOf(id);
        array.splice(index, 1);
      },
      yearFrom(obj) {
        if(obj.year && obj.year.from && obj.year.to) {
          this.perbup.year = obj.year.from+';'+obj.year.to;
        } else if (obj.year && obj.year.certain) {
          this.perbup.year = obj.year.certain;
        } else {
          this.perbup.year = '';
        }
      },
      upload() {
        this.showFormUpload = true
      },
      triggerModal() {
        this.showFormUpload = false
        this.dt.draw()
      },
      searchTable(obj) {
        this.perbup = obj;
        this.validDateCreate(obj);
        this.validDateUpdated(obj);
        this.yearFrom(obj);
        this.dt.draw();
      },
      validDateCreate(obj) {
        if(obj.created_at && obj.created_at.from && obj.created_at.to) {
          this.perbup.created_at = obj.created_at.from+';'+obj.created_at.to;
        } else if (obj.created_at && obj.created_at.certain) {
          this.perbup.created_at = obj.created_at.certain;
        } else {
          this.perbup.created_at = '';
        }
      },
      validDateUpdated(obj) {
        if(obj.updated_at && obj.updated_at.from && obj.updated_at.to) {
          this.perbup.updated_at = obj.updated_at.from+';'+obj.updated_at.to;
        } else if (obj.updated_at && obj.updated_at.certain) {
          this.perbup.updated_at = obj.updated_at.certain;
        } else {
          this.perbup.updated_at = '';
        }
      },
      download() {
       // $(".DownloadPermentan").trigger('click');
        this.loadBtnDownload = true;
        this.axios({
          url: 'perbup/download',
          params: {
            number : this.perbup.number,
            sales_org_name : this.perbup.sales_org_name,
            sales_office_name : this.perbup.sales_office_name,
            sales_office_id : this.perbup.sales_office_id,
            sales_group_name : this.perbup.sales_group_name,
            sales_group_id : this.perbup.sales_group_id,
            year : this.perbup.year,
            created_at : this.perbup.created_at,
            status : this.perbup.status,
          },
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
           const url = window.URL.createObjectURL(new Blob([response.data]));
           const link = document.createElement('a');
           link.href = url;
           link.setAttribute('download', 'Download SK Dinas Kabupaten.xls'); //or any other extension
           document.body.appendChild(link);
           link.click();
           this.loadBtnDownload = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadBtnDownload = false;      
        })
     },
      getDataTable() {
        var app = this;
        app.dt = $("#tablePerbup").DataTable({
          processing: true,
          serverSide: true,
          searching: false,
          "scrollCollapse" :true,
          "scrollX":true,
          "scrollY" : "50vh",
          "order": [[ 4, 'desc' ]],
          "columnDefs": [
            { "orderable": false, "targets": 0 }
          ],
          lengthMenu: [
            [ 20, 50, 100, -1 ],
            [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
          ],
          "dom": 'Bltrip',
          "buttons": [
            {
              extend: 'excel',
              className: 'btn-danger square mb-1 downloadPerbup',
              text: "Download"
            }
          ],
          ajax : {
            'url': '/api/perbup',
            'type': 'GET',
            'beforeSend': function (request) {
                var token = localStorage.getItem("default_auth_token");
                request.setRequestHeader("Authorization", "Bearer "+token);
                request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
            },
            data: function(d){
              d.number = app.perbup.number
              d.sales_org_name = app.perbup.sales_org_name
              d.sales_office_name = app.perbup.sales_office_name
              d.sales_office_id = app.perbup.sales_office_id
              d.sales_group_name = app.perbup.sales_group_name
              d.sales_group_id = app.perbup.sales_group_id
              d.year = app.perbup.year
              d.created_at = app.perbup.created_at
              d.updated_at = app.perbup.updated_at
              d.status = app.perbup.status
            }
          },
          columns :[
            {
              data: 'uuid',
              render:function(data,t,f) {
                const check = '<fieldset>'+
                                '<label class="custom-control custom-checkbox">'+
                                  '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                  '<span class="custom-control-indicator"></span>'+
                                '</label>'+
                              '</fieldset>';
                return check;
              }
            },
            {
              data: 'number',name:'number',
              render: function(data, type, full) {
                var access = encodeURIComponent(app.$route.params.access);
                const link = `<a href="/#/${access}/alokasi/alokasi-kecamatan/detail/${full.uuid}/${full.year}">${data}</a>`;
                return link;
              }
            },
            {data: 'sales_org_name', name: 'sales_org_name'},
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'year', name: 'year'},
            {data: 'created_at', name: 'created_at', render: function(data, type, full){
              return app.convertDate(data)
            }},
            {data: 'updated_at', name: 'updated_at', render: function(data, type, full){
              return app.convertDate(data)
            }},
            {data: 'status_name', name: 'status_name'}
          ]
        });
        new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 3,
          heightMatch: 'auto'
      });
      }
  }
}
</script>

<style media="screen">
  .downloadPerbup {
    display: none !important;
  }
  .scroll-top {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
  }
</style>
