<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr style="background-color: #eee;" >
      <th>
        <i @click="setCollapse(district.id)" class="buttonCollapse fa" :class="(icon) ? 'fa-minus' : 'fa-plus' "></i>
      </th>
      <th class="pinned head" nowrap>
        {{ district.name }}
      </th>
      <template v-for="(total, i) in district.product">
        <th class="text-right">{{ parseFloat(total.qty).toFixed(3) }}</th>
      </template>
    </tr>
  </transition>
</template>

<script>
export default {
  props: ['district', 'icon', 'status'],
  data: function() {
    return {

    }
  },
  methods: {
    setCollapse(id) {
      this.$emit('toggle-collapse-district', id);
    }
  }
}
</script>

<style lang="css" scoped>
  th.head {
    padding-left: 2rem !important;
  }

  .buttonCollapse{
    cursor: pointer;
  }
</style>
