<template>
  <tr class="filter">
    <th class="df-noPenebusan">
      <input type="text" class="form-control form-control-md df_noPenebusanVal" >
    </th>
    <th class="df-kodeRefrensi">
      <input type="text" class="form-control form-control-md df_kodeRefrensiVal" >
    </th>
    <th class="df-distributor">
      <input type="text" class="form-control form-control-md df_distributorVal" >
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDf.sales_org_name"
      v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDf.bank_name"
      v-on:keyup="search()">
    </th>
    <th>
      <date-pelunasan :reset="reset" @get-date="getDatePelunasan" :type="'pelunasan'"></date-pelunasan>
    </th>
    <th>
      <date-rencana :reset="reset" @get-date="getDateRencana" :type="'rencana'"></date-rencana>
    </th>
    <th>
      <date-order :reset="reset" @get-date="getDateOrder" :type="'order'"></date-order>
    </th>
    <th>
      <status-order :reset="reset" :checkedStatus="monitoringDf.status_order" @get-check="searchStatusOrder" :label="'Cari Status Order'" :list="statusOrder"></status-order>
    </th>
    <th><input type="text" class="form-control form-control-md"
    v-model="monitoringDf.disbursement_status_name"
    v-on:keyup="search()"></th>
    <th></th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDf.so_number"
      v-on:keyup="search()">
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="monitoringDf.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDf.payment_method"
      v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDf.total_price"
      v-on:keyup="search()">
    </th>
    <th>
      <status-sent :reset="reset" :checkedStatus="monitoringDf.status_sent" @get-check="searchStatusSent" :label="'Cari Status Sent'" :list="statusSent"></status-sent>
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</template>

<script>
import Date from '../../filter/Date';
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      statusOrder:[
        {name: 'Approve', value: 'y'},
        {name: 'Submitted', value: 's'},
        {name: 'Suspend', value: 'p'},
        {name: 'Paid ', value: 'l'},
        {name: 'DP Paid ', value: 'u'},
        {name: 'Close', value: 'x'},
        {name: 'Reviewed', value: 'r'},
        {name: 'Complete', value: 'c'}
      ],
      statusSent:[
        {name: 'Success', value:'Success'},
        {name: 'Failed', value:'Failed'},
      ],
      monitoringDf: {
        number : null,
        reference_code : null,
        customer_name : null,
        sales_org_name : null,
        bank_name : null,
        billing_fulldate : null,
        df_due_date : null,
        order_date : null,
        status_order : null,
        sales_office_id: null,
        sales_group_id: null,
        // error_message_send_order : null,
        so_number : null,
        sales_office_name : null,
        sales_group_name : null,
        payment_method : null,
        total_price : null,
        disbursement_status_name : null,
        status_sent : null,
        error_message_disbursement : null,
        send_order_count : null
      }
    }
  },
  components: {
    Provinsi, Kabupaten,
    DatePelunasan: Date,
    DateRencana: Date,
    DateOrder: Date,
    StatusOrder: Checklist,
    StatusSent: Checklist,
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  created() {

  },
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.monitoringDf = getLocalSearch;
            $(".df_noPenebusanVal").val(app.monitoringDf.number);
            $(".df_kodeRefrensiVal").val(app.monitoringDf.reference_code);
            $(".df_distributorVal").val(app.monitoringDf.customer_name);
            app.$emit("search-table", app.monitoringDf);
        }
    },1000)
    $(document).on("keyup", ".df_noPenebusanVal", function(){
      app.monitoringDf.number = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".df_kodeRefrensiVal", function(){
      app.monitoringDf.reference_code = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".df_distributorVal", function(){
      app.monitoringDf.customer_name = $(this).val();
      app.search();
    })
  },
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.monitoringDf.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.monitoringDf.sales_group_id = sales_group;
      this.search();
    },
    getDatePelunasan(date = ''){
      if (date != '') {
        this.monitoringDf.billing_fulldate = {
          certain: (date.name === 'pelunasan' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'pelunasan' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'pelunasan' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.monitoringDf.billing_fulldate = ''
      }
      this.search();
    },

    getDateRencana(date = ''){
      if (date != '') {
        this.monitoringDf.df_due_date = {
          certain: (date.name === 'rencana' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'rencana' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'rencana' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.monitoringDf.df_due_date = ''
      }
      this.search();
    },

    getDateOrder(date = ''){
      if (date != '') {
        this.monitoringDf.order_date = {
          certain: (date.name === 'order' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'order' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'order' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.monitoringDf.order_date = ''
      }
      this.search();
    },

   searchStatusOrder(obj) {
     var status = obj.join(';');
     this.monitoringDf.status_order = status;
     this.search();
   },

   searchStatusSent(obj) {
     var status = obj.join(';');
     this.monitoringDf.status_sent = status;
     this.search();
   },

    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.monitoringDf));
      this.$emit("search-table", this.monitoringDf);
    },

    resetFilter(){
      this.clearFilter(this.$route.name, this.monitoringDf);
      
      $( ".df-noPenebusan" ).html( '<input type="text" class="form-control form-control-md df_noPenebusanVal" />' );
      $( ".df-kodeRefrensi" ).html( '<input type="text" class="form-control form-control-md df_kodeRefrensiVal" />' );
      $( ".df-distributor" ).html( '<input type="text" class="form-control form-control-md df_distributorVal" />' );
      
      $(".df_noPenebusanVal").val(this.monitoringDf.number);
      $(".df_kodeRefrensiVal").val(this.monitoringDf.reference_code);
      $(".df_distributorVal").val(this.monitoringDf.customer_name);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
