<template lang="html">
  <tr class="filter">
    <th></th>
    <th class="bankdf-customer-name">
      <input type="text"
      v-model="bankdf.customer_name"
      class="form-control form-control-md bankdf_customer_nameVal">
    </th>
    <th class="bankdf-produsen-name">
      <input type="text"
      v-model="bankdf.produsen_name"
      class="form-control form-control-md bankdf_produsen_nameVal">
    </th>
    <th>
      <input type="text"
      v-model="bankdf.bank_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <date-mulai :reset="reset" @get-date="getDateMulai" :type="type1"></date-mulai>
    </th>
    <th>
      <date-akhir :reset="reset" @get-date="getDateAkhir" :type="type2"></date-akhir>
    </th>
    <th>
      <filter-status :reset="reset" :checkedStatus="bankdf.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
    </th>

  </tr>
</template>
<script>
import Checklist from '../../filter/Checklist';
import Date from '../../filter/Date';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      type1: 'tglMulai',
      type2: 'tglAkhir',
      btnStatus: 'Filter Status',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Suspend', value: 'p'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'}
      ],
      bankdf: {
        uuid: '',
        bank_name: '',
        customer_name: '',
        end_date: '',
        produsen_name: '',
        start_date: '',
        status: '',
      }
    }
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
      if (getLocalSearch !== null) {
          app.bankdf = getLocalSearch;
          $(".bankdf_customer_nameVal").val(app.bankdf.customer_name)
          $(".bankdf_produsen_nameVal").val(app.bankdf.produsen_name)
          app.$emit("search-table", app.bankdf);
      }
    },1000)

    $(document).ready(function() {
      
    });
    $(document).on("keyup", ".bankdf_customer_nameVal", function(){
      app.bankdf.customer_name = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".bankdf_produsen_nameVal", function(){
      app.bankdf.produsen_name = $(this).val();
      app.search();
    })
  },
  components: {
    FilterStatus: Checklist,
    dateMulai: Date,
    dateAkhir: Date
  },
  methods: {
    getDateMulai(date = '') {
      if(date != '') {
        if (date != '') {
          this.bankdf.start_date = {
            certain: (date.name === 'tglMulai' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'tglMulai' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'tglMulai' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.bankdf.start_date = ''
        }
        this.search()
      }
    },
    getDateAkhir(date = '') {
      if(date != '') {
        if (date != '') {
          this.bankdf.end_date = {
            certain: (date.name === 'tglAkhir' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'tglAkhir' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'tglAkhir' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.bankdf.end_date = ''
        }
        this.search()
      }
    },
    searchTable(obj) {
      var status = obj.join(';');
      this.bankdf.status = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.bankdf));
      this.$emit("search-table", this.bankdf);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.bankdf);
      $(".bankdf-customer-name").html(' <input type="text" class="form-control form-control-md bankdf_customer_nameVal">')
      $(".bankdf-produsen-name").html(' <input type="text" class="form-control form-control-md bankdf_produsen_nameVal">')
      $(".bankdf_customer_nameVal").val(this.bankdf.customer_name)
      $(".bankdf_produsen_nameVal").val(this.bankdf.produsen_name)
      this.search();
    }
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
