<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button v-if="access.C && role_id !== 4" type="button" @click="openformModal" class="btn btn-primary square"><i class="fa fa-plus"></i> Entry Baru</button>
          <button  type="button" class="btn btn-primary square" id="downloadTableExcel" > <i class="fa fa-download"></i>
              {{ $ml.get("petaniMasterPage.download") }}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <table id="tableBankDf" class="table table-xs table-bordered table-striped" width="100%">
            <thead>
              <bank-df-filter :reset="resetStatus" @search-table="searchTable"></bank-df-filter>
              <tr>
                <th>
                  <fieldset>
                    <fieldset>
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input check_all" value="all">
                        <span class="custom-control-indicator"></span>
                      </label>
                    </fieldset>
                  </fieldset>
                </th>
                <th>Distributor</th>
                <th>Produsen</th>
                <th>Bank</th>
                <th>Tgl Mulai</th>
                <th>Tgl Akhir</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
      </div>
    </div>
    <div class="row scroll-top" v-if="access.A === true && role_id !== 4">
      <div class="col-md-12">
        <div class="btn-group mr-1 mb-1 pull-right">
          <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
            Aksi
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div>
            <div class="dropdown-menu">
              <a class="dropdown-item" @click="action('n')" href="#">Inactived</a>
              <a class="dropdown-item" @click="action('y')" href="#">Actived</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form-bnk-df v-if="showModalForm" :getid="dataid" @trigger-modal="triggerModal"></form-bnk-df>
  </div>
</template>

<script>
import FormBnkDf from './modal/FormBnkDf';
import BankDfFilter from './BankDfFilter';
export default {
  data: function() {
    return {
      dt: '',
      role_id: '',
      isDistribuor: this.$route.params.id,
      modalForm: false,
      resetStatus: false,
      dataid: null,
      check: [],
      bankdf: {},
      loading: {
        changeStatus: false,
      },
      showModalForm: false,
      access: {}
    }
  },
  components: {
    FormBnkDf,
    BankDfFilter
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    var app = this;
    app.userProfile()
    var idx = (app.$route.params.id != undefined) ? '/cust_id/'+app.$route.params.id : '';
    $(document).ready(function() {
      app.dt = $('#tableBankDf').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX" : true,
        "scrollY" : "50vh",
        scrollCollapse: true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadTableExcel',
            text: "Download Bank DF ke Excel",
            title:"",
            filename:"Download Bank DF ke Excel",
          }
        ],
        columnDefs: [
           { "orderable": false, "targets": 0 },
        ],
        ajax:{
          'url': 'api/bankdf'+idx,
          'type': 'GET',
          'data': function(d){
            d.customer_name = app.bankdf.customer_name;
            d.produsen_name = app.bankdf.produsen_name;
            d.bank_name = app.bankdf.bank_name;
            d.start_date = app.bankdf.start_date;
            d.end_date = app.bankdf.end_date;
            d.status = app.bankdf.status;
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
            {
              data: 'uuid',
              render:function(data,t,f) {
                const check = '<fieldset>'+
                                '<label class="custom-control custom-checkbox">'+
                                  '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                  '<span class="custom-control-indicator"></span>'+
                                '</label>'+
                              '</fieldset>';
                return check;
              }
            },
            {data: 'customer_name', name: 'customer_name'},
            {data: 'sales_org_name', name: 'sales_org_name'},
            {
              data: 'bank_name',
              render : function(data, type, full){
                return (app.access.U) ? '<a href="#" id="editData" data-id="'+full.uuid+'" data-infoumum="true" data-arr="'+full.uuid+'">'+data+'</a>' : data ;
              }
            },
            {data: 'start_date', name: 'start_date'},
            {data: 'end_date', name: 'end_date'},
            {data: 'status_name', name: 'status_name'},
        ]
      });
      $("div.dataTables_length").append(' <button id="resetFilterBankdf" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    
      $(document).on("click", "#resetFilterBankdf", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterBankdf').prop('disabled', true);
        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterBankdf').prop('disabled', false);
        }, 1000)
      })
      $(document).on("click", "#editData", function(e){
        e.preventDefault();
        app.dataid = $(this).data("id");
        app.editData();
      })

      $("#downloadTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadTableExcel").trigger('click');
      })

      $(document).on('change','.checks',function(){
          if($('.checks').is( ":checked" )===true){
              $('.check').prop('checked',true);
          }else{
              $('.check').prop('checked',false);
          }
      });
      $(document).on('change','.check',function(){
           $('.checks').prop('checked',false);
      });

      $("#downloadTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadTableExcel").trigger('click');
      })

      $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })

      $(document).on("click", "#check", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })

    });
  },
  methods: {
    userProfile(){
      this.axios.get('user/profile')
      .then((resp) => {
        this.role_id = resp.data.data.role.role_id;
      })
      .catch((resp) => {
        console.log(resp);
      })
      .then((resp) => {
        console.log(resp);
      })
    },
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      this.check = this.check.map(data => {
        return {uuid: data.id, status: type}
      })
      this.saveAction();
    },
    saveAction(){
      this.axios.put('bankdf/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        // toastr.error(resp.message, "Pesan")
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    openformModal(){
      this.showModalForm = true;
      // $("#bankDfForm").modal("show");
      this.dataid = null;
    },
    triggerModal(){
      this.showModalForm = false;
      this.dt.draw();
    },
    searchTable(obj){
      this.bankdf = obj;
      this.validateStartDate(obj);
      this.validateEndDate(obj);
      this.dt.draw();
    },
    validateStartDate(obj) {
      if(obj.start_date && obj.start_date.from && obj.start_date.to) {
        this.bankdf.start_date = obj.start_date.from+';'+obj.start_date.to;
      } else if (obj.start_date && obj.start_date.certain) {
        this.bankdf.start_date = obj.start_date.certain;
      } else {
        this.bankdf.start_date = '';
      }
    },
    validateEndDate(obj) {
      if(obj.end_date && obj.end_date.from && obj.end_date.to) {
        this.bankdf.end_date = obj.end_date.from+';'+obj.end_date.to;
      } else if (obj.end_date && obj.end_date.certain) {
        this.bankdf.end_date = obj.end_date.certain;
      } else {
        this.bankdf.end_date = '';
      }
    },
    editData(){
      this.showModalForm = true;
      // $("#bankDfForm").modal("show");
    },
  }
}
</script>

<style lang="css">
  div.dt-buttons {
    float: right !important;
    display: none;
  }
  .scroll-top {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
  }
</style>
