<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
  <tr>
    <th>
      <i @click="setCollapse(kec.id)" class="buttonCollapse fa " :class="(icon) ? 'fa-minus' : 'fa-plus'"></i>
    </th>
    <th colspan="15" class="pinned head"> {{ kec.name }} </th>
  </tr>
  </transition>
</template>

<script>
export default {
  props: ['kec', 'icon'],
  data: function() {
    return {

    }
  },
  methods: {
    setCollapse(id) {
      this.$emit('toggle-collapse-prod', id);
    }
  }

}
</script>

<style lang="css" scoped>
  th.head {
    padding-left: 6rem !important;
  }

  .buttonCollapse{
    cursor: pointer;
  }
</style>
