<template>
  <div class="modal fade" id="penyaluranDoForm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form @submit="save()">
          <div class="modal-header">
            <h4 class="modal-title">Entri Baru</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <form-loader :view="loadingForm"></form-loader>
            <div v-if="!loadingForm" class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-3 label-control" >Nomor SO</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-control-sm" v-model="dataForm.so_number" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" >Distributor</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-control-sm" v-model="dataForm.customer_name" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" >Tujuan</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-control-sm" v-model="dataForm.sales_group_name" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" >Incoterm</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-control-sm" v-model="dataForm.delivery_method_name" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" >Tanggal Order</label>
                  <div class="col-md-8">
                    <input type="date" class="form-control form-control-sm" v-model="dataForm.order_date" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" >Tanggal Penyaluran</label>
                  <div class="col-md-8">
                    <input type="date" class="form-control form-control-sm"
                    :min="dataForm.delivery_date"
                    :max="maxDate"
                    v-model="dataForm.distribution_date"
                    :class="{'is-invalid' : error && errors.distribution_date}"
                    >
                    <p class="text-danger" v-if="error && errors.distribution_date">{{errors.distribution_date[0]}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary" :disabled="loadingButton">
              <i :class="(loadingButton) ? 'fa fa-spin fa-refresh' : '' "></i>
              {{ (loadingButton) ? 'Menyimpan' : 'Submit' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import FormLoader from '../../main/FormLoader';
export default {
  props: ['number', 'distribution_date'],
  data: function() {
    return {
      maxDate: '',
      dataForm: {},
      loadingForm: false,
      loadingButton: false,
      error: false,
      errors: {},
    }
  },
  components: {
    FormLoader
  },
  created() {
    this.getToday()
  },
  mounted() {
    var app = this;
    $("#penyaluranDoForm").modal("show");
    $('#penyaluranDoForm').on('hidden.bs.modal', function () {
      app.closeModal();
    })
    console.log(this.distribution_date);
  },
  methods: {

    closeModal(){
      this.$emit("trigger-modal", 'RefreshTable');
    },

    getToday() {
      this.axios.get('today')
      .then((resp) => {
        const today = resp.data.data.today;
        const todayz = resp.data.data.today.split("-").reverse().join("-");
        // console.log(todayz);
        this.maxDate = today;
        this.getDataForm();
      })
      .catch((resp) => {
        // this.sendDt.order_date = new Date().toISOString().substring(0, 10);
      })
    },

    getDataForm() {
      this.loadingForm = true;
      this.axios.get('supplydo/entry/'+this.number)
      .then((resp) => {
        this.dataForm = resp.data.data[0];
        let today = new Date();
        let dd = ("0" + (today.getDate())).slice(-2);
        let mm = ("0" + (today.getMonth() +　1)).slice(-2);
        let yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd ;
        this.dataForm['distribution_date'] = today;
        this.dataForm['order_date'] = this.dataForm.order_date.split("-").reverse().join("-");
        this.dataForm['delivery_date'] = this.dataForm.delivery_date.split("-").reverse().join("-");
        this.loadingForm = false;
      })
      .catch((resp) => {
        toastr.error(resp.response.data.exception)
        toastr.error(resp.response.data.message)
        this.loadingForm = false;
      })
    },

    save() {
      event.preventDefault();
      this.loadingButton = true;
      this.axios.post('supplydo', this.dataForm)
      .then((resp) => {
        this.loadingButton = false;
        toastr.success(resp.data.message);
        let access = encodeURIComponent(this.$route.params.access);
        $("#penyaluranDoForm").modal("hide");
        this.$router.push({path: '/'+access+'/laporan/penyaluran-do/detail/'+resp.data.data.uuid});
      })
      .catch((resp) => {
        this.error = true;
        if(typeof resp.response.data.message === 'object') {
          this.errors = resp.response.data.message;
        } else {
          toastr.error(resp.response.data.message)
        }
        this.loadingButton = false;
      })
    }

  }
}
</script>

<style lang="css" scoped>
</style>
