<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12" style="padding-right:0px; padding-left:0px;">
        <div id="wrapper">
          <div class="animate">
            <p>Synchronize Data</p>
            <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/SAP_2011_logo.svg" class="img" style="width:220px; height:auto;" alt=""> -->
          </div>
          <div data-v-8d78c136="" class="" style="
              font-size: 75px;
              width: 10%;
              height: 21%;
              background: #fff;
              opacity: 0.4;
              position: absolute;
              left: 0px;
              padding: 0px;
              top: 69%;
          "><img class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/SAP_2011_logo.svg/2000px-SAP_2011_logo.svg.png" style="
              width: auto;
              height: 48px;
              margin: 0px;
              position: absolute;
              top: 0;
          "></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="margin-bottom: 40px;margin-top: 40px;">

      <!-- region -->
      <div class="col-md-3 text-center">
        <div class="btn-group mr-1 mb-1 form-control">
            <button type="button" class="btn btn-primary square form-control" :disabled="loading.region" >
              <i v-if="loading.region" class="fa fa-refresh fa-spin"></i>
              {{ (loading.region) ? '' : 'Sync' }}
            </button>
            <button type="button" :disabled="loading.region"  class="btn btn-primary square form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(42px, 41px, 0px);">
                <a class="dropdown-item" @click="openConfirm('region')" v-if="access.U" href="#">Sinkronisasi</a>
                <a class="dropdown-item" @click="openList('region')" href="#">Daftar Regional</a>
            </div>
        </div>
        <label class="">Sales Office, Group, Unit</label>
      </div>

      <!-- distrib channel -->
      <div class="col-md-3 text-center">
        <div class="btn-group mr-1 mb-1 form-control">
            <button type="button" class="btn btn-primary square form-control" :disabled="loading.distrib" >
              <i v-if="loading.distrib" class="fa fa-refresh fa-spin"></i>
              {{ (loading.distrib) ? '' : 'Sync' }}
            </button>
            <button type="button" :disabled="loading.distrib"  class="btn btn-primary square form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(42px, 41px, 0px);">
                <a class="dropdown-item" @click="openConfirm('distribChannel')" v-if="access.U" href="#">Sinkronisasi</a>
                <a class="dropdown-item" @click="openList('distribChannel')"href="#">Daftar Distrib Channel</a>
            </div>
        </div>
        <label class="">Distrib Channel</label>
      </div>

      <!-- customer -->
      <div class="col-md-3 text-center">
        <div class="btn-group mr-1 mb-1 form-control">
            <button type="button" class="btn btn-primary square form-control" :disabled="loading.customer" >
              <i v-if="loading.customer" class="fa fa-refresh fa-spin"></i>
              {{ (loading.customer) ? '' : 'Sync' }}
            </button>
            <button type="button" :disabled="loading.customer"  class="btn btn-primary square form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(42px, 41px, 0px);">
                <a class="dropdown-item" @click="openConfirm('customer')" v-if="access.U" href="#">Sinkronisasi</a>
                <a class="dropdown-item" @click="openList('customer')" href="#">Daftar Customer</a>
            </div>
        </div>
        <label class="text-center">Customer</label>
      </div>

      <!-- plant -->
      <div class="col-md-3 text-center">
        <div class="btn-group mr-1 mb-1 form-control">
            <button type="button" class="btn btn-primary square form-control" :disabled="loading.plant" >
              <i v-if="loading.plant" class="fa fa-refresh fa-spin"></i>
              {{ (loading.plant) ? '' : 'Sync' }}
            </button>
            <button type="button" :disabled="loading.plant"  class="btn btn-primary square form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(42px, 41px, 0px);">
                <a class="dropdown-item" @click="openConfirm('plant')" v-if="access.U" href="#">Sinkronisasi</a>
                <a class="dropdown-item" @click="openList('plant')" href="#">Daftar Plant</a>
            </div>
        </div>
        <label class="">Plant</label>
      </div>

    </div>

    <div class="row" style="margin-bottom: 40px;margin-top: 40px;">
      <!-- sales division -->
      <div class="col-md-3 text-center">
        <div class="btn-group mr-1 mb-1 form-control">
            <button type="button" class="btn btn-primary square form-control" :disabled="loading.salesDivision" >
              <i v-if="loading.salesDivision" class="fa fa-refresh fa-spin"></i>
              {{ (loading.salesDivision) ? '' : 'Sync' }}
            </button>
            <button type="button" :disabled="loading.salesDivision"  class="btn btn-primary square form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(42px, 41px, 0px);">
                <a class="dropdown-item" @click="openConfirm('salesDivision')" v-if="access.U" href="#">Sinkronisasi</a>
                <a class="dropdown-item" @click="openList('salesDivision')" href="#">Daftar Sales Division</a>
            </div>
        </div>
        <label class="">Sales Division</label>
      </div>

      <!-- sales area -->
      <div class="col-md-3 text-center">
        <div class="btn-group mr-1 mb-1 form-control">
            <button type="button" class="btn btn-primary square form-control" :disabled="loading.salesArea" >
              <i v-if="loading.salesArea" class="fa fa-refresh fa-spin"></i>
              {{ (loading.salesArea) ? '' : 'Sync' }}
            </button>
            <button type="button" :disabled="loading.salesArea"  class="btn btn-primary square form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(42px, 41px, 0px);">
                <a class="dropdown-item" @click="openConfirm('salesArea')" v-if="access.U" href="#">Sinkronisasi</a>
                <a class="dropdown-item" @click="openList('salesArea')" href="#">Daftar Sales Area</a>
            </div>
        </div>
        <label class="">Sales Area</label>
      </div>

      <!-- material -->
      <div class="col-md-3 text-center">
        <div class="btn-group mr-1 mb-1 form-control">
            <button type="button" class="btn btn-primary square form-control" :disabled="loading.material" >
              <i v-if="loading.material" class="fa fa-refresh fa-spin"></i>
              {{ (loading.material) ? '' : 'Sync' }}
            </button>
            <button type="button" :disabled="loading.material"  class="btn btn-primary square form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(42px, 41px, 0px);">
                <a class="dropdown-item" @click="openConfirm('material')" v-if="access.U" href="#">Sinkronisasi</a>
                <a class="dropdown-item" @click="openList('materialProduct')" href="#">Daftar Material</a>
            </div>
        </div>
        <label class="">Material Product</label>
      </div>

    </div>

    <sync-confirm v-if="showConfirm" :type="type" @trigger-modal="triggerModal"></sync-confirm>
    <form-material v-if="showForm" :type="type" @trigger-modal-form="triggerModalForm"></form-material>

    <list-data-regional v-if="modalList.regional" @trigger-modal-list="triggerModalList"></list-data-regional>
    <list-data-distrib-channel v-if="modalList.distribChannel" @trigger-modal-list="triggerModalList"></list-data-distrib-channel>
    <list-data-sales-division v-if="modalList.salesDivision" @trigger-modal-list="triggerModalList"></list-data-sales-division>
    <list-data-sales-area v-if="modalList.salesArea" @trigger-modal-list="triggerModalList"></list-data-sales-area>
    <list-data-material-product v-if="modalList.materialProduct" @trigger-modal-list="triggerModalList"></list-data-material-product>
    <list-data-customer v-if="modalList.customer" @trigger-modal-list="triggerModalList"></list-data-customer>
    <list-data-plant v-if="modalList.plant" @trigger-modal-list="triggerModalList"></list-data-plant>
  </div>
</template>

<script>
import SyncConfirm from './SyncConfirm';
import FormMaterial from './FormMaterial';
import ListDataRegional from './modal/ListDataRegional';
import ListDataDistribChannel from './modal/ListDataDistribChannel';
import ListDataSalesDivision from './modal/ListDataSalesDivision';
import ListDataSalesArea from './modal/ListDataSalesArea';
import ListDataMaterialProduct from './modal/ListDataMaterialProduct';
import ListDataCustomer from './modal/ListDataCustomer';
import ListDataPlant from './modal/ListDataPlant';
import { wcmBaseUrl } from '../../config/environment';
export default {
  props: ['access'],
  data: function() {
    return {
      baseUrl: wcmBaseUrl(),
      showConfirm : false,
      showForm : false,
      type: null,
      modalList: {
        regional: false,
        distribChannel: false,
        salesDivision: false,
        salesArea: false,
        materialProduct: false,
        customer: false,
        plant: false
      },
      loading: {
        region: false,
        distrib: false,
        plant: false,
        salesDivision: false,
        salesArea: false,
        customer: false,
        material: false
      }
    }
  },
  components: {
    SyncConfirm, FormMaterial, ListDataRegional, ListDataDistribChannel, ListDataSalesDivision, ListDataSalesArea, ListDataMaterialProduct, ListDataCustomer, ListDataPlant
  },
  created() {

  },
  mounted() {

  },
  methods: {

    triggerModalList() {
      this.modalList.regional = false
      this.modalList.distribChannel = false
      this.modalList.salesDivision = false
      this.modalList.salesArea = false
      this.modalList.materialProduct = false
      this.modalList.customer = false
      this.modalList.plant = false
    },

    triggerModalForm(result, type, input) {
      this.showForm = false;
      this.type = null;
      if(result) {
        switch (type) {
          case 'material':
            // this.syncMaterial(input)
          break;
          default:

        }
      }
    },

    triggerModal(result, type) {
      this.showConfirm = false
      this.type = null
      if(result) {
        switch (type) {
          case 'distribChannel':
            this.syncDistrib();
          break;
          case 'region':
            this.syncRegion();
          break;
          case 'plant':
            this.syncPlant();
          break;
          case 'salesDivision':
            this.syncSalesDivision();
          break;
          case 'salesArea':
            this.syncSalesArea();
          break;
          case 'customer':
            this.syncCustomer();
          break;
          case 'material':
            this.syncMaterial();
          break;
          default:
        }
      }
    },

    openList(type) {
      event.preventDefault();
      switch (type) {
        case 'region': this.modalList.regional = true; break;
        case 'distribChannel': this.modalList.distribChannel = true; break;
        case 'salesDivision': this.modalList.salesDivision = true; break;
        case 'salesArea': this.modalList.salesArea = true; break;
        case 'materialProduct': this.modalList.materialProduct = true; break;
        case 'customer': this.modalList.customer = true; break;
        case 'plant': this.modalList.plant = true; break;
        default:

      }
    },

    syncMaterial() {
      this.loading.material = true;
      // this.axios.get('sap/material')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Material')
      //   this.loading.material = false;
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Material')
      //   toastr.error(resp.response.data.errors, 'Material')
      //   this.loading.material = false;
      // })
      // var baseURL = 'http://36.89.154.90/api/'+uri;
      const uri = 'sap/material';
      const accessToken = localStorage.getItem('access-control');
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Material')
          this.loading.material = false;
      }).fail(resp => {
          console.log("FAIL TO SYNC MATERIAL");
          toastr.error(resp.response.data.message, 'Material')
          toastr.error(resp.response.data.errors, 'Material')
          this.loading.material = false;
      });
    },

    syncDistrib() {
      this.loading.distrib = true;
      // this.axios.get('sap/distrib-channel')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Distrib Channel')
      //   this.loading.distrib = false;
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Distrib Channel')
      //   this.loading.distrib = false;
      // })
      const uri = 'sap/distrib-channel';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Distrib Channel')
          this.loading.distrib = false;
      }).fail(resp => {
          console.log("FAIL TO SYNC Distrib Channel");
          toastr.error(resp.response.data.message, 'Distrib Channel')
          this.loading.distrib = false;
      });
    },

    syncPlant() {
      this.loading.plant = true;
      // this.axios.get('sap/plant-master')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Plant')
      //   this.syncPlantAssg()
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Plant')
      //   this.loading.plant = false;
      // })
      const uri = 'sap/plant-master';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Plant')
          this.syncPlantAssg()
      }).fail(resp => {
          console.log("FAIL TO SYNC Plant");
          toastr.error(resp.response.data.message, 'Plant')
          this.loading.plant = false;
      });
    },

    syncPlantAssg() {
      // this.axios.get('sap/plant-assign')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Plant Assign')
      //   this.loading.plant = false;
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Plant Assign')
      //   this.loading.plant = false;
      // })
      const uri = 'sap/plant-assign';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Plant Assign')
          this.loading.plant = false;
      }).fail(resp => {
          console.log("FAIL TO SYNC Plant Assign");
          toastr.error(resp.response.data.message, 'Plant Assign')
          this.loading.plant = false;
      });
    },

    syncSalesDivision() {
      this.loading.salesDivision = true;
      // this.axios.get('sap/sales-division')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Sales Division')
      //   this.loading.salesDivision = false;
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Sales Division')
      //   this.loading.salesDivision = false;
      // })
      const uri = 'sap/sales-division';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Sales Division')
          this.loading.salesDivision = false;
      }).fail(resp => {
          console.log("FAIL TO SYNC Sales Division");
          toastr.error(resp.response.data.message, 'Sales Division')
          this.loading.salesDivision = false;
      });
    },

    syncSalesArea() {
      this.loading.salesArea = true;
      // this.axios.get('sap/sales-area-master')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Sales Area')
      //   this.syncSalesAreaAssign();
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Sales Area')
      //   this.loading.salesArea = false;
      // })
      const uri = 'sap/sales-area-master';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Sales Area')
          this.syncSalesAreaAssign();
      }).fail(resp => {
          console.log("FAIL TO SYNC Sales Area");
          toastr.error(resp.response.data.message, 'Sales Area')
          this.loading.salesArea = false;
      });
    },

    syncSalesAreaAssign() {
      // this.axios.get('sap/sales-area-assign')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Sales Area Assign')
      //   this.loading.salesArea = false;
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Sales Area Assign')
      //   this.loading.salesArea = false;
      // })
      const uri = 'sap/sales-area-assign';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Sales Area Assign')
          this.loading.salesArea = false;
      }).fail(resp => {
          console.log("FAIL TO SYNC Sales Area Assign");
          toastr.error(resp.response.data.message, 'Sales Area Assign')
          this.loading.salesArea = false;
      });
    },

    syncCustomer() {
      this.loading.customer = true;
      // this.axios.get('sap/customer-master')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Customer')
      //   this.syncCustomerAddress()
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Customer')
      //   this.loading.customer = false;
      // })
      const uri = 'sap/customer-master';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Customer')
          this.syncCustomerAddress()
      }).fail(resp => {
          console.log("FAIL TO SYNC Customer");
          toastr.error(resp.response.data.message, 'Customer')
          this.loading.customer = false;
      });
    },

    syncCustomerAddress() {
      // this.axios.get('sap/customer-address')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Customer Address')
      //   this.syncCustomerContact()
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Customer Address')
      //   this.loading.customer = false;
      // })
      const uri = 'sap/customer-address';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Customer Address')
          this.syncCustomerContact()
      }).fail(resp => {
          console.log("FAIL TO SYNC Customer Address");
          toastr.error(resp.response.data.message, 'Customer Address')
          this.loading.customer = false;
      });
    },

    syncCustomerContact() {
      // this.axios.get('sap/customer-contact')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Customer Address')
      //   this.syncCustomerSalesArea()
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Customer Address')
      //   this.loading.customer = false;
      // })
      const uri = 'sap/customer-contact';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Customer Contact')
          this.syncCustomerSalesArea()
      }).fail(resp => {
          console.log("FAIL TO SYNC Customer Contact");
          toastr.error(resp.response.data.message, 'Customer Contact')
          this.loading.customer = false;
      });
    },

    syncCustomerSalesArea() {
      // this.axios.get('sap/customer-sales-area')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Customer Sales Area')
      //   this.syncPartnerFunction();
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Customer Sales Area')
      //   this.loading.customer = false;
      // })
      const uri = 'sap/customer-sales-area';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Customer Sales Area')
          this.syncPartnerFunction()
      }).fail(resp => {
          console.log("FAIL TO SYNC Customer Sales Area");
          toastr.error(resp.response.data.message, 'Customer Sales Area')
          this.loading.customer = false;
      });
    },

    syncPartnerFunction() {
      // this.axios.get('sap/customer-partner-function')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Partner Function')
      //   this.syncPaymentMethod()
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Partner Function')
      //   this.loading.customer = false;
      // })
      const uri = 'sap/customer-partner-function';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Partner Function')
          this.syncPaymentMethod()
      }).fail(resp => {
          console.log("FAIL TO SYNC Partner Function");
          toastr.error(resp.response.data.message, 'Partner Function')
          this.loading.customer = false;
      });
    },

    syncPaymentMethod() {
      // this.axios.get('sap/customer-payment')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Payment Method')
      //   this.syncCustSalesOrg();
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Payment Method')
      //   this.loading.customer = false;
      // })
      const uri = 'sap/customer-payment';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Payment Method')
          this.syncCustSalesOrg()
      }).fail(resp => {
          console.log("FAIL TO SYNC Payment Method");
          toastr.error(resp.response.data.message, 'Payment Method')
          this.loading.customer = false;
      });
    },

    syncCustSalesOrg() {
      // this.axios.get('sap/customer-salesorg')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Sales Org Assign')
      //   this.loading.customer = false;
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Sales Org Assign')
      //   this.loading.customer = false;
      // })
      const uri = 'sap/customer-salesorg';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Sales Org Assign')
          this.loading.customer = false;
      }).fail(resp => {
          console.log("FAIL TO SYNC Sales Org Assign");
          toastr.error(resp.response.data.message, 'Sales Org Assign')
          this.loading.customer = false;
      });
    },

    syncSalesOffice() {
      // this.axios.get('sap/sales-office')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Sales Office')
      //   this.syncSalesGroup()
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Sales Office')
      //   this.loading.region = false;
      // })
      const uri = 'sap/sales-office';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Sales Office')
          this.syncSalesGroup()
      }).fail(resp => {
          console.log("FAIL TO SYNC Sales Office");
          toastr.error(resp.response.data.message, 'Sales Office')
          this.loading.region = false;
      });
    },

    syncSalesGroup() {
      // this.axios.get('sap/sales-group')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Sales Group')
      //   this.syncSalesUnit()
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Sales Group')
      //   this.loading.region = false;
      // })
      const uri = 'sap/sales-group';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Sales Group')
          this.syncSalesUnit()
      }).fail(resp => {
          console.log("FAIL TO SYNC Sales Group");
          toastr.error(resp.response.data.message, 'Sales Group')
          this.loading.region = false;
      });
    },

    syncSalesUnit() {
      // this.axios.get('sap/sales-unit')
      // .then((resp) => {
      //   let jumlahData = resp.data.data.length
      //   toastr.success(jumlahData+' Baris', 'Jumlah')
      //   toastr.success(resp.data.message, 'Sales Unit')
      //   this.loading.region = false;
      // })
      // .catch((resp) => {
      //   toastr.error(resp.response.data.message, 'Sales Unit')
      //   this.loading.region = false;
      // })
      const uri = 'sap/sales-unit';
      var baseURL = this.baseUrl+'/'+uri;
      $.ajax({
          type: "GET", 
          url: baseURL, 
          dataType: 'json',
      }).done(resp => {
          console.log(resp);
          let jumlahData = resp.data.length
          toastr.success(jumlahData+' Baris', 'Jumlah')
          toastr.success(resp.data.message, 'Sales Unit')
          this.loading.region = false;
      }).fail(resp => {
          console.log("FAIL TO SYNC Sales Unit");
          toastr.error(resp.response.data.message, 'Sales Unit')
          this.loading.region = false;
      });
    },

    syncRegion() {
      this.loading.region = true;
      this.syncSalesOffice();
    },

    openConfirm(type) {
        event.preventDefault();
        this.type = type;
        this.showConfirm = true;
    },

    openForm(type) {
        event.preventDefault()
        this.type = type;
        this.showForm = true;
    }

  }
}
</script>

<style lang="css" scoped>
  /* @import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
  * {margin: 0; padding: 0;}
  body {
      white-space: pre;
      font-family: 'Bungee Shade', cursive;
      color: #4E2008;
  }
  body {background: #F3F2DE; height: 100%;} */


  #wrapper {
      display: flex;
      width: 100%;
      height: 250px;
      background-image: url('https://www.restaurantnz.co.nz/wp-content/uploads/2017/05/45103437-big-data-wallpaper.jpg');
      background-position-y: center;
  }

  .animate {
    font-size: 56px;
    width: 33%;
    height: 33%;
    background: #fff;
    margin-top: 6.2%;
    opacity: 0.4;
  }

  #animate1 {animation: spin 3s infinite 100ms linear, appear 2s;}
  #animate2 {animation: spin 0.5s infinite 225ms linear, appear 0.5s;}
  #animate3 {animation: spin 0.5s infinite 350ms linear, appear 0.5s;}
  #animate4 {animation: spin 0.5s infinite 475ms linear, appear 0.5s;}
  #animate5 {animation: spin 0.5s infinite 600ms linear, appear 0.5s;}
  #animate6 {animation: spin 0.5s infinite 725ms linear, appear 0.5s;}
  #animate7 {animation: spin 0.5s infinite 850ms linear, appear 0.5s;}
  #animate8 {animation: spin 0.5s infinite 975ms linear, appear 0.5s;}
  #animate9 {animation: spin 0.5s infinite 1100ms linear, appear 0.5s;}
  #animate10 {animation: spin 0.5s infinite 1225ms linear, appear 0.5s;}
  #animate11 {animation: spin 0.5s infinite 1325ms linear, appear 0.5s;}
  #animate12 {animation: spin 0.5s infinite 1425ms linear, appear 0.5s;}
  #animate13 {animation: spin 0.5s infinite 1525ms linear, appear 0.5s;}

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg) translateX(15px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(15px) rotate(-360deg);
    }
  }

  label {
    font-weight: bold;
  }
</style>
