<template>
	<table id="table-detail-pergub-edit" class="table table-bordered table-striped display nowrap">
		<thead>
			<tr>
				<th rowspan="2">#</th>
				<th rowspan="2">Sales Org</th>
				<th rowspan="2">No SK Dinas Prov</th>
				<th rowspan="2">Tahun</th>
				<th rowspan="2">Provinsi</th>
				<th rowspan="2">Kabupaten</th>
				<th rowspan="2">Produk</th>
				<th colspan="2" class="text-center">Januari</th>
				<th colspan="2" class="text-center">Februari</th>
				<th colspan="2" class="text-center">Maret</th>
				<th colspan="2" class="text-center">April</th>
				<th colspan="2" class="text-center">Mei</th>
				<th colspan="2" class="text-center">Juni</th>
				<th colspan="2" class="text-center">Juli</th>
				<th colspan="2" class="text-center">Agustus</th>
				<th colspan="2" class="text-center">September</th>
				<th colspan="2" class="text-center">Oktober</th>
				<th colspan="2" class="text-center">November</th>
				<th colspan="2" class="text-center">Desember</th>
				<th rowspan="2">Total</th>
			</tr>
			<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</template>