<template>
  <div>
    <div class="modal fade" id="permentanUpload" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload Alokasi Provinsi</label>
              <input type="file" ref="file" class="form-control"
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" @click="sendXhr()" class="btn btn-primary" :disabled="loading">
              <i class="fa fa-spin fa-refresh" v-if="loading"></i>
              {{ (loading) ? 'Mengunggah..' : 'Unggah' }}
            </button>
           </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
  export default {
    data: function() {
      return {
        excelFile: '',
        file: '',
        error: false,
        loading: false
      }
    },
    mounted() {
      var app = this;
      $("#permentanUpload").modal("show");
      $("#permentanUpload").on("hidden.bs.modal", function() {
        app.closeModal();
      })
    },
    updated: function () {
      this.$nextTick(function () {
        console.log('updated');
      })
    },
    methods:{
      closeModal() {
        this.$emit("trigger-modal");
      },
      handleFileUpload(){
        this.excelFile = this.$refs.file.files[0];
        this.file = this;
      },
      sendXhr() {
        event.preventDefault();
        this.loading = true;
        let app = this;
        let formData = new FormData();
        formData.append('file', this.excelFile);
        this.axios.post('permentan/upload', formData, { headers : {'Content-Type' : 'multipart/form-data'} })
        .then((resp) => {
          toastr.success('Succes Uploaded', 'Import excel');
          $("#permentanUpload").modal("hide");
          this.error = false;
        })
        .catch((resp) => {
          toastr.error("Import Excel", 'Gagal');
          toastr.error(resp.response.data.message, 'Gagal');
          $.each(resp.response.data.errors,function(index,value){
             toastr.error(value[0], index[0]);
          });
        })
        .then((resp) => {
          this.loading = false;
        })
      }
    }
  }
</script>

<style lang="css" scoped>
</style>
