<template lang="html">
  <div class="modal fade" id="formSpjbAsal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form @submit="submitddSpjb()">
          <div class="modal-header">
            <h4 class="modal-title">Form SPJB Asal</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label class="col-md-4 label-control">Sales Org</label>
              <div class="col-md-8">
                <input type="text" class="form-control" :value="this.dataModal.produsen.id+' — '+this.dataModal.produsen.name" :disabled="true" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">No Dokumen</label>
              <div class="col-md-8">
                <input type="text" class="form-control" :value="this.dataModal.no_spjb" :disabled="true" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Distributor</label>
              <div class="col-md-8">
                <input type="text" class="form-control" :value="this.dataModal.distributor.id+' — '+this.dataModal.distributor.name" :disabled="true" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Tahun</label>
              <div class="col-md-8">
                <input type="number" min="1900" max="2099" step="1" v-model="send.year" class="form-control"
                :class="{'is-invalid' : error && errors.year}"
                :disabled="true">
                <p class="text-danger" v-if="error && errors.year">{{errors.year[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Provinsi</label>
              <div class="col-md-8">
                <multiselect
                  @input="getKabupaten"
                  v-model="temp.provinsi"
                  :options="get.provinsi"
                  track-by="uuid" :custom-label="provinsiNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.provinsi === false) ? 'Pilih Provinsi..' : 'Memuat ..'"
                >
                </multiselect>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Kabupaten</label>
              <div class="col-md-8">
                <multiselect
                  @input="getKecamatan"
                  v-model="temp.kabupaten"
                  :options="get.kabupaten"
                  track-by="uuid" :custom-label="kabupatenNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.kabupaten === false) ? 'Pilih Kabupaten..' : 'Memuat ..'"
                >
                </multiselect>
                <p class="text-danger" v-if="error && errors.sales_group_id">{{errors.sales_group_id[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Kecamatan</label>
              <div class="col-md-8">
                <multiselect
                  v-model="temp.kecamatan"
                  :options="get.kecamatan"
                  track-by="uuid" :custom-label="kecamatanNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.kecamatan === false) ? 'Pilih Kecamatan..' : 'Memuat ..'"
                >
                </multiselect>
                <p class="text-danger" v-if="error && errors.sales_unit_id">{{errors.sales_unit_id[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Produk</label>
              <div class="col-md-8">
                <multiselect
                  v-model="temp.product"
                  :options="get.product"
                  track-by="uuid" :custom-label="productNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.product === false) ? 'Pilih Produk..' : 'Memuat ..'"
                >
                </multiselect>
                <p class="text-danger" v-if="error && errors.product_id">{{errors.product_id[0]}}</p>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';
export default {
  props: ['id', 'uuid', 'dataProvinsi', 'dataProdusen', 'dataDistributor', 'noSpjb', 'dataModal'],
  data: function(){
    return {
      get: {
        produsen: [],
        distributor: [],
        provinsi: [],
        kabupaten: [],
        kecamatan: [],
        product: []
      },
      send: {
        contract_id: this.id,
        sales_office_id: null,
        sales_group_id: null,
        sales_unit_id: null,
        product_id: null,
        month: 1,
        year: this.dataModal.year,
        initial_qty: 0
      },
      temp:{
        produsen: this.dataProdusen,
        distributor: this.dataDistributor,
        provinsi: null,
        kecamatan: null,
        product: null
      },
      loadingElement: {
        produsen: false,
        distributor: false,
        provinsi: false,
        kabupaten: false,
        kecamatan: false,
        product: false,
      },
      error: false,
      errors: {},
      months: []
    }
  },
  components: {
    Multiselect
  },
  created(){
    if(this.uuid != null){
      this.getDetailddSpjb();
    }
    this.getProvinsi()
    this.getProduct()
    this.getMonth();
    // this.getKabupaten(this.dataProvinsi)
  },
  mounted() {
    var app = this;
    $("#formSpjbAsal").modal("show");
    $("#formSpjbAsal").on("hidden.bs.modal", function(){
      app.closeModal();
    });
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal", true);
    },
    validateNumber() {
      let val = this.send.initial_qty;
      let arrNumber = val.split('.');
      if(arrNumber.length > 2 || val === '') {
        this.send.initial_qty = 0;
      }
    },
    getDetailddSpjb() {
      this.axios.get("spjb/item/detail/"+this.uuid)
      .then((resp) => {
        this.send = resp.data.data[0]
        this.temp.product = { id: resp.data.data[0].product_id, name: resp.data.data[0].product_name }
        this.temp.kabupaten = { id: resp.data.data[0].sales_group_id, name: resp.data.data[0].sales_group_name }
        this.getKecamatan(this.temp.kabupaten);
        this.temp.kecamatan = { id: resp.data.data[0].sales_unit_id, name: resp.data.data[0].sales_unit_name }
      })
      .catch((resp) => {
        toastr.error(resp.response.data.exception, "Error");
        toastr.error(resp.response.data.message, "Error");
      })
    },
    produsenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    distributorWithName ({id, name}) {
      return `${id} — ${name}`
    },
    // provinsi
    provinsiNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProvinsi(){
      this.loadingElement.provinsi = true;
      this.axios.get('region/provinsi')
      .then((resp) => {
        this.get.provinsi = resp.data.data;
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp);
      })
      .then((resp) => {
        this.loadingElement.provinsi = false;
      })
    },
    //kabupaten
    kabupatenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getKabupaten(provinsi){
      this.temp.kabupaten = null;
      this.temp.kecamatan = null;
      this.send.sales_unit_id = null;
      this.get.kabupaten = [];
      this.get.kecamatan = [];
      this.loadingElement.kabupaten = true
      this.axios.get('region/kabupaten', {
        params: {
          provinsi: provinsi.id
        }
      })
      .then((resp) => {
        this.get.kabupaten = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Kabupaten", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false})
    },
    //kecamatan
    kecamatanNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getKecamatan(kabupaten){
      this.temp.kecamatan = null;
      this.get.kecamatan = [];
      this.loadingElement.kecamatan = true
      this.axios.get('region/kecamatan', {
        params: {
          kabupaten: kabupaten.id
        }
      })
      .then((resp) => {
        this.get.kecamatan = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Kecamatan", "Load data");
      })
      .then((resp) => {this.loadingElement.kecamatan = false})
    },
    // product
    productNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProduct(){
      this.loadingElement.product = true;
      this.axios.get('product')
      .then((resp) => {
        this.get.product = resp.data.data;
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp);
      })
      .then((resp) => {
        this.loadingElement.product = false;
      })
    },
    getMonth() {
      this.axios.get('../json/month.json')
      .then((resp) => {
        this.months = resp.data;
      })
      .catch((resp) => {
        toastr.error("Gagal load data bulan", "Error");
      })
    },
    setSelectOption(){
      this.send.sales_office_id = (this.temp.provinsi === null) ? null : this.temp.provinsi.id;
      this.send.sales_group_id = (this.temp.kabupaten === null) ? null : this.temp.kabupaten.id;
      this.send.sales_unit_id = (this.temp.kecamatan === null) ? null : this.temp.kecamatan.id;
      this.send.product_id = (this.temp.product === null) ? null : this.temp.product.id;
    },
    submitddSpjb() {
      event.preventDefault()
      this.saveSpjb();
    },
    updateddSpjb() {
      this.setSelectOption()
      this.axios.put('spjb/item/'+this.uuid, this.send)
      .then((resp) => {
        $("#formSpjbAsal").modal("hide");
        toastr.success("Data di simpan", "Sukses");
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        toastr.error(resp.response.data.errors, "Gagal");
      })
    },
    saveSpjb(){
      this.setSelectOption()
      this.axios.post('spjb/item', this.send)
      .then((resp) => {
        $("#formSpjbAsal").modal("hide");
        toastr.success("Data di simpan", "Sukses");
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        var warning="<ul>"; var flag_warning=false;
        $.each(resp.response.data.message,function(index,value){
            flag_warning=true;
            warning+="<li>"+value[0]+"</li>";
        });
        warning+="</ul>";
        if(flag_warning)
        {
          toastr.error(warning, 'Gagal Import Excel');
        }
        
      })
    }
  }
}

Vue.directive('restrict', {
  bind (el, binding) {
    el.addEventListener('keydown', (e) => {
      // delete, backpsace, tab, escape, enter,
      let special = [46, 8, 9, 27, 13]
      if (binding.modifiers['decimal']) {
        // decimal(numpad), period
        special.push(110, 190)
      }
      // special from above
      if (special.indexOf(e.keyCode) !== -1 ||
        // Ctrl+A
        (e.keyCode === 65 && e.ctrlKey === true) ||
        // Ctrl+C
        (e.keyCode === 67 && e.ctrlKey === true) ||
        // Ctrl+X
        (e.keyCode === 88 && e.ctrlKey === true) ||
        // home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        return // allow
      }
      if ((binding.modifiers['alpha']) &&
        // a-z/A-Z
        (e.keyCode >= 65 && e.keyCode <= 90)) {
        return // allow
      }
      if ((binding.modifiers['number']) &&
        // number keys without shift
        ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
        // numpad number keys
        (e.keyCode >= 96 && e.keyCode <= 105))) {
        return // allow
      }
      // otherwise stop the keystroke
      e.preventDefault() // prevent
    }) // end addEventListener
  } // end bind
}) // end directive
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css" scoped>
  div.invalid .multiselect__tags {
    border: 1px solid #ff8080;
  }
  .error .multiselect__tags {
    border: 1px solid red !important;
  }
  .multiselect__tags {
    border: 1px solid #BABFC7 !important;
    border-radius: 0.25rem !important;
  }

  .multiselect__select:before {
    color: #4E5154;
  }

  .multiselect__placeholder {
    color: #4E5154;
  }
</style>
