<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">Table Edit SPJB Asal</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">ALokasi</a>
              </li>
              <li class="breadcrumb-item">SPJB Asal
              </li>
              <li class="breadcrumb-item active">Edit
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <table-dt :access="access" :toTable="sendAsProps"></table-dt>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mr-1 mb-1 pull-left">
                        <b>Legend : &nbsp; </b> 
                        <div class="badge round" style="background-color:black;"> &nbsp;&nbsp; </div> Active &nbsp;
                        <div class="badge round" style="background-color:red"> &nbsp;&nbsp; </div> Not Active &nbsp;
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
     </div>
  </transition>
</template>

<script>
import TableDt from './TableDt';
export default {
  data: function() {
    return {
      access: {},
      sendAsProps: {
        id: this.$route.params.id,
        no_spjb : null,
        distributor : {},
        produsen : {},
        year : null,
        provinsi: {}
      }
    }
  },
  components: {
    TableDt
  },
  created() {
    this.getData()
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  methods: {
    getData() {
      this.axios.get('spjb/detail/'+this.$route.params.uuid)
      .then((resp) => {
        this.dataSpjb = resp.data
        this.sendAsProps.no_spjb = resp.data.no_spjb
        this.sendAsProps.distributor = { id: resp.data.customer_id, name: resp.data.customer_name }
        this.sendAsProps.produsen = { id: resp.data.sales_org_id, name: resp.data.sales_org_name }
        this.sendAsProps.year = resp.data.year
        this.sendAsProps.provinsi = { id: resp.data.province[0].id, name: resp.data.province[0].name }
      })
      .catch((resp) => {
        toastr.error(resp.response, 'error');
      })
    },
  }
}
</script>

<style lang="css" scoped>
</style>
