<template>
  <div>
    <div class="modal fade" id="entryFormModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Entry Baru Penyaluran</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="form-body">
                <div class="form-group row">
                  <label class="col-md-3 label-control">Distributor</label>
                  <div class="col-md-9">
                    <input type="text" v-model="tempDt.customer_name" class="form-control" :disabled="disabled_all">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control">Tujuan</label>
                  <div class="col-md-9">
                    <input type="text" v-model="tempDt.sales_group_name" class="form-control" :disabled="disabled_all">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control">Tanggal Penyaluran</label>
                  <div class="col-md-9">
                    <input type="date" :min="tempDt.dateMin" :max="tempDt.dateMax" v-model="tempDt.distribution_date" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button @click="toSubmit" type="button" class="btn btn-success" :disabled="disabledButton">
              <i v-if="loadingButton" class="fa fa-spin fa-refresh"></i>
              Submit
            </button>
           </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
export default {
  props: ['data'],
  data: function(){
    return {
      loadingButton: false,
      disabledButton: false,
      checktype: true,
      disabled_all: true,
      error: false,
      errors: {},
      modalType: null,
      tempDt: {
        dateMax: '',
        dateMin: '',
        distribution_date: '',
        customer_name: this.data.distributor,
        customer_id: this.data.distributor_id,
        sales_group_name: this.data.kabupaten,
        sales_group_id: this.data.kabupaten_id,
        year: this.data.year,
        month: this.data.month,
        sales_org_id: this.data.sales_org_id,
        initial_stock_id: this.data.id,
        status: 'd',
      }
    }
  },
  created(){
    this.getDateNow();
  },
  mounted(){
    var app = this;
    $("#entryFormModal").modal("show");
    $('#entryFormModal').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  components:{

  },
  methods:{
    closeModal() {
      this.$emit("trigger-modal-form", 'RefreshTable');
    },
    getDateNow(){
      var today = new Date();
      // var dd = today.getDate();
      // var mm = today.getMonth()+1; //January is 0!
      // var yyyy = today.getFullYear();
      var mm = this.tempDt.month;
      var yyyy = this.tempDt.year;
      var dd = new Date(yyyy, mm, 0);
      //  if(dd<10){  dd='0'+dd }
      if(mm<10){ mm='0'+mm  }
      var newToday = yyyy+'-'+mm+'-'+dd;
      this.tempDt.dateMax = this.formatDate(today);
      this.tempDt.dateMin = yyyy+'-'+mm+'-01';
      this.tempDt.distribution_date = this.tempDt.dateMin;
      // console.log(this.formatDate(dd));
    },
    formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [year, month, day].join('-');
    },
    toSubmit(){
      this.loadingButton = true;
      this.disabledButton = true;
      this.axios.post('penyaluraninitialstockf5', this.tempDt)
      .then((resp) => {
        this.loadingButton = false;
        this.disabledButton = false;
        toastr.success(resp.data.message);
        var id = resp.data.data.uuid;
        let access = encodeURIComponent(this.$route.params.access);
        this.$router.push({path: '/'+access+'/laporan/initial-stok-f5/detail/'+id});
      })
      .catch((resp) => {
        this.error = true;
        let msg = resp.response.data.message;
        let errors = resp.response.data.errors;
        // console.log(msg.length);
        if(typeof resp.response.data.message === 'object') {
          const initial_stock_id = (msg.initial_stock_id[0]) ? '<li>'+msg.initial_stock_id[0]+'</li>' : '';
          const month = (msg.month[0]) ? '<li>'+msg.month[0]+'</li>' : '';
          const sales_org_id = (msg.sales_org_id[0]) ? '<li>'+msg.sales_org_id[0]+'</li>' : '';
          const year = (msg.year[0]) ? '<li>'+msg.year[0]+'</li>' : '';
          toastr.error(
            '<ul>'+
              initial_stock_id+
              month+
              sales_org_id+
              year+
            '</ul>',
            'Gagal'
          )
        } else {
          toastr.error(msg, errors)
        }
        this.loadingButton = false;
        this.disabledButton = false;
      })
    }
  }
}
</script>

<style lang="css">
</style>
